[2017-12-17 18:36] webknjaz commented on #1674
@jaraco would it help if I add some conditional to stages/jobs, so it would run less of them? just the most important ones

[2017-12-17 22:57] webknjaz commented on #1657
@rmb938 sorry for late answer. you are right.

You are referring to https://tools.ietf.org/html/rfc7230#section-3.3.2, which clearly states:

   Modified) response to a conditional GET request (Section 4.1 of
   [RFC7232]); a server MUST NOT send Content-Length in such a response
   unless its field-value equals the decimal number of octets that would
   have been sent in the payload body of a 200

[2017-12-17 23:24] rmb938 commented on #1657
It seems like that bit of code is very similar to the version I am using, but let me try updating and see.

[2017-12-17 23:29] rmb938 commented on #1657
Yup looks good in cheroot 6 and cherrypy 13.1

[2017-12-17 23:29] #1657 closed, assigned to nobody

[2017-12-18 12:11] murilobr opened #1675 "Autoreloader error '_constant_time' has no function, constant or global variable named '__loader__'"
* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
*bug*

* **What is the current behavior?**
On start cherrypy server its showing a log error message on Autoloader

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots

[2017-12-18 22:15] webknjaz commented on #1675
Does this problem exist for previous versions of CherryPy/cheroot? Do you use official build of Python? Do you have any CFFI lib installed in your env? What if you try using sdist instead of a wheel?

[2017-12-19 07:41] h3llrais3r opened #1676 "Cherrypy version 11.1.0 and above does not work with latest ws4py for websockets"
* **I'm submitting a ...**
[ x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

I'm upgrading for version 8.1.0 to the latest version but I can't get the websockets working.
Up until version 11.0.0 the websockets are working perfectly in combination with ws4py 0.4.2.
Once I install 11.1.0 or above, the websocket fails with the following error:
![image](https

[2017-12-19 08:39] webknjaz commented on #1676
We should ask @Lawouach to accept Lawouach/WebSocket-for-Python#236, I think. Anyway, he should be able to release a fix.

But please also note that that distribution is not being actively maintained, and he looks for maintainers.

[2017-12-19 08:43] Lawouach commented on #1676
Hey there,

Happy to merge that one. Let me have a look.

[2017-12-19 08:44] h3llrais3r commented on #1676
Thanks for the quick response guys.
Did not see there was already a PR pending to fix this...

[2017-12-19 08:47] Lawouach commented on #1676
Somehow, I never got the message from GH for that one no. I'll have to look at my notifications.

[2017-12-19 10:00] Lawouach commented on #1676
Merged in and released.

[2017-12-19 10:55] murilobr commented on #1675
@webknjaz

Does this problem exist for previous versions of CherryPy/cheroot?
No, but if I downgrade to previous versions (12.0.2/5.11.0) the problem persists.

Do you use official build of Python?
No, I'm using brew installation

Do you have any CFFI lib installed in your env?
Nothing installed by me.
My pip requirements are:
cherrypy
tenjin
pymongo
pytz
newrelic
pytest
Pillow
httpagentparser
req

[2017-12-19 11:45] h3llrais3r commented on #1676
With the update of ws4py 0.4.3, the latest cherrypy version is working again for websockets.
@webknjaz @Lawouach Thanks for the quick handling. 😉

[2017-12-19 11:45] #1676 closed, assigned to nobody

[2017-12-22 12:29] webknjaz commented on #1657
Cool, thanks for checking. I've also noticed that we actually have a test for this: https://github.com/cherrypy/cheroot/blob/5bc7b39/cheroot/test/test_conn.py#L579-L584 (JFI)

[2017-12-23 03:59] jaraco commented on #1674
I'm beginning to think we should limit the macOS tests to just one run (maybe latest Python), just to provide some indication of whether or not the macOS factor is relevant, and even make the release not dependent on those tests, so they provide information like the Appveyor Windows tests, but don't block the releases.

[2017-12-23 12:53] webknjaz commented on #1675
Could you please provide steps to reproduce this?

Regarding CFFI, I'd say cherrypy/cheroot both have pure-Python codebases. The only thing I can guess is that there might be some internal call to OS-specific C-extension in stdlib or one of the packages in your env.

We need to find out where does this `_constant_time` module come from.

[2017-12-23 13:00] webknjaz commented on #1675
Alright, it's likely one of the modules you have in your env doesn't support `hasattr()` correctly.

You could try some breakpoint [here](https://github.com/cherrypy/cherrypy/blob/master/cherrypy/process/plugins.py#L634) to tell us that module's name.

Meanwhile, I think, we could rewrite that piece of code using try/except.

[2017-12-23 13:04] webknjaz commented on #1675
Oh, and there's [some known issues with `hasattr`](https://hynek.me/articles/hasattr/), which I'd prefer to eliminate as well.

[2017-12-23 18:47] webknjaz commented on #1675
@murilobr hopefully f466ed0 will fix this. Feel free to reopen this issue if needed :)

[2017-12-26 20:57] #1674 closed, assigned to nobody

[2017-12-26 20:58] webknjaz commented on #1674
@jaraco I've applied the condition to run long-run stages on cron or when triggered manually. Hope this helps.

[2017-12-26 20:59] webknjaz commented on #1674
(They'll run periodically, not affecting releases and normal pushes)

[2017-12-26 21:03] webknjaz commented on #1674
https://travis-ci.org/cherrypy/cherrypy/builds/321930756 (Ran for 5 min 28 sec, Total time 15 min 47 sec)

[2017-12-29 10:44] PJaros opened #1680 "CherryPy will allways decode basic authentication information with ISO-8859-1"
I have submitted the observed behavior on [stackoverflow](https://stackoverflow.com/q/48009727/406423).

[code]

Issuing
`curl -u 'curl:€öäü' -i -X GET http://10.25.5.17:8080/`
will print
`realm: 'MY_REALM', username: 'curl'-'63 75 72 6c', password: 'â\x82¬Ã¶Ã¤Ã¼'-'e2 82 ac c3 b6 c3 a4 c3 bc'`
on the python console.

[RFC-7617](https://tools.ietf.org/html/rfc7617) explains how encoding should be h

[2017-12-29 10:49] webknjaz commented on #1680
@PJaros thanks for the detailed analysis. This needs some investigation, but I'd guess that the solution might need to be submitted to cheroot (just a note for now).

[2018-01-03 15:08] PJaros commented on #1680
I've been trying to create a PR. I've was able to pin-point where in cherrypy to make that happen but can't anticipate where this would fit in cheroot.

I'm halting my work on the PR because:
- I can't bring Firefox to send UTF-8 no matter what www-authenticate I send (I.E .... , charset="UTF-8" is being ignored)
- I receive slightly (apparently) bogus from IE 11 and Edge which thus won't decode e

[2018-01-03 15:15] webknjaz commented on #1680
It would be useful if you could point certain places in code, because I haven't found them yet.

[2018-01-03 15:19] PJaros commented on #1680
Okay. I'll wrap-up my current findings tomorrow.

[2018-01-03 18:48] webknjaz commented on #1680
@PJaros I've crafted a silly hotfix in #1683, but it should be improved to support reading the charset param and I need to check digest auth behavior as well. So it's WIP now. Feel free to comment/add suggestions right there.

[2018-01-04 07:50] PJaros commented on #1680
I've wrapped it up with this Pull-Request here: https://github.com/cherrypy/cherrypy/pull/1684 which isn't complete either (it doesn't work with Python2.7).

I'll invest some time later to understand your https://github.com/cherrypy/cherrypy/pull/1683 and try improving my PR. This is my very first attempt dealing with all this so .. please bear with me :)

As a personal note to myself l'll try to

[2018-01-04 21:16] webknjaz commented on #1680
@PJaros it looks you're right: Firefox sends garbage in case of unicode creds :(
But at least, fallback in my PR would allow supporting working and semi-working clients.

[2018-01-05 07:15] PJaros commented on #1680
@webknjaz
1. You've never managed to bring Firefox to deliver UTF-8 creds? -> Please tell me how did that. I've never managed to bring any browser to switch charset.
2. I've had problems in the past where some decoding methods will have trouble with the ':' in place. But I've run your code and this seems to be fine. I've create  gist from that: https://gist.github.com/PJaros/b624e1b600d197c227b132

[2018-01-05 09:48] webknjaz commented on #1680
1. I did not force Firefox to convert anything, just opened a URL and entered creds. And it did not switch charset from what I can see: I've inspected network traffic using Wireshark.
2. Regarding `:` - AFAIR it's encoded the same way in UTF-8 and ASCII

[2018-01-06 21:55] metaMMA opened #1685 "cannot import name parse_http_list"
* **I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Report a bug

* **What is the current behavior?**
when I run a demo using python `python -m cherrypy.tutorial.tut01_helloworld` I receive the error in the title.

* **If the current behavior is a bug, please provide

[2018-01-07 11:24] webknjaz commented on #1685
You have to install requirements. In your case it's six, but there's others.  67d60277785644d848e0d1193d8663148739f940

[2018-01-07 11:24] #1685 closed, assigned to nobody

[2018-01-07 12:00] webknjaz commented on #1685
You could run smth like `pip install -t lib cherrypy` during build in CI to vendor all deps.

[2018-01-11 15:51] jaraco opened #1686 "Develop Oauth2 consumer recipe"
I'd like to see a recipe for CherryPy that presents an Oauth2 consumer, an app that when configured with the proper keys, can use a service like Google or Twitter or any other Oauth2 provider to authenticate users into the web app.

[2018-01-11 15:53] jaraco opened #1687 "Develop Oauth2 provider recipe"
CherryPy should present a recipe for serving (from a database or dictionary or other user store) an Oauth2-compliant provider. Such a service could be deployed to authenticate users from an existing database in the same way that other Oauth2 providers do.

[2018-01-11 15:53] webknjaz commented on #1686
I'd add bonus points for introducing it along with a ready-to-use container and following https://12factor.net approaches like reading config from env vars.

[2018-01-11 15:56] webknjaz commented on #1686
Example implementation: https://github.com/GDG-Ukraine/gdg.org.ua/blob/f9353d8/src/GDGUkraine/lib/plugins/oauth.py

[2018-01-12 20:29] metaMMA commented on #1685
Thanks for the reply. I guess I was confused, because I looked at the documentation first here:
[http://docs.cherrypy.org/en/latest/install.html#requirements](http://docs.cherrypy.org/en/latest/install.html#requirements)
and the first line states
[code]
I would like to create my software project so that the end user does not need to run additional installations (i.e. include the necessary librarie

[2018-01-12 21:52] webknjaz commented on #1685
@metaMMA

Oh.. It's a bit outdated doc section.
See, we've started using `six` to simplify supporting Python 2 and Python 3. A bit later we've factored out WSGI server into separate project Cheroot, so that ones to only require WSGI could not depend on the whole CherryPy distribution. And also we've decided to rely on third-party dependencies, because vendoring them makes it harder to get updates/

[2018-01-12 22:42] metaMMA commented on #1685
@webknjaz I am so thankful for you taking the time to explain all of that. I am completely new to programming and just learned python to create my program.

Are you saying that I can create a OS-agnostic `setup.py` file that will automatically download all the dependencies that my software needs? If so, do you have any advice on where to start learning? Sorry to spam your `issues` page, and I real

[2018-01-12 23:12] webknjaz commented on #1685
@metaMMA Sure, you can learn about distributions at: https://packaging.python.org
Also, note that all modern python installations are being shipped with pip and setuptools, so you don't have to vendor dependencies, but rather declare them in setup.py and pip will fetch them from pypi.org and install them into your current environment (you know about virtualenv, right?).
That said, if you craft you

[2018-01-13 13:56] webknjaz opened #1688 "[TODO: remove in v15] Duplicate HTTP Auth Basic and HTTP Auth Digest tools have to be merged"
While working on #1680 I realized that there's functional duplication in tools we provide by default.
There's [`auth_basic`, `auth_digest`](https://github.com/cherrypy/cherrypy/blame/880f946/cherrypy/_cptools.py#L538-L539) and also [`basic_auth`, `digest_auth`](https://github.com/cherrypy/cherrypy/blame/880f946/cherrypy/_cptools.py#L529-L530).
They also have duplicate tests spread across 3-5 test

[2018-01-13 14:56] jaraco commented on #1680
I've only quickly skimmed this issue, but I saw the references to Firefox and password encoding. In my past experience, I've discovered that [Firefox does not support non-ascii characters in passwords for basic auth](https://stackoverflow.com/questions/7242316/what-encoding-should-i-use-for-http-basic-authentication/9056877#9056877) ([underlying issue here](https://bugzilla.mozilla.org/show_bug.cg

[2018-01-16 04:33] gramster commented on #1675
This started happening for me. Things were working yesterday; today I added some code and I get this. The new code added dependencies on `requests` and `urllib`. AFAICT the problem is coming from the cryptography package which is a dependency of requests, specifically a module within that called _constant_time.lib.

The change referenced above fixes it.

[2018-01-17 12:08] webknjaz commented on #1675
@gramster is this reproducible with code from git master?

[2018-01-17 12:08] webknjaz commented on #1675
Oh, I missed the last sentence about fix:)

[2018-01-17 12:08] #1675 closed, assigned to nobody

[2018-01-17 13:41] jaraco commented on #1686
I believe [the Python Social Auth project](http://python-social-auth.readthedocs.io/en/latest/configuration/cherrypy.html) has also made some headway.

[2018-01-17 14:06] webknjaz commented on #1686
Last time I checked it's been tightly coupled with SqlAlchemy. I'd like to see smth decoupled giving users more freedom.

[2018-01-19 15:48] mrvanes opened #1690 "AntiStampede Cache leaves orphaned threading.Event object on 304 Not Modified response"
AntiStampede Cache leaves orphaned threading.Event object on 304 Not Modified response and results in a 30 second timeout on subsequent request.

We are not able to reliably reproduce this problem, we only know that it happens and have the logs to scrutinize the TOOLS.CACHING code path followed when hitting the bug.

We've narrowed down the bug to
- static files
- an 'If-Modified-Since' request pr

[2018-01-20 09:29] mrvanes commented on #1690
Could it be that a cached 304'd static.serve_file() never reaches _caching.tee_output in CachingTool because of the nature of the exception (it is neither caught in serve_file nor CachingTool._wrapper) and thus never replaces the stale threading.Event?

[2018-01-20 10:32] webknjaz commented on #1690
Hi,

Do you have dumped HTTP traffic at least? It would probably help us in the investigation.

@jaraco what do you think? It looks like info provided isn't enough.

[2018-01-20 10:51] mrvanes commented on #1690
No, we don't have a dump of the traffic. The 304 is caused by a client we don't own and the problem is not reproducible by us, apart from the fact that it happens every now and then.

[2018-01-20 11:04] baszoetekouw commented on #1690
Well, we haven't deployed the workaround yet, so I can start a tcpdump and see if the problem occurs in the next couple of days.

[2018-01-24 13:31] sebastian-philipp opened #1691 "TypeError: os_exit_noop() takes 0 positional arguments but 1 was given"
* **I'm submitting a ...**
- [X] bug report

* **What is the current behavior?**
I got this when running tox in a Python 3.5 environment:

[code]

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the problem**.

[code]

* **Please tell us about your environment:**

- Cheroot version: ??
- CherryPy version: 13.1.0
- Python version

[2018-01-24 14:12] webknjaz commented on #1691
Hi, I believe you are running app in the environment with improperly monkey patched `os._exit`. Probably the app you use does this. It has nothing to do with CherryPy.

[2018-01-24 14:12] #1691 closed, assigned to nobody

[2018-01-24 14:25] sebastian-philipp commented on #1691
Thanks! Exactly right.

[2018-01-25 13:00] mrvanes commented on #1690
The tcp dump for an offending request reads as follows:
[code]
The cherry logs say (as said before, I added some extra logging, which shows that AntiStampedeCache.wait is setting a threading._Event object to hold off other requesters)
[code]
What stands out to me is that my explicit logging of the MemoryCache.put() method is missing after the final cherrypy.access GET 304 log. This means that eith

[2018-01-25 14:50] webknjaz commented on #1690
Could you please set `tools.caching.debug` to `True`? This should produce more logging from `cherrypy.lib.caching`.

[2018-01-26 09:28] mrvanes commented on #1690
Ok, so I now know what happens, how to reproduce it and have a proposal for a fix.

How to reproduce:
* Configure service with static handler and cache support
* Restart cherrypy based service (pyff in my case), this cleans the cache
* Do a normal GET request for a static resource, this fills the cache for the store[uri][variant]
* Note the Last-Modified date of response
* Wait for the cache to ex

[2018-01-26 23:43] webknjaz commented on #1690
@mrvanes are you saying that you use (hot) autoreload feature, which is there for development env purposes only?

[2018-01-26 23:45] webknjaz commented on #1690
I mean, what does your restart procedure consist of? Can it be distilled into cherrypy-only example?

[2018-01-27 11:00] mrvanes commented on #1690
I don't know where you read that I use autoreload? I said I restart pyff (which is the service we need, which shows a bug that is caused by cherrypy). I assume when I restart pyff, that implies restarting cherrypy?

You can inspect how pyff uses cherrypy here: https://github.com/leifj/pyFF. We lack time and resources to clean this further up and, with all due respect I don't see what more we can d

[2018-01-27 11:06] webknjaz commented on #1690
yeah, I see. But it would help if you point on how do restart that thing.

[2018-01-27 11:07] mrvanes commented on #1690
I wrote a systemd start file that (re)starts the pyff executable. We run pyff in foreground in systemd so we have logging to syslog. So I restart pyff like this: "service pyff restart"

[2018-01-27 11:09] webknjaz commented on #1690
do you know whether this command kills the process and starts new one or it sends it some signal? do you use [`-a` or `--autoreload`](https://github.com/leifj/pyFF/blob/2868709c0554a1f9752d09d90a6336db4d534236/src/pyff/mdx.py#L747-L748) there?

[2018-01-27 11:11] mrvanes commented on #1690
No, as far as I know, systemd stops the foreground process and starts it from scratch, as if I did a ctrl-c on commandline and then execute the pyff command again.

[2018-01-27 11:12] webknjaz commented on #1690
That's weird: the cache you refer to is in-memory. It doesn't match the process you described.

[2018-01-27 11:34] mrvanes commented on #1690
Yes, the in-memory cache is corrupted on a request that causes a 304 response. I restart the service to make sure the cache is empty to start with, so that the procedure to reproduce the problem is the same for everyone, it's not a requirement to trigger the bug.

[2018-01-27 11:38] webknjaz commented on #1690
If you restart the process this way there's no memory footprint left from the previous process run.

[2018-01-27 11:47] mrvanes commented on #1690
The bug is not caused by previous runs, it's caused by a bug in the CachingTool that's exposed by requesting three normal GET's on a static resource.

[2018-01-29 23:23] stenci commented on #1600
I like what MondoDB did with a similar problem.

The defaults were friendly for the developer but unsafe. The beginners could start working in minutes without worrying about configuring a safe environment, and most MongoDB servers ended up being usafe.

They did not change the default. Instead they added very invasive warnings.

I would do the same with CherryPy: a big invasive warning mentioning

[2018-02-01 09:56] mrvanes commented on #1690
How do we proceed from here? Is there anything we can do to get the fix upstream? Would you like to see a pull-request?

[2018-02-01 21:02] webknjaz commented on #1690
@mrvanes hello, sorry for being silent. I was going to dig into the issue to understand what's going on better and experience that it person, but I didn't have time for this. Unfortunately we're running out of maintainers (and time we can contribute into keeping the project in a good shape).
Yes, PR with a regression test would be great, however I'm not sure about the hacky approach of reading bod

[2018-02-03 20:09] #1664 closed, assigned to nobody

[2018-02-04 14:04] webknjaz commented on #1618
probably:
[code]

[2018-02-04 14:11] webknjaz commented on #1618
I suspect it _might_ be related to https://stackoverflow.com/a/38224367, which looks reasonable since you run frozen python app IIRC.

[2018-02-04 14:22] jaraco commented on #1673
jaraco/jaraco.classes#2 reports one error in celery and a [solution is described later](https://github.com/jaraco/jaraco.classes/issues/2#issuecomment-352273983).

That ticket links also to pantsbuild/pex#393, which appears to have been fixed.

The py2exe error is indicated in jaraco/jaraco.classes#3, where I'm still investigating, but some indications are that py2exe may be able to support namesp

[2018-02-04 14:35] webknjaz commented on #1618
Ref: http://python.6.x6.nabble.com/Cherrypy-s-SSL-builtin-td5215127.html (https://groups.google.com/forum/#!topic/cherrypy-users/-TMVrdJ_VHI)

[2018-02-04 14:35] webknjaz commented on #1618
Ref: https://github.com/python/cpython/blob/07ca9af/Modules/_ssl.c#L919

[2018-02-04 14:38] webknjaz commented on #1618
https://wiki.openssl.org/index.php/Manual:SSL_do_handshake(3)#RETURN_VALUES

[2018-02-04 14:42] webknjaz commented on #1618
It looks like https://github.com/openssl/openssl/blob/1f5878b/ssl/ssl_lib.c#L3450-L3481 returns 0 and wrapper in cpython raises that as an error not adding additional insight.

[2018-02-04 14:49] Safihre commented on #1618
In the reported cases it's not run frozen, but as a regular python 2 application.

[2018-02-04 14:53] webknjaz commented on #1618
that's weird. I'd suspect it's maybe because of privileges. Have you tried that under `sudo`?

[2018-02-04 14:57] webknjaz commented on #1618
PyOpenSSL uses [`SSL_get_error()`](https://github.com/openssl/openssl/blob/e43e6b1951de931ca500c6964496e76651332f5e/ssl/ssl_lib.c#L3357-L3437) to reliably detect the underlying error, but stdlib implementation is very simplistic and it omits this. The comment in C-code in stdlib says that "0" should be treated as failure, but OpenSSL docs also state that's not a crash:

[2018-02-04 14:59] Safihre commented on #1618
Have no tried sudo since we use a port that should normally not require it.
And as described in the starting post, using a pure Python implementation does not throw this error. Only when using Cherrypy with seemingly the same setup.

[2018-02-04 15:07] webknjaz commented on #1618
Some dudes think that errno 0 shouldn't be raised as an exception https://bugs.python.org/msg299759

[2018-02-04 15:09] webknjaz commented on #1618
Ref. https://bugs.python.org/issue10808

[2018-02-04 15:12] webknjaz commented on #1618
Also, this might be related to OpenSSL version https://bugs.python.org/issue28689
Can you try w/ smth like 0.9? Just for checking purposes

[2018-02-04 15:16] Safihre commented on #1618
Yes it seems specific to this 1.1.0 version.
But again, only a problem with Cherrypy and not with standard Python.

[2018-02-04 15:18] webknjaz commented on #1618
Some of the complaints on the Internet seem to mention client connections, which close socket without fully completing the handshake.

[2018-02-04 15:19] webknjaz commented on #1618
apache/thrift#1321 suggest additionally catching `OSError`

[2018-02-04 15:35] webknjaz commented on #1618
So, during comparison with your example snippet I noticed that we also have fcntl modifications on `bindsocket` + `SO_REUSEADDR` sockopt
https://github.com/cherrypy/cheroot/blob/9219ea44ede356e1e9ef4cc38c18733d8fce2d5e/cheroot/server.py#L1574

Also you don't load a CA file

(FTR)

[2018-02-05 14:07] pawciobiel commented on #1473
Knowing that "a context manager is an object that defines the runtime context to be established when executing a with statement. " the above code can be confusing.

[2018-02-05 14:20] webknjaz commented on #1473
Well, it's not for me. There's much wider usage of CM as a sugar

[2018-02-05 17:46] webknjaz commented on #1663
I'd say it's probably because the dispatcher is already selected by the time _cp_config is assigned.

@jaraco what would you suggest?

[2018-02-09 08:33] PJaros commented on #1680
Is there something I can do to help to close this issue?

[2018-02-09 11:04] webknjaz commented on #1680
@PJaros ~yea, enforce browsers to comply standards :trollface:~

While working on it I've noticed tool duplication (#1688), so currently we're finally deprecating outdated one (#1689).
On the other hand this means that we need this patch in other tool + need to merge functionality, which became diverse + migrate tests to cover that newer tool and cover this unicode case. So its kinda WIP for me. I

[2018-02-09 11:08] webknjaz commented on #1680
(okay, it's probably all on github already)

[2018-02-10 18:19] jaraco commented on #1663
The code already has [a comment](https://github.com/cherrypy/cherrypy/blob/34a72d557252e196826a364843de90fad066d263/cherrypy/_cprequest.py#L751-L753) that indicates this limitation. I have a docs update that more publicly documents this limitation.

[2018-02-10 18:19] #1663 closed, assigned to nobody

[2018-02-19 19:08] jaraco opened #1693 "test_4_AutoReload failing on Python 3.7."
As seen in [this job](https://travis-ci.org/cherrypy/cherrypy/jobs/343489659) and others, there is one test consistently failing on Python 3.7. It's hard to find because the log is 43k lines long!

But here it is:

[code]

Apologies for the mess, but that's what I was able to get out of the raw log.

[2018-02-19 19:09] webknjaz commented on #1693
So that's it

[2018-02-19 19:11] webknjaz commented on #1693
I think, this test was flaky before

[2018-02-19 19:16] jaraco commented on #1693
Yes, perhaps, but it seems to be failing more consistently on Python 3.7. I only checked a few jobs, but I did see this failure a couple of times.

Moreover, I reviewed the code for this test and it's putting in a `sleep(2)` for the test, yet the file modification time is identical (to the microsecond), so that leads me to believe this failing test is revealing an actual defect in the Autoreload f

[2018-02-19 19:17] jaraco commented on #1693
When you say it was flaky before, would it fail with this error message, @webknjaz ?

[2018-02-19 19:26] jaraco commented on #1693
The test [passes for me on my mac](https://gist.github.com/21641e53b7af3950291742084e9c5fce) with 3.7.0b1. Therefore, the issue is probably ~isolated to Linux~ (erm, ~macOS~) or to Travis or to another build of Python 3.7 or ~maybe it's intermittent~.

[2018-02-19 19:28] jaraco commented on #1693
It passed several times in a row, so I don't think it's intermittent.

[2018-02-19 19:30] jaraco commented on #1693
Oh, wow, I'm just now noticing the failure is on the macOS test for 3.7-dev. The test on Linux and Python nightly was passing.

[2018-02-19 19:34] webknjaz commented on #1693
I don't remember details, just that it seems familiar.

[2018-02-19 19:41] jaraco commented on #1693
In 726c23b9, I've limited the xfail to a very specific set of circumstances that bring about this failure. Since I can't replicate it locally, I'm going to assume it's a temporary condition that will correct itself. If it doesn't, we can revisit in the future.

[2018-02-19 19:41] #1693 closed, assigned to nobody

[2018-03-01 08:57] pawciobiel opened #1694 "handling defined filename encoding in Content-Disposition"
* **I'm submitting a ...**
- [x] bug report

* **Do you want to request a *feature* or report a *bug*?**
I'd like to report a bug because this appears to me as undocumented and undesired behaviour,
but I understand that this could also be feature request.

* **What is the current behavior?**

When POSTing a file containing non ASCII characters in it's name, using  Content-Type: multipart/form-data

[2018-03-02 18:07] dfrison01 opened #1696 "Exception if client closes socket "ungracefully""
[Possible bug report]
The mounted app receives a REST-styled POST, grabs a (large) file, then returns a simple string. Behavior can be reproduced both across multiple browsers and by python's "requests" module, just by closing the connection abruptly (client-side).

[code]

My config in case it's relevant:

[code]

Please note that there are two exceptions attached (generated and logged with the s

[2018-03-08 01:41] jaraco opened #1697 "Errors on Python 3.7 it autoreloader when namespace packages are present"
Running CherryPy on Python 3.7, I see these errors:

[code]

This issue is likely related to the change that namespace packages now have a `__file__` of `None`.

[2018-03-08 20:01] chinchani opened #1698 "security issues as reported by 'bandit'"
Running python 'bandit' on the root of the repo reports the following issues.
Log attached to this issue.
Pls. review.

Code scanned:
        Total lines of code: 21685
        Total lines skipped (#nosec): 0

Run metrics:
        Total issues (by severity):
                Undefined: 0.0
                Low: 57.0
                Medium: 21.0
                High: 6.0
        Total issues (by conf

[2018-03-09 21:11] chinchani commented on #1698
Pruning the list to something more sane. Some of these still could be false positives.

[main]	INFO	profile include tests: None
[main]	INFO	profile exclude tests: None
[main]	INFO	cli include tests: None
[main]	INFO	cli exclude tests: None
[main]	INFO	running on Python 3.6.3
110 [0.. 50.. 100.. ]
Run started:2018-03-09 13:52:19.724590

Test results:

   Severity: High   Confidence: High
   Locatio

[2018-03-12 22:23] webknjaz commented on #1697
I guess, we could catch `TypeError` as well

[2018-03-12 22:32] webknjaz commented on #1696
We might probably introduce a nicer logging for this. Obviously, reading from a dead socket woudn't work, but we should be fine w/o flooding logs w/ exceptions.

[2018-03-15 12:39] mpf82 opened #1699 "CherryPy ignores "If-Range" HTTP request header"
* **I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

* **What is the current behavior?**
The browser sends a request that contains both RANGE and IF-RANGE values. Note that the If-Range value is way in the past.

[code]

However, the CherryPy Server sends back "206 Partial Content" instead of sendong back the file content and

[2018-03-19 08:56] jrivera294 opened #1700 "pywin32 for python 3.4 is no longer supported (pywin32>=223)"
* **I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
bug

* **What is the current behavior?**
Cherrypy can't be installed on a Windows Python 3.4 environment. Pywin32 dependency is set to > 223, and 223 version doesn't exists for Python 3.4, they no longer support it.

[2018-03-19 18:38] jrivera294 commented on #1700
I managed to build my own pywin32 223 wheel, details here: https://github.com/mhammond/pywin32/issues/1172

[2018-03-20 23:29] webknjaz commented on #1700
The problem is that there's no old version of pywin32, which supports Python 3.4. Let's see if maintainers can publish it.

[2018-03-21 12:54] webknjaz commented on #1700
I think, this might become a solution: https://github.com/cherrypy/cherrypy/compare/bugfix/limit-pypywin32-ver-for-py34
I'll wait for tests at Appveyor and then merge

[2018-03-21 14:25] #1700 closed, assigned to nobody

[2018-03-21 16:15] jrivera294 commented on #1700
Perfect, it should work and avoid the issue on further relases of pywin32. Thanks!

[2018-03-22 15:14] jrivera294 commented on #1700
If someone else is a bit stuck with this dependency problem:

I'm trying with a workaround until the next Cherrypy release. Basically I'm installing the cherrypy dependencies, pywin32 221 and finally installing Cherrypy with the --no-dependencies flag of pip.

[code]

cherrypy.txt (From the install requires of cherrypy setup.py)
[code]

I have a working 221 wheel that I made from a exe that I foun

[2018-03-22 15:17] webknjaz commented on #1700
You can also have `constraints.txt`:
[code]

And do:
[code]

[2018-03-22 15:36] webknjaz commented on #1700
have fun https://travis-ci.org/cherrypy/cherrypy/jobs/356933624 :)
https://pypi.org/project/CherryPy/14.0.1/

[2018-03-23 11:54] jrivera294 commented on #1700
Perfect, everything seems to be working again :) Thanks!

[2018-04-11 13:35] webknjaz opened #1702 "Figure out where cherrypy.org domain is managed"
Ref: https://gitter.im/cherrypy/cherrypy?at=5ace03b47685a046389d8308

[2018-04-11 14:04] jaraco commented on #1702
CherryPy is managed at WebFaction and the [domain registrar is ovh](https://reports.internic.net/cgi/whois?whois_nic=cherrypy.org&type=domain) (https://www.ovh.com/world/). Remi Delon is the owner.

[2018-04-11 14:04] #1702 closed, assigned to jaraco

[2018-04-11 14:07] jaraco opened #1703 "Host cherrypy.org through CloudFlare"
@webknjaz has proposed Cherrypy.org be hosted through a free CloudFlare account to give a better experience and host the site under SSL. To accomplish this, there are a few steps.

- [x] Create a CloudFlare account with some shared management.
- [x] Import the domain records as currently hosted with WebFaction to CloudFlare.
- [x] Reconfigure the cherrypy.org domain at the registrar to CloudFlare.

[2018-04-11 14:12] jaraco commented on #1703
Probably the first step should be to reach out to Remi and confirm he's okay with moving the DNS from WebFaction to CloudFlare.

[2018-04-13 11:36] webknjaz commented on #1703
@jaraco
I'm getting `ERR_SSL_VERSION_OR_CIPHER_MISMATCH` in my browser now. Could you please also this verify with yours?
According to https://support.cloudflare.com/hc/en-us/articles/200170616-Why-am-I-getting-a-SSL-mismatch-error- it might take 24 hours for this to get fixed.

[2018-04-13 11:55] webknjaz commented on #1703
I've also enabled uptime robot:
https://stats.uptimerobot.com/rkM5rfWQR
https://uptime.cherrypy.org/

[2018-04-13 13:36] webknjaz commented on #1703
Okay, so I've disabled a few toggles, waited for a while and now it works.
I'm going to start enabling them back one by one to figure out whether it was time-based or feature-toggle-dependent.

[2018-04-13 13:38] webknjaz commented on #1703
### Step 1:
Changed `Flexible` to `Full (strict)` here: https://www.cloudflare.com/a/crypto/cherrypy.org

[2018-04-13 13:39] webknjaz commented on #1703
Now, this resulted in:
[code]

[2018-04-13 13:41] webknjaz commented on #1703
### Step 2:
Changed `Full (strict)` to `Full` here: https://www.cloudflare.com/a/crypto/cherrypy.org

This means that CF will use SSL while connecting to gh-pages (and other hosts) when in proxy mode, but will not verify their certificates.

[2018-04-13 13:43] webknjaz commented on #1703
This fixed it. Now it's accessible again.

[2018-04-13 13:45] webknjaz commented on #1703
### Step 3:
Toggled `Require Modern TLS` from `Off` to `On` here: https://www.cloudflare.com/a/crypto/cherrypy.org

This should cut off clients with way outdated TLS.

[2018-04-13 13:48] webknjaz commented on #1703
Still works

[2018-04-13 13:49] webknjaz commented on #1703
### Step 4:
Toggled `TLS 1.3 BETA` from `Disabled` to `Enabled+0RTT` here: https://www.cloudflare.com/a/crypto/cherrypy.org

[2018-04-13 13:52] jaraco commented on #1703
Looks like some resources (font) aren't loading under https.

![image](https://user-images.githubusercontent.com/308610/38738522-565e866e-3f00-11e8-94b5-d91c7116c6b2.png)

![image](https://user-images.githubusercontent.com/308610/38738539-6152af0a-3f00-11e8-9475-3a90d9eef438.png)

[2018-04-13 13:59] webknjaz commented on #1703
### Step 5:
Toggled `Authenticated Origin Pulls` from `Off` to `On` here: https://www.cloudflare.com/a/crypto/cherrypy.org

[2018-04-13 14:00] webknjaz commented on #1703
@jaraco yeah, I've fixed that a couple of minutes ago.

[2018-04-13 14:07] webknjaz commented on #1703
### Step 6:
Enabled and set `HTTP Strict Transport Security (HSTS)` to:
[code]

[2018-04-13 14:11] webknjaz commented on #1703
### Step 7:
Toggled `Always use HTTPS` from `Off` to `On`.

[2018-04-13 14:12] webknjaz commented on #1703
Everything looks working now.

[2018-04-13 14:13] webknjaz commented on #1703
@jaraco
I've `CNAME`d https://cheroot.cherrypy.org/ to cheroot.rtfd.io
Could you please wire it? Any other suggestions for cheroot docs fqdn?

[2018-04-13 14:14] webknjaz commented on #1703
### Step 8:
Toggled `Automatic HTTPS Rewrites` from `Off` to `On`.

[2018-04-13 14:31] jaraco commented on #1703
It is done. No suggestions on the fqdn, though I do see rtfd.io seems to redirect to readthedocs.org, so probably the latter is preferred.

[2018-04-13 15:03] webknjaz commented on #1703
Shortcuts for rtfd work as well, i like it more.

Next steps should be ensuring to update links in:
1. [x] dists
2. [x] repo pages
3. [x] docs

[2018-04-16 06:04] PJaros commented on #1680
I'm getting pressure from my supriors to fix the issue... please. I understand that you wish to tiedy up your code first. But come on. I'm going to be forced to switch to a different framework and rewrite my code because of this issue :-(

[2018-04-20 09:12] ghost opened #1706 "400 Bad Request : The request entity could not be decoded. The following charsets were attempted: ['utf-8']"
I know this issue has been posted before but still again i'm posting because i faced strange behavior.

I'm using Postman to test POST request. I set header like this:

**Content-Type: application/x-www-form-urlencoded**

I'm uploading image file, everything was working fine.
I used python 2.7 and 3.6.

But suddenly next morning i started getting this error:
[code]
I'm sure that i didn't change an

[2018-04-20 17:01] webknjaz commented on #1703
https://www.ssllabs.com/ssltest/analyze.html?d=cherrypy.org

[2018-04-21 18:46] webknjaz commented on #1680
I'll try to that WIP PR.

Ref: https://groups.google.com/d/msg/cherrypy-users/oBldDysSi7M/IvMNFHoyCwAJ

[2018-04-22 11:17] #1680 closed, assigned to nobody

[2018-04-22 11:23] webknjaz commented on #1655
@jaraco do you think this is still relevant?

[2018-04-22 11:31] webknjaz commented on #1680
@PJaros https://pypi.org/project/CherryPy/14.2.0/ have fun.

[2018-04-22 22:11] webknjaz commented on #1706
Well, obviously something changed. The best way to give us a clue is to fill in an issue template, which guides you through the questions we need answers for.
Without knowing env details, versions of everything, payload you sent we cannot help you except pointing out what traceback already says:
**The request entity could not be decoded using utf-8 encoding.**

[2018-04-23 00:24] jaraco commented on #1632
I notice this issue also affects the 'redirect' tool.

[2018-05-01 11:37] PJaros commented on #1680
I was able to test 14.2.0 7 days ago and everything works. Thanks for release this version. 👍

[2018-05-03 20:37] StanSilas commented on #1698
what's the alternative/solution to this? I am facing similar issue. @chinchani

[2018-05-06 00:34] webknjaz commented on #1703
I think this issue has been fulfilled now.

P.S. It's worth noticing that GitHub started supporting SSL for custom domains several days ago.

[2018-05-06 00:34] #1703 closed, assigned to webknjaz

[2018-05-11 16:28] jaraco opened #1708 "webtest module doesn't import"
It seems at some point the webtest module was broken:

[code]

[2018-05-11 16:30] jaraco commented on #1708
I see the note in the changelog for v12.0.1 indicating that this module was intended to be working.

[2018-05-11 16:37] jaraco commented on #1708
Looks like cherrypy/cheroot@6bfef14a is implicated.

[2018-05-11 16:49] jaraco commented on #1708
And also implicated in a619083b, which would have caught this error.

[2018-05-11 17:01] #1708 closed, assigned to nobody

[2018-05-16 14:15] webknjaz commented on #1708
cherrypy/cheroot#82

[2018-05-18 21:08] caulagi opened #1709 "Raising exception for redirects"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [x] question about the decisions made in the repository

**What is the current behavior?**

In the application I am working on, we typically use code like `raise cherrypy.HTTPRedirect('/login')` when a user is not logged in. However, this makes it hard to work with error reporting (tools like sentry), which see this as a program err

[2018-05-20 20:36] webknjaz commented on #1709
I think, you're configuring Sentry wrong. `HTTPRedirect`s are meant to be processed by CherryPy and you shouldn't be getting those. It looks like you need to find a better place to hook up an error interceptor.
I might be able to point out a better way if you show some code.

As for your question: no, there's no plans for making a new response class. First of all, there's one already, but it's use

[2018-05-20 22:05] webknjaz commented on #1618
So I've done some debugging and it seems that during startup some of components tries to do a connection to server.
I guess it might happen to be a non-SSL connection (like plain HTTP), which would make sense to be failing.
I thought it might be Checker (`_cpchecker`), but it looks it doesn't do any health checks over HTTP.

[2018-05-20 22:10] webknjaz commented on #1618
(connection comes from the same process)

[2018-05-20 22:20] webknjaz commented on #1618
I've used this snippet and confirmed that the issue is not happening in pure Cheroot:

[code]

[2018-05-20 22:35] webknjaz commented on #1618
@Safihre I've checked it down to `cherrypy==3` and confirmed that the behavior with SSL error being raised persists. So it's not a regression in `cherrypy`, but a regression in `openssl`. And old version of `ssl` wrapper from python stdlib does not seem to not take some changes in openssl into account, however `pyopenssl` (wrapping `cryptography`) is processing this correctly.

[2018-05-21 03:47] caulagi commented on #1709
@webknjaz Thanks. This is my snippet for reporting to sentry -

[code]

I call `register_sentry` method before `cherrypy.engine.start`. I want to remove `ignore_exceptions` argument to `raven.Client` because this code is in a library layer and it doesn't know all the exceptions the application may throw.

[2018-05-21 04:08] mohierf opened #1711 "Have a debian package for python 3 prefixed with python3-"
* **I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [x] question about the decisions made in the repository

As recommended by the Debian policy, it may exist a *python3-cherrypy* deb installer for CherryPy, but, obviously, it does not. I expected to find a *python3-cherrypy* installable package as almost all the python libraries do (even if the libray is fully compatible python2/3

[2018-05-21 06:24] webknjaz commented on #1709
For Flask they use WSGI middleware, so maybe you should too:
https://github.com/getsentry/raven-python/blob/df48707/raven/contrib/flask.py#L294-L298
https://github.com/getsentry/raven-python/blob/df48707/raven/middleware.py#L79

That's all I can advise at this point.

[2018-05-21 06:38] webknjaz commented on #1711
Hello @mohierf,

We only build python source and binary distribution, which we publish on PYPI.
If you want a separate deb package, you probably need to contact the maintainer of debian repository itself or package it yourself.

But honestly I don't understand why someone would want to install Python based projects via `apt` instead of `pip` with a proper virtual environment set up.

I'm closing t

[2018-05-21 06:38] #1711 closed, assigned to nobody

[2018-05-21 07:27] Safihre commented on #1618
Thanks :)

[2018-05-21 08:39] webknjaz commented on #1709
Theoretically (I haven't tested it) you could wrap `cherrypy.tree` with that middleware.

[2018-05-21 08:47] mohierf commented on #1711
Thanks for your answer. This is what I supposed but I preferred having a confirmation.

[2018-05-21 09:09] webknjaz commented on #1688
@jaraco we've forgotten to remove this thing. Maybe we need some label for deprecations to check before doing major releases?

[2018-05-21 09:20] webknjaz commented on #1711
@mohierf Yeah, we never shipped other distributions in other packaging formats. This would require extra effort/resourced.

I think, if someone was willing to contribute and maintain/support this @jaraco and I might consider accepting such improvements :)
But maintaining a huge matrix of environments is rather exhausting: besides implementing the packaging and its automation itself someone would n

[2018-05-21 09:20] webknjaz commented on #1711
// FTR:  https://stackoverflow.com/questions/50441805/debian-package-installation-for-python3

[2018-05-21 09:28] webknjaz commented on #1688
The only thing I worry about is that new tool runs on `before_handler`, while the old one was used to be running on `on_start_resource`.

[2018-05-21 09:52] #1688 closed, assigned to jaraco, webknjaz

[2018-05-21 13:23] jaraco commented on #1711
I agree - it's not sustainable for projects to maintain such a matrix of support. Instead, this project, like many other Python projects, supplies releases using a community-consensus-driven process, such that downstream providers such as system package managers like Debian can reliably produce packages for their environment(s). CherryPy's responsibility should stop at presenting a repeatable inst

[2018-05-21 13:32] jaraco commented on #1688
At YouGov, we have some applications that still use the deprecated handlers. I'm not sure we've given enough time for deprecation warnings to be noticed and addressed.

Also, it's not that we had forgotten to remove it; we just hadn't yet removed it. I don't think there's any prescribed schedule for removing deprecated functionality.

[2018-05-21 13:34] webknjaz commented on #1688
Well, I removed those in master.

[2018-05-23 00:22] jaraco commented on #1655
I've lost track of this issue. We can revisit as time permits.

[2018-05-23 00:22] #1655 closed, assigned to jaraco

[2018-05-27 14:20] jaraco opened #1713 "warning emitted during test run"
Simply running tox in a clean checkout, I see this warning during tox setup:

[code]

[2018-05-28 17:33] #1713 closed, assigned to nobody

[2018-05-28 17:43] webknjaz commented on #1706
Okay, after a closer look it became obvious to me that you just use wrong content type. Basically, your client is lying to server about payload of the POST HTTP request it sends.
You tell server that you send form data, while in fact you send binary payload.

Ref: https://stackoverflow.com/a/4073451/595220
Ref: https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST

**Solution:** use `mult

[2018-05-28 17:43] #1706 closed, assigned to nobody

[2018-05-28 18:31] #1697 closed, assigned to nobody

[2018-06-04 12:28] jaraco opened #1714 "Tools should allow filtering based on request method"
In [this conversation](https://gitter.im/cherrypy/cherrypy?at=5b12acf4b6eece791dd33694), @motoom describes a very reasonable scenario where they wish for the server to require basic auth, but only for certain methods, at which point I conclude:

I'm imagining functionality within CherryPy in which a wrapper could be added around any tool that supports method filtering, something like

[code]

Wher

[2018-06-08 11:45] webknjaz commented on #1714
Maybe have a standard protocol for accepting filter callable in tools?

[2018-06-12 13:52] teoric opened #1716 "14.2.0's decoding auth_digest parameters breaks authentication if "uri" contains encoded slashes"
* **I'm submitting a ...**
- [x] bug report

* **What is the current behavior?**

Starting with 14.2, parameters are decoded in `cherrypy/lib/auth_digest.py`:`HttpDigestAuthorization`'s constructor.

One of the parameters is `uri`. If `uri`contains e.g. a slash, I get an authentication loop.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots

[2018-06-15 09:27] webknjaz commented on #1716
cc @jaraco

[2018-06-17 03:05] jaraco commented on #1716
I don't yet understand this bug nor why the PR addresses it.

Why is URI special? How is it that the redirect loop is occurring? How is it that not unquoting the uri parameter prevents that?

[2018-06-17 07:42] teoric commented on #1716
I did not dig too deeply in the internals, but decoding the uri with [`unquote_to_bytes`](https://docs.python.org/3/library/urllib.parse.html) will undo hexadecimal escaping.  As far as I can see, URI is the only parameter that has hex escapes (at least in my setup).  Now assume that uri contains a slash in a parameter (`/`); by unquoting the slash is is now part of the uri. (from `https://testhos

[2018-06-17 16:10] jaraco commented on #1716
I believe you have identified a proper regression... a regression that might have been prevented if our code base had a proper test for this apparently basic expectation.

In order to create a proper test case to capture this expectation, can you put together a minimal reproducer of the issue you're encountering, basically a cherrypy script that sets up a server with the digest auth configured and

[2018-06-17 16:21] jaraco opened #1719 "auth_digest returns 400 on wrong scheme, should be 401"
The docs for the digest auth tool [indicate that a 401 will be returned](https://github.com/cherrypy/cherrypy/blob/bd4d2bfba420e3b65e1b8d1097fd80318b99a924/cherrypy/lib/auth_digest.py#L383-L384) if the wrong scheme is supplied.

But tracing the code, it seems that when the scheme is wrong, a ValueError is raised and that's translated into a 400 response. I suspect the 401 response is the correct t

[2018-06-17 16:43] #1719 closed, assigned to nobody

[2018-06-17 17:04] teoric commented on #1716
The following fails with 14.2+, but works with 14.1.0 if one uses `http://127.0.0.1:8080/index?from=%2F`. I hope this meets your standards. Just in case this is not clear: For authentication, please use `no` as user and `body` as password.

[code]

[2018-06-17 21:26] webknjaz commented on #1716
So I've tried it out and it looks like it returns  HTTP 401 for `/?from=%2F`, while it returns 200 for just `/`:

[code]

Which effectively means that this "redirect loop", doesn't actually contain "redirect" part. It's browser re-asking credentials.

So the issue is somewhere in answer do question "why does it raise 401?"

[2018-06-17 21:35] teoric commented on #1716
Thank you very much for your work and for confirming that this is an authentication loop.

[2018-06-17 21:36] webknjaz commented on #1716
So there's where it fails:
[code]
for `/`, `digest` equals `auth.response`, for `/?from=%2F` it doesn't. for `/?from=%2` digest also matches.
so it looks really related to percent-decoding somehow.

[2018-06-17 21:41] webknjaz commented on #1716
so for `/?from=%2F` the client sends an `uri` param in `Authorization` header, which is `uri="/?from=%2F"`, see full header below:

But during inspection I've found out that the `auth.uri` contains urldecoded version of it:
[code]

Which likely affects a digest calculation

[2018-06-17 21:56] webknjaz commented on #1716
@jaraco It's reproducible with `/?%40` as well, which leads me to conclusion that @teoric was right about the place where it got broken and perhaps I just processed params *in header* in a wrong way.

I think we misunderstood @teoric's explanation thinking that it's about Request-Line parsing, while in fact it's solely related to processing `Authorization` header.

Fun fact: when trying it from Go

[2018-06-18 06:02] teoric commented on #1716
Thank you very much for figuring out a solution and sorry if I was unclear; I do not know much about CherryPy internals.

[2018-06-18 07:59] webknjaz commented on #1716
It's alright that you don't know internals. You helped us a lot :)

[2018-06-18 12:51] #1716 closed, assigned to nobody

[2018-06-29 04:05] cyberfox1 opened #1721 "wspbus.py: TypeError: '<' not supported between instances of 'NoneType' and 'int'"
* **I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current behavior?**

When a change is made to a source file, the autoloader tries to restart but:
[code]
* **If the current behavior is a bug, please provide the steps to reproduce and if possible a

[2018-07-05 08:10] marunguy opened #1722 ""ImportError: No module named jaraco.functools" raised in app frozen by py2exe"
* Windows 8.1 64bit
* Python 2.7.15 32bit
* py2exe 0.6.10a1
* CherryPy 16.0.2
* Cheroot 6.3.2.post0
* tempora 1.13
* jaraco.functools 1.20

"ImportError: No module named jaraco.functools" raised in my app frozen by py2exe.
[code]
`jaraco.functools` seems the namespace package.
This issue may be same to https://github.com/jaraco/jaraco.classes/issues/3

Is allowed the namespace package in CherryPy?

[2018-07-05 11:44] benjaoming commented on #1722
Our project also broke despite having pinned the CherryPy version. Essentially, the issue comes from a new version of `tempora`, 1.13, which is a dependency of `portend` (a dependency of `cherrypy`).

`cherrypy` doesn't put any upper limits on requirements, which is a bit of an issue in itself, supposing that these requirements use semantic versioning. Which my impression is that they do.

Issues

[2018-07-06 12:15] satyadasari44 opened #1723 "ModuleNotFoundError: No module named 'cherrypy'"
I have installed cherrypy on python3.6.6 and python3.7.

when i run tutorial file, i'm getting error as below.

[code]

[2018-07-08 18:04] len-samuelson commented on #1618
This issue arose in my latest xubuntu 18.04 installation containing python3.6.5, cherrypy-15.0.0 and cheroot-6.3.1. Following the leads in this issue's comments led to a bit more detail and (for my installation) a workaround: Remove the test for python2.
[issue1618_python3.txt](https://github.com/cherrypy/cherrypy/files/2173968/issue1618_python3.txt)

...Not ready to write a pull request, there ar

[2018-07-08 21:42] #1721 closed, assigned to nobody

[2018-07-10 00:15] webknjaz commented on #1722
cc @jaraco

[2018-07-10 00:15] webknjaz commented on #1723
How do you run that? (Are you sure you run it via Python executable, which points to the same env cherrypy is installed?)

[2018-07-10 09:23] webknjaz commented on #1618
@len-samuelson I'm inlining your patch since it's a better experience not to have to download files to just see text:

[code]

[2018-07-10 09:25] webknjaz commented on #1618
@len-samuelson

What made you think we need to return tuple there?

Since you removed a check for Python 2 I think it makes sense to run feature-detection to identify the version of OpenSSL then.

[2018-07-10 11:49] satyadasari44 commented on #1723
Tnqq for ur reply, after adding env path to path, it's working fine.

Can u please guide me how to run django on cherrypy wsgi server on Windows7.

[2018-07-10 13:24] jaraco commented on #1722
You're right - the additional dependency of `jaraco.functools` from tempora has resurfaced the issue.

Normally, I consider dependency changes to be non-breaking, so unnecessary to pin. Maybe I should consider the introduction of a new dependency a backward-incompatible change (that cascades to every depending library), but that seems extreme. Maybe the addition of a (first) namespace package depe

[2018-07-10 13:28] jaraco commented on #1722
On second thought, there's no value in that. Let's focus on the long-term solution.

[2018-07-10 13:54] webknjaz commented on #1723
You'll probably need to plug Cheroot into `wsgi.py` of your django app, exposing `application` callable.
https://docs.cherrypy.org/en/latest/deploy.html#wsgi-servers

[2018-07-10 14:05] len-samuelson commented on #1618
Thanks for looking into this, and for your suggestions. This is a first-draft experiment and should be fully vetted and improved.

- Having very limited experience in cheroot, I elected to follow what appeared to be an API pattern from the other exception block. That said, I welcome input on the question of what to return.

- Feature detection is a good idea, and a more complete implementation wou

[2018-07-10 15:17] jaraco commented on #1722
I'm afraid I don't understand why the presence of backports.functools_lru_cache in cheroot didn't trigger this same issue.

[2018-07-10 15:27] #1722 closed, assigned to nobody

[2018-07-10 15:29] jaraco commented on #1722
I see - cheroot only attempts to import backports.functools_lru_cache [on older Pythons](https://github.com/cherrypy/cheroot/blob/c16a2764eae0fd266666bafcd12dc54cdab23103/cheroot/server.py#L63-L66), so that's why it didn't affect py2exe (Python 3.4).

[2018-07-10 15:41] #1673 closed, assigned to nobody

[2018-07-10 15:54] jaraco commented on #1673
The upcoming CherryPy 17 release resolves this issue. Incompatible environments should pin to 'Cherrypy<17'.

[2018-07-10 16:34] jaraco commented on #1722
I should also say too - if there is a more widely-used library supplying the same functionality, I'm happy to deprecate the functionality, especially in the `jaraco.*` packages, in favor of the more popular packages.

[2018-07-10 16:53] webknjaz commented on #1618
Oh.. I see, so it was a bug. I'd move existing `EMPTY_RESULT = None, {}` outside of try/except block to avoid copy-paste confusion. I've fixed this in `master` now.

Regarding

I'm trying to track possible ways to spin-up proper SSL testing in cherrypy/cheroot#95

[2018-07-10 17:56] benjaoming commented on #1722
First of all, thanks for responding to the issue.

We can pin these versions in our own packages, so you don't have to do another release for that reason. That is not a solution, but a work-around. What we were interested in, was to be able to depend on CherryPy and its future updates, with a healthy dependency tree, using semantic versioning and upper bounds derived from those semantics.

I'll ha

[2018-07-10 18:20] webknjaz commented on #1722
@benjaoming we cannot afford to support outdated envs, which don't even try to mitigate their issues. Supporting them is a workaround or even hack itself.
We don't have an army of maintainers and tons of CI resources to be able to fine tune stuff every 5 minutes, so we decide to at least concentrate efforts on supporting widely used things, which also care about being up-to-date.
The best course o

[2018-07-10 22:58] benjaoming commented on #1722
@webknjaz the fundamental issue is the absence of upper bounds in the dependency tree.

[2018-07-10 23:06] webknjaz commented on #1722
Putting them there will create another fundamental issue: having to constantly maintain updates of deps.
While it's a good practice for applications, for libraries this is harmful, since it limits their users who might want to combine newer version of another lib, for example, with older version of CherryPy which heavily restricts that lib. That's why `requirements.txt` (and/or `-c constraints.txt

[2018-07-11 08:01] satyadasari44 commented on #1723
Thanks a lot for your suggestion, can you please suggest me with any sample
code available to run django on cherrypy on Windows . I tried so many but
not working.

Thanks &, Regards
SATYENDRA KUMAR DASARI

On Tue, 10 Jul 2018, 7:24 pm Sviatoslav Sydorenko, <notifications@github.com>
wrote:

[2018-07-11 08:12] webknjaz commented on #1723
You should probably use `cheroot.wsgi.Server`, but I don't have any snippet in mind right now.

[2018-07-11 12:17] benjaoming commented on #1722
@webknjaz I agree that for instance single environment deployments, like web site projects, should pin versions to achieve 1:1 between dev/test/staging and production environments.

However, when a library is used in another library -- for instance other distributed apps depending on CherryPy -- then you are effectively off-loading the responsibility to discover and maintain dependency version upd

[2018-07-11 12:50] webknjaz commented on #1722
We have CI which runs tests on daily basis, so we notice when something needs fixing/adjustments, but still in your case you need to pin versions when you ship software. It's your responsibility as a packager of application. While our responsibility is to not limit on what you can combine with our library.
Ideally you should run your tests against CherryPy's master automatically traversing depende

[2018-07-11 12:55] webknjaz commented on #1722
@jaraco what if we additionally published dists with `.post0` version and all dependencies strictly pinned?

[2018-07-11 13:54] benjaoming commented on #1722
Hi @webknjaz - thanks for the answer.

Unfortunately, we agree very much that pinned versions are not the solution for a distributed re-usable app/library. Pinned versions and unbounded dependencies are bad in each their way. With pinned dependencies, a patch release (for instance a security fix) would prompt all depending packages to re-release with changed dependencies. This completely breaks di

[2018-07-11 13:59] benjaoming commented on #1722
I don't want to discourage the development of CherryPy by being a critique, so I will leave this be. Thanks for sharing your views and opinions.

If time permits, I'll write a more general blog post about using semantic versioning, reusable libraries, their dependency trees, and the security issues inherent from having complex and/or unreliable dependency trees.

[2018-07-11 14:42] jaraco commented on #1722
Agree this is worthwhile and I also believe it's our intention. I think our perspectives diverge on what those semantics communicate. Normally, I wouldn't consider adding or changing a dependency as a backward-incompatible change and so I don't typically shepherd a project through a major version bump for such a change (as long as that project's interface remains compatible assuming the dependency

[2018-07-11 15:01] benjaoming commented on #1722
@jaraco I think a set of best-practices for semantic versioning of Python packages distributed on PyPi would be ideal. Not sure if anyone did that. For instance, these best practices could include:

 * Bumping the upper bound of a minor version of a dependency, having done a reasonable level of regression testing: Release with a patch update
 * Bumping the upper bound of a minor version of a depen

[2018-07-16 11:09] webknjaz commented on #1625
FTR, I've found a few ways to actually make it work correctly:
* https://gist.github.com/liuw/2407154
* https://github.com/glenfant/stopit

@jaraco would we want to get back this feature if it'll be made consistent?

[2018-07-16 12:38] webknjaz commented on #1698
Feel free to send PRs.

[2018-07-16 13:48] jaraco commented on #1625
Yes, I think it would be nice to have a timeout for generating responses, now that it seems it may be possible. It would be nice if such a feature could be implemented as a tool in a separate package (though I'm not sure if that's possible). I'd also like to see any timeout support be explicit about what the timeout or timeouts mean. Especially in a world with large and streaming responses, there'

[2018-07-17 08:06] webknjaz commented on #1723
`run.py`:
[code]

[code]

[2018-07-17 08:06] #1723 closed, assigned to nobody

[2018-07-27 05:17] speidy opened #1724 "CherryPy always throws a warning when no config is set when mounting a new app"
* **I'm submitting a ...** bug report

* **Do you want to request a *feature* or report a *bug*?**
report a bug.

* **What is the current behavior?**
When running an app with empty config the following warning is thrown:
https://github.com/cherrypy/cherrypy/blob/46aa2267136763ecae8d4997b0f9bfc0e04b5176/cherrypy/_cpchecker.py#L100

As the `config` is optional, i personally don't see a reason to thr

[2018-07-27 05:23] speidy commented on #1724
Just found out you can set it via:

[code]

I hope you'll update your docs some day so it will mention those hidden options.

[2018-07-27 05:23] #1724 closed, assigned to nobody

[2018-07-28 23:15] webknjaz commented on #1724
Feel free to contribute a PR :)

[2018-07-31 22:16] cinatic opened #1725 "serve_file error if debug=True"
[code]

[2018-07-31 22:18] cinatic commented on #1725
sorry i took the wrong value into content_type

[2018-07-31 22:18] #1725 closed, assigned to nobody

[2018-08-07 16:26] ngrilly opened #1726 "[bug] cherrypy._cpreqbody.Part.read_headers incorrectly assumes the part headers are encoded in ISO-8859-1"
`cherrypy._cpreqbody.Part.read_headers` incorrectly assumes the part headers
are encoded in ISO-8859-1 (the encoding is harcoded in the function):

https://github.com/cherrypy/cherrypy/blob/2d1b3c6120f7776918d9b67c25baf2e45e4b3bbd/cherrypy/_cpreqbody.py#L641

This is a significant issue when uploading a file with a non-ASCII filename in a multipart/form-data payload. For example, on a website base

[2018-08-07 17:10] ngrilly commented on #1726
One more thought:

To decode the filename, it seems reasonable to use the charset defined in `attempt_charsets`, instead of the hardcoded ISO-8859-1.

But many things make this difficult:

- The default `attempt_charsets` defined on Entity (`['utf-8']`) differs from the default on Part (`['us-ascii', 'utf-8']`) for no obvious reasons.
- The `attempt_charsets` on an instance of Entity can be config

[2018-08-13 08:12] sanjaySP commented on #1623
###  I had the same issue.
i resolved it by _**removing**_ the fav icon path in the config and used the **static path**
`/favicon.ico': {
                'tools.staticfile.on': True,
                'tools.staticfile.filename': '/static/ico/favicon.ico'
            }`
i added this in the html file.
`<link rel="shortcut icon" href="/static/img/user-avatar.png">` in the html file

This is caused due

[2018-08-14 12:27] jaraco opened #1728 "Update Travis runner to Xenial and Python 3.7"
In [this comment](https://github.com/travis-ci/travis-ci/issues/9815#issuecomment-401756442) I learned that using Xenial enables Python 3.7 support. It seems we should update our platform (a good idea in general) and test against Python 3.7 as the mainstream Python. I've done the same in my other projects by way of [jaraco/skeleton](https://github.com/jaraco/skeleton/commit/beb0e0eb774dd15e79574ac

[2018-08-14 12:28] jaraco commented on #1728
~~We may want to postpone this effort for now, as only a couple of days ago there was a [report that Python 3.7 support stopped working](https://github.com/travis-ci/travis-ci/issues/9815#issuecomment-412344908).~~

Nevermind, it seems that issue was network related and was corrected.

[2018-08-14 12:34] webknjaz commented on #1728
Yes, it's about network issues. I also saw this when uploading cache to GCP, so my humble guess is that they might be in progress of moving to other cloud :)

[2018-08-14 12:37] webknjaz commented on #1728
I actually use 3.7 in Travis CI for months and it's in [Cheroot already](https://github.com/cherrypy/cheroot/blob/master/.travis.yml#L66-L70). I just didn't have time to update it everywhere :)

P.S. I'm working on a concept of a better CI configs generator in the scope of my aio-libs maintainership as well. Stay tuned :)

[2018-08-14 15:03] webknjaz commented on #1728
https://github.com/travis-ci/travis-ci/issues/9069#issuecomment-412875612

[2018-08-15 09:13] #1690 closed, assigned to nobody

[2018-08-15 09:28] webknjaz commented on #1728
I'd modify this issue to "Add 3.7 to all CIs". Next priority-1 should be AppVeyor and then others (experimental).

[2018-08-16 13:19] jaraco opened #1730 "Drop support for Python 2.7"
* **I'm submitting a ...**
- [ ] bug report
- [X] feature request
- [ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

See above.

I think it's about time to drop support for Python 2.7. This project has made many stable updates and maintained Python 2.7 support for a very long time, but many of the issues with this project stem fr

[2018-08-16 14:49] wkerzendorf commented on #1722
just wanted to bump this thread: current version on `conda-forge` exhibits the same behaviour under python 3. 6

fix can be to downgrade tempora to 1.8

[2018-08-16 15:03] webknjaz commented on #1722
Conda seems to not support namespaced packages properly: https://github.com/conda-forge/staged-recipes/wiki/Namespace-packages

They need to fix this to follow PEPs.

[2018-08-17 13:22] webknjaz commented on #1730
https://python3statement.org

[2018-08-23 01:16] alan412 opened #1731 "Can't get code coverage to work...."
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
I don't know if it is a bug or just my not knowing what I am doing.

* **What is the current behavior?**
When I try to execute covercp.py, I get the following:

[code]

If I comment out lines 377 and 378 then it wil

[2018-08-24 15:20] debrando opened #1732 "HTTP verb is ignored in cache resolution"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

* **What is the current behavior?**

The cache module uses only the path as the key of the cached data: https://github.com/cherrypy/cherrypy/blob/157a4e409551f4008e15e38fd3991aadcd8abbcd/cherrypy/lib/caching.py#L222

So, for example, if your REST service (a class dispatched

[2018-08-27 07:45] debrando commented on #1732
A simple solution could be always prepending the verb (*request.method*) to the *header_values* list, used to determine the resource variant.

As a workaround, I obtained the same by injecting the verb into headers and adding the key to *Vary* header:

    @tools.register('on_start_resource')
    def inject_verb_header():
        request.headers['verb-header'] = request.method
        response.hea

[2018-08-27 12:07] webknjaz commented on #1732
Thanks for the report! Would you mind creating a PR for that?

[2018-08-29 16:24] ccsalway opened #1733 "global variable not defined in validate_password"
* **I'm submitting a ...**
- [ x ] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
I don't think it's a bug but it's a strange behaviour.

* **What is the current behavior?**
I'm trying to use basic auth. I have the config as below. I have the validate_password in a separate file.  The config fi

[2018-08-29 16:37] #1733 closed, assigned to nobody

[2018-08-29 16:43] webknjaz commented on #1733
😱 This was fast

[2018-08-30 09:58] ccsalway commented on #1733
I had a round dependency :)  in my config i had require file1 and in file1 i had require config

[2018-08-30 10:04] webknjaz commented on #1731
Hi, this module is very old and it looks like nobody tested it for a decade. Does `pytest-cov` work for you?

[2018-09-01 22:50] jaraco commented on #1730
I honestly can't figure out why Travis isn't running tests on older Pythons. I'll leave that as an exercise for later.

[2018-09-01 22:59] webknjaz commented on #1730
@jaraco there's `if`-clauses, which you're probably hitting. You can always trigger manual tests run in Travis directly. We're running much more jobs on daily cron builds and API triggers (which also count as manual runs)

[2018-09-01 23:04] #1730 closed, assigned to nobody

[2018-09-03 15:22] alan412 commented on #1731
Please excuse my ignorance but how would I use that with cherrypy?

On Thu, Aug 30, 2018 at 6:04 AM Sviatoslav Sydorenko <
notifications@github.com> wrote:

[2018-09-03 15:23] webknjaz commented on #1731
Do you use `pytest` for testing? It should be able to pick up `cov` plugin if you `pip install pytest-cov`

[2018-09-03 15:26] alan412 commented on #1731
I don't now, but I am willing to try it.   anything special I have to do to
get it to work with CherryPy?

On Mon, Sep 3, 2018 at 11:23 AM Sviatoslav Sydorenko <
notifications@github.com> wrote:

[2018-09-03 15:34] webknjaz commented on #1731
I don't yet know, but it's used in CI while testing CherryPy itself. Tell us about your experience once you try :)

[2018-09-03 15:34] webknjaz commented on #1731
This might result in a good enhancement of documentation.

[2018-09-03 15:47] webknjaz commented on #1731
cc @jaraco

[2018-09-03 15:56] jaraco commented on #1731
I don't know anything about covercp. That module clearly has bugs and it's not clear how to use it. I welcome PRs to improve that module and the documentation around how to use it. Whoever works on that will have to spend some time troubleshooting and establishing an understanding of that module and it's purpose(s).

[2018-09-03 18:35] alan412 commented on #1731
Got coverage to work with pytest and --cov flag

Would you like me to write up some simple documentation showing how to do
It with one of the tutorial projects?  Then my suggestion would be to
remove covercp from the project.

On Mon, Sep 3, 2018 at 11:56 AM Jason R. Coombs <notifications@github.com>
wrote:

[2018-09-03 18:47] webknjaz commented on #1731
@alan412 that would be lovely! The docs source is here: https://github.com/cherrypy/cherrypy/tree/master/docs

I believe that this module facilitated coverage in times of `unittest` and `nose` libs and now it's probably redundant:
https://github.com/cherrypy/cherrypy/blob/2fc78dc9af3e556829ce69d3e1311e5629200882/cherrypy/lib/covercp.py#L11

[2018-09-05 13:13] webknjaz opened #1737 "PermissionError: [WinError 32] The process cannot access the file because it is being used by another process in AppVeyor"
* **I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

bug

* **What is the current behavior?**

Session tests seem to try removing session files before the server, which holds them open is shut down. This raises the exception on Windows in random CI jobs:
[code]

* *

[2018-09-05 13:16] webknjaz commented on #1737
related? https://github.com/cherrypy/cherrypy/blob/2fc78dc9af3e556829ce69d3e1311e5629200882/cherrypy/test/test_static.py#L155

[2018-09-05 14:42] webknjaz commented on #1737
Similar traceback @ https://ci.appveyor.com/project/CherryPy/cherrypy/build/1.0.410/job/g32c0qhi9h9t9a5i/tests:
[code]

[2018-09-06 10:15] ralhei opened #1738 "Current cherrypy 18.0.0 fails to open websocket connection with ws4py 0.5.1"
* **I'm submitting a ...**
- [x ] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

* **What is the current behavior?**
The browser (firefox) fails to make a connection to the /ws endpoint. Downgrading to cherrypy 17.3.0 or earlier doesn't show this behavior, everything works fine there.

* **If the current behavior is a bug, please provide the steps to re

[2018-09-07 15:02] #1544 closed, assigned to nobody

[2018-09-08 07:07] webknjaz commented on #1738
More details needed. Currently there's no reproducer.
cc @Lawouach

[2018-09-08 07:18] Lawouach commented on #1738
Hey there,

I will give it a look but the ws4py is considered a project that has not been worked on for a few years now so I'm not surprised considering it was tapping into the internals of CherryPy.

[2018-09-08 13:11] Lawouach commented on #1738
Okay, so the issue is that CherryPy response headers seems to now be unicode when ws4py was passing byte objects.

Could someone confirm me this is the case with cheroot and when this change happened? So I can add the right fix in place in ws4py.

[2018-09-08 19:39] webknjaz commented on #1738
@Lawouach  I bet it's CherryPy switching to Python 3.5+ starting v18.0.0, but might be wrong.

cc @jaraco

[2018-09-08 20:01] jaraco commented on #1738
Hmm. If I recall correctly, the change for v18.0.0 was mainly in metadata. Here are [the differences](https://github.com/cherrypy/cherrypy/compare/v17.3.0...v18.0.0).

[2018-09-08 20:11] jaraco commented on #1738
I suspect the issue is with d3fa6b80b22, as `text_or_bytes` is different from `string_types` on Python 3.

[2018-09-08 20:15] webknjaz commented on #1738
Yeah, that's also my guess here.

[2018-09-08 20:16] jaraco commented on #1738
Question is - do we wish in CherryPy to restore support for passing headers as bytes? I think we'd like to get away from supporting both bytes/text in a variety of interfaces. If we do wish to support this use case, we should write a unit test to capture that expectation. But my instinct is we should ask downstream consumers to supply text headers.

[2018-09-08 20:16] webknjaz commented on #1738
Oh, wait. I've merged this recently: https://github.com/cherrypy/cherrypy/pull/1736

[2018-09-08 20:19] webknjaz commented on #1738
@ralhei @Lawouach can anyone verify whether it's reproducible on `master`?

[2018-09-08 20:21] Lawouach commented on #1738
Just tried. Couldn't see the same problem with master indeed.

[2018-09-08 20:24] webknjaz commented on #1738
So we just need to cut a new patch version then :)

[2018-09-08 20:25] Lawouach commented on #1738
I think that would do :p

[2018-09-08 22:57] jaraco commented on #1738
Releasing as v18.0.1.

[2018-09-08 22:57] #1738 closed, assigned to nobody

[2018-09-08 23:00] #1737 closed, assigned to jaraco, webknjaz

[2018-09-09 11:47] Lawouach commented on #1738
Thanks folks for being so responsive and swift!

[2018-09-09 17:17] #1731 closed, assigned to nobody

[2018-09-09 17:22] webknjaz commented on #1728
Done.

[2018-09-09 17:22] #1728 closed, assigned to webknjaz

[2018-09-09 17:28] webknjaz commented on #1694
Fixed by #1695

[2018-09-09 17:28] #1694 closed, assigned to nobody

[2018-09-09 19:03] jaraco opened #1741 "ServerStateTests hang following memcached changes"
Gah.

I recently committed 68c907367bdc719cef67f91146fde87ee4acc28f to start up memcached as an ephemeral instance, rather than requiring a developer to start an instance and writing to that same instance on every test run.

However, after doing so and cleaning up the lint blocking the tests from running, we can see the tests now hanging (such as in [this run](https://travis-ci.org/cherrypy/cherry

[2018-09-09 19:15] jaraco commented on #1741
Annoyingly, the test_gc tests don't hang immediately, but instead hang after waiting for another test class to complete:

[code]

[2018-09-09 19:34] jaraco commented on #1741
I can replicate the behavior more directly by just including those two tests:

[code]

[2018-09-09 19:40] jaraco commented on #1741
So here's something interesting - I added a pdb break in /gc/stats:

[code]

And ran the same tests. The break did happen in the test_gc for test_session.py, but did not break when running test_gc for test_states.py. Also, I'm now realizing that it's _after_ the test_gc occurs (and passes) that the tests hang.

[2018-09-09 19:43] jaraco commented on #1741
Aha, so test_states has a `setUp` that sets `self.do_gc_test = False`, so that explains why the code didn't break and probably excludes the gc test code as implicated in the failures.

[2018-09-09 19:47] jaraco commented on #1741
I've narrowed the issue to the PluginTests.

[code]

[2018-09-09 19:50] jaraco commented on #1741
Walking through the code, I see it hanging at `p.join()`.

[code]

[2018-09-09 19:57] jaraco commented on #1741
Aha - so if I set the memcached_instance to `scope='class'`, the tests stop hanging. I think what's happening is the `p.join()` in `test_daemonize()` is waiting for all subprocesses, including the memcached process, to exit.

[2018-09-09 20:15] jaraco commented on #1741
The issue is that `_join_daemon` calls [os.wait()](https://docs.python.org/3/library/os.html#os.wait), which waits on "a child process", a loosely-defined target. And if the daemon process has already exited, this call will wait on another subprocess, such as the memcached process.

[2018-09-09 20:16] #1741 closed, assigned to jaraco

[2018-09-09 20:19] webknjaz commented on #1741
Wow, that's neat!

[2018-09-10 08:38] ralhei commented on #1738
Hi everybody, sorry for being so unresponsive, but I've been away all weekend.You guys did a great job, ws4py is now working again! Thanks so much for this super fast patch.

[2018-09-10 09:35] webknjaz commented on #1738
You should thank to @tobiashenkel, the actual submitter of the patch :)

[2018-09-10 21:50] jaraco opened #1742 "Tests fail to run on Windows"
While investigating a fix to pytest-dev/pytest-services#23, I went to run the CherryPy tests on my Windows VM, but they immediately failed thus:

[code]

[2018-09-10 22:04] jaraco commented on #1742
My guess is that the reason these tests run on AppVeyor is because they provide some 'mkdir.exe' from cygwin or similar. We should remove this hidden dependency.

[2018-09-10 22:39] webknjaz commented on #1742
No, it's because I declared it as a conditional extra and now it's not installed in Appveyor. Unless you reverted that.

[2018-09-15 23:05] webknjaz commented on #1742
@jaraco this could be turned into python for compat, but that dir is needed (`python -c ...`)

[2018-09-16 13:03] jaraco commented on #1742
Right, you said in the commit:

I'm not sure I understand. Can you provide more detail? Why doesn't the test run produce this directory? If it's only for circle-ci, perhaps the directory creation should happen in the Circle-CI script... or it has to happen in the tox commands, have tox invoke a script that detects circle CI and only creates it there. Otherwise, it just looks like cruft. At a bare

[2018-09-16 23:09] webknjaz commented on #1742
Circle CI uses folder names as labels for test results report. Previously, we put that xml in the root folder. I prefer having a standard place across all test runtimes.
We could probably store that folder on the Git level.

[2018-09-16 23:14] #1742 closed, assigned to nobody

[2018-09-21 11:23] ralhei opened #1744 "Again: Autoreloader throws "dictionary changed size during iteration" (since cp 16.0.0)"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

* **What is the current behavior?**
At startup of my cherrypy server I get the following exception:
     `RuntimeError: dictionary changed size during iteration`

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and lo

[2018-09-21 12:01] webknjaz commented on #1744
Thanks for the report! Your explanation makes sense. I'd probably copy that list early instead (`sys.modules[:]`).
Mind sending a PR for discussion?

[2018-09-25 13:52] anderstheet opened #1745 "17.4.0 tag"
Is it possible to get a tag for 17.4.0, so it can be used?

http://docs.cherrypy.org/en/latest/history.html#v17-4-0

[2018-09-25 14:48] webknjaz commented on #1745
It's there but hidden under the banner. Scroll up a bit :)

[2018-09-26 08:07] anderstheet commented on #1745
I see it in the history. I just can't use the version cause there is no tag for 17.4.0 in git.

It doesn't exist:
https://github.com/cherrypy/cherrypy/tree/v17.4.0

[2018-09-26 11:57] webknjaz commented on #1745
We never released that. It's a mistake in changelog. https://pypi.org/project/CherryPy/#history

This means that those changes likely got into v18.0.0

cc @jaraco

[2018-09-26 13:00] jaraco commented on #1745
@anderstheet Do you need the changes from that release? Or is it sufficient to correct the change log?

[2018-09-26 13:02] jaraco opened #1746 "Read me need not provide but one pip link."
CherryPy 18 was released with python_requires metadata, so pip install CherryPy should work on any python with a modestly recent pip.

[2018-09-26 14:55] jaraco commented on #1745
I decided that since the maint/17.x branch already has those commits, and any subsequent 17.x release would include those changes, I went ahead and added the tag, which should create the release.

[2018-09-26 14:55] #1745 closed, assigned to jaraco, webknjaz

[2018-09-26 15:47] webknjaz commented on #1745
@anderstheet https://pypi.org/project/CherryPy/17.4.0/

[2018-09-26 15:54] webknjaz commented on #1746
What do you mean?

[2018-09-27 07:54] anderstheet commented on #1745
Many thanks!

[2018-09-27 22:09] #1744 closed, assigned to nobody

[2018-09-30 10:13] webknjaz opened #1747 "Tests in test_session are tightly coupled"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

bug

* **What is the current behavior?**

Some tests cannot succeed if run independently

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the pr

[2018-09-30 10:13] webknjaz commented on #1747
cc @jaraco

[2018-09-30 10:35] #1534 closed, assigned to nobody

[2018-10-11 19:29] paulohrpinheiro commented on #1600
I was confused because while looking for the `request.show_tracebacks` option in the source code, I found a test that marks it as 'obsolete', but I did not find any references to that classification in the documentation.

My idea is to include a check for this option in `cherrypy/_cpchecker.py`, as well as other checks that are already done, and that show warnings when the server goes up.

[2018-10-11 20:46] cmclaughlin opened #1748 "Docs are unreadable on mobile devices due to Python 3 countdown warning"
Can we add a "hide" button on the Python 3 countdown?

![85655](https://user-images.githubusercontent.com/1061109/46832770-c4118280-cd5b-11e8-97a2-9ecea8d633b2.jpg)

[2018-10-13 00:27] webknjaz commented on #1600
@paulohrpinheiro where did you find that?

Regarding checker, I'd give it a try. Feel free to send a PR :)

[2018-10-14 21:25] dimyme commented on #1585
works for me:  line 3271

[code]

[2018-10-17 22:42] webknjaz commented on #1748
cc @bluebirrrrd

[2018-10-20 18:20] crazcalm opened #1749 "Testing example in documentation not working: header check fails even when set explicitly"
* **I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Report a bug

* **What is the current behavior?**
Original example code: https://docs.cherrypy.org/en/latest/advanced.html#testing-your-application
Link to code: https://github.com/crazcalm/learn-cherrpy/blob/master

[2018-10-23 21:50] eoghanmurray opened #1751 "Free up port after multiprocess fork?"
This is more of a question than anything so delete and I'll repost to SO instead?

I'm wondering how to shut down cherrypy in a multiprocessing/forked context:

I'm using `multiprocessing` to fork off from my main web app to do some background tasks.

The main app is a legacy TurboGears 1.5 app that starts and stops CherryPy.

The problem starts when I restart the main app and the background tasks

[2018-10-23 23:00] webknjaz commented on #1751
The thing is that fork inherits all file descriptors parent has. Sockets are accessible through such file descriptors in a nutshell. So while you kill your parent process and reparenting happens (fork gets ppid=1) your forks must get `SIGCHLD` from that exiting parent. Make sure that forks handle this signal correctly and actually exit instead of living as zombies.

P.S. As for shared socket, here

[2018-10-23 23:02] webknjaz commented on #1751
You probably need smth like https://stackoverflow.com/a/34353290/595220

[2018-10-24 07:19] sathishbabu96 opened #1752 "Enabling RateLimitTool"
I saw the RateLimitTool in cherryPy tools. I referred the cherryPy docs on how to add tools to my cherryPy server. I don't know how to enable the RateLimitToll in my cherryPy server. Is there anyone using the tool?

[2018-10-24 09:02] eoghanmurray commented on #1751
Thanks @webknjaz that's super informative!

[2018-10-24 10:13] eoghanmurray commented on #1751
`_set_cloexec()` seems to be doing something with file descriptors (sockets?) during a restart:
https://github.com/cherrypy/cherrypy/blob/master/cherrypy/process/wspbus.py#L536
but calling this from my app instead of `stop()` doesn't do what I need.

Here's a C version for closing child sockets: https://stackoverflow.com/questions/19319387/close-opened-sockets-in-child-process  but I've no idea ho

[2018-10-24 10:13] #1751 closed, assigned to nobody

[2018-10-24 20:23] #1748 closed, assigned to nobody

[2018-10-26 08:47] webknjaz commented on #1752
@sathishbabu96 you can enable tools from config or by decorating handler methods or classes.

[2018-10-26 20:02] msinn commented on #1618
Is there a reason why this fix
[code]
hasn't made into the cheroot master yet?

I am looking desperately for a fix for Python 3 that gets rid of the exception
[code]
in the root logger.

[2018-10-26 20:20] Safihre commented on #1618
@webknjaz I don't think that you can really test this situation, even with the stuff in cherrypy/cheroot/issues/95.
Maybe it's indeed time to apply this fix? Especially since the patch has such an extensive description for in the code.

[2018-10-28 18:42] len-samuelson commented on #1618
Thanks for integrating the patch. I tried a few approaches to automated testing for it which inevitably involved external libraries or toolkits, leading to various dependency resolution dilemmas. If I can ever come up for air in my day job, I will get a snapshot and run through a few obvious scenarios as a basic sanity test.

[2018-10-29 03:33] sathishbabu96 commented on #1752
@webknjaz Thanks for your reply. Can you show me an example of how to enable the Rate Limit Tool? I am having trouble enabling it!.

[2018-11-04 22:33] webknjaz commented on #1618
@Safihre that issue is about setting up some minimum TLS testing at all. It's not specific to the current one.

[2018-11-04 22:39] webknjaz commented on #1618
@msinn probably because everyone forgot about it :) Feel free to send a PR!

[2018-11-04 22:45] webknjaz commented on #1618
@Safihre
P.S. it should be reproducible by connecting to HTTPS-port via HTTP :)

[2018-11-05 08:36] webknjaz commented on #1618
Hey @len-samuelson @Safihre @msinn,

So I've pushed a bit more granular version of that patch. It looks like Python 3.7's ssl module handles this because it only supports 1.1, but older versions supported 1.0 and probably didn't fully cover errors of 1.1.

[2018-11-05 08:36] #1618 closed, assigned to webknjaz

[2018-11-05 17:28] jaraco commented on #1747
I agree - would be good to fix this.

[2018-11-06 20:41] mattdodge commented on #1618
Am I not understanding the cause of this issue correctly or should this be an `or` instead of an `and` on this line?
https://github.com/cherrypy/cheroot/blob/48dba8024f93a8627876f0398d7d5b9d9e39d535/cheroot/ssl/builtin.py#L163

It is my understanding that if you're running Python <3.7 but OpenSSL 1.1 then you will get the weird 0 error code. So if you have 3.7 (which requires OpenSSL 1.1+ anyway)

[2018-11-08 04:31] sathishbabu96 commented on #1752
I found a way on how to enable the Rate Limiting tool. Here's the code

[code]

The `limit` variable is for the no of requests and the `reset_delay` for the reset time for the user.
You can define this in one file and create an object of the RateLimitTool class.

`cherrypy.tools.rate = RateLimit.RateLimitTool()`

You can then use it as a decorator.

`@cherrypy.tools.rate()`

[2018-11-08 04:34] #1752 closed, assigned to nobody

[2018-11-10 17:25] webknjaz commented on #1618
Oh, sorry. It looks like I messed up :)

P.S. Kind reminder: it is always better to send a PR rather than post things in the closed issue where comments may be left unnoticed for various reasons.

[2018-11-10 18:41] webknjaz commented on #1618
Should be fine now. I've changed `below 1.1` with `above 1.0`.

[2018-11-12 18:05] mattdodge commented on #1618
Perfect, thanks a lot!

[2018-11-21 23:22] ian-otto opened #1758 "wspbus.py wait() calls publish during the wait cycle"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

I'm reporting a bug.

**What is the current behavior?**

CherryPy server started through `wspbus` consumes 100% of a core during idle. I resolved this by moving the publish line from within the while loop to after the

[2018-11-21 23:28] webknjaz commented on #1758
Sounds like a bug to me. Feel free to send a PR :)

[2018-11-22 18:28] ian-otto commented on #1698
I think its a bit unfair to leave the tests in this vuln scanner, obviously these won't be run in production, and they're just adding noise to actual security vulnerabilities.

[2018-11-23 17:18] webknjaz commented on #1698
And other things look mostly irrelevant...

[2018-12-02 09:52] ian-otto commented on #1749
I just had a look at your source repo, and it looks like somehow your `-` character got mangled in the process of copying over the source from the test page. I tried it out in my console and got this (left being from your repo, right from cherrypy's tests page):

[code]

Also, I tested this test on my machine and was unable to replicate your behavior, so I think this may have just been a copying e

[2018-12-06 00:04] webknjaz commented on #1749
yes, those have different char codes:
[code]

[2018-12-06 00:09] webknjaz commented on #1749
@crazcalm try `sed -i 's/‐/-/g' testing_example.py`. Dashes in your test module got corrupted somehow. Maybe it's macOS replacing things during copy-paste or smth like that.

[2018-12-06 00:09] #1749 closed, assigned to nobody

[2018-12-24 14:56] webknjaz commented on #1758
Fixed by #1759

[2018-12-24 14:56] #1758 closed, assigned to nobody

[2019-01-02 11:05] jvisu opened #1762 "Incorrect loglevel set in cherrypy/cherrypy/process/win32.py file"
Its looks like a trival issue. But want to inform you.

The loglevel set for class ConsoleCtrlHandler(plugins.SimplePlugin) is error for success case which I assume should be info or debug.

That is in class ConsoleCtrlHandler(plugins.SimplePlugin), start and stop method we have the below logs which are set to error.
start:
 self.bus.log('Set handler for console events.', level=40)
stop:
 self.bus

[2019-01-02 22:35] webknjaz commented on #1762
@jvisu can you confirm that it's still the case for a modern version of CherryPy? Is this reproducible under v18?

[2019-01-03 06:42] jvisu commented on #1762
Thanks webknjaz for the quick response.
Based on the code in github I can confirm the issue is in v18 also.
The code https://github.com/cherrypy/cherrypy/blob/v18.1.0/cherrypy/process/win32.py still sets the loglevel to 40 for successful case.

[2019-01-03 08:15] webknjaz commented on #1762
It's probably fine to follow the example of wspbus module and use `20`. Would you like to send a PR for that?

[2019-01-03 09:34] jvisu commented on #1762
Thanks webknjaz.
Will be using loglevel as 20 if needed.
Regarding providing pull request, I'm new to this group, I can create a request with code changes and no through test as I don't know the process how to test all use cases.
So did not create a request.
Created this trivial issue only to inform about the needed code changes.

[2019-01-03 09:35] webknjaz commented on #1762
It's fine if you create a PR without tests now :)

[2019-01-03 09:47] jvisu commented on #1762
Thanks webknjaz.
Create a pull request
https://github.com/cherrypy/cherrypy/pull/1763

[2019-01-03 09:47] webknjaz commented on #1762
Thanks @jvisu!

[2019-01-03 09:59] jvisu commented on #1762
Thanks webknjaz for the quick update.
I'm not sure about merging the request.
I assume merge will be done by the system/administrators once the test are done.
Do I have any action do be done now regarding pull request or issue closure. If yes, please let me know. I will do that.
Thanks again for  good support provided.

[2019-01-03 10:01] webknjaz commented on #1762
Don't worry, I'll merge it. Test failures are not related to your change :)

[2019-01-03 10:01] #1762 closed, assigned to nobody

[2019-01-09 22:16] jaraco opened #1764 "Under load, some responses only return after 10 seconds"
Similar to what was reported in #1344 and possibly related to #1205, if I create a ["hello world" CherryPy server,](https://gist.github.com/dff4968715f64a2dae4fa8541670930b) and run [hey](https://github.com/rakyll/hey) against it, I see many requests complete [only after the 10 second socket timeout](https://gist.github.com/d00b898face139a6ee85c7535f424af5).

[code]

[2019-01-09 22:33] jaraco commented on #1764
I notice also that the majority of those requests (141) took 1s to complete, but one returned in a few milliseconds.

[2019-01-09 22:53] jaraco commented on #1764
I get [comparable results](https://gist.github.com/b2e302a4e8a6447d1aeaf416153bca03) on macOS 10.14.2 and Python 3.7.2.

[2019-01-10 12:15] lbolla commented on #1764
It looks like if the number of concurrent requests is strictly greater than `server.thread_pool`, then the problem emerges. But note that passing `Connection: close` makes the problem disappear.

[2019-01-10 19:54] lbolla commented on #1764
So, using `-disable-keepalive` or `-H 'Connection: close` in `hey` does not trigger the problem.
I pinpointed where those requests get stuck: it's in `cheroot.server`: https://github.com/cherrypy/cheroot/blob/master/cheroot/server.py#L302

What is happening is that CherryPy keeps reading from the socket (which is left open, because HTTP/1.1 is keep-alive by default): after the socket_timeout (10s)

[2019-01-10 20:07] lbolla commented on #1764
Oh, I just realized that the 10s problem happens because the socket is "blocking". One can set it to non-blocking by specifying a "socket_timeout: 0": https://docs.python.org/3.7/library/socket.html?highlight=socket#socket.socket.setblocking

Indeed, this script does not present the problem, even when `hey` is used with its default, keep-alive, setting:
[code]

See `hey` histogram, nicely Gaussian

[2019-01-10 21:45] webknjaz commented on #1764
This seems related: https://github.com/cherrypy/cheroot/issues/20#issuecomment-377032315

[2019-01-10 21:46] webknjaz commented on #1764
And https://github.com/cherrypy/cheroot/issues/91 + https://github.com/cherrypy/cheroot/pull/117

[2019-01-10 21:48] webknjaz commented on #1764
Oh, and @duper51 wanted to work on those.

[2019-01-11 03:27] ian-otto commented on #1764
I think the creator of those pulls would be more likely to know about that, I'm mostly fixing up the RFC compliance of the parser, that's a bit more low level than what I was working with.

[2019-01-14 20:31] Lawouach commented on #1618
Hey folks,

Im still seeing this issue with Python 3.7.1, openssl 1.1.0g, CherryPy 18.1.0 and cheroot 6.5.4

[code]

Is that expected?

- Sylvain

[2019-01-14 21:13] webknjaz commented on #1618
@Lawouach it's probably a bug. You should file an issue under Cheroot I guess and let's try to come up with a reproducer because it doesn't fail in CI. How did you check openssl version btw? What about earlier versions? I've done a massive TLS refactoring (and still doing it), can it be a regression?

[2019-01-14 21:14] webknjaz commented on #1618
And what about 3.7.2?

[2019-01-14 21:18] Lawouach commented on #1618
I haven't had the chance to update on my local machine.

For the openssl version:

[code]
[code]

Today, I was actually setting a simple local CA using mkcert as per http://woile.github.io/posts/local-https-development-in-python-with-mkcert/

[2019-01-14 21:20] webknjaz commented on #1618
@Lawouach is that for testing? I've migrated Cheroot to [`trustme`](https://trustme.readthedocs.io/en/latest/) and it's pretty amazing!
https://github.com/cherrypy/cheroot/blob/d179b71c9a8c43d2595b6a892f41f44ccfd72bb4/cheroot/test/test_ssl.py

[2019-01-14 21:22] webknjaz commented on #1618
Here's how you identify which version stdlib ssl module is linked against:
[code]

[2019-01-14 21:23] Lawouach commented on #1618
Here is the output:

[code]

Thank you a lot for trustme. I wasn't aware of it and it is indeed for testing.

[2019-01-14 21:25] webknjaz commented on #1618
Could you please verify that Cheroot tests pass on your machine? It looks like depending on env combo some bits of `ssl` fail sometimes but I'm trying to be granular about the things I suppress.

[2019-01-14 21:34] Lawouach commented on #1618
All tests in cheroot master do pass fine indeed.

[2019-01-14 21:35] webknjaz commented on #1618
So maybe it's a misconfiguration in `mkcert`?

[2019-01-14 21:37] webknjaz commented on #1618
P.S. Here's a collection of TLS related testing tools I've found earlier while researching TLS: https://github.com/cherrypy/cheroot/issues/95

[2019-01-14 21:41] webknjaz commented on #1618
@Lawouach oh and does it happen when you start CherryPy app but before you try sending any requests? It might be the checker thing which effectively punches port over HTTP to see that it's alive.

[2019-01-25 16:37] Safihre opened #1766 "Wrongly decoding uploaded filenames"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
Finally, we at SABnzbd are converting to Python 3!
I thought this would solve an issue that we had for a long time, that I attributed to Python 2.7:
Maybe it is the same problem as @ngrilly in #1726, but when I upload [

[2019-01-28 17:46] ian-otto commented on #1726
After looking at the previous PR, it looks like less is more here. We might want to just swap the instances of US-ASCII to UTF-8 instead.

[2019-01-29 17:10] ngrilly commented on #1726
Swap the instances of US-ASCII **and ISO-8859-1** to UTF-8.

[2019-01-29 20:41] webknjaz commented on #1766
Is it Windows-specific? Could you please send a PR with a test triggering this?

[2019-01-29 20:45] webknjaz commented on #1726
I wouldn't say that blindly swapping encoding everywhere is safe.

[2019-01-29 20:45] webknjaz commented on #1766
Possible reproducer: https://github.com/cherrypy/cherrypy/pull/1434/files#diff-d8e96680529ae6d52d1183209f09bef1R301

[2019-01-29 20:51] Safihre commented on #1766
You are right, it's not just Windows I can also reproduce it on my Ubuntu 18.04 VM with latest available Firefox and Chrome.

[2019-01-29 20:56] Safihre commented on #1766
Not sure how to reproduce in a pretty test. I checked on Windows and Ubuntu, both browsers show:
[code]
Not sure how this then translates in the request that CherryPy processes.

But with this info, you should be able to easily reproduce locally?

[2019-01-29 22:15] ddaanet commented on #1726
I just hit this issue too, and came up with the same application fix.

When guessing between utf-8 and iso-8859-1, the pragmatic thing to do is always trying to decode utf-8, then if that fails, decode iso-8859-1.

This issue actually matters mainly for the Content-Disposition header, _aka_ uploaded file names.

AFAIK There is no real-world file name that is valid utf-8 but should be decoded as is

[2019-01-30 08:42] ngrilly commented on #1726
Some valid ISO-8859-1 sequences can be mistakenly decoded as UTF-8, but it's extremely unusual.

If you choose one byte between C0 and DF (À, Á, Â, Ã, Ä, Å, Æ, Ç, È, É, Ê, Ë, Ì, Í, Î, Ï, Ð, Ñ, Ò, Ó, Ô, Õ, Ö, ×, Ø, Ù, Ú, Û, Ü, Ý, Þ, ß) then one byte between A0 and B9 (NBSP, ¡, ¢, £, ¤, ¥, ¦, §, ¨, ©, ª, «, ¬, -, ®, ¯, °, ±, ², ³, ´, µ, ¶, ·, ¸, ¹, º, », ¼, ½, ¾, ¿), then you get a valid ISO-8859-1

[2019-01-30 09:16] Safihre commented on #1766
I can confirm that https://github.com/cherrypy/cherrypy/pull/1434/files#diff-d8e96680529ae6d52d1183209f09bef1R301 is the reproducer.
The filename in this issue would be `\u4f60\u597d\u4e16\u754c`.

[2019-01-31 07:14] saobao913 commented on #1698
[cp.log](https://github.com/cherrypy/cherrypy/files/2816067/cp.log)

CherryPy-18.1.0

Test code pruned.

[main]	INFO	profile include tests: None
[main]	INFO	profile exclude tests: None
[main]	INFO	cli include tests: None
[main]	INFO	cli exclude tests: None
[main]	INFO	running on Python 3.6.7
54 [0.. 50.. ]
Run started:2019-01-31 07:11:33.047503

Test results:

   Severity: High   Confidence: High

[2019-01-31 13:15] ddaanet commented on #1726
Technically, any utf-8 bytestring is valid iso-8859-1.

I have a different point:
- This issue of header decoding matters mainly, if not only, for `Content-Disposition`, because it contains a user-supplied file name.
- Actual user-supplied file names that are valid utf-8 are never intended to be iso-8859-1. _Practicality beats purity_.

The expected encoding should be set in the request, where it

[2019-01-31 13:29] ngrilly commented on #1726
Agreed.

Agreed.

I was thinking of a user-supplied file name encoded in ISO-8859-1 in the Content-Disposition header, and which would be mistakenly decoded as UTF-8.

Currently, CherryPy decodes filenames in the Content-Disposition header as ISO-8859-1. The idea we're floating here is to try UTF-8 first and fallback to ISO-8859-1. As you wrote earlier, it should be backward compatible in most cas

[2019-02-01 15:50] ygbr opened #1767 "'SameSite' Cookie Attribute for Sessions tool"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
**feature**

**What is the current behavior?**

Currently we cannot set a SameSite session cookie on cherrypy using the sessions tool.

**What is the expected behavior?**

Ideally we should be able to set the samesite

[2019-02-03 18:38] hugflore opened #1768 "Cannot redirect to css folder from html page"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the problem. If you can, show us your code.**

**What is the expect

[2019-02-03 18:53] hugflore commented on #1768
Hi
I am newbie with cherrypy and I have a web site working in php and I am moving to cherrypy.
when I start app and open html.index page css redirection work, but when I go another page and had to go back 1 carpet cannot find css carpet.
My question do I miss something to set or how can I go back directories.
My directory
├───bootstrap
│   ├───css
│   ├───fonts
│   └───js
├───css
│   └───images
├─

[2019-02-05 03:07] hugflore commented on #1768
I just solved it, I mix folders

[2019-02-05 03:07] #1768 closed, assigned to nobody

[2019-02-07 11:18] webknjaz commented on #1698
If somebody has actual proposals on changing code, please send PRs.

[2019-02-07 14:28] Safihre commented on #1766
@webknjaz Any thoughts on this? I wouldn't mind contributing, but I'm a bit of a loss how the whole system comes together.

[2019-02-12 07:12] saobao913 commented on #1698
Further analysis ...

The following appears relevant only when running under mod_python

[code]

The following is a false alarm based on INADDR_ANY ...
[code]

Whoever calls cherrypy.start() with non-empty 'imports' needs to be careful.

[code]

HTTP DIGEST RFC 2069 and cohorts

[code]

Should override as needed.

[code]

A concern for python dialects which don't have ast package.

[code]

Could b

[2019-02-12 07:25] saobao913 commented on #1698
cherrypy itself appears to be carefully written code.

:thumbsup:

[2019-02-20 21:11] ddaanet opened #1770 "HookMap.run swallows tracebacks"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

`HookMap.run` does not preserve traceback information when passing an exception.

If the exception is not `HTTPError`, `HTTPRedirect`, `InternalRedirect`, `KeyboardInte

[2019-02-20 21:13] ddaanet commented on #1770
By the way, it would be nice to backport this to the 17 line. I understand it is not a security issue, but seriously...

[2019-02-26 13:35] Arvedui opened #1772 "Strange behavior when script_name does not start with /"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
cherrypy returns 404 instead of the requested page.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the proble

[2019-02-26 15:50] webknjaz commented on #1772
Hi @Arvedui,

Thanks for the report! We'll gladly accept any PRs improving this :)

[2019-02-26 21:31] Safihre commented on #1618
@webknjaz This error is still there, also on Python 3.7 using default Python Windows installer.

https://bugs.python.org/issue31122

I did a `pip install cherrypy -U`, just to be sure.

[code]

[2019-02-27 15:29] pawciobiel commented on #1766
I have the same problem on both python 27 cherrypy 17.4.1 and python3.7 cherrypy 18.1.0
It looks like filenames are not properly decoded into unicode (str in py3) object.
Fields from multipart/form-data are decoded correctly.
[code]

[code]

[2019-02-27 15:58] pawciobiel commented on #1766
@Safihre you can workaround the problem by using client which will use Content-Disposition percent-encoding and character encoding:
[code]

Sadly this won't work for basic multipart form file upload.

[2019-02-27 19:56] Safihre commented on #1618
Anyone reading this, the fix for now is:
[code]
Before
[code]

[2019-03-13 15:28] xiazhibin opened #1773 "multi background task shared the global sqlalchemy session"
Since cherrypy is an Multi-Threaded Application Server , I have multi background tasks to sync data from outside. And all of them shared the global SQLAlchemy session. That is not thread safe.But I have no idea to deal with this situation.

In request,I can hook the SQLAlchemy session into `cherrypy.request.db`.  [Here](https://bitbucket.org/Lawouach/cherrypy-recipes/src/tip/web/database/sql_alche

[2019-04-08 09:20] webknjaz commented on #1773
@xiazhibin I believe you should be able to do it like in this line https://bitbucket.org/Lawouach/cherrypy-recipes/src/1a27059966e962be52b2abd91e9709c3ee63cf2d/web/database/sql_alchemy/satool.py?at=default&fileviewer=file-view-default#satool.py-35

[2019-04-08 09:20] webknjaz commented on #1773
cc @Lawouach

[2019-04-08 13:31] Lawouach commented on #1773
A blast from the past.

Honestly, I haven't looked there for a very a long time so this is off the top of my head.
scoped_session in SA are per thread so I'm not sure what the difficulty is here? @xiazhibin, could you please clarify your question/use case?

[2019-04-14 12:38] #1773 closed, assigned to nobody

[2019-05-02 17:26] jrxpert opened #1776 "Cherrypy doesn`t encode UTF-8 filename in HTTP header "Content-Disposition" and returns "download" browser default filename instead."
**I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
cherrypy.lib.static.serve_file() method sets wrong "Content-Disposition" and doesn't encode UTF-8 filename properly. It causes error with browser suggested filename - whe

[2019-05-10 00:41] mcow opened #1778 "CherryPy splits queries on semicolon rather than ampersand"
As best as I can tell, a query string with parameters is supposed to [separate those parameters using `&` (ampersand)](https://www.w3.org/TR/2014/REC-html5-20141028/forms.html#url-encoded-form-data) (W3C 2014 TR; see **decode** algorithm step ~~4.3~~1), but CherryPy splits on semicolon. (EDIT: fixed pointer to relevant TR statement.)

I ran into this because the original version of my server was w

[2019-05-13 16:04] ralhei opened #1779 "Potential race conditions in FileSessions due to deletion of lock files"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**What is the current behavior?**
In the current implementation (using zc.lockfile) and removing the lockfile in lib/sessions.py it is possible that two processes/threads obtain a lock on the identical session lock file. This of course can lead to problems when one thread/proc

[2019-05-26 17:04] webknjaz commented on #1779
@ralhei hi, do you have any ideas on how to improve this? We've seen some issues with this but haven't figured it out yet. So any help is welcome :)

[2019-05-26 17:26] webknjaz commented on #1779
Related stuff: #1729/#1705/#1540/#1534/#1306/#1193.

[2019-05-26 17:29] webknjaz commented on #1778
Hey, could you please provide a more complete reproducible example? We're missing some context here.

[2019-05-27 10:33] ralhei commented on #1779
As I've tried to explain the issue above the basic problem with the posix-locking is due to the fact that lockfiles get removed after the session has been closed. This behavior opens the door for one process/task having an open file handle to a non-longer-existing file, while another process/thread recreates this locking file and locks it a 2nd time.

I see to possible solutions:
1. **We don't rem

[2019-05-27 17:11] mcow commented on #1778
I can try; not sure what is sufficient here. My web application is a single-page, AJAXy controller. The web page JS sends some queries with parameters to the server's `dyno` page. When I first wrote the server, using CherryPy, what I found worked was a query issued via jQuery such as:

`$.getJSON("dyno/list?delete=42;hash=loremipsum", (resp)=>{...});`

Note the semicolon separating the `delete` pa

[2019-05-31 13:28] mcepl opened #1781 "After the python3 fix for CVE-2019-9740 test_null_bytes fails"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When running the testsuite StaticTest.test_null_bytes fails with:
[code]
Throwing an exception here is actually completely correct behavior after fixing https://github.com/python/c

[2019-06-02 15:42] suheb commented on #1779
@webknjaz @ralhei I would like to work on fixing this if you haven't started already.

[2019-06-03 09:48] ralhei commented on #1779
Fine for me. I haven't started to work on it because I first wanted to get some feedback from core dev about what the best solution would be. But maybe a pull request could make things more concrete.

[2019-06-04 20:32] webknjaz commented on #1779
A PR would be very welcome!

[2019-06-05 08:15] suheb commented on #1779
Great, I'll start working on this tonight.

[2019-06-18 07:31] ankush981 commented on #1778
@webknjaz Hello, random dev interested in CheryPy here. Don't tell me CherryPy can't handle query strings with the `&` character!! :astonished: Surely this is some other issue here, right?

[2019-06-18 09:10] webknjaz commented on #1778
@ankush981 Everything works.
This topic is about submitting forms which use `application/x-www-form-urlencoded`, not normal URL params in queries.

@mcow I think that the most robust way of using forms in `multipart/form-data` anyway. But if you want to improve the support of `urlencoded`, PRs are welcome.

[2019-06-18 09:13] webknjaz commented on #1778
Also, jQuery thing doesn't look right. Ampersand in normal raw query-params works. So maybe you're confusing what you're actually sending there. Anyway. We need a complete reproducer. And better remove all JS and show queries with `curl`.

[2019-06-18 09:17] webknjaz commented on #1778
It may also be useful to show an asciinema recording of what you do actually and what happens.

[2019-06-18 09:20] webknjaz commented on #1778
Parser for the request line uses `urllib.parse`: https://github.com/cherrypy/cheroot/blob/7558014/cheroot/server.py#L819.

[2019-06-18 15:53] mcow commented on #1778
@webknjaz no, not gonna do that. Not interested in even googling to find out what "asciinema" is. If you don't care, I don't care: I have a solution that works, and it's not CherryPy.

[2019-06-18 15:53] #1778 closed, assigned to nobody

[2019-06-18 15:55] webknjaz commented on #1778
I do care, but since you didn't provide a way to reproduce this and ways I know work there nothing actionable here.

[2019-06-18 19:59] ankush981 opened #1782 "Question: Possible to use an interactive shell?"
Hello, I was wondering what it'd take to set up and run an interactive shell for CherryPy, just like we have the `manage.py` shell in Django. I'm a little surprised there aren't any issues/tutorials/StackOverflow discussions for it.

Can something like this be done easily? Is it even possible?

[2019-06-19 00:10] webknjaz commented on #1782
It's is not needed for this framework. You can write your own if you want.
Django is a huge monster with one enforced way to do things.
CherryPy is a microframework, which means it doesn't try to limit how you use it or which other tools you integrate into your project, this also means that you have great flexibility.

[2019-06-19 00:42] ankush981 commented on #1782
I'm sorry but I don't see how a shell limits flexibility or forces a particular way of thinking. Please note that I'm not talking about developing a script similar to `manage.py` but a sort of console (similar to what we see after launching Django's interactive shell). I think it'd be nice to be able to access the framework instance and play around through an interactive Python interpreter. This p

[2019-06-19 09:05] webknjaz commented on #1782
there's no such thing as models or anything else enforced. you choose and configure everything as you want. there's nothing called an instance of a framework.
and there's nothing to manage like that.

I think you're missing the point of microframeworks. You have to go through the tutorial to understand better.

You can use normal Python REPL or IPython or anything similar and import things to play

[2019-06-19 15:02] ankush981 commented on #1782
Okay, never mind. :slightly_smiling_face:

[2019-06-19 15:02] #1782 closed, assigned to nobody

[2019-06-20 21:34] ian-otto commented on #1781
Just tried on latest Cheroot and CherryPy, as well as the versions you have specified and I'm not seeing the same effect. That test passed on my machine. What version of urllib are you running?

[2019-06-21 12:32] mcepl commented on #1781
From the already attached build log:
[code]

[2019-06-21 15:09] webknjaz commented on #1781
This is not because of the urllib or urllib3.

CPython upstream has patched [`http.client.HTTPConnection.putrequest()`](https://docs.python.org/3/library/http.client.html#http.client.HTTPConnection.putrequest): https://github.com/python/cpython/blob/08970cb03c61f62f4f69e7769d0075fa66bb86aa/Lib/http/client.py#L1092-L1095.
This is what our test hit.

The test tries to inject a know malicious sequenc

[2019-06-21 15:54] webknjaz commented on #1781
OTOH, this test (submitted by @diogobaeder) is probably incorrect and the server should produce `400`, not `404`. Only ASCII should be allowed in the Request-Line, anything else must be URL-encoded.

[2019-06-21 18:53] diogobaeder commented on #1781
Hi guys,

@webknjaz I'm curious, what test did I submitted that was incorrect? I couldn't find that in git blame from the test above...

Thanks!

[2019-06-21 20:32] webknjaz commented on #1781
@diogobaeder this one: https://github.com/cherrypy/cherrypy/blame/0f8523c/cherrypy/test/test_static.py#L400-L402

[2019-06-21 21:32] diogobaeder commented on #1781
Ah, got it... thanks!

Yeah, indeed, thinking again `400` seems more sensible to me. Thanks for catching that!

Cheers,
Diogo

[2019-06-22 08:24] ghost opened #1783 "Use the request Host header in responses"
**I'm submitting a ...**
- [x] question about the decisions made in the repository
- [x] possible feature request

**What is the current behavior?**

I have CherryPy 8.9.1 running behind a Caddy webserver. The Caddy webserver is proxying requests from http://10.1.1.2/energy to http://localhost:8201/energy.
I understand *why* I'm getting a 301 here, but I would prefer to be able to set the site hos

[2019-06-22 22:43] webknjaz commented on #1509
@Safihre is this still happening with the newest Cheroot? (master)

[2019-06-23 07:49] ghost commented on #1783
Wow, I didn't realise how out of date cherrypy was in Ubuntu - can confirm it still happens in 18.1.1 and with a proper hostname instead of an IP (i.e. Host: my.site is still ignored)

[2019-06-23 08:40] ghost commented on #1783
Apologies - this was caused by *Caddy* rewriting the host header due to a missing `transparent` proxy declaration.

[2019-06-23 08:40] #1783 closed, assigned to nobody

[2019-06-23 09:46] Safihre commented on #1509
Well, yes and no. We are back to this one:
[code]

[2019-06-23 09:47] webknjaz commented on #1509
@Safihre even with the latest urllib3?

[2019-06-23 09:52] Safihre commented on #1509
This is when I connect using Chrome and Firefox with a self-signed certificate on the server.

[2019-06-23 10:06] Safihre commented on #1509
Seems like another one to add to the [`_block_errors`](https://github.com/cherrypy/cheroot/blob/master/cheroot/ssl/builtin.py#L130)?

[2019-06-23 13:09] webknjaz commented on #1509
@Safihre not exactly. According to the traceback you posted this exception happens on the later stage (after the TLS handshake), so changing this variable won't change anything.
We likely need another try/except in another place.

I assume your example uses TLS 1.3 which allows a post-handshake certificate validation. One of the instances of this problem is described @ https://github.com/urllib3/u

[2019-06-23 13:24] webknjaz commented on #1781
FTR here's an instance of this error in the CI: https://travis-ci.org/cherrypy/cherrypy/jobs/549122435#L558

[2019-06-23 15:20] webknjaz commented on #1781
I opened https://github.com/cherrypy/cheroot/issues/208 to address this on the HTTP level.

[2019-06-23 19:41] suheb commented on #1779
@webknjaz @ralhei I have the PR up for this. Sorry, it took a while as I went on holidays. I use the first approach suggested by @ralhei where we do not remove lock files when the session is cleared. Would love your thoughts on it.

[2019-06-23 19:42] Safihre commented on #1509
Agreed, sounds good! 👍

[2019-06-23 19:42] #1509 closed, assigned to Safihre

[2019-06-23 19:48] webknjaz commented on #1509
@Safihre: https://github.com/cherrypy/cheroot/issues/209

[2019-06-25 12:31] iconberg opened #1788 "Re-spawning fails if cherrypy started from IDLE (commandline do)"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
BUG: Re-spawning fails if cherrypy detects an change on an imported module

**What is the current behavior?**
If an imported module is changed and the server is started from IDLE this happen:

[code]

Restarting from ID

[2019-06-25 14:06] jaraco commented on #1779
To some extent, I wish this issue were addressed upstream in zc.lockfile. If there's a race condition present when a lock file is deleted, and not deleting the file is the recommended approach, that should be documented upstream to prevent other consumers from making this mistake and formalizing the solution (don't delete lock files or defer deletion).

If instead the zc.lockfile considers this is

[2019-06-25 14:09] jaraco commented on #1779
Is this a duplicate of #1391?

[2019-06-25 14:11] jaraco commented on #1779
Yes, I think it is.

[2019-06-25 14:11] #1779 closed, assigned to nobody

[2019-06-25 14:11] webknjaz commented on #1779
Probably

[2019-06-25 23:49] webknjaz commented on #1788
I believe it's another caveat of Windows. It's quite hard to identify what the command line args were in such env. There's nothing we can do about it. It's probably one of the corner cases. Honestly, I think you're the first person in 10 years that I see using IDLE for development. Everybody else seems to use a proper terminal emulator :)

P.S. Plz don't upload archives, nobody downloads that. Jus

[2019-06-25 23:52] webknjaz commented on #1788
But if you figure it out, feel free to send a PR :) None of the Core Devs uses/has access to Windows env.

[2019-06-28 09:17] Adilet92 opened #1790 "Trouble with URL containing "+" sign."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

Hello!
I want to decode the input parameter to image, but created image is incorrect. I found, when encoding input parameter, "+" sign encoded as " " (blank space). My input parameter - encode base64 of image as string. My actions:
1. Encode the string to bytes.
2. Decode them

[2019-06-28 10:22] webknjaz commented on #1790
Hi, from the HTTP point of view you must percent-encode values in query params. For example, `+` is `%2B`.

https://en.wikipedia.org/wiki/Percent-encoding

[2019-06-28 10:22] #1790 closed, assigned to nobody

[2019-06-28 10:23] webknjaz commented on #1790
P.S. You really should just send multipart/form-data payload using POST, the length of query-params is usually quite limited.

[2019-07-02 20:42] jaraco commented on #1781
Until this issue can be resolved properly, it's breaking CI for unrelated pull requests. Therefore, I'm going to mark `nightly` as allowed-failure to unblock other activity.

[2019-07-18 09:56] alnikolaj opened #1792 "cherrypy.process.wspbus.ChannelFailures: Timeout('Port 7077 not free on 0.0.0.0.',)"
**I'm submitting a ...**
- [ ] bug report

**Do you want to request a *feature* or report a *bug*?**
The following Bug:
[code]
**What is the current behavior?**
I have created a website with CherryPy and Mako running with NGINX. But, whenever I start my CherryPy script it says `cherrypy.process.wspbus.ChannelFailures: Timeout('Port 8080 not free on 127.0.0.1.',)`. Although I have to say that the s

[2019-07-18 11:16] webknjaz commented on #1792
Any reproducer? I have no idea what you're running.

[2019-07-18 11:52] alnikolaj commented on #1792
Hey webknjaz,

thanks for the reply! I am rather a novice with CherryPy and in general with WebFrameworks. Therefore, I will say sorry in advance for my inexperience and be straight forward saying I do not know how to provide you with a reproducer?

To explain a bit more what I did: I have this issue "cherrypy.process.wspbus.ChannelFailures: Timeout('Port 7077 not free on 0.0.0.0.',)" with my exis

[2019-07-18 12:00] webknjaz commented on #1792
Yes, multiple applications normally cannot listen to the same port. The kernel only allocates that port to one process and unless you shut it down another process cannot start listening to it.
Also, I'd like to point out that `python3 test.py &` is not a good way of keeping the server running. You should probably wrap it into a systemd unit and use like any other system service (via systemctl).

A

[2019-07-18 12:30] alnikolaj commented on #1792
Thanks for the reply!

Ok, I did not know that python3 test.py & is not a good way. Ok, I will check and figure out to do your suggestion with the systemd. Do you might an indication where I could find out how do it with CherryPy? (if not, no problem - I will use the power of Google!)

Till then (first I have to see how to it with the systemd), please find below the recording:

https://asciinema.o

[2019-07-18 12:52] webknjaz commented on #1792
https://www.digitalocean.com/community/tutorials/how-to-use-systemctl-to-manage-systemd-services-and-units

[2019-07-18 12:54] webknjaz commented on #1792
Watching your recording: `kill -9` is a bad practice. Usually, SIGTERM is enough. SIGKILL doesn't give the process any chance to gracefully complete whatever it was doing before exiting which may lead do half-complete operations and things that script should do correctly before closing.

[2019-07-18 12:57] webknjaz commented on #1792
`&` puts the process in "background" but it's still bound to your current terminal. I'll get terminated as soon as you close the terminal. Systemd units or similar will take care of this by spawning proper daemons which aren't connected to your terminal session. You'll also get logs in `journalctl` this way.

[2019-07-18 12:58] webknjaz commented on #1792
So after watching the whole recording, I can confirm that you are trying to listen to the same port with multiple processes which won't work.

[2019-07-18 13:07] alnikolaj commented on #1792
Dear webknjaz,

I am absolutely grateful for your help!

As it seems, this is rather my stupidity and inexperience rather than a CherryPy bug. Just to understand it correctly, since I re-start my Python script, test.py, basically interferes with itself causing the error message to pop-up, correct? Because netstat does not show any other process listening to that specific port?

Thank you so much a

[2019-07-18 14:01] webknjaz commented on #1792
Yes, that's right. You can also type `jobs` command to see scripts you spawned with `&` and also you can use `fg` to attach the last one back to the foreground in which mode `Ctrl+C` will also work (emitting SIGINT) as a hotkey to initialize the app termination.

[2019-07-19 00:12] webknjaz commented on #1792
Closing the issue now because it's now a bug :)

[2019-07-19 00:12] #1792 closed, assigned to nobody

[2019-07-19 11:43] iconberg commented on #1788
Tried pycharm, it seems to work until i put a print or pprint for debugging issues in the code.
Than the code is restarted if i change a imported module,  but it goes on an error.
Could this a timing problem, if cherrypy.session is not ready fast enough?

[code]

[2019-07-19 13:45] webknjaz commented on #1788
I'm not sure it's related to the reload. Autoreloader kinda replaces the process. But I don't know how this works on Windows as it doesn't have `exec` syscall.

I would assume that the stdout stream is still bound to the old process or smth like this. But I don't have a windows machine to debug this issue.

Would you be able to write a test which would demonstrate the problem in AppVeyor?

[2019-07-28 20:58] webknjaz opened #1797 "Clean up Sphinx build warnings"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository
- [x] docs infra improvement

**Do you want to request a *feature* or report a *bug*?**

N/A

**What is the current behavior?**

there's warnings

**If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the problem. If

[2019-08-07 09:28] iconberg commented on #1788
I tried pycharm as IDE, the same problem occurs. It cannot restart and leaves a zombie python task not connected to the IDE anymore.

Maybe another expierenced user can see the cause, here is my code to reproduce this behavior,
start the crashtest.py from IDE and change the changelib.py (add or delete a pass), the autoreloader fails leaving a zombie task.

crashtest.py:
[code]

changelib.py:
[code

[2019-08-07 09:40] iconberg commented on #1788
Sorry, was on holidy and didnt see that message on my leaved open browser on my remote machine for it.
I dont know AppVeyor, i take a look at it.

added:
I cannot install an appveyor server here. You need an running windows system with the running project on it to examine the problem, right?
Let me some time, i guess i can organize and install an win somewhere in a cloud.

[2019-08-07 19:08] webknjaz commented on #1788
You don't need to install the CI itself. We already have it integrated. You just need to add tests.

[2019-08-07 19:16] webknjaz commented on #1788
The second reproducer you posted seems different. Is it the same problem?

[2019-08-10 20:37] stemoser opened #1798 "CherryPy and pytest fixtures in tests' class"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
I think is a sort of "bug", but I'm not sure to understand what's the intended behaviour.

**What is the current behavior?**
When I run a test method with pytest inside a test class to group different tests together, th

[2019-08-10 20:48] stemoser opened #1799 "CherryPy - Pytest hangs with default "interactive" mode"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
A "feature" request, mostly for the documentation rather than for the actual code of Cherrypy.

**What is the current behavior?**
Running Cherrypy helper.CPWebCase tests hangs on failed assertions due to interactive mod

[2019-08-10 22:07] webknjaz commented on #1798
I believe that the problem is that `CPWebCase` inherits `unittest.TestCase` which doesn't play well with pytest (https://docs.pytest.org/en/latest/unittest.html#mixing-fixtures). I suggest you try https://pyriform.readthedocs.io/en/latest/ with pytest-native test functions.

[2019-08-10 22:12] webknjaz commented on #1799
It works like this for historical reasons and was implemented before the current maintainers were in charge.
Honestly, I want to refactor it to follow the pytest best practices.

P.S. If you run `pytest -s` it'll not crash.

[2019-08-12 08:20] stemoser commented on #1798
@webknjaz, thanks for the links. In fact pytest clearly states that normal fixtures do not work correctly in unittest.TestCase derived classes.
I think that this expected behaviour should be added somewhere in the documentation, don't you agree?

[2019-08-12 08:26] stemoser commented on #1799
Thanks, @webknjaz.

I'm running the tests inside PyCharm, I think I have to work with the options to run with the "-s" switch or simply stick to what I've actually implemented (a base class for all my tests that derives from CPWebCase and sets the "interactive" flag to "False").

In any case I think I will go for a pytest-only approach in the future, skipping CPWebCase completely.

I see that the

[2019-08-12 10:55] webknjaz commented on #1799
Feel free to send a PR against https://github.com/cherrypy/cherrypy/blob/87375aa/docs/advanced.rst#L586-L652 with your suggestions :)

[2019-08-12 10:58] webknjaz commented on #1798
Yes, that would be nice to add a note. I think that earlier versions of pytest partially supported fixtures but then it got dropped. Feel free to send a docs PR to mention this.

[2019-08-12 10:59] stemoser commented on #1799
Ok! Not sure when, but I will try to do it. :)

[2019-08-12 11:00] stemoser commented on #1798
Ok, give me some days, just to have the time to do it. 👍

[2019-08-12 11:01] webknjaz commented on #1799
Thanks!

[2019-08-15 08:49] oleksiilv opened #1802 "Provide clear documentation or possibility (if does not exist yet) on usage of pem file with both certificate and private key file inside"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
*feature*

**What is the current behavior?**
not documented, unspecified.
It seems to work if we specify the following, but it is not clear whether it is recommended and works as expected:
[code]

or even just:
[code]

[2019-08-15 18:34] eshellman opened #1803 "RamSession clean_up() occasionally causes cleanup thread death"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Under heavy load (25K req/hr) and a large session cache (10K sessions), the `RamSession.clean_up()` method will occasionally (~1/week) raise a `RuntimeError` with the message "dict

[2019-08-15 18:54] webknjaz commented on #1802
Yeah, it's used like this even in tests too: https://github.com/cherrypy/cherrypy/blob/db0a8a6/cherrypy/test/helper.py#L435-L439

The code for TLS adapters is @ https://github.com/cherrypy/cheroot/tree/e03c3f5d362a7ac5d2517aabbc7b60b10fd83d1d/cheroot/ssl. CherryPy mostly just maps config values to their initializers.

If you have ideas on the docs improvements, feel free to send a PR against https

[2019-08-15 19:29] webknjaz commented on #1803
Thanks for the report @eshellman!

[2019-08-15 19:38] eshellman commented on #1803
let me know if there is other relevant info I can provide.

[2019-08-15 19:40] webknjaz commented on #1803
This looks quite comprehensive but I disagree with the conclusions. I'll comment on the PR :)

[2019-08-15 20:21] webknjaz opened #1805 "[TODO] Transform all unsafe dict items copying"
Inspired by https://github.com/cherrypy/cherrypy/pull/1804, I've found a few places which look like `list(some_dict.items())` which is supposed to create a copy of data. The problem is that in Python 3 `dict.items()` is a generator and, when race conditions occur, it raises `RuntimeError: dictionary changed size during iteration`.

It looks like, if we transform all of the places to `list(some_dic

[2019-08-16 15:54] #1799 closed, assigned to nobody

[2019-08-16 16:13] #1798 closed, assigned to nobody

[2019-08-17 22:02] #1805 closed, assigned to webknjaz

[2019-08-17 22:02] #1803 closed, assigned to nobody

[2019-08-18 16:34] eshellman commented on #1805
Ah, so the behavior changed in Py3. That explains why we never saw the problem before we moved to Py3! Thanks for this improvement!

[2019-08-18 19:48] webknjaz commented on #1805
Yep :)

[2019-09-10 16:03] jaraco commented on #1770
FYI, for this bug or any that you would like to see in the 17 line, just target the PR at the `maint/17.x` branch, all commits which should be merged back into master.

[2019-09-13 14:14] jaraco commented on #1781
This issue also affects mac builds [like this one](https://travis-ci.org/cherrypy/cherrypy/jobs/584373317).

[2019-09-13 14:17] jaraco commented on #1781
There is an upstream [issue36274](https://bugs.python.org/issue36274) tracking this use-case.

[2019-09-13 17:08] tipabu commented on #1781
Well, a similar one, anyway :wink: When I'd originally written it, you could still send null bytes just fine, but not `b'\x80'`through `b'\xff'`

I'd love to see an upstream patch that accommodates both use-cases, though!

[2019-09-21 18:28] jaraco commented on #1781
In addition to the patch proposed by tipabu, I believe we may be able to work around this issue by re-writing the regex that intercepts these null bytes.

[2019-09-22 15:04] #1781 closed, assigned to nobody

[2019-09-29 00:19] further-i-go-less-i-know opened #1808 "SSL Errors - CherryPy Server - Version -> CherryPy==18.1.2"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
Report bug

**What is the current behavior?**
Server throws traceback errors regarding the SSL certificate. Please see a couple of these errors as follows:
[code]

**If the current behavior is a bug, please provide the

[2019-09-29 00:30] webknjaz commented on #1808
Is that the same traceback pasted twice?

[2019-09-29 00:32] further-i-go-less-i-know commented on #1808
In the logs the error appears like that. The error is thrown twice in other words. I did not paste it 2X. :)

[2019-09-29 00:33] webknjaz commented on #1808
I mean, there's one traceback in the other info section and behavior. Also, it looks like there's some duplicate text. Better paste the code here too.

[2019-09-29 00:34] webknjaz commented on #1808
Also, I don't see any process crash. It's just a traceback.

[2019-09-29 00:35] further-i-go-less-i-know commented on #1808
Oh, I posted the same 2 errors twice. 1 time in the "other information" section another time in the "what is the current behavior" section.

[2019-09-29 00:36] further-i-go-less-i-know commented on #1808
Yes, the application/process does not crash until about a week or so. The errors are thrown as shown though frequently.

[2019-09-29 00:38] webknjaz commented on #1808
So there's two separate problems:
1) the app crashing
2) some HTTP requests return 500 Internal Server Error

[2019-09-29 00:40] further-i-go-less-i-know commented on #1808
What about:
    3. The SSL traceback errors?

[2019-09-29 00:40] webknjaz commented on #1808
2. == 3.

[2019-09-29 00:43] further-i-go-less-i-know commented on #1808
500 errors are normally not seen until I try and restart the crashed app server with cron.

The SSL tracebacks are peppered throughout the error log but do not seem to impact the functionality. What I mean is there are not any 500 errors thrown from the SSL tracebacks or as a result of the SSL traceback errors. ^_^

[2019-09-29 00:47] webknjaz commented on #1808
I can assure you that those exceptions cause the web-server to return 500 Internal Server Error.

Also, the restart scenario doesn't seem to be related. If new 500s appear then, look for tracebacks from those requests.

[2019-09-29 00:55] further-i-go-less-i-know commented on #1808
Interesting. Okay. Thank-you for the help with this. I should probably read more in the documentation. :)

[2019-09-29 01:00] webknjaz commented on #1808
FTR https://stackoverflow.com/a/26632986/595220 / https://en.wikipedia.org/wiki/Transport_Layer_Security#Alert_protocol

[2019-09-29 01:03] webknjaz commented on #1808
Maybe this could be reproduced by not having a CA that issued the server cert in the client's chain of trust.

[2019-09-29 01:38] further-i-go-less-i-know commented on #1808
Not sure what that means. I used the certificate from my domain that "letsencrypt" produced. 0_o

[2019-09-29 01:40] further-i-go-less-i-know commented on #1808
Should I produce my own cert and private key for the application instead of using the domain's CA and PK? There is some helpful information on how to generate these in the cherrypy documentation at the following URL: https://docs.cherrypy.org/en/latest/deploy.html?highlight=ssl#ssl-support

[2019-09-30 22:24] micksulley opened #1809 "module 'cherrypy' has no attribute 'expose'"
I'm new to CherryPy so may have missed something.  All on Python3.
I installed on my desktop (Linux Mint) and ran the 'Hello World' example, opened browser on http://localhost:8080 and it works.
I installed on a Raspberry Pi (Buster) but when I run this code
[code]
this is what I see
[code]
What am I doing wrong?

[2019-10-01 00:53] xq2248 opened #1810 "[security question] How to close SSL renegotiation of cherrypy?"
Our security vulnerability scanning tool has reported TLS Client-initiated ([CVE-2011-1473](https://nvd.nist.gov/vuln/detail/CVE-2011-1473)) risk, which is generated by salt-api/cherrypy. The openssl version has been upgraded to openssl-1.0.2k-19. How to close TLS Renegotiation of salt-api/cherrypy?

[2019-10-01 16:16] webknjaz commented on #1810
This does not look like a CherryPy question. You should seek support in the upstream repo of the salt-api (which is an OpenStack project AFAIR).

Also, the low-level stuff is most likely controlled by the TLS implementation you use (which is one of: built-in `ssl` module which is shipped with Python stdlib or  pyOpenSSL). Each of those can be compiled against different OpenSSL/LibreSSL versions wh

[2019-10-01 18:33] webknjaz commented on #1810
So, if I'm reading this https://bugs.python.org/msg307891 correctly, if you upgrade to OpenSSL 1.1.1+, the issue will disappear. Also, you could try creating a custom SSLContext object and use https://docs.python.org/3/library/ssl.html#ssl.OP_NO_RENEGOTIATION there. Then, set this object in the `ssl.context` config option.
Other than that, I don't think that we can control it better on the framewo

[2019-10-01 18:33] #1810 closed, assigned to nobody

[2019-10-01 21:37] webknjaz commented on #1809
Two things:
1) you didn't fill in the template which would be helpful
2) you called your module `cherrypy.py` so it imports itself. Rename it and clean up all `__pycache__/*.pyc` files.

For more info, read about how imports work somewhere @ https://docs.python.org/3/.

[2019-10-01 21:37] #1809 closed, assigned to nobody

[2019-10-02 23:40] #1770 closed, assigned to nobody

[2019-10-04 09:34] aytey opened #1814 "Utilising Cython with CherryPy"
**I'm submitting a ...**
- [X] bug report
- [X] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

This is probably a feature request, but it could also be classed a bug in the current implementation.

**What is the current behavior?**

If you use Cython to convert certain Python code into executable machine code (e

[2019-10-07 06:52] Felix1963 opened #1815 "No module named zc.lockfile"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the problem. If you can, show us your code.**

**What is the expect

[2019-10-07 13:49] webknjaz commented on #1815
Since you didn't provide any details, I can only guess that you didn't use Pip or have it misconfigured so it didn't pull in the dependency.

[2019-10-07 13:49] #1815 closed, assigned to nobody

[2019-10-08 14:08] webknjaz commented on #1814
@andrewvaughanj thanks for the issue!

I'll mark it as a feature request as this is not something that we're testing against or promise to work.

I'm open to accepting a PR, given that it also supplies corresponding tests that would prevent future regressions.

What are the return values of `type(cython_func)` and `type(normal_func)`? Also, can we just extend `decoratable_types` variable to also l

[2019-10-08 14:11] aytey commented on #1814
Hi @webknjaz,

Thanks for taking a look!

If I wanted to add some tests for this, do you know how these would look? Is it reasonable that CherryPy's test-suite could be setup such that Cython is accessible? Can you provide any pointers?

I completely agree that a contribution without tests is worthless.

Cheers,

Andrew

[2019-10-08 17:29] webknjaz commented on #1814
I mean, I'd probably accept a contribution w/o tests but then it'd be fragile which would make me unhappy :)

As for tests, I'm not sure. You'd probably have to set up something custom. Maybe a file/folder (`.py`) under tests with a simple server and a fixture for pytest that'd cytonize it into a corresponding binary and emit two module variants that you'd import/run in the test func.

[2019-10-09 13:37] webknjaz commented on #1808
No, that's for self-signed certificates. I believe that some of your clients are sending you client certificates that you can't verify.

[2019-10-10 09:18] webknjaz commented on #1764
@jaraco is this still relevant after https://github.com/cherrypy/cheroot/pull/199?

[2019-10-11 20:34] jaraco commented on #1764
I re-ran the test with cheroot 8.1.0 and I still observe the undesirable results, so yes, still relevant.

[2019-10-14 04:19] further-i-go-less-i-know commented on #1808
Interesting. Do the errors have anything to do with the fact that the application server is running on port 4200? Please see the attached screenshot sirs.
![Port4200NotSupported](https://user-images.githubusercontent.com/3946609/66729251-ccd5e200-ee0f-11e9-9c1d-95d8d2f74da7.png)

[2019-10-14 13:27] webknjaz commented on #1808
Unlikely. That's a limitation of SSL Labs.
TLS certs don't include ports in their CN: https://tools.ietf.org/html/rfc2818#section-3.1.

[2019-10-16 01:31] jaraco opened #1817 "PipelineTests.test_HTTP11_Timeout_after_request failing"
The `PipelineTests.test_HTTP11_Timeout_after_request` test is failing consistently [in Travis-CI](https://travis-ci.org/cherrypy/cherrypy/jobs/598346436#L546-L638) and on my local workstation.

[2019-10-16 01:34] jaraco commented on #1817
Pinning to `cheroot<8.1` bypasses the failure, so it seems the [changes in 8.1](https://docs.cherrypy.org/projects/cheroot/en/latest/history.html#v8-1-0) (request-based workers) are implicated.

/cc @the-allanc

[2019-10-16 01:40] jaraco commented on #1817
For now, I've disabled the tests to suppress the failures. To reproduce the failure, run `tox -- -k Timeout_after_request --runxfail`.

[2019-10-16 02:01] jaraco commented on #1817
I've confirmed that [this line](https://github.com/cherrypy/cheroot/blob/02f7a17cbc98398def138c6ce42d8cd6487955dd/cheroot/connections.py#L192) is being reached and the value is `1`, so I would expect the socket objects to have 1-second timeouts. So why is the timeout not being hit with the test?

[2019-10-16 13:17] webknjaz commented on #1817
I bet that timeouts happen on read/write (`socket.recv()`/`socket.write()`) which probably means that this may be happening in a place different than you expect.

[2019-10-17 01:07] jaraco opened #1818 "Test failures in test_wsgi_unix_socket"
When running tests on my macOS workstation, I see frequent test failures in test_wsgi_unix_socket like this:

[code]

If I isolate and run with `-k test_wsgi_unix_socket`, the tests pass consistently, so the issue seems to be due to interference by some other test. I've seen the failure happen twice (in a run), but most often it happens just the once.

[2019-10-17 14:17] webknjaz commented on #1818
Did it start happening after https://github.com/cherrypy/cheroot/pull/224?

[2019-10-17 14:22] webknjaz commented on #1818
You refactored `openURL()` in that PR so that if `raise_subcls` is not provided it defaults to `()` but forgot to change `WebCase.getPage(..., raise_subcls=None, ...)` which explicitly bypasses `None` and leads to that error:
[code]

https://github.com/cherrypy/cheroot/blob/52e16e7baded163418b8b02450d93af4eebedc6c/cheroot/test/webtest.py#L175-L178

This is probably only a part of the problem, of c

[2019-10-17 20:58] webknjaz commented on #1797
The current warnings are:
[code]

[2019-10-18 01:00] jaraco commented on #1818
I've fixed the issue in cheroot 8.2.1, [releasing here](https://travis-ci.org/cherrypy/cheroot/builds/599419689).

[2019-10-18 01:00] #1818 closed, assigned to nobody

[2019-10-18 01:21] jaraco commented on #1818
In the above referenced commit, I've removed the duplicate signature from cherrypy CPWebCase, but I'm going to wait a while to release it, as it depends on the fix in cheroot 8.2.1.

[2019-11-20 23:07] alfredodeza opened #1824 "`tmp_path_factory` fixture is incompatible with old pytest"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

This could be considered a bug, it is really a minor issue for packaging CherryPy on CentOS8 where pytest 3.4.2 is available.

**What is the current behavior?**

The `tmp_path_factory` fixture is unavailable in pytest

[2019-11-24 08:14] bmxp opened #1827 "Dictionary entries by class HeaderReader are strange"
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**

From cheroot server the class HeaderReader gives strange dict entries like ``{"B'Status'": b'302 Found' }`` when using a predefined dictionary like the one in ``cherrypy.serving.response.headers``.

❓ **What is the

[2019-11-24 15:47] bmxp commented on #1827
Just a small followup:
The dict used by ``cherrypy.serving.response.headers`` is from ``cherrypy.lib.httputil.HeaderMap()``
There is a member function:
[code]
This will cause a bytes object like ``b'status'`` to result in ``"B'Status'"`` which I would think is wrong. At this place I think it must be decided to first transform the bytes into a string using encoding and not using simply ``str()``

[2019-11-25 01:17] webknjaz commented on #1827
@jaraco this one is odd. CherryPy is py3-only and Cheroot isn't. This is probably one of the issues here. What do you think we should do?

[2019-11-25 07:30] bmxp commented on #1827
The dict keys should be of type str regardless wether they were bytes or str.
b'Status' --> "Status"
'Status' --> "Status"
Thus when the transform_key(key) encounters a bytes object, it should be converted to a str using ISO-8859-1 decoding. But this would also apply to a value from header. So one would need to thoroughly check all cases in values, to all over cheroot / httputil

[2019-11-25 08:58] bmxp commented on #1827
Maybe the right place to put a change from bytes to str would indeed be within HeaderReader of cheroot...

[2019-11-25 12:13] webknjaz commented on #1827
I think the best thing to do is to add some validation to `cheroot.server.HeaderReader.__call__()` method. But I'm not sure about the performance penalty.

[2019-11-27 01:31] jaraco commented on #1827
I'm fine with making cheroot Python 3-only, now that the pending pull requests have been merged/released and there's been no major issues reported. But I still don't think that will fix this issue. Since CherryPy is already Python 3-only and the user is testing on Python 3, the issue will remain even after cheroot becomes Python 3-only.

The real problem is that `cherrypy.lib.httputil.HeaderMap` i

[2019-11-27 01:32] jaraco commented on #1827
The issue can be readily replicated thus:

[code]

[2019-11-27 02:08] jaraco commented on #1827
It looks like the origin of `str(key).title()` is [very old](https://github.com/cherrypy/cherrypy/commit/1ea32fed5e1415c920af04b8787b6d24bee785d4). Probably that can be improved.

This ticket probably should be against cherrypy.

[2019-11-27 13:48] webknjaz commented on #1827
@jaraco I think we still need to add bytes-validation to `cheroot.server.HeaderReader.__call__()` too.

[2019-11-27 15:02] jaraco opened #1829 "All pull requests fail checks"
Since some of the checks always fail, no pull request is able to pass all checks. We need to disable tests or checks until all of them pass reliably (90% of the time).

[2019-11-27 15:04] webknjaz commented on #1829
This is what's failing in Circle CI (macOS):
[code]

[2019-11-27 15:06] webknjaz commented on #1829
I think we could switch it to use the technique of downloading DMGs from python.org to avoid relying on slow homebrew anyway.

[2019-11-27 15:07] webknjaz commented on #1829
On AppVeyor, we have `SessionTest.test_2_File_Concurrency` failing flakily. It's the test that I've been trying to figure out how to fix for a while now. No idea how to solve this problem still, so any help would be highly appreciated...

[2019-11-27 15:20] jaraco commented on #1827
Yes, I think so too. Having mixed bytes/text in the HeaderMap is bad form. Would you be willing to write up a ticket about that issue?

[2019-11-27 15:25] webknjaz commented on #1827
I guess so.

[2019-11-27 15:28] jaraco opened #1830 "Tests pass None values to HeaderMap"
In #1828, I discovered that when running the tests without `str()` applied to the keys, there are `None` values passed for the keys, and many tests will fail if that interface isn't maintained (converting `None` to `'None'`).

Here's where the tests fail in that case:

<details>

[code]
</details>

[2019-11-27 15:32] #1827 closed, assigned to jaraco, webknjaz

[2019-11-27 15:38] webknjaz commented on #1827
After looking into it closer, I don't think that such validation belongs there because `__call__()` just adds headers into the given dict, it doesn't do anything with what already exists there. Such validation would need to be done in the calling code.

[2019-11-28 16:39] jaraco opened #1831 "CherryPy 17.x fails against cheroot 8.x"
In Travis-CI (our main CI), the tests for the maint/17.x branch (Python 2 compatible version) are failing. They [last passed two months ago](https://travis-ci.org/cherrypy/cherrypy/builds/592826066?utm_medium=notification&utm_source=email) and [started failing shortly thereafter](https://travis-ci.org/cherrypy/cherrypy/builds/593605221?utm_medium=notification&utm_source=email).

[2019-11-28 16:41] jaraco commented on #1831
Not too long after that, the [test started failing earlier](https://travis-ci.org/cherrypy/cherrypy/builds/596661176?utm_medium=notification&utm_source=email).

[2019-11-28 16:43] webknjaz commented on #1831
I have a hunch that this is related to that connections management change in Cheroot...

[2019-11-28 16:44] jaraco commented on #1831
Confirmed - the introduction of cheroot 8.1.0 introduced a regression that causes one test to consistently fail (prior tests ran against cheroot 7.0.0).

[2019-11-28 16:50] jaraco commented on #1831
This is the same as #1817.

[2019-11-28 16:56] #1831 closed, assigned to nobody

[2019-11-30 02:19] exocomet commented on #1584
Sorry for digging this up. I just ran into an issue after upgrading from Python 2.7 to 3.7. In my case I return a base64 encoded gif, with these settings, and got the same Exception as @kienerj

    cherrypy.response.headers['Content-Type'] = 'image/gif'
    cherrypy.response.headers['Content-Encoding'] = 'base64'

I found this [post](https://stackoverflow.com/a/55039512/417133) on StackOverflow h

[2019-12-04 01:04] webknjaz commented on #1584
@exocomet this may be happening because `str` is `bytes` under Python 2 and `unicode` under Python 3.

Here's where it's used in code: https://github.com/cherrypy/cherrypy/blob/1980247/cherrypy/lib/encoding.py#L71

P.S. Posting new questions in old issues is not a good idea for getting attention. Locking this one.

[2019-12-11 19:24] kncdev132 opened #1832 "python_2_eol.html template uses vulnerable moment version"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

Reporting a Bug

**What is the current behavior?**

`python_2_eol.html` template uses vulnerable moment version (v2.18.1 moment.js is vulnerable to regular expression denial of service via a crafted date string)

**If

[2019-12-13 15:37] ZeddYu opened #1833 "Found a security issue"
Found a security issue. How can I report?

[2019-12-21 01:57] webknjaz commented on #1832
I don't think this affects us because the use is pretty match hardcoded... But feel free to send a PR upgrading moment.js!

[2020-01-05 20:22] cosarara opened #1836 "CherryPy is at the bottom of the TechEmpower benchmarks"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

A feature.

**What is the current behavior?**

CherryPy is somehow the slowest kid on the block. The benchmark at https://www.techempower.com/benchmarks/#section=data-r18&hw=ph&test=fortune shows CherryPy is the slowes

[2020-01-05 21:24] JonasHeidelberg opened #1837 "pip can no longer install cherrypy (without tweaking) on python 3.5.3 due to 4 dependencies requiring 3.6"
**I'm submitting a ...**
- [x] bug report

**What is the current behavior?**
When trying to
`pip3 install cherrypy`
on raspbian (stretch) with python 3.5.3, I get the following error message:

According to [jaraco.collections ChangeLog](https://github.com/jaraco/jaraco.collections/blob/master/CHANGES.rst), the Version 3.0.0 now requires python 3.6 --> workaround is to install jaraco.collections<3.

[2020-01-05 21:27] webknjaz commented on #1837
CherryPy's metadata is correct. Upgrade your Pip and you'll be fine.

[2020-01-05 21:27] #1837 closed, assigned to nobody

[2020-01-05 21:36] webknjaz commented on #1836
Hm... That script seems to be doing some unnecessary things. Also, take into account that the threadpool is of a fixed size. You may want to upgrade Cheroot to the latest version as there's been some improvements in how threads are managed.

[2020-01-05 21:39] webknjaz commented on #1836
Oh, and don't forget that one of CherryPy's features has always been that it's pure-python so other libs may gain a lot of unfair advantage by using something like C-boosted WSGI servers and other kinds of speedups.

[2020-01-05 21:40] webknjaz commented on #1836
This is because there's a typo there:
[code]

[2020-01-06 10:12] JonasHeidelberg commented on #1837
@webknjaz I tried again in a venv, where I updated pip to 19.3.1.

`pip3 install cherrypy` still fails with the same error. Maybe you can argue that jaraco.* and tempora need to fix their metadata, but it is not fine, as far as I can tell.

[2020-01-06 10:22] webknjaz commented on #1837
Log or didn't happen ☺

[2020-01-29 00:45] ian-otto commented on #1837
I can second this behavior on the Raspberry Pi install of Python 3.5.3:

[code]

[2020-01-29 12:48] webknjaz commented on #1837
@duper51 ~I can only suggest that debians ship "broken" Python/Pip (because they strip off some things, this may be a possible explanation).~

Oh, wait! I see now! You use a custom index (https://www.piwheels.org) which delivers dists that are different from PyPI. If they build them incorrectly (which they 100% are), this'd happen. I bet they use an outdated setuptools version which results in whe

[2020-01-29 13:06] webknjaz commented on #1837
Hm... Interesting. The wheels are identical. `METADATA` inside has `Requires-Python: >=3.6` so it's good. The only thing I can think of is `piwheels` not implementing PEP503.

[2020-01-29 13:10] webknjaz commented on #1837
Ah... I was right, it doesn't: https://github.com/pypa/setuptools/issues/1976#issuecomment-576036922

Compare the source code (HTML view) of https://pypi.org/simple/jaraco-collections/ vs. https://www.piwheels.org/simple/jaraco.collections/.

PyPI injects `data-requires-python` into the link attributes and piwheels doesn't.
This means when Pip fetches the list of dists from this index, it doesn't

[2020-02-03 12:57] brainwane commented on #1837
Looks like https://github.com/piwheels/piwheels/issues/208 is about this issue so Piwheels is in the process of fixing it.

[2020-02-03 13:54] webknjaz commented on #1474
Possibly related: https://github.com/cherrypy/cherrypy/issues/1839

[2020-02-03 13:54] webknjaz commented on #1535
Possibly related: https://github.com/cherrypy/cherrypy/issues/1839

[2020-02-11 17:22] marcoricci opened #1841 "Use a subdomain with cherrypy"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
There is no clear documentation on how to set up a subdomain with cherrypy. We are trying to have an endpoint in the form https://api.example.com/health/, right now using the f

[2020-02-14 21:01] lapereirabr opened #1842 "Angular & Postman X Cherrypy"
Hi, brothers.
If you want to investigante this:

https://stackoverflow.com/questions/60196638/angular-x-postman-x-cherrypy-problem-content-length-on-header-post

[2020-02-14 22:45] webknjaz commented on #1842
It's a client problem, not a question for the server bug tracker.

[2020-02-14 22:45] #1842 closed, assigned to nobody

[2020-02-22 12:03] zarinpy opened #1843 "add .idea folder to .gitignore file"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

when you open the project with jetbrain ides it will track .idea folder

**If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and lo

[2020-02-24 14:38] webknjaz commented on #1843
Yes, in the user-global, given that the user uses Idea.

[2020-02-25 20:29] Safihre commented on #1766
It's been a year, any more thoughts on this @webknjaz ?

[2020-02-26 14:25] webknjaz commented on #1766
Ah, sorry. Lost track of it. Feel free to contribute. I'd start with extracting that test function and sending it as a PR but mark it with xfail as per https://pganssle-talks.github.io/xfail-lightning. This way, we'd have something actually running in CI. After that, it'd be easier to start fixing it (remove that xfail marker and ensure it's always green).

You'd need to verify what's in the actua

[2020-03-02 21:39] benjaoming opened #1845 "Nothing logged to "cherrypy.access" using cherrypy.tree.graft"
**I'm submitting a ...**
- [x] bug report
- [x] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

I don't know if fixing this would be considered adding a feature or fixing a broken behavior.

**What is the current behavior?**

Below is a full example of a minimal WSGI application that logs nothing to "cherrypy.acc

[2020-04-03 16:57] #1843 closed, assigned to nobody

[2020-04-11 10:26] unode opened #1849 "ToolTests::testCombinedTools fails in NixOS"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**What is the current behavior?**

Test `ToolTests::testCombinedTools` fails with the output mentioned in [this Nixpkgs issue](https://github.com/NixOS/nixpkgs/issues/84897#issuecomment-612383018).
The version listed is `18.3.0` but the failure is also reproducible in `18.5.0`

[2020-04-11 12:46] bachp commented on #1849
The issue only occures since the update from Python 3.7.6 to 3.7.7.

The exact failure is that the body seems to be different:
[code]

[2020-04-13 21:37] webknjaz commented on #1849
Looks like it's reproducible w/ the nightly Python build: https://travis-ci.org/github/cherrypy/cherrypy/jobs/674223158#L569.

[2020-04-15 09:45] Helene opened #1850 "How to specify socket_host in global settings allowing INADDR_ANY and IN6ADDR_ANY"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [ x] question about the decisions made in the repository

**Please tell us about your environment:**

- Cheroot version: any
- CherryPy version: >17.0
- Python version: 3.6.5
- OS: any
- Browser: any

Hello, could you provide the procedure to allow  a server binds to all interfaces in a dual-stack IPv4/IPv6 environment  in the globa

[2020-04-17 17:53] #1776 closed, assigned to nobody

[2020-04-20 17:29] blare-ski opened #1853 "'501 Not Implemented' with traceback"
**I'm submitting a ...**
- [x] bug report

**Do you want to request a *feature* or report a *bug*?**

Report a bug

**What is the current behavior?**

In SeaMonkey 2.53.1, when opening https://id.fedoraproject.org/openid/Consent by pressing ctrl-shift-t, an error appears:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of th

[2020-04-20 18:13] webknjaz commented on #1853
Reproducing this does not require Ctrl+Shift+T. I see it when just clicking on that link (not being authenticated). I guess that the authors of the `ipsilon` provider expect POST requests but you send GET.
Anyway, this is not an exception that CherryPy produces but an error that ipsilon itself raises and there's nothing we can do because it's a third-party project that is not a part of CherryPy, n

[2020-04-20 18:13] #1853 closed, assigned to nobody

[2020-04-22 13:32] alfredodeza commented on #1824
I'm closing this as it was resolved by the packaging maintainers and it doesn't affect current CherryPy at all. Thanks for the help!

[2020-04-22 13:32] #1824 closed, assigned to nobody

[2020-04-30 05:26] 12gabriel3 opened #1854 "Long (~30s) action generates timeout error"
I can run any action as long as they are quick actions, but if the action takes a couple of seconds, there is a timeout error. Here are the logs. The logs are mixed up because `rasa run --log-file actions.log actions` is not working for me.

[code]

Feel free to ask any details and to recommend other tests

[2020-04-30 05:37] #1854 closed, assigned to nobody

[2020-04-30 05:37] 12gabriel3 commented on #1854
Sorry, wrong repo

[2020-05-05 14:07] ampanasiuk opened #1855 "5 gigabytes of session lock files"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
I recently found out hundreds of thousands of session lock files totalling 5GB. How does this happen?

I have a "status" page handler that returns system status -- CPU use percent, whe

[2020-05-06 20:58] cjh1 opened #1856 "Allow keep_alive_conn_limit to be configured from cherrypy"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

Allow the cheroot `keep_alive_conn_limit`  configuration option to be configured from cherrypy.

**What is the current behavior?**

`server.keep_alive_conn_limit` is ignore

**If the current behavior is a bug, please p

[2020-05-14 19:51] jeichert60 opened #1857 "SSL: CERTIFICATE_VERIFY_FAILED"
I am doing a POST request having created a root CA and a client cert with the following Python code:

                    `post_data = {'resource': 'GetService', 'type': 'client', 'id': '42',
                                 'secret': '1357924680'}
                    tok_resp = requests.post('https://supervisor.mdira.net:6789/token/', post_data,
                                             verify

[2020-05-15 08:33] webknjaz commented on #1856
It's an interesting idea but I think we'll have to wait for a bit until the bug in the current connection manager implementation is fixed.

[2020-05-15 08:49] webknjaz commented on #1857
Looks like you've posted this to a wrong repo. The requests lib issue tracker is elsewhere.

[2020-05-15 08:49] #1857 closed, assigned to nobody

[2020-05-29 17:11] premsoftorg commented on #1585
pip install web.py==0.40.dev1

This above command should solve the issue. Open your python or conda environment execute above command. It will work like a charm.

[2020-05-31 09:32] survtur commented on #1767
@ygbr, could you please explain how to add it to cookie from my own code without making any changes in existing cherrypy modules?

[2020-05-31 16:00] webknjaz commented on #1767
Hey @ygbr, I like the idea and I'd accept a PR implementing it (please make sure to also include tests!).

The only suggestion I have is to use snake_case for the setting:
[code]

[2020-05-31 17:58] mewalig commented on #1518
I've been seeing similar problems and trying to track and fix them for some time now since we started to use cherrypy several years ago. I agree entirely with @aosdf6dd that the term "production-ready" was *grossly inaccurate* given the number of and severity of various issues we have found during that time and had to fix. We chose cherrypy for the same reasons mentioned above, but in hindsight we

[2020-05-31 19:57] webknjaz commented on #1518
You may be partially right here. The thread pool size is static unless you use something like cherrypy-dynpool. A few recent versions of Cheroot have more intelligent connection pool handling (contributed by @the-allanc) that supposedly makes the problem go away.
As for killing threads, your suggestion is incorrect: Python doesn't have any supported/stable mechanism for killing threads from the ou

[2020-06-01 13:50] ghost commented on #1518
@mewalig

At the end, I believe, we've been tuning with these CherryPy arguments. I think they helped us to keep operating that web service.

[code]

Generally, although I've been a fanboy for quite some time, we did not just dump Cherrypy but Python as a whole. I know better now, weak type safety (causing the IDE to lose track), runtime errors (causing errors to pop up in the customer's runtime e

[2020-06-01 14:30] mewalig commented on #1518
Thank you @webknjaz and @aosdf6dd, this is all super helpful and much appreciated (will definitely be trying those suggested settings). @aosdf6dd, totally agree re python and weak typing in general-- I feel like I went through a very similar experience and change in perspective. may I ask what you migrated to and how that's been working out for you?

[2020-06-01 16:44] ghost commented on #1518
I re-wrote everything in Golang. Took me at least half a year, but I'm quite happy now. Sometimes a major "refactoring" is a good idea, anyways, haha. It definitely fixed my pain points and runs so smooth. It's easy and efficient. Absence of inheritance makes everything easy to follow, at the cost of a little bit more copy/paste sometimes.

The downside is, if you need something more exotic (e.g.

[2020-06-01 19:19] mewalig commented on #1518
Thank you @aosdf6dd, really appreciate the insight.

@webknjaz (or anyone else): while thread killing isn't feasible, what would be the simplest way to implement a mechanism that would allow me to find out at any time, without going into any debug mode or killing the process, if any threads have become unresponsive (assuming unresponsive is defined as just not responding within a known expected ti

[2020-06-01 22:09] terrenceyee opened #1858 "environ['PATH_INFO'] incorrectly encoded with ISO-8859-1"
environ['PATH_INFO'] incorrectly encoded with ISO-8859-1

**I'm submitting a ...**
- [x ] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

report bug

**What is the current behavior?**

The value of the PATH_INFO attribute in the environ dict is incorrectly encoded with ISO-8859-1 encoding, when t

[2020-06-02 07:31] Rohitbels opened #1859 "Hide Information Disclosure. Nmap is able to find out the server is hosted by CherryPy."
I ran a nmap command on a server hosted by Cherrypy version 4.

sudo nmap -sC -sS -sV -n -Pn --open xxx.xxx.xxx.xxx
This return a result:

Starting Nmap 7.80 ( https://nmap.org ) at 2020-06-01 14:33 India Standard Time
Nmap scan report for xxx.xxx.xxx.xxx
Host is up (0.34s latency).
Not shown: 999 filtered ports
Some closed ports may be reported as filtered due to --defeat-rst-ratelimit
PORT    ST

[2020-06-02 08:02] webknjaz commented on #1859
Something like `cherrypy.config.update({'response.headers.server': 'Custom Server Name'})` should do.

[2020-06-02 08:02] #1859 closed, assigned to nobody

[2020-06-04 02:18] ygbr commented on #1767
Hi @webknjaz, I have applied the changes you suggested using snake_case and will write some tests for samesite before submitting the PR.

While at it I've hit a snag and would like your guidance on how to proceed.

Since cherrypy uses Python **http.cookies.SimpleCookie** for cookie handling on **_cprequest**, those cookies are created based on the **http.cookies.BaseCookie** which values are dict-

[2020-06-04 02:21] ygbr commented on #1767
Hi @survtur, as mentioned on my previous comment, I'm still solving some issues for supporting Python versions prior to 3.8 and will add some tests after a decision was made on which approach to follow. I would wait for a cherrypy release with those changes properly tested.

[2020-06-04 03:08] ygbr commented on #1767
FYI those are current approaches regarding the support of Python versions prior to 3.8 on other major frameworks which we may use for reference:

They are all using the monkey-patching approach on top of the Morsel object.

### Django
https://github.com/django/django/blob/b8b129e58ccd02263fb24ffc8b5c9fa63ba10e5b/django/http/cookie.py#L6-L7

### Bottle
https://github.com/bottlepy/bottle/blob/533c2c

[2020-06-06 09:22] datendelphin opened #1860 "CherryPy splits query arguments on semicolon"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**What is the current behavior?**
Given the following query /?example=0;1;3&another=2;4
kwargs reads {'example': '0', '1': '', '3': '', 'another': '2', '4': ''}

**What is the expected behavior?**
kwargs should be {'example': '0;1;3', 'another': '2;4'}

**Please tell us about

[2020-06-07 13:07] webknjaz commented on #1860
So the problem is that older W3C recommendation related to HTML 4.01 recommended supporting a semicolon as an alias to an ampersand in 1999:

_https://www.w3.org/TR/1999/REC-html401-19991224/appendix/notes.html#h-B.2.2_:

There's a newer recommendation about HTML 5 which does not mention the semicolon anymore:

OTOH these documents mention how to process and send data using forms. In particular, u

[2020-06-07 13:13] webknjaz commented on #1860
FTR the built-in python's `urllib.parse.parse_qs()` even drops things starting `;` and before the following `&` for good:
[code]

[2020-06-07 15:25] datendelphin commented on #1860
Thank you @webknjaz for this insightful explanation. I was unaware that ";" was defined to have the same meaning as "&". I agree that this behaviour makes sense and this is not a bug.

As for the correct solution to my problem (to interpret the query string for an api that uses ";" in the values) I found that using cherrypy.request.query_string is the better approach for this quirky api.

[2020-06-07 15:25] #1860 closed, assigned to nobody

[2020-06-07 15:28] webknjaz commented on #1860
Could you please clarify FTR: have urlencoding the semicolon worked for you?

[2020-06-07 15:47] datendelphin commented on #1860
Indeed it does work. But due to the nature of the application, I have unfortunately no control over the side generating the query.

[2020-06-07 16:11] webknjaz commented on #1860
Oh... too bad. Monkey-patching things is not a public API, hence not guaranteed to work across versions.

I think you could use a [`on_start_resource`](https://docs.cherrypy.org/en/latest/extend.html#hookpoint) [tool](https://docs.cherrypy.org/en/latest/extend.html#tools) that rewrites a query string for the current request:

[code]

You can also achieve this on the dispatcher level, I think: http

[2020-06-07 16:47] webknjaz commented on #1860
For the sake of documenting the HTTP aspect of this (for history), here's a few quotes from RFCs. Let's start with [RFC 7230](https://tools.ietf.org/html/rfc7230):

[HTTP request starts with a `request-line`](https://tools.ietf.org/html/rfc7230#section-3.1.1) which is defined as

We're interested in the [`request-target`](https://tools.ietf.org/html/rfc7230#section-5.3). So let's look it up:

The

[2020-06-07 16:49] webknjaz commented on #1778
FTR a more complete analysis of supporting delimiters per HTTP specs is outlined @ https://github.com/cherrypy/cherrypy/issues/1860.

[2020-06-14 17:33] Rohitbels commented on #1859
I am talking about is something else.
I have already configured server response header.

This is being displayed at some other level.

PORT     STATE  SERVICE   VERSION
443/tcp open   ssl/http    **CherryPy wsgiserver**

[2020-06-14 23:02] mcow commented on #1860
@webknjaz Thank you for tagging me on this issue. I haven't looked at this since I closed out that other bug, but I spun everything up again. To my surprise, whatever the symptom I was complaining about then, I see no problem with CherryPy now. I do see an error within jQuery that happens _after_ I've processed the query, but the fields of the query are properly parsed into a dict and handed to my

[2020-06-15 10:38] webknjaz commented on #1859
@Rohitbels well, I don't know what your app does so it's hard to guess what you expose. Maybe you have it in dev mode as opposed to production and it shows tracebacks on non-existing pages. Also, the default page 404 probably mentions it as well. Besides version 4 is ancient so maybe there's something else an such a retro env. Try upgrading as we don't support that one for many years already.

[2020-06-18 21:01] Candy-Arlin commented on #1527
Hi there guys,

I appreciate this message is quite late on.

I'm sorry but I did not quite follow what you did there @Safihre

My console is stuck at the following line: ENGINE Waiting for thread Thread-6.

How could I implement the above recommendations you made. I tried copying and pasting 'cherrypy.config.update({ 'server.shutdown_timeout': 1 })' at the start of my script but it didn't seem to

[2020-06-21 01:32] thesamesam commented on #1849
We've hit the same downstream in [Gentoo](https://bugs.gentoo.org/727240).

[2020-06-24 09:54] NathanRichard commented on #1764
Hello,

I have hit this bug in my application with cheroot 8.2.1. This is causing issues in our application as the client timeouts before the server has a chance to process anything.

Is there any progress in the investigation of the issue or do you plan to revert the changes as mentioned in https://github.com/cherrypy/cheroot/pull/199 ?

Meanwhile I wanted to know if there is any recommended miti

[2020-06-30 20:31] sanderjo opened #1862 "pip's cherrypy & "import cherrypy" => "ModuleNotFoundError: No module named 'jaraco.collections'""
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

A bug report

**What is the current behavior?**

On Ubuntu 18.04, after a
[code]
a

[code]

results in:
[code]

After pip uninstall, the import of (Ubuntu provided) cherrypy works:

[code]

So a pip / pypi /packaing pr

[2020-07-02 22:12] webknjaz commented on #1862
Looks like you also use `--user`. Are you sure you install it under the same Python as you run the app? The user-site-packages is a flat namespace so you may get binaries from different Pythons under `bin` there.

I'm pretty sure that CherryPy is packaged properly. Try doing this in a fresh virtualenv.

P.S. Ubuntu and Debian are infamous for doing weird things to Python packaging so using a virtu

[2020-07-03 05:42] sanderjo commented on #1862
I will retry in a clean docker environment, where there is only root and no user.

Thanks

EDIT:

In a Ubuntu 20.04 docker environment, so only root as user, one python (python3), I cannot reproduce with only a pip install, but I can reproduce the error with this full sequence (and only error after the sabnzbdplus install)

[code]

... I will investigate further.

[code]

[2020-07-03 09:19] webknjaz commented on #1862
You need to use a virtualenv, I see you still rely on the OS-shipped pip in Docker.

[2020-07-03 20:02] sanderjo commented on #1862
I will close until I can pinpoint better.

Thanks

[2020-07-03 20:02] #1862 closed, assigned to nobody

[2020-07-03 21:51] webknjaz commented on #1764
Hey @NathanRichard, I want to polish https://github.com/cherrypy/cheroot/pull/277 a bit and merge it. But meanwhile, it's probably better to pin an older version.

[2020-07-10 01:12] hungapl opened #1863 "Configuration for not having a request queue"
**I'm submitting a ...**
- [] bug report
- [x] feature request
- [] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Cherrypy always queue requests, there is no option to set cherrypy to not have a queue

**If the current behavior is a bug, please provide the steps to reproduce and if possible

[2020-08-16 06:56] Safihre commented on #1618
@webknjaz the patch for this in Python has been merged, finally: https://bugs.python.org/issue31122
However, it will only be fixed for recent versions of Python so I guess the workaround in the code should remain.

[2020-08-30 09:00] Safihre opened #1865 "HTTPRedirect should allow relative paths"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**What is the current behavior?**

If I use `cherrypy.HTTPRedirect("/login")` I want the `Location` header to be `/login`.
This way when users are behind a proxy that changes for example the scheme and the port, I don't have to care about it.
Relative URL's are valid in a redi

[2020-09-01 07:27] Safihre commented on #1865
Oops, my mistake. I just found the relative section in the documentation.
[code]
Before starting CherryPy fixes the problem.

[2020-09-01 07:27] #1865 closed, assigned to nobody

[2020-09-01 15:44] NathanRichard commented on #1764
Hello @webknjaz,

Thanks for your reply.

I have seen that https://github.com/cherrypy/cheroot/pull/277 has been merged and tested cheroot 8.4.0 that was released shortly after ; I have not encountered the issue since, so at least in my environment it seems to be working.

Thanks again for your help and the fix.

Best regards,
Nathan

[2020-09-17 16:24] mobinalhassan commented on #1700
Thank you this method works perfects

[2020-09-25 05:21] dependabot-preview[bot] opened #1867 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/cherrypy) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/cherrypy/update-logs/48681169).

[2020-09-25 08:42] webknjaz commented on #1867
https://github.com/dependabot/dependabot-core/issues/2550

[2020-09-25 08:42] #1867 closed, assigned to nobody

[2020-10-09 05:16] Kaleemulla opened #1870 "SSL Cipher Missing, Decryption Failed Bad Record Mac Exceptions"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
Report bug

**What is the current behavior?**
Cherrypy engine throws following exceptions and suddenly crashes
[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a screensh

[2020-10-09 06:50] Kaleemulla commented on #1870
I see below too:
[code]

[2020-10-14 14:50] webknjaz commented on #1870
1) It's not a crash but a traceback recorded in a log, same as https://github.com/cherrypy/cheroot/issues/292
2) The second traceback in the initial post looks like bad network connectivity happening around the time the request's been made. So the solution would be to fix your network.
3) The first traceback and the traceback in the second comment mean exactly what they say: the cipher mismatch ha

[2020-10-14 14:50] #1870 closed, assigned to nobody

[2020-10-15 09:14] kmohite14 opened #1871 "SSL.WantReadError occurs when connected client is interrupted and crashes the cherrypy server"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
Report bug

**What is the current behavior?**
![image](https://user-images.githubusercontent.com/72913986/96102494-35a8dc00-0ef4-11eb-9955-b107be01bae3.png)

**If the current behavior is a bug, please provide the steps

[2020-10-16 22:52] webknjaz commented on #1871
Please send text, not pictures with small fonts. We need searchable and copy-pastable content to work with.

[2020-10-16 22:52] #1871 closed, assigned to nobody

[2020-10-29 13:35] jaraco opened #1872 "cherrypy.org domain squatted post Webfaction merging"
I got a report from fumanchu that Webfaction is merging and the account cannot be merged. Is CherryPy still using any resources at Webfaction? If so, we have less than 30 days to save and migrate those somewhere.

I'm not aware of any, but wanted to file this here in case others remember where I don't.

[2020-11-03 22:03] loqs opened #1873 "ServerStateTests::test_2_KeyboardInterrupt ERROR"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
I am submitting a bug report.

**What is the current behavior?**
cherrypy/test/test_states.py::ServerStateTests::test_2_KeyboardInterrupt ERROR

**If the current behavior is a bug, please provide the steps to reproduce

[2020-11-03 22:09] webknjaz commented on #1873
This will probably be fixed by https://github.com/cherrypy/cheroot/pull/331 / https://github.com/cherrypy/cheroot/pull/322. Nothing to do in this repo. Thanks for the report, though!

[2020-11-03 22:09] webknjaz commented on #1873
Duplicate of https://github.com/cherrypy/cheroot/issues/328

[2020-11-08 06:08] paulocoutinhox opened #1874 "Error when install on Windows with PyPy3"
Hi,

Im trying make my tool run on Windows PyPy3 and get this error:

[code]

The main error is:

[code]

Im trying install `cherrypy>=18.0`.

Can anyone help me?

[2020-11-08 21:37] webknjaz commented on #1874
Congrats! You've found a case that we don't actually test. It'd be actually reasonable to try out PyPy on Windows in our CIs but that's not going to happen until we add GitHub Actions that ship this env combo and would allow us to make the testing seamless.

I'm pretty sure that pywin32 is CPython-bound and does not support PyPy. So the correct fix for use would be to improve the conditional under

[2020-11-11 22:02] bryanbrown740 opened #1876 "Cherrypy Sessions Refreshing After Http Redirect"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
I'm using Cherrypy with python-saml / onelogin. My setup is similar to the one in the article [here.](https://medium.com/@gohberg/okta-authentication-using-saml-simplifie

[2020-11-12 02:24] webknjaz commented on #1876
@bryanbrown740 Are you implying that when the redirect `/saml -> /` happens, the `/saml` handler does not set the cookie? Have you verified that the HTTP response (the one with a redirect) contains a cookie header with the session data?

[2020-11-12 02:27] webknjaz commented on #1876
Also, it'd be useful to have some reproducer. It must be minimalistic, without any third-parties or things that are unnecessary to trigger the demonstrated behaviour.

[2020-11-12 11:15] cclauss opened #1878 "Reenable four tests under continuous integration"
Related to #1877

**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
https://github.com/cherrypy/cherrypy/pull/1877/files did `pytest.skipif()` on four tests when run under continuous integration.
* [ ] cherrypy/test/test_bus.py -- tes

[2020-11-12 21:14] RNCTX commented on #1862
fyi this is the first result on google for this string of errors which is currently breaking Sabnzbdplus 3.0.0 on Debian distros, if someone else gets far enough to report the bug here.

[2020-11-13 00:35] bryanbrown740 commented on #1876
Closing this issue, as I think this is actually an issue with an SSL certificate or a browser implementation issue.  In some cases in firefox, the redirect (code 303) from /saml to / seems to be keeping the POST method instead of forcing a GET. This seems to start a new session, causing the above.

[2020-11-13 00:35] #1876 closed, assigned to nobody

[2020-11-14 19:45] webknjaz commented on #1878
`skipif` should only be used if something cannot be tested. If the env is okay, tests should be marked with `xfail` instead so they are executed but their failures don't influence the overall outcome.

[2020-11-14 19:46] webknjaz commented on #1878
On a side note, I'm not sure when I'll get time but I'll probably be dumping some of the CIs.

[2020-11-14 20:10] webknjaz commented on #1849
I wonder if this may be related to fixing the compression level value in gzip headers:
* https://docs.python.org/3.7/whatsnew/changelog.html#python-3-7-7-final
* https://bugs.python.org/issue39389
* https://github.com/python/cpython/pull/18101

[2020-11-14 21:34] cclauss commented on #1878
These tests hang the system so xfail is not better than the current unmodified code.

[2020-11-14 23:34] webknjaz commented on #1849
Confirmed: that's the root cause.

[2020-11-15 02:19] #1874 closed, assigned to nobody

[2020-11-15 02:35] webknjaz commented on #1878
I commented on the PR but I'll also duplicate here. TL;DR: you can use `xfail` with `run=False` or (even better) with `pytest-forked` applied via a marker on the test.

[2020-11-15 02:43] webknjaz opened #1880 "Broken publish from Travis CI"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

CI bug

**What is the current behavior?**

It's impossible to publish a new version from CI.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the prob

[2020-11-15 03:09] webknjaz commented on #1849
Reopening since the fix didn't work.

[2020-11-15 15:29] webknjaz commented on #1849
Oops, wrong issue.

[2020-11-15 15:29] #1849 closed, assigned to nobody

[2020-11-15 15:32] webknjaz commented on #1873
Reopening since the fix didn't work.

[2020-11-16 08:40] #1878 closed, assigned to nobody

[2020-11-16 13:06] #1535 closed, assigned to nobody

[2020-11-17 20:32] huyz commented on #1507
Time flies...

Would it make sense for this to be an [apispec](https://github.com/marshmallow-code/apispec) plugin?

Specifically, this repo: https://github.com/marshmallow-code/apispec-webframeworks

[2020-11-18 08:57] cclauss commented on #1880
Does the new dpl release help? https://changelog.travis-ci.com. It looks like it is the same issue.

[2020-11-18 09:07] cclauss opened #1890 "Slow Travis CI builds: Time to migrate from .org --> .com"
https://devops.stackexchange.com/questions/1201/whats-the-difference-between-travis-ci-org-and-travis-ci-com

**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

Travis CI has been queued without running for the past 12 hours.

**If th

[2020-11-19 11:45] EternityForest commented on #1833
Has this issue been dealt with, whatever it was? I don't see any activity here?

[2020-11-19 13:05] webknjaz commented on #1833
Probably not. I guess we need to set up a process and publish `SECURITY.rst`. I think we could route such reports via [Tidelift](https://tidelift.com/subscription/pkg/pypi-cherrypy?utm_source=pypi-cherrypy&utm_medium=referral&utm_campaign=github)

[2020-11-19 13:06] webknjaz commented on #1833
FWIW emails to team AT cherrypy dev are forwarded to the maintainers.

[2020-11-26 00:49] webknjaz commented on #1873
@liamstask could you please look into this? It appears like it stopped working after your recent refactoring...

[2020-11-26 22:15] liamstask commented on #1873
[code]

given this snippet from the traceback, it may be worth testing again with the latest cheroot if possible, since as of https://github.com/cherrypy/cheroot/pull/337 the result of `_selector.get_map()` is always tested for `None`.

[2020-11-27 00:39] webknjaz commented on #1873
@liamstask I think when I tested locally it was a different exception

[2020-11-27 21:56] liamstask commented on #1873
@webknjaz do you have any tips on how to reproduce? i ran locally (`cheroot==8.4.8`) and did not see any errors.

[2020-11-27 23:24] webknjaz commented on #1873
@liamstask this test is currently disabled so the STR would be:
1) Clone the CherryPy repo, cd into it.
2) Edit the test (`nvim cherrypy/test/test_states.py +/test_2_KeyboardInterrupt`) to have it actually executed — just comment out `run=False` (better yet, drop the whole xfail marker):
[code]
3) Execute the affected test. Here's how you can instruct pytest to select only this test:
[code]

My un

[2020-11-28 00:31] liamstask commented on #1873
Hm, I am not sure - that logic was effectively already present at that commit, a few lines up here: https://github.com/cherrypy/cheroot/commit/27ea61b43fc89aae1e3a3ba4dcf16f41dfe651f2#diff-c6dd078cdd554284798ec45114779c10824e8a6da5b1c09ddc7e5b88651b17bdL1797-L1802

Although at that commit, I don't see how that while loop:
[code]
would ever break if there was an interrupt, since a) `_set_interrupt(

[2020-11-28 12:13] webknjaz commented on #1873
It was raised in a different place on the stack. Before, it was raised from `serve()` but now it's raised around `stop()`. In particular, it used to trigger `stop()` like this https://github.com/cherrypy/cheroot/blob/bee2d3b8c7110149a888d2350f42fd24881a18c7/cheroot/server.py#L1705-L1710.

I guess what we want here is to ensure that CherryPy's behavior wasn't affected by this change. And if it wasn

[2020-11-28 16:43] liamstask commented on #1873
OK - I am not sure I have enough perspective/insight to determine the appropriate change.

At the very least, from the cherrypy test case:
[code]
seems to be inconsistent with the cheroot implementation, since the exception is propagated from the worker thread to the server here: https://github.com/cherrypy/cheroot/blob/c99085ae6b9a745663357c077e628ba8a9a6b889/cheroot/workers/threadpool.py#L139

i

[2020-11-28 19:36] webknjaz commented on #1873
@liamstask I think that exception used to be propagated and handled in the past but not anymore.

I've downgraded to Cheroot v8.4.3 in the test env, and the test passes:
[code]
When I upgraded to v8.4.4 I confirm that it makes the test fail.

So I think we need to explore whatever mechanism in v8.4.3 made it work and decide if it's still sensible.

[2020-11-28 19:57] webknjaz commented on #1873
Looks like setting the interrupt backfires into the same thread from which it was set and for CherryPy test suite is the same thread where the control from of the test method resides. But the original design was for that exception to be propagated into the thread that runs Cheroot. This would kill the server along with that thread so the exception wouldn't be a part of the control flow that assign

[2020-11-30 00:34] liamstask commented on #1873
Got it - I opened https://github.com/cherrypy/cheroot/pull/340 to revert to the previous behavior. Please let me know if you have any tips on how best to test.

[2020-11-30 00:38] webknjaz commented on #1873
@liamstask thanks! I think that checking that this CherryPy test passes with that patch should be enough. It'd probably be useful to write an equivalent regression test on the Cheroot side to prevent future surprises post-merge... I guess assigning an interrupt from any thread including the HTTP request handlers should result in the same behavior.

[2020-12-11 21:05] webknjaz commented on #1873
This should be fixed starting with Cheroot v8.5.1.