[2020-12-11 21:11] #1873 closed, assigned to nobody

[2021-01-07 04:23] FooBar007 commented on #1859
@webknjaz I don't think it's a version issue. I'm also finding the same issue using `nmap` - which came as a security vulnerability in a pentest report. FWIW, we are using the latest version of CherryPy which is not running in dev mode.

After reading your comment, we also tried using `cherrypy.config.update({'response.headers.server': 'Custom Server Name'})`, but unfortunately, the `nmap` output

[2021-01-08 17:46] webknjaz commented on #1859
I have no idea how that happens. For us to have anything actionable you need to figure out how exactly that works.

[2021-01-13 07:36] a16bitsysop opened #1896 "`StaticTest.test_755_vhost` fails on armv7"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
Building a package for several arch's armv7 fails a test all the others pass on

[code]
Full Build log:
https://gitlab.alpinelinux.org/a16bitsysop/aports/-/jobs/292025/raw

**If the cu

[2021-01-13 13:34] webknjaz commented on #1896
You didn't post the important bit:
[code]

This suggests that the test expects 301 but this env seems to be so slow that it returns 408.

The response seems to be coming from https://github.com/cherrypy/cheroot/blob/9432fae8e4ffa56ac6daf4f56e4c66d25763c1ae/cheroot/server.py#L1300.

@a16bitsysop do you have a docker image that could be spawned on an RPi4? We need a reproducer to have anything actio

[2021-01-13 17:29] a16bitsysop commented on #1896
Okay, sorry thought I had posted all the captured log part.  Yes I do have an RPi4 actually, will try on that with a docker image and try those values as well.

Also are you planning to update CherryPy tests to run on pytest6.x, I see there there are some merge requests for Cheroot relating to pytest, but couldn't see any for CherryPy.

[2021-01-13 17:48] webknjaz commented on #1896
Probably someday but we don't have much maintenance capacity to dive into it. It'd be easier if somebody contributed that. Also, I'd like to get rid of `unittest.TestCase` but that requires a lot of commitment.

[2021-01-14 11:59] a16bitsysop commented on #1896
I tried to do a reproducer here without alpine build environment as a few dependencies not added to alpine either yet:
https://github.com/a16bitsysop/CherryPy_test

It seems to just end the test instead of failing StaticTest, same on aarch64 which it should pass on?

[2021-01-14 14:37] webknjaz commented on #1896
Sounds like it hits an interactive handler that requires a TTY and the env where you run your docker container doesn't allocate one.

[2021-01-15 15:00] a16bitsysop commented on #1896
I still can't get it working in docker, even tox has an invocation error at same point when starting a shell inside container to run tests.

So I started trying to fix tests for pytest6, I have pushed first 2 fixes but am stuck on the third failure.

It is from this code in _cpwsgi.py

[code]

Which gives the error:

[code]

I have tried clearing cache before `self.cpapp.release_serving()` but it

[2021-01-15 15:31] webknjaz commented on #1896
Did you make sure to add `-it` to your commands?

For that, you'd need to do some debugging. From the log you posted it's completely unobvious what file descriptor it's talking about. Try at least learning that. Looking at the source, I think `release_serving()` publishes to `after_request` and I guess the expectation is that the subscribers would clean up their resources on this hook. But again,

[2021-01-15 15:38] a16bitsysop commented on #1896
Yes I used -it to start a shell inside the alpine docker, the test command is (calling them individually to debug):
 `pytest cherrypy/test/test_config_server.py  --tb=long`

And test failure is:
`FAILED cherrypy/test/test_config_server.py::ServerConfigTests::testMaxRequestSize - pytest.PytestUnraisableExceptionWarning: Exception ignored in:...`

Full test log is:

[code]

Is this the file?
`E

[2021-01-17 02:10] webknjaz commented on #1896
I think so but you'd need to stick a debugger there to learn where it originates.

FWIW I've made pytest ignore those warnings so if you want to fix more of those, you'll need to comment out the ignores in `pytest.ini`. But for now, they'll stop annoying un in the CI.

[2021-01-17 02:14] webknjaz commented on #1896
This is what I use personally:
[code]

[2021-01-17 08:52] a16bitsysop commented on #1896
Okay thanks, I added:
`-W ignore:unclosed:ResourceWarning`
To my pytest command and it ignores the rest of the unclosed sockets and files.
Might have a look sometime at others, it seems CherryPy is using python to close files and sockets which I thought was more pythonic but pytest6 checks program is closing them itself?

I made a patch for the timeout:

[code]

But it seems to mainly fail at firs

[2021-01-17 23:22] webknjaz commented on #1896
There's nothing Pythonic about forgetting to close file handles :) Strictly speaking, it's a bug.

FWIW I tracked down that `<_io.BufferedRandom name=19>` and it turned out to be a file that is received by server via a POST request and passed into the handler method for `/upload` in the corresponding test server as a `file` argument: https://github.com/cherrypy/cherrypy/blob/24dad62/cherrypy/test/

[2021-01-18 09:38] a16bitsysop commented on #1896
Okay.

I mean in the alpine CI/CD gitlab it will fail the first build attempt for armv7 , put pass if the build is restarted!  Seems to affect cheroot actually, but same error message about timeout.

I think I have got it working now.

[2021-01-18 10:47] webknjaz commented on #1896
If you're saying that it's flaky in your CI, it probably is: depending on the load/concurrent jobs number on your arm worker nodes, some operations can become slower temporarily and that's what's causing you problems, as I see it.

[2021-01-18 15:06] a16bitsysop commented on #1896
Okay thanks

[2021-01-18 17:32] kukosek commented on #1841
you should set host to the full domain name. or keep it localhost and use a web server to set up a reverse proxy

[2021-01-20 05:10] liyanage opened #1898 "Website advertises support for Python 2.7, but that is no longer supported"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [x] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

Report a documentation (not code) bug.

**What is the current behavior?**

The CherryPy website says:

but I read that since version 18 Python 2.7 is no longer supported, and I also read that Python below 3.6 will soon

[2021-01-20 13:27] webknjaz commented on #1898
v17 is essentially LTS where we may occasionally backport bugfixes. So technically 2.7 is supported, just not actively developed. And Cheroot will drop py2 starting v9 with v8 remaining LTS.

[2021-01-22 04:43] russellyoung opened #1899 "request for favicon.ico returns 405 using MethodDispatcher and a custom static file handler"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
`favicon.ico` gets a `405` status return

**If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the problem. If you can, s

[2021-01-31 22:45] webknjaz commented on #1872
I've set up a mail forwarder but then I rediscovered that Rémi Delon seems to use his old email under @cherrypy.org. So the last thing would be figuring out how to contact him to fix the setup.

[2021-02-19 22:49] sahansk2 commented on #1631
Hello, may I take on this issue?

[2021-02-20 00:14] jaraco commented on #1631
I believe it's a design intention that `cherrypy.engine` be a convenient global variable that represents the one and only engine that most users will use. Therefore, the expectation you report wasn't considered essential for the current design.

That said, I can think of a few ways to help meet the expectation you've described:

Here, I can imagine meeting the goal in more than one way:

- Have an

[2021-02-24 16:48] cst-art opened #1901 "Totorial 09 "Data is all my live" python3.7"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [X] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
find no way with convert my database connection after upgrade py3.4 to py3.7

 tst with Touotial09 and become in Browser this message:

404 Not Found
The path '/generate' was not found.

Traceback (most recent call last

[2021-02-28 12:53] webknjaz commented on #1901
Could you post a reproducer? Without that, I doubt anyone would be able to understand what exactly you execute.

[2021-02-28 13:00] webknjaz commented on #1901
Looking at the tracebacks, it seems like your third-party tool `cp_sqlalchemy` is broken in one place and the handler for `/generate` missing. So fix those and it'll be fine, I guess. No way to know w/o the actual code.

[2021-02-28 13:00] #1901 closed, assigned to nobody

[2021-03-01 17:48] stenci opened #1902 "Googling for CherryPy topics returns obsolete or wrong documentation pages"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
I would call this a bug, even if it is not a problem with the code. I don't know if usability/documentation problems are considered bugs. This behavior prevents me from easily finding the documentation and (I think) can

[2021-03-05 14:59] jaraco commented on #1872
@Lawouach Do you know how to reach Rémi except through cherrypy.org email?

[2021-03-05 17:13] Lawouach commented on #1872
I have other email addresses but no luck in him responding. Neither the mobile phone I had. I'll try again.

[2021-03-06 15:36] jaraco commented on #1872
Sounds good. Don't stress about it. If he misses the address, I'm sure he can find us here.

[2021-03-06 19:07] InLaw opened #1903 "installation - `collision between `python3.8-jaraco.functools-3.0.1/lib/python3.8/site-packages/jaraco/__pycache__/__init__.cpython-38.pyc'"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request
- [X] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
a sub-optimal packaging which gets compensated by pip

**What is the current behavior?**
At installation you get
collision between e.g. `python3.8-jaraco.functools-3.0.1/lib/python3.8/site-packages/jaraco/__pycache__/__

[2021-03-07 02:15] webknjaz commented on #1903
Thanks for documenting this!

FWIW the only supported installer on our side is pip. We don't package anything for NixOS so this is really something that the packagers for that ecosystem should take care of.

Also, you're pointing at the dependencies, not CherryPy itself so it's not even related to anything in this repository.

As a side note, this is a standard way of doing namespaces in the Pytho

[2021-03-07 02:15] #1903 closed, assigned to nobody

[2021-03-07 10:06] InLaw commented on #1903
you don't need to change it right away
- why not do it in the next major release?

----

"only supported installer on our side is pip"
"We don't package anything for NixOS"
- it's not about packaging cherrypy for anything different than pip

Even so NixOS seems to be "used"
- it is only the foundation (for mach-nix) but pip is the package manager which takes care of the installation of pypi packag

[2021-03-07 13:14] webknjaz commented on #1903
I'm not sure what you wanted to say by this. We don't maintain the `jaraco.*` namespace. But FWIW packaging that using Nix is a responsibility of the Nix packager, we have nothing to do with that.

Even if @jaraco upgrades the packaging method in all of 164 packages in the namespace (https://pypi.org/search/?q=jaraco), it will still cause serious problems. It is impossible to safely do this in the

[2021-03-07 13:16] webknjaz commented on #1903
If you can reproduce this by using pip solely, then it's a bug. If you can't — it's not.
If it's really a packaging bug, please report it to the corresponding projects where it appears (not CherryPy which is unrelated to how those projects are packaged).

[2021-03-07 14:29] jaraco commented on #1903
For what it’s worth, the jaraco.* packages are migrating to native namespace packages, which should address this issue.

This issue has been [reported previously](https://github.com/jaraco/jaraco.functools/issues/16). But the outcome there is the same as webknjaz has described, especially because there’s nothing CherryPy can do short of eliminating this dependency.

[2021-03-23 14:39] mpf82 opened #1904 "Question: Why is the "log" channel no longer documented?"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [X] question about the decisions made in the repository

In old versions of the documentation, the "log" channel was documented, e.g. here: https://docs.cherrypy.org/en/3.3.0/progguide/extending/customplugins.html#listeners

But in the latest docs it's not listed as a built-in channel: https://docs.cherrypy.org/en/latest/extend.html

[2021-03-24 12:20] webknjaz commented on #1904
I guess it was just lost during the docs refactoring.

[2021-03-29 15:33] Wissperwind opened #1905 "problem with cherrypy, stdout and windows services"
Hi,

I use cherrypy in a windows service.
I have redirected stdout and stderr to files:

[code]

I think cherrpy doesn't care about that and is still writing to stdout.
I noticed this by running my service in debug mode where I can see stdout and error.
All other prints go to my files, except the cherrypy starting prints were still displayed on the screen:

[code]
This becomes worse if I run the s

[2021-03-30 08:55] webknjaz commented on #1905
Sounds like you patched stderr/out after CherryPy got the pointers to the old objects. Also, I think patching global objects like that is rather bad.

FWIW it sounds like you forgot to configure or disable logging per https://docs.cherrypy.org/en/latest/basics.html#logging.

[2021-03-30 08:55] #1905 closed, assigned to nobody

[2021-04-09 08:37] webknjaz commented on #1872
Fun fact: cherrypy.org expires on Jun 29, 2021 and only Rémi has access to renewing it.

[2021-04-28 12:56] kloczek opened #1907 "Any plans to make new release?"
I see some changes already commited related to some test suite issues ond other things with which I've been dealing recently.
Is it possible to make new release of the cherrypy soon?

[2021-04-29 13:32] Blindfreddy opened #1908 "performance tuning on raspberry pi 1st generation"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

performance bug

**What is the current behavior?**

CherryPy consumes about 15-20% CPU on a single-core raspberry pi 1st generation when idle, ie. no requests being processed at all. To reduce this, I tried various con

[2021-05-01 01:11] cyraxjoe commented on #1908
I remember that some changes were introduced in cheroot (cherrypy's web server) that caused a lot of CPU usage when idle.

Are you using a virtualenv? Try forcing the installation of an older cheroot with `pip install cheroot==8.2.1` and see if you have any improvements.

[2021-05-01 14:47] Blindfreddy commented on #1908
Yes, using venv. Downgraded as suggested, unfortunately same situation:

[code]

[2021-05-01 18:31] webknjaz commented on #1908
@Blindfreddy you could try using https://github.com/benfred/py-spy to generate a flame graph and see what consumes the most resources. They have platform wheels for `armv7l` — if that's what you have, upgrade your pip and it'll pick up a manylinux2014 wheel seamlessly. If not, you may have to set up a build toolchain so that it'll get compiled from sdist (requires Rust).

[2021-05-01 18:33] webknjaz commented on #1908
You could also try installing older CherryPy versions to see if that's a regression or it's always been like this in that env.

[2021-05-02 11:46] Blindfreddy commented on #1908
@webknjaz  thanks for the suggestion, old Pi is an armv6l.  I'll try downgrading further. But even if it's always been that way, it should never have been that way in the first place:  before introducing CherryPy I used the stdlib httpserver in my app and it consumed no noticeable resources when idle - granted it is not production grade but still shows that it's possible to consume no resources wh

[2021-05-02 12:28] webknjaz commented on #1908
Sure, but if it's a regression, it'd be easier to bisect what caused it. Without more data it could be anything.

[2021-05-04 11:18] Wissperwind opened #1911 "cannot import cherrypy on a linux system"
Hi,

I have a problem using cherrypy in linux. The same code with the same shipped depenency folder works on windows.
I get the following error:
[code]

Can someone help me?

[2021-05-04 11:35] #1911 closed, assigned to nobody

[2021-05-04 22:33] webknjaz commented on #1872
Got a reminder from Cloudflare that cherrypy.org will expire in about two months.

[2021-05-05 00:50] jaraco commented on #1872
Have you tried reaching Rémy using the [OVH contact form](https://www.ovhcloud.com/en/lp/request-ovhcloud-registered-domain/)? If not, I can.

[2021-05-05 08:26] Lawouach commented on #1872
Good catch jaraco. I've sent a message but feel free to double down on it.

[2021-05-08 19:39] jllaneras opened #1913 "Broken urls in docs"
Hello,

Thank you for cherrypy.

I wanted to let you know that there are broken links in your docs. They point to a repo in bitbucket.org that does not exist: https://bitbucket.org/Lawouach/cherrypy-recipes/

If the repo was moved, you can tell me the URL and I can open a pull request.

Josep

[2021-05-08 19:48] webknjaz commented on #1913
Docs are in the CherryPy repo, not here. But yes, if it's broken, we need to find the new location. Maybe it's on GitHub.

cc @Lawouach

[2021-05-09 23:41] webknjaz commented on #1913
I think maybe https://github.com/Lawouach/Twiseless could be a replacement (it's probably not the same, though)

[2021-05-10 12:47] jllaneras commented on #1913
I just started with cherrypy so take my words with a pinch of ignorance but I'm not sure this repo is a good replacement.

There are 3 broken links to @Lawouach's recipes repo. One is an example of html templating, another one is an example of using sql alchemy and the last one is on unit testing without launching the server. I'm afraid in the repo you mention there are not great examples for thes

[2021-05-10 13:11] Lawouach commented on #1913
Hello there,

My bitbucket account is likely dead in the water. I haven't been there in years.
I'm sorry you didn't get hold of me, not sure where you tried but I have clearly missed it. I'm sorry for that.

These examples are fairly old, I'm surprised the docs isn't covering them already in a better fashion?

[2021-05-10 13:32] webknjaz commented on #1913
@Lawouach there haven't been any substantial docs changes in a while. Any chance you could recover the repo? Maybe you have it locally or mirrored somewhere? We could just host it under this org then. Plus I think it would be nice to have it (probably as an archived repo) for history.

[2021-05-10 14:18] Lawouach commented on #1913
Oh my oh my. They were destroyed during the big BitBucket switch. I'll see if I can recover them somehow but this won't happen overnight :/

[2021-05-10 14:23] webknjaz commented on #1913
Thanks!

[2021-05-19 13:39] Blindfreddy commented on #1908
I tried to downgrade to 6.1 but cherrpypy won't even start with a recent python version. Next I'll the the py-spy to narrow down the problem area.

[2021-05-19 14:47] jaraco commented on #1872
I sent a message also.

[2021-05-19 16:00] webknjaz commented on #1872
Assuming we lose the domain, should we set some redirects to the raw RTD links ahead of time? Any other ideas?

[2021-05-19 16:04] Lawouach commented on #1872
Potentially waiting for it to expire and buy it again.

Get another domain?

Le mer. 19 mai 2021 à 18:00, Sviatoslav Sydorenko ***@***.***>
a écrit :

[2021-05-19 21:34] jaraco commented on #1872
If I can't reach Remy, I'll contact OVH to find out if we can adopt the domain.

_Edit: actually, maybe I should do that now._

[2021-05-19 21:55] jaraco commented on #1872
I've created [a ticket with OVH](https://ca.ovh.com/manager/dedicated/#/support/tickets/2311468) (probably visible only to me; had to create an account to file it). I'll report back what I hear.

[2021-05-24 11:08] jaraco commented on #1872
OVH had nothing to offer but inane responses. At this point, it seems unlikely we will be able to retain the domain. I recommend we redirect resources to GitHub.com until we know what’s going to happen to the domain.

[2021-05-24 16:26] tirkarthi opened #1914 "Threading related deprecation warnings in Python 3.10"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

Python 3.10 deprecates camelCase aliases in threading module.

Ref : python/cpython#25174

Similar to https://github.com/cherrypy/cheroot/issues/369

**What is the current behavior?**

[code]

**What is the expected be

[2021-05-24 19:28] Lawouach commented on #1872
Are we interested in an alternate domain with a different tld? I wish Rémi could reply to any of us, it feels unlike him to not to do so.

[2021-05-24 23:10] webknjaz commented on #1872
I mean... We could go for something cheap within gTLD. The thing is that the team email is stated as a place to send security reports and in various metadata places. A new domain may be useful because it's nice but the side-effects from losing the original one are still going to be painful.

[2021-05-26 13:41] hroncok commented on #1914
There is also:

[code]

Funnily enough, the entire pytest exits with code 70 with no useful information when those happen.

This pytest filterwarning seems to work as a temporary workaround:

[code]

[2021-06-07 18:00] #1914 closed, assigned to nobody

[2021-06-07 18:30] webknjaz commented on #1907
I'll release it when I'll have time to fix the whole CI/CD disaster. No ETA so far. But TL;DR [Travis CI is dead](https://webknjaz.me/prose/et-tu-brute-use-travis-ci-for-foss-no-more/) but the automatic release was only configured there.
At some point, I'll make the automation similar to Cheroot.

[2021-06-07 18:30] #1907 closed, assigned to nobody

[2021-06-28 06:57] webknjaz commented on #1872
FQDN expiration date is tomorrow. I've updated some of the links + redirects to canonical GH Pages and RTD URLs. But I haven't changed this in the dist metadata so the links from PyPI (especially old releases) will remain broken.

[2021-06-28 12:32] jaraco commented on #1872
I'll attempt on Wed to register the domain.

[2021-06-30 13:24] jaraco commented on #1872
Okay, so cherrypy.org is down. The domain has expired. Yet I still can't register it.

[2021-06-30 13:42] jaraco commented on #1872
I suspect there's a hold period, but the OVH website isn't very transparent about the process. I guess i'll just try to register every week or so.

[2021-06-30 16:25] jaraco commented on #1872
Looks like there's a [35 day period](https://www.ovh.com/world/domains/dotorg.xml) where the domain will be reserved and pending delete, then it will become available.

![image](https://user-images.githubusercontent.com/308610/123997365-50e24b80-d99e-11eb-9578-66fd8fe8fc1a.png)

[2021-06-30 16:27] jaraco commented on #1872
[code]

So I'll come back on Aug 3 to try to register it.

[2021-06-30 16:28] webknjaz commented on #1872
@jaraco could you try registering under Cloudflare? Their prices are substantially cheaper usually.

[2021-06-30 16:30] jaraco commented on #1872
Good advice. I'll shop around. I may register with the name provider I use for my other domains, just to limit accounts. I'll certainly add more than one authorized contact, though, for the bus factor. I may transfer my other domains to Cloudflare if the pricing is comparable.

[2021-06-30 16:31] webknjaz commented on #1872
CF price is going to be about $10 per year.

[2021-06-30 16:41] jaraco commented on #1872
From [this link](https://support.cloudflare.com/hc/en-us/articles/360019910671-Transferring-and-renewing-domains-with-Cloudflare-Registrar):

So I'll need to register elsewhere then transfer it.

[2021-06-30 17:48] webknjaz commented on #1872
Oh, I didn't realize that. Also, another restriction is that you can only move a domain that hasn't been changed during the last 60 days.

[2021-06-30 17:49] webknjaz commented on #1872
Side note: atm there's places (like security policy) pointing people at the team email, we should probably change that (temporarily?) to use our direct emails.

[2021-07-02 09:17] brainbytes42 commented on #1788
Hello,

I came across the same problem and found this issue.

My Environment is Windows + IntelliJ with Python-Plugin (which hould by quite equal to PyCharm in effect).

Although I wouldn't know how to write a proper test for that, maybe the following observations may help - either to fix or at least circumvent this issue.

After the Autoreloader has re-spawned the server (because of changes to th

[2021-07-03 00:51] timgates42 opened #1919 "Proposing a PR to fix a few small typos"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate and Expected Behaviour

- Examine docs/extend.rst and observe `tranisition`, however expect to see `transition`.
- Examine cherrypy/daemon.py and observe `sterr`, however expect to see `stderr`.
- Examine cherrypy/test/test_dynamicobjectmapping.py and observe `existings`, however expect to see `existing`.

# Notes

Semi-automated issue generated b

[2021-07-03 21:49] jaraco opened #1920 "CherryPy fails to install on Windows on Python 3.10, churns for hours"
In [this build of jaraco.mongodb](https://github.com/jaraco/jaraco.mongodb/runs/2979500733?check_suite_focus=true), which installs CherryPy as part of the tests, the test runs for hours and hours attempting but failing to install pywin32.

[2021-07-03 22:08] jaraco commented on #1920
The main problem is that pywin32 hasn't released a build for Python 3.10 yet, and it looks like it's [fundamentally incompatible](https://github.com/mhammond/pywin32/issues/1588).

Another problem is that CherryPy doesn't provide a lower bound for pywin32, so pip feels obligated to try every old, broken version. Probably would be a good idea to require some recent version that doesn't include sour

[2021-07-03 22:12] jaraco commented on #1920
Looks like [227](https://pypi.org/project/pywin32/227/) was stable and didn't include source releases, but is a couple of years old. Let's use that as the lower bound.

[2021-07-03 22:16] jaraco opened #1921 "CI is failing on main."
From what I can surmise, CI hasn't passed on the main branch for months.

[2021-07-03 22:30] #1920 closed, assigned to nobody

[2021-07-03 22:34] jaraco commented on #1920
I've build and uploaded v18.6.1 with this change.

[2021-07-03 22:54] jaraco opened #1922 "Update packaging and adopt jaraco/skeleton"
I'd like to update CherryPy to adopt the practices presented in [jaraco/skeleton](/jaraco/skeleton), including such features as:

- Run tests on Github Actions (including Windows and macOS); drop other CI engines.
- Streamlined automatic releases from CI.
- Modern declarative config.
- Integrated testing with type checking, linters, coverage.
- Shared updates with other projects.

@webknjaz What d

[2021-07-04 06:28] webknjaz commented on #1921
Yep, I've been meaning to fix that

[2021-07-04 08:27] mgorny opened #1924 "Homepage doesn't resolve anymore"
It seems that the homepage listed in `setup.py` (cherrypy.org) doesn't resolve anymore.

[2021-07-04 08:32] m-aciek commented on #1924
Related to #1872.

[2021-07-04 13:13] agilezebra commented on #1872
In the interim, for those of us wanting access to the documentation that was at cherrypy.org, is there either an IP address that I can put in my local /etc/hosts file mapping to cherrypy.org, or some other temporary domain name someone feels like registering?

[2021-07-05 08:08] webknjaz commented on #1872
@agilezebra the landing page is served by GitHub Pages at https://cherrypy.github.io.

And all the docs are accessible via their RTD URLs:
* https://cherrypy.rtfd.io
* https://cheroot.rtfd.io
* https://magicbus.rtfd.io

[2021-07-05 13:44] Blindfreddy commented on #1908
Haven't had time to use py-spy but thought I'd reduce the threadpool from default 10 to 1:   sadly no change, but at least now it's clear that the worker threads aren't the root cause. Next I'll turn off the Autoreloader thread. Keep you posted.

[2021-07-05 18:28] webknjaz commented on #1922
I'd like to keep handling this sort of setup by myself because some of that doesn't fit every project possible. I think we agreed earlier (in some Cheroot issue?) that it's best to keep it separate. I hope that at some point I'll make a separate shared setup for the CherryPy projects (I have some alternate ideas on how to manage this).
I keep other CIs mostly because they provide envs not covered

[2021-07-19 19:00] MichaIng commented on #1908
You might want to try CherryPy<9.0.0, as this is where the engine was switched from wsgiserver to cheroot: https://github.com/cherrypy/cherrypy/blob/main/CHANGES.rst#v900
At least in our project that version works fine on Python 3.9.

[2021-07-19 20:28] webknjaz commented on #1908
It shouldn't matter. The "switch" was just moving code from one place to another w/o changes. It was an organizational change, not a functional one. Of course, over time it got refactored but I don't believe it'd influence stuff this much.
OTOH, it may be a good idea to check if the use of cheroot alone produces a similar amount of load or not. The invocation examples are here: https://cheroot.rea

[2021-07-21 11:31] webknjaz commented on #1908
@Blindfreddy could you check this out https://github.com/cherrypy/cheroot/issues/378?

[2021-07-21 11:36] MichaIng commented on #1908
Yes, I checked back what the reason for us was to stick with CherryPy<9 and it was idle CPU usage as well. So I narrowed it down to two PRs which changed the connection management and even found a workaround by changing a single timeout value in the code. But I have not enough insights to know whether this has other negative impact. But at least [the initial reason to lower this timeout](https://g

[2021-07-22 21:19] Blindfreddy commented on #1908
https://github.com/cherrypy/cheroot/issues/378 seems to describe the same problem so happy to merge the two.

Assuming the timeout is the root cause I'd also suggest to make it configurable because nowadays low-performance SBCs are pretty rare and in many cases faster response times are preferable - e.g. I never noticed the problem on my high-performance development laptop....

[2021-07-22 23:14] MichaIng commented on #1908
With https://github.com/cherrypy/cheroot/pull/352 it would then be the `expiration_interval` that can be set for the `HTTPServer` class already and defaults to 0.5 seconds. While it is probably not yet a perfect solution, as I noted in the other issue, it would solve the idle CPU load (when indeed the reason in your cases is the same) with the default value already 🙂.

[2021-07-26 17:24] Kodiologist opened #1925 "Detect replaced TLS certificates"
**I'm submitting a ...**
- feature request

**What is the current behavior?**

It appears that if the files at the paths set with `Server.ssl_certificate`, `.ssl_certificate_chain`, and `.ssl_private_key` are updated while Cherry is running, it won't notice, and will continue using the old files. This is problematic if you're using Let's Encrypt and Let's Encrypt updates your certs but the old one

[2021-07-31 19:50] kloczek opened #1926 "Q: where is `zc` module?"
I'm trying to package cherrypy as rpm package and I have problem with locating `zc` module in test suite.
PyPI shows https://pypi.org/project/zc/ but this module has only empty zc.py so it must be something else.
May I as for help locating that module?

[2021-07-31 20:06] kloczek commented on #1926
OK I just found that actually it is not `zc` but `zc.lockfile`.
Closing

[2021-07-31 20:06] #1926 closed, assigned to nobody

[2021-08-03 13:54] jaraco commented on #1872
Domain is still pending delete. Maybe it's a rounding error. I'll try again this evening and tomorrow.

[2021-08-03 20:00] jaraco commented on #1872
I double-checked and the 35 day period has transpired.

Whois from OVH reports a stale record indicating that it was unchanged since 2021-06-30:

</details>

[code]

</details>

I tried to reach out to OVH on twitter, but no response. I tried to contact support by phone, but they just hang up on you if you're not a customer. I've posted a [question in their forum](https://community.ovh.com/en/t/ex

[2021-08-03 20:12] Lawouach commented on #1872
ICANN seems to say that the domain has the following [statuses](https://www.icann.org/resources/pages/epp-status-codes-2014-06-16-en#clientTransferProhibited):

Domain Status:
clientHold
clientTransferProhibited
inactive
pendingDelete
redemptionPeriod
autoRenewPeriod

I'm guessing it is blocked for a longer graceful period.

[2021-08-05 20:31] jaraco commented on #1872
Yesterday, I called OVH sales to see if they could let me register the domain, but because OVH CA doesn't work with OVH FR, they had no more access to the domain than I do through the public interface. They directed me to the Web team, but they also had no access to the domain without unlocking the account (to which we don't have access). He directed me to file an abuse form, so I did that, but I

[2021-08-05 20:34] Lawouach commented on #1872
I can call OVH France tomorrow.

Le jeu. 5 août 2021 à 22:32, Jason R. Coombs ***@***.***> a
écrit :

[2021-08-05 22:46] jaraco commented on #1872
Something I notice in the latest [whois query](https://gist.github.com/46d9e2971fc2a1b2368aaf77bcb360e4), whois.pir.org reports the `Registry Expiry Date` as `2022-06-29T07:18:48Z`, as if it was somehow renewed.

I'm not sure how to interpret the differing data from whois.pir.org (more recent last update) and the data from whois.ovh.com, which has stale data (latest update 2021-06-30T08:55:44.0Z).

[2021-08-10 10:46] Lawouach commented on #1872
I called OVH France today. I was just short of a phone number for Rémi (his old one not his most recent one I knew about) to get more details. Anyway, I managed to discuss about the meaning of the public information and he clarified that the domain is in redemption period (40 days since the expiration date). This redemption period will end soon therefore (no precise date sadly). Once it's ended, t

[2021-08-19 21:19] jaraco commented on #1872
I continue to pursue the issue through an ICANN complaint whose policy states that the expired domain should be released within 45 days. I filed the complaint last week and yesterday I received a generic response requesting artifacts and evidence (including supporting evidence that I'm a registrant), betraying that they also didn't understand the request.

It seems we're the first domain in histor

[2021-08-22 20:10] webknjaz commented on #1872
How about something like `cherrypy.app`?

[2021-08-23 07:29] Lawouach commented on #1872
I'm also happy to get cherrypy.dev and add you as an admin of the domain to avoid future issues :p

[2021-08-23 17:38] webknjaz commented on #1872
That sounds good, also there's some other cheap options. For example: `cherrypy.page`, `cherrypy.link`, `cherrypy.group`, `cherrypy.company`, `cherrypy.club`, `cherrypy.fans`, `cherrypy.name`, `cherrypy.rocks`, `cherrypy.place`.

[2021-08-23 18:09] cyraxjoe commented on #1872
If I understand correctly, the current information in the whois db states that the domain will be purged and become available on `2021-09-01T03:42:18`  (last update + 30 days + 5 days). The idea is to wait for that? Or just to go ahead and choose the new domain?

[2021-08-24 07:30] webknjaz commented on #1872
Yes, I think we could wait for that. But meanwhile it doesn't hurt to talk about the backup plans.

[2021-08-31 14:48] damascene opened #1927 "Cookie “session_id” will be soon rejected because it has the “SameSite” attribute set to “None” or an invalid value, without the “secure” attribute."
**I'm submitting a ...**
- [x] bug report

**Do you want to request a *feature* or report a *bug*?**
Seems like an issue that Firefox is reporting with cookie when I visit my cherrypy site.

**What is the current behavior?**

Firefox shows this warning:
[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the problem. If you ca

[2021-09-01 15:28] cyraxjoe commented on #1872
My estimation of `2021-09-01T03:42:18`  (last update + 30 days + 5 days), was wrong :crying_cat_face: ... unless someone is counting in _business days_? Anyway, it seems that they do give quite a bit of margin to the original owner to recover the domain.

[2021-09-02 14:52] webknjaz commented on #1872
Urgh... *Just* got a notification from UptimeRobot that the web server is available again only to see that it now redirects to some ridiculous auction page :man_facepalming:

[2021-09-02 14:54] Lawouach commented on #1872
Right, that's it. Let's forget about that one.

Happy to go and buiy anything that works and is nice to administer.

[2021-09-02 14:56] webknjaz commented on #1872
Agreed. But we need to decide (vote?) on which gTLD to use.

[2021-09-02 15:51] cyraxjoe commented on #1872
My personal favorites (+1 for the poll):

- dev
- works
- app
- Io
- info
- rocks
- co

[2021-09-02 18:34] jaraco commented on #1872
I think we should tweet something like:

Also, we should delete or move any accounts secured by an email `@cherrypy.org`.

I like `.dev`, `.io`, `.co`.

[2021-09-02 19:43] cyraxjoe commented on #1872
I'm also :+1: on the idea of tweeting that. For the domain sub-selection that @jaraco mentioned: `dev` is the cheapest, is [managed by Google and requires to use HTTPS](https://en.wikipedia.org/wiki/.dev). I don't think that would be a big issue.

[2021-09-03 01:32] jaraco commented on #1872
@webknjaz If you're okay with `.dev`, let's just go with that. @Lawouach I know you offered to register it, but I'm also happy to do so. If you don't have a strong preference, I'll take it on, but I'll still get at least two of us if not more authorized on the domain, as you said to avoid this situation again.

[2021-09-03 07:34] Lawouach commented on #1872
It works for me either way. Before we get on it though, cherrypy.dev will require a TLS certificate. I can also get one or, depending where we host, this'll be provided. wdyt?

[2021-09-03 14:06] jaraco commented on #1872
I've been using [letsencrypt](https://letsencrypt.org)... but if the website is hosted on Github, I think they will issue the certificate (again through letsencrypt). I'm less sure if anything is needed for SMTP. Appreciate the offer for help.

[2021-09-03 15:52] webknjaz commented on #1872
re:Twitter
----------

+1 to send out the tweet. You @jaraco should also have access via https://tweetdeck.twitter.com.
I think we need to do the same on other channels, like MLs, changelog, other repo Discussion pages etc. Maybe it's best to do this once we have the domain fully integrated.

re:fqdn
-------

I like these (also added prices from namecheap):
* cherrypy.rocks $3.98/yr (Retail $10.98

[2021-09-04 02:54] jaraco commented on #1872
I’ve registered the domain. I can add other admins with an email address. @Lawouach and @webknjaz would you please email me with the email you would like to use for access to the domain? If you don’t know my email, it’s prominent in my commits. I’ve registered with Google domains so the address may need to be associated with a Google Account .

[2021-09-04 02:55] jaraco commented on #1872
Does anyone know if the previous zone info was saved? Do we already have the DNS zone hosted somewhere? If not, I’ll probably host it at AWS alongside my other domains.

[2021-09-04 06:48] webknjaz commented on #1872
I think I didn't back up the zone but I have a strong preference of keeping it on CloudFlare as it was before. We have a shared account there with the access from your and mine.

Let me take care of recovering the config, please.

P.S. Oh, and I've sent you an email from the gsuite canonical account.

[2021-09-04 07:03] webknjaz commented on #1872
I think I recovered most of the zone setup and if you try replacing the DNS servers in Google Domains with these
- `amber.ns.cloudflare.com`
- `clyde.ns.cloudflare.com`

it should work for RTD (the main site repo will still need a CNAME file added after that).

[2021-09-04 20:41] webknjaz commented on #1872
https://cherrypy.dev, https://docs.cherrypy.dev, https://cheroot.cherrypy.dev and https://magicbus.cherrypy.dev are now live. Mail forwarding is not yet set up.

[2021-09-04 20:53] webknjaz commented on #1872
I've configured forwarding for your @jaraco and my usernames under the domain, plus team@ that goes to both. Do we need a separate security@ alias?

[2021-09-05 11:06] webknjaz commented on #1872
UPD: I've also set up DNSSEC and the zone is now protected from spoofing.

I think we are now ready to start pointing people at new URLs and emails in docs, meta and announcements.

[2021-09-05 21:37] kloczek opened #1929 "18.6.1: sphix 4.x warnings"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**What is the current behavior?**

Looks like sphinx 4.x shows a lot of warning
<details>

[code]
</details>

**Please tell us about your environment:**
- Cheroot version: 18.6.1
- CherryPy version: 18.6.1
- Python version: 3.8.12
- OS: Linux/x86_64
- Browser: N/A

[2021-09-05 21:46] kloczek opened #1930 "18.6.1: pytest is failing because missing `watcher_getter` fixture"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**What is the current behavior?**

I'm trying to package your module as an rpm package. So I'm using the typical build, install and test cycle used on building packages from non-root account.
- "setup.py build"
- "setup.py install --root </install/prefix>"
- "pytest with PYTHO

[2021-09-07 22:49] jaraco commented on #1872
I tried tweeting the following:

But tweetdeck rejected the tweet because I'd "initiated too many login attempts". Not sure what that means.

[2021-09-07 22:53] webknjaz commented on #1872
Oh, dunno what that means but I can tweet directly, then.

[2021-09-07 22:58] webknjaz commented on #1872
Done.

[2021-09-08 12:46] webknjaz commented on #1872
Urgh... I just noticed that the tweets weren't sent from the regular Twitter app either. I've found them in the draft + there was a notification that sending failed (with no explanation).
Then, I remembered that I saw the private messages from UptimeRobot mentioning the old domain being marked as suspicious. Which hinted me that Twitter is probably marking that website as dangerous. So I modified

[2021-09-23 07:46] jdoig opened #1936 "Thread local storage always seems empty even when set in a previous request"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Thread local storage is seemingly getting cleared

**If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the

[2021-09-23 08:31] #1936 closed, assigned to nobody

[2021-10-19 07:58] C4o opened #1937 "Static resources cannot be request"
Static resources cannot be request

**I'm submitting a ...**
- [ *] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
cannot request favicon.ico and cannot request any file after i creating it.

**If the current behavior is a bug, please provide the steps to re

[2021-10-19 19:25] ikus060 commented on #1767
Any update on this ? It make most application develop on cherrypy vulnerable to CSRF attack. Unless another CSRF counter measure is put in place.

[2021-10-19 21:29] webknjaz commented on #1767
@ygbr I like the second option and/or monkey-patching. It's not like the old Pythons will change the API suddenly and the new Pythons will "just work".

[2021-12-05 08:45] JamieSlome opened #1941 "Trying to get in touch regarding a security issue"
Hey there!

I belong to an open source security research community, and a member (@scara31) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice

[2021-12-05 17:10] webknjaz commented on #1941
Thanks for raising this! I didn't realize that the CherryPy repos don't have this file (I tend to create it in the new projects right away).

I've just created a forwarding rule for `security` AT [this framework] dot `dev` for the reports and I'll keep this issue open until I get to creating the `SECURITY.rst` document.

As for the issue, I have created a draft advisory in this repository and invi

[2021-12-09 11:23] liuqinfei commented on #1862
I also encounter this problem in OpenEuler.
But i have rpmbuild jaraco-collections to a rpm package and install it. It does not work. But if i install by pip, it works.
I do not know way.
Any one know about this?

[2021-12-10 02:56] liuqinfei commented on #1862
I have figure out that there is some wrong with the jaraco-collections. After i rebuild the jaraco-collections rpm package. It works now.

[2021-12-10 15:43] ikus060 commented on #1855
Bumping this issue. I'm having this problem too with CherryPy v18.6.0

Session files get properly cleanup, but the lock files are not.

[2021-12-16 14:22] Asharma86 commented on #1767
@ygbr, you mentioned that we can currently set it manually, what is the procedure for that?

I tried using the following but ran into an error:
Code:
`cherrypy.response.cookie["samesite"] = 'strict'`
 `cherrypy.response.cookie["samesite"]['max-age'] = 120`

Error:
`http.cookies.CookieError: Attempt to set a reserved key 'samesite'`

[2021-12-18 12:44] ikus060 commented on #1855
As an implementation recommendation, I would simply add a clean-up process to delete the file if the modification date is greater then the expiry. That way you may keep the lock file around, but still get them clean-up.

[2021-12-20 00:54] webknjaz commented on #1855
Yeah, it's a known issue. The cleanup is not that easy to get right in a cross-platform manner, unfortunately. IIRC there were at least problems with Windows locking the access to files with some race conditions around that. But a PR is welcome :)

[2021-12-20 12:40] ikus060 commented on #1855
To support older cherrypy version, I intend to get it fixed outside Cherrypy for now with a clean-up cronjob.

[2022-01-03 19:28] MichaIng commented on #1908
This has now been merged here: https://github.com/cherrypy/cheroot/pull/401
Testing/verifying the idle CPU usage benefits would be welcome.

On Windows systems, sadly a capped timeout needs to stay, as the connection handler `select()` function somehow on Windows does not return as fast as a connection is detected. The timeout however has been increased from `0.01` to `0.05` seconds, which seems t

[2022-01-10 00:19] VladimirKuzmin opened #1942 "Server shutdown stucks with message "Waiting for thread asyncio_0""
In python 3.9 threads created by `concurrent.future` module are not daemonic anymore (see https://bugs.python.org/issue39812), it makes [that comment](https://github.com/cherrypy/cherrypy/blob/a7983fe61f7237f2354915437b04295694100372/cherrypy/process/wspbus.py#L361) not true. As a result of this change `engine.block()` attempts to join ThreadPoolExecutor threads created either by asyncio or manual

[2022-01-10 00:43] VladimirKuzmin commented on #1942
Tested on macos 12.0.1, no issue with `execv`:
[code]
printed "ok".

[2022-01-12 12:32] ampanasiuk commented on #1855
Another work around is to write or read something from the session.
[code]

[2022-01-29 09:45] domdfcoding opened #1944 "AttributeError on Python 3.11"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**What is the current behavior?**

Importing `cherrypy` on Python 3.11 alpha 4 results in an AttributeError.

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the problem. If you can, show us your code.

[2022-02-01 18:51] #1944 closed, assigned to nobody

[2022-02-22 11:31] Blindfreddy opened #1948 "Setting global loglevel is not propagated to app loggers"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

bug - although it's not entirely clear if the behavior is as designed and/or desired.

**What is the current behavior?**

Setting the global logger's loglevel is not propagated to app loglevels, even when the latter ha

[2022-02-26 13:37] xfangfang opened #1949 "Application cannot restart when packaging cherrypy with pyinstaller"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

It's hard to say whether this is a bug or a feature request

**What is the current behavior?**

When using pyinstaller to package CherryPy, calling ` cherrypy.engine.restart() ` will cause a crash:

[code]

**If the cu

[2022-03-08 18:34] bumblebee211196 opened #1951 "Add request validation as a cherrypy tool"
Hello, thank you for this wonderful and easy to use web-server. I have a feature request.

**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
For any API request handled by a controller, there is no validation of the request pa

[2022-04-05 19:08] nils-ost opened #1952 "Make staticdir index be searched absolute to staticdir.dir"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

It's a feature

**What is the current behavior?**

A static dir configuration like:

[code]

Allways searches for the index.html relative to the Request-URI, e.g:

  * `static/app/index.html` if Request-URI is `/app/`

[2022-04-12 13:53] radez opened #1958 "DeprecationWarning: This method will be removed in Python 3.12. Use 'parser.read_file()' instead."
**I'm submitting a ...**
- [ X ] bug report

**What is the current behavior?**

_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
cherrypy/_cpconfig.py:157: in update
    super(Config, self).update(config)
        __class__  = <class 'cherrypy._cpconfig.Config'>
        config     = <_io.StringIO object at 0x7fde106cb5b0>
        self       = {'tools.log_tracebacks.on

[2022-05-11 22:29] timboe51 opened #1960 "configure apache for cherrypy web app"
Hello,
Could you help me please?
I made a web app based on cherrypy and I try to create an access from the web.

I created a address (bridgee.ddns.net) which is link to my box, which is link to my raspberry. It works well for the default config of apache.

I followed instruction "Apache with mod_rewrite Module" from the book "cherrypy essentials" but apache don't redirect (via rewriterule) on my r

[2022-05-12 22:08] #1960 closed, assigned to nobody

[2022-05-12 22:28] timboe51 opened #1961 "Deploy cherrypy on web"
Hello,

I want to deploy my cherrypy app to web. My raspberry is linked to my box with port 80. My box is linked to web url via no-ip.
In the file .conf, in [global], I put that in server.socket_host and _port
But when I load the server, I have
OSError No socket could be created .... [Errno 13] Permission denied

There is no problem when I do it with an other port, in localhost.

What is the probl

[2022-05-12 22:57] #1961 closed, assigned to nobody

[2022-05-19 20:26] sanderjo opened #1962 "Python3.11: "import cherrypy" gives AttributeError: module 'inspect' has no attribute 'getargspec'. Did you mean: 'getargs'?"
**I'm submitting a ...**
- [X] bug report
- [X] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**

A bug, but against python 3.11, so maybe a feature request

**What is the current behavior?**
[code]
and inspect:
[code]

... so no `inspect.getargspec`

**If the current behavior is a bug, please provide the steps to

[2022-05-19 20:53] sanderjo commented on #1962
Oh, seems the same as https://github.com/cherrypy/cherrypy/issues/1944

[2022-05-19 20:53] #1962 closed, assigned to nobody

[2022-05-19 21:10] sanderjo commented on #1962
Proof it works with github version of cherrpy:

Fresh docker:
`docker run -it ubuntu:latest /bin/bash`

Setup:
[code]

Proof:
[code]
No error anymore, and all well.

[2022-05-27 13:35] rkachach opened #1963 "Cannot capture the exception in case the server port is already occupied"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
BUG:
[code]

**What is the current behavior?**
It's not possible to capture the exception when trying to bind the server in a port which is already occupied

**If the current behavior is a bug, please provide the steps

[2022-06-27 14:08] Bhargav-Singh commented on #1507
@dmlb2000  Where are you buddy.. Any luck we one should expect on this?

[2022-06-28 13:41] Giancarlos commented on #1507
I'm wondering if a generic library could be used, maybe something like this:

https://github.com/Neoteroi/essentials-openapi

This one is supposed to be generic.

[2022-07-11 01:21] jaraco opened #1966 "Project is stale"
Today, I ran into #1962. It's blocking the release of [pmxbot](/pmxbot/pmxbot). It seems it was fixed but not released. Let's get it released.

[2022-07-11 01:34] jaraco commented on #1966
18.7 is released.

[2022-07-11 01:34] #1966 closed, assigned to nobody

[2022-07-11 01:42] jaraco commented on #1922
Unfortunately, the current workflow is not working for me or for this project. The current release process is manual and opaque and this project is becoming unmaintained. It's been over a year since a release and stale information in the repo. Since the current workflow isn't able to keep up with the modest demands of this project, I'm going to pull rank and adopt jaraco/skeleton. I'll do my best

[2022-07-11 06:51] mgorny commented on #1536
Now that `xfail_strict` has been enabled in 565c181ff2b26e4685d36f500f78c99e04091590, this XFAIL is causing test failure when the test passes (and it seems to pass for me all the time).

[2022-07-11 07:56] webknjaz commented on #1922
@jaraco why do you think the release is manual? The trigger is just different than in other projects but the release is automatic (unless you've found something broken) — it should work through the GHA workflow trigger (I should've documented this). The only thing that isn't documented is the changelog bit — is this what you're referring to? Adding towncrier would be reasonable.

![Screenshot_2022

[2022-07-11 08:02] webknjaz commented on #1922
LOL I thought it was a Cheroot issue and not CherryPy 🤦🏼. The screenshot is from Cheroot.

Yes, having it automated is a good thing. Although, I still have strong feelings about the skeleton. Maybe we could agree on transferring the automation from Cheroot instead?

[2022-07-11 13:43] jaraco commented on #1922
I'm not just concerned with the release workflow. I'm concerned about all of the other concerns that jaraco/skeleton addresses (unified maintenance, integrated linting and type checking, Python versioning support, tooling updates).

I was willing to accept a divergent workflow for CherryPy projects as long as someone else is willing to take on all of those responsibilities. However, as we've not s

[2022-07-11 17:18] webknjaz commented on #1922
Well, I don't think that not having releases is directly related to this. There was no attempts to release, to my knowledge.

[2022-07-11 17:23] webknjaz commented on #1536
@mgorny @jaraco FYI for flaky tests, the right solution is to have `@pytest.mark.xfail(..., strict=False)`

[2022-07-11 21:03] jaraco opened #1968 "Code is too complex"
After adding a linter with a max complexity, there are 36 failures due to too high complexity.

[2022-07-16 23:55] kloczek opened #1970 "18.7.0: documentation build fails"
Looks like documentation build is broken
[code]

[2022-07-17 13:05] kloczek commented on #1930
Closing.
Will open new updated ticket for latest version.

[2022-07-17 13:05] #1930 closed, assigned to nobody

[2022-07-17 13:34] kloczek opened #1971 "18.7.0: pytest is failing"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
I'm packaging your module as an rpm package so I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm bu

[2022-07-17 13:43] kloczek opened #1972 "18.7.0: documentation build fails"
<!--
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Looks like sphinx (5.0.2) is failing on building documentation
[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots an

[2022-07-17 13:45] kloczek opened #1973 "RFE: Replace use of `pkg_resources` with `importlib.metadata`"
See discussions:
[astropy/astropy#11091](https://github.com/astropy/astropy/pull/11091)
[pypa/pip#7413](https://github.com/pypa/pip/issues/7413)

[code]

[2022-07-17 14:06] kloczek commented on #1971
After add that unit to --deselect list I have now errors
[code]
I cannot find what provides `watcher_getter` fixture.
May I ask fo rdome hint? 🤔

[2022-07-17 18:03] jaraco opened #1974 "Host header leaks dangerous characters under RFC 2047 encoding"
This issue was reported to security@cherrypy.dev as a security issue on 2022-06-18.

The report to security@cherrypy.dev included this content:

Based on the report to security@, I created this repro:

[code]

Launching the server with `pip-run -q -- repro.py`, and using httpie to query the server, I confirm that arbitrary bytes are received by the server handler:

[code]

Here's the concern as re

[2022-07-17 19:50] jaraco opened #1975 "doctests aren't run"
While working on another issue, I was adding some code. When I added the code, I added a couple of doctests to document and test the basic behavior, but when I ran the tests with `-k httputil` (since the doctests were in httputil), the tests weren't run. It would be preferable for doctests to be exercised when they exist.

[2022-07-17 19:51] jaraco commented on #1975
As a temporary workaround, I was able to run `.tox/python/bin/python -m doctest cherrypy/lib/httputil.py` to exercise and validate the new tests.

[2022-07-17 20:36] #1974 closed, assigned to jaraco

[2022-07-17 20:42] jaraco commented on #1974
After some consideration, I determined that a workaround may be healthy for consumers. In #1976, I implemented what the user suggested, wrapping the host header to transform dangerous values by eliminating them. Currently, only newlines are considered dangerous. We can expand that list of characters if needed. Fix released in v18.8.0.

[2022-07-17 21:05] jcfp commented on #1970
I was just about to report this as well. The cause seems to be `get_supported_pythons` in docs/conf.py returning an empty list now that PKG-INFO no longer lists any specific `Classifier: Programming Language :: Python :: 3.x` in 18.7.0 and newer.

[2022-07-20 09:36] webknjaz commented on #1971
I thought `pytest --fixtures` would also list the sources, no?

[2022-07-20 10:11] kloczek commented on #1971
[code]

[2022-07-20 10:13] kloczek commented on #1971
Does it mean that I need to have installed memcached in build env? 🤔

[2022-08-19 12:39] oleksiilv opened #1978 "Possibility to disable TLS v1.1 when using cherrypy ssl builtin (or pyopenssl) module"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
feature (or missing documentation)

**What is the current behavior?**
It is not documented on how we can disable TLS v1.1 when using cherrypy ssl builtin (or pyopenssl) module.

I see some related questions on stackover

[2022-09-08 11:20] oleksiilv commented on #1978
@jaraco, @webknjaz , maybe you can suggest something on this? thanks

[2022-09-08 12:33] webknjaz commented on #1978
When using pyOpenSSL, you should be able to set a custom `ssl_context` value. I don't remember if that's possible for the stdlib ssl module, off the top of my head. Looks like Cheroot does not accept it for the built-in option. FWIW I've been meaning to attempt redesigning the TLS interface for quite a while. I feel like exposing individual settings limits the ability of the end users to set up th

[2022-09-08 13:07] oleksiilv commented on #1978
thanks @webknjaz . Will try to switch from builtin ssl module to pyOpenSsl with custom ssl_context for this purposes.

[2022-09-09 21:36] silbe commented on #1767
@ygbr Did you have a chance to implement the tests yet so your changes could be accepted upstream? The lack of `samesite` support is a serious security deficit in cherrypy. :frowning_face:

[2022-09-13 07:30] lgwozdecki opened #1979 "Allow CherryPy to ignore invalid cookies"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] question about the decisions made in the repository

**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Whenever one of the cookies is invalid, CherryPy returns error 400
It is common for browsers and other web servers to support cookies that are not RCF compliant and users are e

[2022-10-02 01:51] webknjaz commented on #1908
@Blindfreddy up for doing more testing?

[2022-10-05 12:06] Blindfreddy commented on #1908
@webknjaz Sure thing, just let me know the specifics of what to test, please.

[2022-10-05 16:32] MichaIng commented on #1908
Upgrade your CherryPy and cheroot to the latest version and check whether idle CPU usage on RPi 1 is now fine.

[2022-11-18 13:55] Blindfreddy commented on #1908
Apologies for the delay, I'll try to test it in the next fortnight and report.

[2022-11-22 08:52] jiangwen365 commented on #1855
For those who might be interested, I now regularly run the below python code to clean session lock files. The code compares lock files with existing session files and removes those that don't have matching session files.

[code]

[2022-11-30 09:37] Safihre commented on #1973
@webknjaz Did you notice that these lines:
[code]
actually take ages?
It goes off and does all kind of logic to figure out the depency structure of `cherrypy` and seems to parse all installed modules..
Hopefully this can be simplified by using `importlib.metadat`.

[2022-11-30 10:20] webknjaz commented on #1973
@Safihre you're right. This should've been done long ago.