[2016-05-04 15:15] davgibbs opened #1429 "Allow passing of user defined 'umask' value to Daemonizer plugin"
When using the Daemonizer plugin in cherrypy/cherrypy/process/plugins.py, the user environment set up for the daemon has file permissions of rw-rw-rw-. This is due to the user umask set as 000 in line 413:

412: os.chdir("/")
413: os.umask(0).

The default umask on many systems is 022 which gives file permission of rw-r--r--. For security-conscious systems, this is better as the 'Other' group does

[2016-05-04 16:20] jaraco commented on #1429
Any idea what a umask of 0 is about? I'd be inclined to have the default umask be None and let the default umask be applied unless overridden.

[2016-05-04 16:30] davgibbs commented on #1429
Hi @jaraco , I am no expert on it but it is possibly due to copying some example code from online examples:
http://code.activestate.com/recipes/66012-fork-a-daemon-process-on-unix/
https://www.safaribooksonline.com/library/view/python-cookbook/0596001673/ch06s08.html

But I am very open to correction on this if there is a reason!!
As far as I am aware, setting the umask to a value that is not 0 (e

[2016-05-28 07:03] sevmonster opened #1436 "Autoreloader fails with relative imports"
Another old gotcha that has slipped under the radar. I don't believe this has been posted already.

I just reproduced it on my own site; Win7, CherryPy 5.4.0

[code]

[Emails concerning the problem](https://groups.google.com/forum/#!topic/cherrypy-users/7e7HWCGdYVc)

Rationale for this feature is cloning CherryPy apps/etc. to other folders with different package names (ex. main server is hosted us

[2016-05-28 07:12] sevmonster commented on #1436
Whoops, it's literally on the first page.

I searched for the error string and didn't find anything, so I assumed it wasn't reported!

#1411

[2016-05-28 07:12] #1436 closed, assigned to nobody

[2016-05-29 03:56] sevmonster opened #1437 "SSL/TLS causes massive memory spike when using lib.static.serve_file with large files and no response.stream"
`cherrypy.lib.static.serve_file` is a great way to serve static content to clients, and it works fine over HTTP, but a problem arises when using HTTPS: it appears the entire file is being loaded into memory while sending to the client, which is obviously not a good thing.
In my testing using a 20MB static, on-disk file, there is only a small, negligible change in memory before going back down to w

[2016-06-05 14:12] jaraco opened #1440 "Regression in client expectation with Location header"
In girder/girder#1362, they report that their test suite begins to fail with CherryPy 5.4.0 due to #1432. I'm thinking we need to revisit that change in light of that report.

When I approved that pull request, I was thinking that the value should have been encoded to bytes in order to fulfill a network request. On a second examination, I see that there are other values in the `cherrypy.response.h

[2016-06-05 15:15] poofeg commented on #1440
I think it would be better solution to URL encode (percent-encoding) the redirect URL. It is suitable for all Python versions.

[2016-06-05 22:53] coady opened #1441 "Convert request params based on function annotations."
With the increasing focus on [type hints](https://docs.python.org/3.5/library/typing.html) in Python, having a tool which automatically converted query params (with exception handling) would be a nice feature.

It's common for apps to have boilerplate code for [converting request params](http://stackoverflow.com/questions/32774024/), and returning 400-levels errors on failure.

[code]

[2016-06-06 01:31] jaraco opened #1443 "tests relying on europoundUnicode are broken"
In test_encoding, there is a variable created like so:

[code]

Based on the name, I would expect this variable to be populated with a Unicode value containing the £ character. Instead, it gets populated with a value with this repr:

[code]

That is, it's literally an ascii string containing backslashes, `x` and `a` characters, and a few digits. Surely this is a mistake.

[2016-06-06 01:36] jaraco commented on #1443
After correcting the mistake in the test, the tests now fail on Python 3 with this error:

[code]

[2016-06-06 02:08] #1440 closed, assigned to nobody

[2016-06-06 20:30] cachedout opened #1444 "Import of cherrypy.lib.cpstats fails"
Using CherryPy 4.0.0 downloaded from PyPi:

[code]

[2016-06-06 23:39] #1444 closed, assigned to nobody

[2016-06-13 22:13] jeffsilverm opened #1446 "When installing cherrypy under python3, it flunks self test"
Second, the self-test flunks, because one of the files was no converted to python3 and throws an exception:

[code]

[2016-06-14 17:05] jaraco commented on #1446
Thanks Jeff, but `setup.py test` isn't a supported mode for running CherryPy tests. Tests should be run using `nosetests -s` as seen in the `.travis.yml` and probably docs.

[2016-06-14 17:05] #1446 closed, assigned to nobody

[2016-06-16 07:51] poofeg opened #1447 "Memcached sessions on Python 3"
Commit 0952bcd breaks memcache sessions on Python 3 (python3-memcached package).
Memcache raises `memcache.MemcachedKeyTypeError: Key must be str()'s`.
Temp fix for Python 3:

[code]

[2016-06-17 23:13] amraks opened #1448 "cherrypy ssl support not working"
I compile my python code into a binary using pyinstaller in a  debian wheezy 64 bit chroot environment.

Have the latest cherrypy (6.0.1). When I run the binary with ssl support enabled I see following traceback

[17/Jun/2016:16:07:32] ENGINE Error in 'start' listener <bound method Server.start of <cherrypy._cpserver.Server object at 0x7fc25c5672d0>>
Traceback (most recent call last):
  File "/hom

[2016-06-21 22:51] amraks commented on #1448
Hi, Can anyone provide a response? Thanks

[2016-06-22 17:31] jaraco commented on #1448
Does your application work when not run in pyinstaller? If so, then the issue lies with pyinstaller. It's possible a hook could be added to CherryPy to ensure that programmatically-imported modules are detected by pyinstaller. The `keyring` project does this. Would you try adding that hook for the relevant missing module and see if that corrects the condition?

[2016-06-22 18:06] amraks commented on #1448
Hello Jason, I wrote some sample script which I run on 64-bit CentOS with 'server.ssl_module' set to 'builtin'. This works.

But when I build my application with pyinstaller (with server.ssl_module set to builtin in the configuration file), cherrypy complains about pyopenssl.

I guess the hook that you mention would be applicable if I were using some third party module which pyinstaller does not r

[2016-06-22 20:59] amraks commented on #1448
Hi Jason,

I compiled following code with pyinstaller.

sss.py

import cherrypy

config = {
  'global' : {
    'server.socket_host' : '0.0.0.0',
    'server.socket_port' : 8888,
    'server.thread_pool' : 8,
    'server.ssl_module'            : 'builtin',
    'server.ssl_certificate'       : '/certs/cert.pem',
    #'server.ssl_certificate_chain' : '/path/to/certs/ssl123_ca_bundle.pem',
    'server

[2016-06-23 00:14] amraks commented on #1448
I upgraded cherrypy to 4.0.0 and compiled the binary with pyinstaller. Now I see following traceback

[22/Jun/2016:17:11:29] ENGINE Listening for SIGHUP.
[22/Jun/2016:17:11:29] ENGINE Listening for SIGTERM.
[22/Jun/2016:17:11:29] ENGINE Listening for SIGUSR1.
[22/Jun/2016:17:11:29] ENGINE Bus STARTING
[22/Jun/2016:17:11:29] ENGINE Started monitor thread 'Autoreloader'.
[22/Jun/2016:17:11:29] ENGIN

[2016-06-23 12:19] jaraco commented on #1448
The issue is probably that pyinstaller is omitting the `cherrypy.wsgiserver.ssl_builtin` module from the build, as that module is loaded programmatically by the `get_ssl_adapter_class` function in wsgiserver.

What happens if you add a `hook-cherrypy.wsgiserver.py` file to the root of the cherrypy project with this content:

[code]

I'm not sure how pyinstaller would discover that hook, but that's

[2016-06-23 18:03] amraks commented on #1448
Fantastic! That works. Thanks a ton.

I am closing out this issue.

[2016-06-23 18:03] #1448 closed, assigned to nobody

[2016-07-01 06:30] derek0377 opened #1449 "support multi backends for session ( redis，mysql etc)"
Hi:
 would support multi backends for session (  redis，mysql etc) ?

Thanks~

[2016-07-04 10:36] ghost opened #1451 "Information disclosure on bad requests"
Hi all!

I have discovered an information disclosure issue within the web server of cherrypy. By sending invalid characters in the URL it runs into an exception and returns the exception message (without stack trace) to the browser.

Trigger: Send something invalid in the URL, like: %zz (without URL encoding it)
Expected behaviour: Generic "Bad Request" response from the web server
Faulty behaviou

[2016-07-04 11:00] ghost opened #1452 "Unhandled exception causing unnecessary log entries"
Hi all!

After launching Nessus against my web application running on the cherrypy web server, I've discovered a huge load of log entries in the cherrypy.error log. After investigating the reason for this flood of log entries, I discovered the following:

The "Content Length" request header coming from the client is not sanitized/validated correctly. By sending a "Content Length" like "100'" (cont

[2016-07-04 14:38] jaraco commented on #1452
Good analysis. I agree. Is this something for which you would be willing to develop a patch?

[2016-07-04 14:45] jaraco commented on #1451
You're right. A 500 error here is inappropriate. The only question I have is what's the best response? What does the HTTP spec have to say about `%ZZ` where ZZ is not hex? My instinct agrees with yours that this should be a 400 bad request, but I can also imagine non-hex characters would simply be unmatched in the unquoting.

Looking at the `urllib.parse.unquote` behavior, it seems to only unquote

[2016-07-05 08:52] ghost commented on #1452
Hi,

Sorry, I'm not a developer but a penetration tester. I can break things but not the opposite ^^. However, I'd suggest the following - but I'm not sure of it's consequences (though it worked for me):

Currently, if no content length is transmitted by the client, a length of 0 is used to proceed. In general, as I've seen, the content length is only used to tell the client beforehand if the requ

[2016-07-05 09:02] ghost commented on #1451
Maybe my description was not clear enough. Cherrypy is currently already responding with 400 "Bad Request" (see screenshot), which is fine. It just shouldn't disclose error messages!

![1467709184](https://cloud.githubusercontent.com/assets/20280659/16579347/9c5b8432-429f-11e6-90ee-cf36b42a9640.png)

I assume 400 "Bad Request" is the correct response because of the following research results:

The

[2016-07-05 09:16] ghost commented on #1451
I think the solution here is quite easy. In wsgiserver3.py you can find several calls to "self.simple_response()". Apparently it is called whenever something goes wrong and cannot be passed to the web application to be handled. Most of the time it is called correctly with the arguments "status" and a custom "message". But twice it happens that it is called with "status" and "ex.args[0]" as the mes

[2016-07-05 15:50] ghost commented on #1451
Here is a diff that I created after patching the issue locally (for cherrypy 6.0.2). It fixes this problem and the other one I posted. Apply it if you like it.

[patch.txt](https://github.com/cherrypy/cherrypy/files/348124/patch.txt)

[2016-07-05 15:51] ghost commented on #1452
Here is a diff that I created after patching the issue locally (for cherrypy 6.0.2). It fixes this problem and the other one I posted. Apply it if you like it.

[patch.txt](https://github.com/cherrypy/cherrypy/files/348127/patch.txt)

[2016-07-07 14:48] webknjaz commented on #1449
Hi,

I'm not sure regarding mysql, but you may take a look at these snippets implementing redis session backend:
https://bitbucket.org/webknjaz/blueberrypy-wk/src/cb2753de29c4ec0f1be00baf2e828b35e0939b47/src/blueberrypy/session.py?at=default&fileviewer=file-view-default#session.py-33:91
https://bitbucket.org/webknjaz/blueberrypy-wk/src/cb2753de29c4ec0f1be00baf2e828b35e0939b47/src/blueberrypy/comma

[2016-07-07 21:03] gosku opened #1453 "class MemcachedSession returns session ids as bytes, and browsers can not handle them"
This commit

https://github.com/cherrypy/cherrypy/commit/0952bcd8b44dc4f9cfc50e7e179b4bd4e625ad56

reimplemented the _set_id method to encode the session ids (as the comment says, to allow memcached to index the key).

However:
1. Version 1.58 of python-memcached does not require bytes anymore. It accepts bytes or unicode strings.
2. I realized cherrypy is returning the session id as bytes in the

[2016-07-08 14:17] gosku commented on #1453
Some screenshots of a first request (when there is not any session id in the browser)
![request1](https://cloud.githubusercontent.com/assets/1391084/16687297/d0d2a392-44e5-11e6-8a9f-36e5b1472beb.png)

and a second request, where the browser set a different session id in the header request, a session id that does not exist in memcached, so the server creates a new one:

![request2](https://cloud.gi

[2016-07-09 03:28] thezoggy opened #1454 "cherrpy -- 6.0.x - dependency of six.py"
upgraded from cherrpy 5.1.0 to 6.0.2 in our project, it appears that in the upgrade now users are expected to have the six.py module... -- no mention of this in your change logs --

This has caused our app to be broken unexpectedly for many nas users.
Can you please add `six.py` (from https://pypi.python.org/pypi/six) in the /cherrypy/lib folder so this dependency is included?

[2016-07-09 03:31] thezoggy commented on #1454
breaking change: https://github.com/cherrypy/cherrypy/commit/86e928d458ca501a601ea1c7f25f8add2855c336

[2016-07-09 15:48] jaraco commented on #1454
This change was made intentionally. CherryPy now has a dependency on six, a third-party package. The suggestion to include six in the library is both unsuitable and undesirable. CherryPy would be better served to _require_ six and share it with other packages that rely on it.

My best recommendation is that when you install CherryPy in your project, you use a tool like pip or easy_install to insta

[2016-07-09 21:31] Safihre commented on #1454
Well, we (sabnzbd) make some small changes (related to an extra feature and 2 bugs)  to Cherrypy and include it with the package. Before this was easy: Cherrypy did not have any dependencies. Now it does.

Technically it should be oke for the NAS systems to update their packages, but we were just caught by surprise after releasing a beta version of our next release. Since on Windows/OSX six is usu

[2016-07-09 21:40] thezoggy commented on #1454
we dont install cherrypy in the project.. we include it. thus not knowing of the dependency hurt when we deployed

we cant have others install it due to the amount of bugs we find/patch..  thus we have to include it (patched version).

[2016-07-15 03:38] derek0377 commented on #1449
@webknjaz , really thank you!

[2016-07-16 06:42] thezoggy commented on #1454
we included six.py ourselves, but still you should prob note the dependency in your requirements for 6.x+

[2016-07-16 06:42] #1454 closed, assigned to nobody

[2016-07-17 02:04] jaraco commented on #1454
Good suggestion. It is done.

[2016-07-17 23:45] pcmillerAcme opened #1456 "6.1.1 missing wsgiserver install regression?"
Hi friends - If I upgrade to cherrypy-6.1.1 from cherrpy-6.0.1 my service breaks. CP launches with new errors about 'no wsgiserver' There are several pages online showing I'm not alone in this, several talking about having to manually installing wsgiserver.py from some strange place to make cherrpy-6.1.1 work or putting in files to make some process force wsgi server files to arrive. I've tried mu

[2016-07-18 01:34] jaraco commented on #1456
I tried to replicate the failure on a clean environment, but cannot.

[code]

I notice you say that the issue occurs if you upgrade from 6.0.1. I'll try that next.

[2016-07-18 01:36] jaraco commented on #1456
Even after a downgrade and upgrade, the service starts up and responds exactly as expected.

[code]

[2016-07-18 01:50] jaraco commented on #1456
Yes, please. Can you send the error message you get? When this happens, can you inspect your Python environment to see what cherrypy artifacts exist, especially around wsgiserver?

The substantial change between CP 6.0 and 6.1 was the combining of `cherrypy.wsgiserver.wsgiserver3` and `cherrypy.wsgiserver.wsgiserver2` into simply `cherrypy.wsgiserver` (`__init__.py`), which was the place where the

[2016-07-18 02:44] pcmillerAcme commented on #1456
Jason -

Thanks very much! With you clarification on the changes for wsgiserver, I was able to change my code from
`from cherrypy.wsgiserver.wsgiserver2 import ssl_adapters`
to
`from cherrypy.wsgiserver import ssl_adapters`
to be cherrypy-6.1.1 compatible and all was well. Much appreciated!

Side note: I have this long term sense of frustration of not being able to find docs on just the delta betw

[2016-07-18 02:44] #1456 closed, assigned to nobody

[2016-07-18 14:49] endemic opened #1457 "Missing `nose` dependency when testing"
After installing CherryPy 6.1.1 and pytest 2.9.2 into a fresh Python 3.5.1 venv, I copy/pasted the [testing example](http://docs.cherrypy.org/en/latest/advanced.html#testing-your-application), attempted to run it (`py.test -s test_echo_app.py`), and saw the following:

[code]

`pip install nose` fixed the problem, but my assumption was that installing CherryPy would also install all its dependenci

[2016-07-19 00:49] #1441 closed, assigned to nobody

[2016-07-20 02:36] jaraco commented on #1457
Nose is a test requirement, not an install requirement. Perhaps there's a way to declare that. I'm not sure how with nose.

[2016-07-22 10:44] webknjaz commented on #1457
@jaraco it could be added as `tests_require` into `setup.py`

[2016-07-22 11:22] webknjaz commented on #1457
I'll PR dependency declaration, which aims to invoke `tox` for running all tests.

[2016-07-22 11:41] webknjaz commented on #1457
#1459

[2016-07-22 13:49] #1457 closed, assigned to nobody

[2016-07-24 15:47] jaraco opened #1460 "KeyError in Bus.publish when signal handlers set in config"
In #1435, @thezbyg reveals that if signal handlers are configured through a config file, they bypass the `subscribe` mechanism, and thus `_priorities` on the bus aren't configured for that channel/listener pair, and thus a KeyError will occur in Bus.publish when a message is published on that channel.

[2016-07-24 15:53] #1460 closed, assigned to nobody

[2016-07-24 16:33] jaraco commented on #1451
I'm disinclined to address this issue. In my opinion, the information disclosure is minimal, compared to other disclosure. Especially given that this is an open-source project, in which a given attacker has access to the full implementation, I don't think masking error messages to be obscure is of immense value, and definitely leads to a detriment when diagnosing issues. Furthermore, a high-securi

[2016-07-24 16:33] #1451 closed, assigned to nobody

[2016-07-25 07:59] ghost commented on #1451
Well it is up to you, but here are some thoughts I have about it:
- Ideally an attackers should not know in the first place which web server is deployed, hence he can not browse the source code for issues.
- No need get into high-security high-end details (in such case I personally would choose a different web server anyways). Nevertheless security should be standard and information disclosure is

[2016-07-25 14:08] jaraco opened #1463 "Use pytest framework for tests"
CherryPy currently relies on the nose framework for running tests. I suspect it has mostly small reliance on the specifics of nose, so it should be a fairly straightforward change to support using pytest as the runner.

There are many reasons the project should switch to pytest over nose:
- Pytest has better failure reporting, including assert rewrites. With pytest, if something fails, it reports

[2016-07-25 18:36] webknjaz commented on #1463
Sounds reasonable. I've heard lots of good feedbacks about py.test as well.

[2016-07-28 19:33] bsamek opened #1467 "7.1 install error on Windows"
7.0 installs successfully on the AWS EC2 Windows 2012 R2 base image ami-3c32b12b (with Git and Python 2.7.12). However, the 7.1 installation returns an error:

Installed c:\python27\lib\site-packages\mongo_orchestration-0.6.3-py2.7.egg
Processing dependencies for mongo-orchestration==0.6.3
Searching for CherryPy>=3.5.0
Reading https://pypi.python.org/simple/CherryPy/
Best match: CherryPy 7.1.0
Dow

[2016-07-30 01:00] jaraco commented on #1467
Here are [the changes between 7.0.0 and 7.1.0](https://github.com/cherrypy/cherrypy/compare/v7.0.0...v7.1.0).

[2016-07-30 01:02] jaraco commented on #1467
Looks like [this commit](14d20220f8a5) is implicated, as it adds a file with non-ascii characters to the package. Still, that shouldn't break the install.

[2016-07-30 01:19] jaraco commented on #1467
I tried replicating on a Windows 10 instance in Powershell on Python 2.7.9 with pip 1.5.6 and 8.1.2, but every install was successful.

[2016-07-30 01:20] jaraco commented on #1467
Oh, looks like you might be using easy_install, not pip.

[2016-07-30 01:24] jaraco commented on #1467
With `easy_install`, I'm able to replicate the failure.

[2016-07-30 01:31] jaraco commented on #1467
When I run with `easy_install -v`, I get more detail:

[code]

[2016-07-30 03:25] jaraco commented on #1467
I was able to replicate the underlying failure with this simple script:

[code]

On Windows, this script will crash with:

Python 2

[code]

or Python 3

[code]

Unix apparently isn't subject to this issue. Consider Python 3.5.2 on Mac OS:

[code]

[2016-07-30 14:19] marunguy commented on #1467
I have a similar problem when install CherryPy 7.1 using pip on Windows.
https://groups.google.com/forum/#!topic/cherrypy-users/7G30-UfSqtU

[2016-07-30 15:37] jaraco commented on #1467
This issue can be fixed ~~by upgrading to Setuptools 25.1.2 (releasing imminently)~~ ~~or by using pip to install CherryPy~~ or by upgrading to Python 3.

[2016-07-30 15:37] #1467 closed, assigned to nobody

[2016-08-02 08:47] marunguy commented on #1467
The same error still occurs when install CherryPy 7.1 using pip on Winodws.

[code]

[code]

[2016-08-04 16:00] jaraco commented on #1467
In pypa/pip#3894, I've reported that the issue could not be replicated. I suspect all you need to do is upgrade your pip and it will install.

[2016-08-09 14:42] kisna72 opened #1469 "A HTTP Request to one server creates several threads that do the same thing"
This is more of a question as I am not sure this behaviour is intended or not.

I have a django app that is being run behind cherrypy server.  Its a app that runs some jobs. The intended behaviour for the app is that when a request to run a job is received -> run the job -> if successful mark the database as running, else error -> if successful create a thread to monitor the job (looks at the proc

[2016-08-09 17:34] ibrewster opened #1470 "Set session data while testing?"
I am writing tests for my CherryPy app using cherrypy.test.helper.CPWebCase subclasses. One thing I need to test is that my code at one point correctly handles the situation where a session variable is set to an invalid value. From CherryPy code I would just call `cherrypy.session['varname']='bad_value'` or the like to set the session variable, but trying to do this in my testing code gives an err

[2016-08-10 08:23] EternityForest opened #1471 "What do I do if I think I found a security problem"
Just curious as to what the protocol would be to report such things if I did in fact find one(Not sure if I did). Is it best to create an issue out in the open or to send a private message.

[2016-08-10 14:06] jaraco commented on #1471
Thanks for asking.

Unless you think it's going to have a widespread impact, then just file a ticket. If you think it'll be widespread and dangerous to disclose the detail in public, then reach out to me or one of the other maintainers privately in Gitter to assess.

[2016-08-10 14:06] #1471 closed, assigned to nobody

[2016-08-20 10:14] michal-juranyi opened #1472 "Memcached session backend server address cannot be configured"
Memcached server address seems to be hardcoded as class attribute and can't be configured through standard config. I think it must be quite common case to have shared memcached or at least hosted on different machine.

[2016-08-20 13:56] jaraco commented on #1472
Seems like a reasonable request - would you be able to provide a pull request to fix the issue?

[2016-08-21 00:44] coady opened #1473 "Exception handling utility."
In most cherrypy apps, I end up with a utility like this:

[code]

Trivial, but it's handy in a framework like CherryPy that allows raising a response anywhere.  Compare that to:
- Django's `get_object_or_404`.  Convenient, but not extensible and coupled to its ORM.
- Flask's application-level error handlers.  The problem with global handlers is they tend towards a proliferation of custom single-u

[2016-08-21 01:00] coady commented on #1463
Re "minimal output during test runs is nice":  py.test's verbosity options can be set in `setup.cfg` as well.

[2016-08-21 13:49] jaraco opened #1474 "test_refleaks fails regularly on MacOS"
I'm running the tests on Python 3.5.2 on OS X 10.11.6. The test_refleaks fails regularly with output like this:

[code]

The number of successes varies. I see it typically between 5 and 10, but I've seen it as high as 17, but it's never reached full success (25) on my machine.

~Perhaps [this unanswered question](http://stackoverflow.com/questions/37899955/connection-reset-by-peer-on-mac-but-not-w

[2016-08-21 14:13] jaraco commented on #1474
Following the hint about the socket backlog, and reading answers to [this question](http://stackoverflow.com/questions/2444459/python-sock-listen), I found if I change the `_cp_server.Server.socket_queue_size` to 25, the tests stop failing. Even at 24, the tests consistently fail (with exactly one "connection reset by peer" message).

[2016-08-21 14:26] jaraco commented on #1474
I'm not sure what the solution is here. Should CherryPy be able to accept these connections more quickly? Or should we bump the backlog? If bumping the backlog, should it be for this invocation of the server or for CherryPy in general? Why does the issue only affect Mac? For now, I'm going to disable the test on MacOs.

[2016-08-21 15:24] jaraco opened #1475 "test_file_stream fails intermittently"
On OS X 10.11.6, when I run test_static tests by themselves, they pass.

[code]

But if I run the full test suite, the test fails pretty consistently.

[code]

[2016-08-21 16:53] webknjaz commented on #1470
The short answer is to patch `cherrypy.session` with a dummy instance of `RamSession`. Extended answer to this question can be found [@ SO](https://stackoverflow.com/a/39044461/595220).

@jaraco plz close this issue and label it with `question` tag.

[2016-08-21 16:58] webknjaz commented on #1473
Excuse me, I didn't quite understand what you are asking for in this issue. Could you please make your point more clear?

[2016-08-21 17:28] webknjaz commented on #1449
@jaraco do you think additional storage backends should be added to cherrypy's codebase?

[2016-08-21 18:57] jaraco commented on #1449
I don't think so. It's [trivially easy](https://github.com/jaraco/jaraco.mongodb/blob/master/jaraco/mongodb/sessions.py) for another library to implement a Session subclass and for users to require and configure that implementation. What I do think CherryPy should do is keep in the documentation references to all stable session implementations. I'd further say that if any one implementation become

[2016-08-21 18:57] #1449 closed, assigned to nobody

[2016-08-21 19:00] webknjaz opened #1477 "Enable third-party online linters"
Current tests cover only some functionality, proving it works. But because of python's dynamic nature, there are bunch of problems, which are commonly missed.

I suggest enabling linters, which are being triggered on each commit or PR additionally to Travis.
Personally I've used [codacy](https://www.codacy.com/) and [landscape](https://landscape.io/). I'm satisfied with their features and propose

[2016-08-21 19:18] #1470 closed, assigned to nobody

[2016-08-21 19:24] jaraco commented on #1477
I'm all for code quality checkers. The main issue we have now is there are many stylistic "errors" that will occur on the current code base, so getting it to a passing state might be challenging. I've personally only used coverage, pep8, and pyflakes, but I'm open to adding any stable checks to the travis tests.

[2016-08-21 19:37] webknjaz commented on #1477
Codacy allows disabling some of errors if needed.
Regarding tests @ Travis, there's this cool utility tool called [`pre-commit`](http://pre-commit.com/) which I use for a while. It lets users nicely organize common checks and can be added locally as pre-commit or pre-push script, running preconfigured hooks on changed files only. Also it can be used as one of CI checks.

For now, I suggest enablin

[2016-08-21 21:05] coady commented on #1473
It's a feature request for more elegant exception handling, via context managers.  Opened PR  #1478 for discussion.  Typical boilerplate like:

[code]

would become:

[code]

Open question:  should `HTTPError` _have_ a context manager, _be_ a context manager, or just a separate utility?

[2016-08-22 06:34] webknjaz commented on #1477
@jaraco
I'll add codacy badge near travis if you don't mind

[2016-08-22 09:07] webknjaz commented on #1473
@jaraco how do you like @coady's idea? It looks interesting to me

[2016-08-22 09:15] michal-juranyi commented on #1472
I reviewed the code again and found out that there is a for cycle in setup method which passes all session configs to class attributes with the same name. So this isn't an issue right now.

[2016-08-22 09:15] #1472 closed, assigned to nobody

[2016-08-22 11:49] webknjaz commented on #1474
BTW, I've just mentioned this doc https://docs.travis-ci.com/user/multi-os/
I think we could extend environments coverage in Travis CI this way

[2016-08-22 12:24] jaraco commented on #1473
Overall I like it, although the implementation is key. Here are some other possibilities to consider:
- additionally allow rewriting exceptions in a decorator so it doesn't indent the main body of the code, something like

[code]
- Allow for a non-error response as well, like

[code]

But most important is going to be the updates to the docs that explain how this is used. If the docs can present a

[2016-08-22 12:24] jaraco commented on #1477
Go for it.

[2016-08-22 13:43] webknjaz opened #1480 "Consider providing extras in setup.py"
#### Background

There are some features in cherrypy relying on third-party packages. These packages are not required to run 'hello world', but they are mandatory it some cases.
They are not even documented.
#### Examples

For example, there's `RoutesDispatcher` requiring `routes` to be installed:

[code]

By the way, it's being skipped in Travis tests (which should also be fixed).

Other optional

[2016-08-22 18:43] jaraco commented on #1480
The tox.ini file defines "deps" including nose, mock, Routes. If we move to pytest, the test requirements would probably be declared in "tests_require" in setup.py. Still, some of these aren't strictly required of tests but are optional to be included (and possibly tested).

[2016-08-22 20:03] webknjaz commented on #1480
My point is not about testing of cherrypy itself, but about usability of enabling feature flags for end-users.

[2016-08-23 00:22] jaraco opened #1481 "Synchronize with cheroot"
I very much appreciate the work that cheroot has done to factor out the HTTP Server portion of CherryPy into a standalone HTTP Server.

The effort seems to have been abandoned. I take some blame in that as well.

I'd like to revive the effort, but I see a few obstactles.
1. Cheroot was released, but never officially. The [only releases are beta releases](https://pypi.python.org/simple/cheroot/).
2

[2016-08-23 00:26] jaraco commented on #1480
Yes, that seems reasonable, although a requirement of `cherrypy[routes]` is nominally more clear than `cherrypy routes`, and `cherrypy[routes,memcached-sessions]` may be less clear than a requirement of `cherrypy routes memcached`. Adding extras gives the benefit of making the feature officially supported, but it also adds the obligation of officially supporting that feature.

I'm okay with seeing

[2016-08-23 18:53] webknjaz commented on #1480
Yes, I think it's worth it. I'll prepare PR.

[2016-08-24 00:38] ghost opened #1482 "cherrypy.request.body.read() not document"
can't find it (should be here: https://cherrypy.readthedocs.io/en/3.3.0/refman/_cpreqbody.html).

[2016-08-24 16:55] webknjaz commented on #1482
Current version is `7.1.0`. Plz check the latest doc to see up-to-date information: http://docs.cherrypy.org/en/latest/pkg/cherrypy.html?highlight=request.body#cherrypy._cprequest.Request.body

[2016-08-24 20:25] webknjaz opened #1483 "Drop cherrypy.lib.http"
@jaraco look what I've found: https://github.com/cherrypy/cherrypy/blob/b6e15ab4624947bea8cbc03cc40cf26016408ae5/cherrypy/lib/http.py

I think we should delete it, but first ensure the codebase doesn't rely on this module

[2016-08-24 20:36] webknjaz commented on #1483
https://github.com/cherrypy/cherrypy/blob/b6e15ab4624947bea8cbc03cc40cf26016408ae5/cherrypy/lib/__init__.py#L3-L4

Here's another one. Does the deprecation comment describe only import line or the whole module?

[2016-08-25 16:05] webknjaz commented on #1482
Closing due to http://stackoverflow.com/q/39112752/595220#comment65617034_39112752

[2016-08-25 16:05] #1482 closed, assigned to nobody

[2016-08-27 21:30] #1447 closed, assigned to nobody

[2016-08-27 21:30] #1453 closed, assigned to nobody

[2016-08-27 22:02] gosku commented on #1453
Thank you for the update,
I really appreciate you dedicated some time on this :)
Regards

[2016-08-28 19:36] webknjaz opened #1484 "Get rid of wsgiconq import"
I've found these two dependencies in `cherrypy.test.helper`, they are not available in PyPI: https://github.com/cherrypy/cherrypy/blob/fb8c1b0dca985e83b996a604147576fa5f42b85b/cherrypy/test/helper.py#L170-L175

@jaraco is it really needed in the codebase?

http://svn.aminus.net/misc/wsgiconq.py

[code]

http://svn.aminus.net/misc/pyconquer.py

[code]

[2016-08-28 20:57] ikus060 opened #1485 "[Python3.4] CherryPy >= 5.5.0 vpath encoding is wrong"
Seams to be related to #1248 or #1194, but I can't identify exactly which commit broke my testcases. Basically, starting at 5.5.0, some testcases are not working any more.

Sending HTTP request:
GET /browse/testcases/R%C3%A9pertoire%20Supprim%C3%A9/ is received as str: 'Répertoire Supprimé'. The url is UTF8 valid.

Sending HTTP request:
GET /browse/testcases/R%E9pertoire%20Supprim%E9/ is also rece

[2016-08-28 23:25] ikus060 commented on #1485
After some research, it seams changes for #1431 (commit 4a23073) is creating a side effect.
1. Contrary to poofeg comments, the value of PATH_INFO is unicode decoded using ISO-8859-1.
   - %E9 > é
   - %C3%A9 > Ã©
2. PATH_INFO is sent as unicode and reach _cpwsgi.py AppResponse#run() untouched
3. Then the line `path.encode(old_enc).decode(new_enc)` raise a UnicodeDecodeError or not depending of th

[2016-08-29 05:26] #1483 closed, assigned to nobody

[2016-08-29 18:42] mensonen opened #1486 "wsgiserver.ChunkedRFile infinite loop"
When running a CherryPyWSGIServer and a request is made with a `Transfer-Encoding: chunked` header, attempting to read `wsgi.input` without specifying a size (default) causes an infinite loop.

E.g following sample service:

[code]

And testing it with:

[code]

Hangs indefinitely and server has to be killed.

This appears to be because `ChunkedRFile.read` loops over `self.buffer`, until it gets n

[2016-08-29 20:02] michal-juranyi opened #1487 "Allow use own custom session storage class"
Currently, there is quite limited range of supported session storage backends. Even for supported backends there may be need for advanced features of particular backend (i.e. custom Pickler/Unpickler in Memcached). I propose adding a config option for specifying fully qualified class name of custom class to be used instead of predefined *Session class.

[2016-08-30 03:57] fgallaire opened #1489 "WSGI applications are required to return bytes."
Needs @jaraco advice about:
fgallaire/wsgiserver#2

[2016-08-30 07:27] webknjaz commented on #1484
@jaraco could you plz take a look at this?

[2016-08-30 18:33] jaraco commented on #1484
We might consider removing that dependency, especially given that it's under-published. I haven't looked into the code. Can you put together a PR to show what functionality has to be removed? It would definitely be a backward-incompatible release to remove it. Perhaps it would make sense to issue a warning and deprecate it first.

[2016-08-31 10:38] webknjaz commented on #1484
I think it hasn't been used for ages. Since modules I mentioned aren't hosted at PYPI and not easy to find at all, I doubt anyone really used this ever. I'm going to just delete this.

[2016-08-31 10:41] webknjaz commented on #1484
Actually, I've googled a single mention of `--conquer` in @Lawouach's [book](https://books.google.com.ua/books?id=8WO1AAAAQBAJ&pg=PT394&lpg=PT394&dq=wsgiconq&source=bl&ots=DC80ARD7OP&sig=KDOl2Av5M4zITuiDOd81dUJ3EIU&hl=uk&sa=X&redir_esc=y#v=onepage&q=conquer&f=false), which doesn't seem usable or up-to-date.

[2016-08-31 12:50] jaraco commented on #1485
@ikus060: Since you have test cases, would you mind sharing one here or in a PR (preferably integrated with the CherryPy test suite)? It's going to take some work to figure out what's the proper thing to do here. I think surrogateescape might be appropriate if CherryPy has already done the best it can do to decode the content but still cannot.

[2016-08-31 13:07] jaraco commented on #1484
Well, although the book may be a bit stale, CherryPy hasn't changed dramatically, and the book is still the most authoritative publication out there short of the project docs themselves (and in some ways more authoritative).

I would also be okay with just removing it in a backward-incompatible release (which an 8.0 is pending in the master right now).

[2016-08-31 19:36] #1484 closed, assigned to webknjaz

[2016-08-31 20:14] ikus060 commented on #1485
I've try to make the changes. It does work for my scenario, but then it causes alot of side effect in other testcases. I guess it causes too many impact to get accepted into master branch.

[2016-09-01 00:40] ikus060 commented on #1485
One simple way to avoid all of this would be to define the `request.uri_encoding` as 'ISO-8859-1` configuration. But then, I have a different behaviour with cherrypy <= 5.4.0 vs cherrypy >= 5.5.0.

[2016-09-01 14:24] nomadtunguska opened #1491 "Vulnerabilities were found in CherryPy/3.1.2 WSGI Server"
1. Verbose error messages
   Example:
   <HTTP REQUEST>
   GET /<INPUT type="text" value='<SCRIPT>alert("XSS")</SCRIPT>'> HTTP/1.1
   Host: {target}

<HTTP RESPONSE>
HTTP/1.1 500 Internal Server Error
Content-Length: 526
Content-Type: text/plain

Traceback (most recent call last):
  File "/logs2/splunk/lib/python2.7/site-packages/cherrypy/wsgiserver/**init**.py", line 1229, in communicate
    req.

[2016-09-01 15:03] webknjaz commented on #1491
1. v3.1.2 is an out-of-date version of CherryPy
2. Please be more verbose
3. Confirm your issue with `master` version
4. Also [follow these instructions](/cherrypy/cherrypy#i-have-found-a-bug) to proceed

[2016-09-01 16:21] lez opened #1492 "Socket activation does not work"
I configured socket activation using this `.socket` file:

[code]

When I connect to port 10090, cherrypy starts up, but throws an error:

[code]

When I remove the lines from around server.py:172, the socket activation works fine:

[code]

I use the HEAD version of cherrypy, and the following systemd version:

[code]

[2016-09-01 20:37] webknjaz commented on #1492
This feature has been submitted lately, but doesn't have test coverage. I didn't verify it works well. See #1458. So let's call @xaiki and ask him to help us :)

Of course, it would be nice to have this feature covered with tests and proved working well. So any help with this is welcome.

It seems those lines lack check similar to this:
https://github.com/xaiki/cherrypy/blob/d168536db5ee59151a68d1

[2016-09-02 12:42] #1489 closed, assigned to nobody

[2016-09-02 12:43] jaraco commented on #1489
Graham makes a good argument. I want to remove as many references to ISO-8859-1 from the code as possible, and removing this leniency is one place where that can be done. The tests continue to pass if text is refused with a ValueError, so I'm inclined to simply reject text values. Thanks for raising this here.

[2016-09-02 13:14] jaraco commented on #1491
You probably only need to set the environment to `production` to hide the verbose error messages. I'm pretty sure this request is invalid as a result, so I'm closing, but do clarify and we can re-open as appropriate.

[2016-09-02 13:14] #1491 closed, assigned to nobody

[2016-09-03 09:50] lez commented on #1492
You are right that adding a check for LISTEN_PID fixes the issuel. PR submitted.

One thing I'd like to ask @xaiki just out of curiosity is on what configuration did the original socket activation code work? I could not come up with one that makes that code work.

[2016-09-03 16:03] webknjaz commented on #1492
I guess, he just missed this piece of code, while cutting it off their fork.

[2016-09-03 16:08] #1492 closed, assigned to nobody

[2016-09-03 20:49] lez commented on #1492
or maybe newer systemd closes the listening socket right after starting cherrypy.

[2016-09-03 21:12] webknjaz commented on #1492
In this was the case, it wouldn't work

[2016-09-04 20:51] #1473 closed, assigned to nobody

[2016-09-05 20:28] webknjaz commented on #1487
Implemented via #1495

[2016-09-05 20:28] #1487 closed, assigned to nobody

[2016-09-06 03:32] xaiki commented on #1492
sorry was offline for a week, looks we missed that one, thanks @lez

[2016-09-06 06:57] mensonen commented on #1486
As a workaround I have applied the following monkey patch at the top of our codebase and it appears to hold okay, our production servers have also been crash-free since the change:

[code]

I suppose `ChunkedRFile.readline` could be fixed in a similar way.

[2016-09-07 14:28] Safihre opened #1497 "Connecting to HTTPS port using HTTP when using 'builtin' SSL"
We (SABnzbd) are investigating if we need pyOpenSSL at all, therefore we tried running with `server.ssl_module: 'builtin'` on CherryPy 8.1.0.
However, when connecting to the HTTPS port via HTTP we get an ugly error that doesn't happen when using pyOpenSSL as `ssl_module`.

[code]

Using pyOpenSSL the browser will show:

[code]

[2016-09-07 17:54] jaraco commented on #1497
I think you may have a bug in your installation. CherryPy 8.1.0 doesn't have a wsgiserver2 module. I'd check your site-packages directory and make sure you have only one installation of cherrypy 8.1.0. Then report back if the issue persists.

[2016-09-07 18:40] Safihre commented on #1497
Sorry about that, old log.
Retested and used `print cherrypy.__version__` to confirm the version when starting the server:

[code]

[2016-09-08 07:08] Safihre commented on #1497
Actually, my previous (removed) comment was wrong. The error is here because on Windows/Ubuntu the error message doesn't end with `http request` (see the error above), but this text is in the middle.
https://github.com/cherrypy/cherrypy/blob/master/cherrypy/wsgiserver/ssl_builtin.py#L82

It should be:

[code]

I can submit a PR, but I can image you feel this change is too small to warrant that!

@

[2016-09-08 12:52] webknjaz commented on #1477
@jaraco I've added extra `allow_failures` build running `pre-commit`. Here's an example: https://travis-ci.org/cherrypy/cherrypy/jobs/158445850
**[Config is here](https://github.com/cherrypy/cherrypy/blob/master/.pre-commit-config.yaml)**

It is possible to set it up for running every time you commit or push. To do this just `pip install` it and run `pre-commit install`.

[2016-09-08 19:24] Safihre commented on #1497
Feel this should be handled also by the `_handle_no_ssl()` function you made 58511cd for #1401?

[2016-09-09 07:21] EternityForest opened #1498 "Restricting File Upload?"
It appears that when someone uploads a file, it gets placed on disk immediately, before any user code is called.

Is this correct? And if so, is there a security issue due to the possibility of someone repeatedly uploading large files and using up disk bandwidth, or even possibly destroying an SD card by exceeding write endurance?

Would it be practical to add some sort of file filter such that an

[2016-09-12 08:14] webknjaz commented on #1498
File is not being saved to disk unless you do this explicitly. In your request handler you may access the `request.body` readable file-like object and then read this stream, process and write anywhere you want.

Please check these modules for more info regarding your question and request processing implementation:
https://github.com/cherrypy/cherrypy/blob/master/cherrypy/_cprequest.py#L323-L329
ht

[2016-09-12 14:05] Safihre commented on #1497
Interesting how the pyOpenSSL wrapper doesn't actually throw `NoSSLError` in the `tick()` when a HTTP client connects to HTTPS port, how could that be?
Using the `builtin` it does throw that error.
It just continues to create a socket and continue to make a `HTTPConnection`.

[2016-09-13 11:34] Safihre commented on #1497
In my work on this I encountered another error.

When Firefox connects for the first time to a server that has a self-signed certificate, it will show the unsafe-server page, but on the server this happens (using unmodified CherryPy 8.1.0):

[code]

So it seems the connection goes past the handshake, but then gets somehow gets treated differently by Firefox.

[2016-09-13 14:03] Safihre commented on #1497
No idea if anyone is reading this, but for the sake of thoroughness and making sure it's not the fault of the OS, Python version or certificates:
- Tested on Windows and Ubuntu using Python 2.7 and 3.5, using self-signed certificates generated using the [guide on the docs](http://docs.cherrypy.org/en/latest/deploy.html#ssl-support).
- No problems when using `pyopenssl` as `ssl_module`, but when us

[2016-09-14 20:51] cinatic opened #1500 "Cherrypy does not pass -O parameter on AutoReload"
Hi guys,

i just noticed that if i start the engine with python -O myStarter.py and cherrypy reloaded via its autoreload functionality, it starts without -O again. Really annoying because i use different configurations on release system

[2016-09-15 07:32] webknjaz commented on #1500
It is re-exec with `sys.argv`: https://github.com/cherrypy/cherrypy/pull/1450/files#diff-be33a4f55d59dfc70fc6452482f3a7a4R407

The thing is that only trailing arguments (those after script or command) are getting into `sys.argv`:

[code]

[2016-09-15 07:34] webknjaz commented on #1500
As a workaround I suggest setting `PYTHONOPTIMIZE` environment variable, which does the same thing:

[code]

E.g.

[code]

[2016-09-15 07:47] cinatic commented on #1500
thank you very much for pointing this out and the workaround.

the export variable works great but python -O starter.py -O will fail too

[2016-09-15 07:49] webknjaz commented on #1500
why would it fail?

[2016-09-15 07:53] webknjaz commented on #1500
Notes:
I've found this approach of getting python interpreter using `ctypes` http://stackoverflow.com/a/28338254/595220, but it only works in Python 2 for me. Running under Python 3 results in returning only the first char of each argument.

Still there's `sys.flags`, which looks much more hacky to me to use

[code]

[2016-09-15 07:58] webknjaz commented on #1500
Meanwhile, I'll leave these here for further investigation:
http://stackoverflow.com/a/6683222/595220
http://stackoverflow.com/a/28414807/595220

[2016-09-15 07:58] webknjaz commented on #1500
@jaraco what do you think about all of this?

[2016-09-15 12:16] jaraco commented on #1500
It seems that when cherry py launches the new process it could try to start a process with as much of the same environment as the parent process. For optimize, it could set os.environ[PYOPTIMIZE] = sys.flags.optimize.

but actually, auto reloader is meant for development mode, where optimize probably isn't needed. Auto reloader should probably not be used in production.

Can @cinatic elaborate on

[2016-09-15 13:45] cinatic commented on #1500
i totally agree with that AutoReload is not designed to use in a production system. On the other hand it just not works, if you need it, for whatsoever reason. But even then it is possible to use some kind of workaround.

I thought you should be at least aware of it

[2016-09-15 13:47] rbjorklin opened #1501 "Getting cherrypy.TimeoutError"
I'm using saltstack and have some long running jobs that seem to throw timeout errors after 300 seconds. Pretty sure not being able to specify [this](https://github.com/cherrypy/cherrypy/blob/master/cherrypy/_cprequest.py#L875) is what's causing me issues.

Stacktrace:

[code]

[2016-09-15 14:29] jaraco commented on #1501
A google search for `cherrypy timeout` took me straight to the [docs for response timeouts](http://docs.cherrypy.org/en/latest/advanced.html#response-timeouts), which suggests how change the timeout or disable timeouts.

[2016-09-15 14:29] #1501 closed, assigned to nobody

[2016-09-15 14:30] jaraco commented on #1501
If you have questions about those docs or encounter difficulty implementing it in your saltstack app, do feel free to add follow-up questions.

[2016-09-15 14:40] webknjaz commented on #1500
@jaraco I've managed to make `ctypes` approach working in both Python 2 and Python 3. I think, I'll try implementing it in cherrypy.

[2016-09-16 22:41] stenci opened #1502 "Response streaming does not work"
The following code inspired by the [documentation](http://docs.cherrypy.org/en/latest/advanced.html#streaming-the-response-body) does not work. The result is buffered and sent to the client at once.

[code]

[2016-09-17 14:51] #1480 closed, assigned to webknjaz

[2016-09-17 20:47] webknjaz commented on #1502
@stenci don't you think `time.sleep()` blocks the thread?

[2016-09-17 21:14] webknjaz commented on #1502
It seems, this depends on the client you use. See http://stackoverflow.com/a/31922706/595220

Basically you may use this command to confirm it's working

[code]

This works for me with the following src:

[code]

[2016-09-17 21:14] #1502 closed, assigned to nobody

[2016-09-19 09:25] webknjaz opened #1503 "Update docs link @ PYPI"
[CherryPy page at PYPI](https://pypi.python.org/pypi/CherryPy) contains link to [v5.1.0 docs at pythonhosted](http://pythonhosted.org/CherryPy/).

@jaraco please change it to http://docs.cherrypy.org/

[2016-09-19 14:49] stenci commented on #1502
I tried with Chrome, Firefox, IE, Edge and curl, and no one shows the streaming. I tried the example with longer buffer (I used your example and multiplied by 10000 on the first yield just to make the buffer longer), but the output comes out all at once.

My scripts that spend hours importing thousands of files into a database used to show the progress using the `yield` with an older version of Ch

[2016-09-19 18:30] webknjaz commented on #1502
I've already confirmed that it is working. You may check this with command I posted above.

Here's handler yielding additional timestamps:

[code]

[code]

Do you see timestamps? Their difference is 6 seconds. The output to console has stopped for 6 seconds as in handler too. This is my proof.

So look for bottlenecks in your scripts.

[2016-09-19 20:47] jaraco commented on #1503
It's not possible to delete the docs, but I've uploaded a redirect per [this answer](http://stackoverflow.com/a/6531582/70170).

[2016-09-19 20:47] #1503 closed, assigned to jaraco

[2016-09-19 22:44] stenci commented on #1502
In Windows all the clients seem to buffer, so it seems to be a lower level problem in Windows.

Both Firefox and curl on Linux stream the output as expected, regardless of whether the CherryPy server runs on Windows or Linux.

Both Firefox and curl on Windows buffer the output. The output of curl on Windows shows the correct timestamps, but the whole content is displayed at once at the end.

The [

[2016-09-20 03:07] jaraco commented on #1497
We do read these, but the issues come in faster than we can handle them. If you can come up with a sound solution, send it as a PR. Thanks. I'll hope to look at #1499 soon.

[2016-09-20 12:24] webknjaz commented on #1502
Just checked that streaming works well in Google Chrome under Windows 8.1
Perhaps this will save you from running VM :)

[2016-09-20 12:39] stenci commented on #1502
I used Windows 8.1 for a while, but I was allergic :)

Unfortunately my app interacts with CAD, CAM Lotus and other antique software only available in Windows :(

[2016-09-21 10:03] #1500 closed, assigned to webknjaz

[2016-09-23 14:12] stenci opened #1505 "MemoryError"
This morning one of our internal servers was not working (restarting it fixed the problem). Below you can see two excerpt from the log file.

I don't like to ignore a problem that puts down a server (even if that server has been working without problems for one year).

Can you please tell me if there is something I should investigate?

The production server that failed and produced the tracebacks

[2016-09-23 15:05] webknjaz commented on #1505
@stenci
It looks the cherrypy process just ran out of memory. I don't know the reason, but you should troubleshoot memory consumption. Perhaps there were too many requests, which lead to too many in-memory data (requests bodies).

I see you use 32-bit Python, but do you run x86 OS as well? If you'll install 64-bit Python, the memory limit will increase. See [this SO answer](http://stackoverflow.co

[2016-09-23 15:06] webknjaz commented on #1505
@stenci and if the process was running, what was the HTTP response code and the app behaviour from the client perspective?

[2016-09-23 15:10] webknjaz commented on #1505
@jaraco Shouldn't it result in HTTP 500? Simple grep against the repo found no `MemoryError` exception handlers.

[2016-09-23 15:12] #1497 closed, assigned to nobody

[2016-09-23 16:21] stenci commented on #1505
@webknjaz
Thanks, I will look into memory problems. You can close this issue.

Here are more details.

The app imports DXF drawings, nests them into sheets of material, creates the G code for the CNC machine and the drawing of the whole program. Something similar to [this](https://en.wikipedia.org/wiki/Nesting_%28process%29). If the DXF drawings don't exist it will ask an old 32 bit CAD software t

[2016-09-23 16:36] webknjaz commented on #1505
Well, I believe 64-bit process should be able to interact with 32-bit one. https://msdn.microsoft.com/en-us/library/windows/desktop/aa384203(v=vs.85).aspx
But if it's the win app eating all the memory I think adding RAM will help.

P.S. I'll keep this issue open for a while to check with @jaraco whether we should handle `MemoryError`s in a nicer way.

[2016-09-26 08:21] webknjaz opened #1506 "Py_GetArgcArgv is not available under Windows 10 (Python 2.7.12)"
@Safihre reports an issue with new re-spawn mechanism (#1504):

[code]

My guess it that `Py_GetArgcArgv` is not available under that OS.

[2016-09-26 08:25] webknjaz commented on #1506
@Safihre could you please run contents of `_get_true_argv()` method step by step and identify which functions are available under  `ctypes.pythonapi`?

[2016-09-26 09:02] webknjaz commented on #1506
It looks this function is either not available under windows, or requires python-dev headers to be installed. My suggestion it to `try-except` this falling back to `sys.argv`. Alternatively we could try re-constructing original interpreter arguments with `sys.flags`.

[2016-09-26 09:05] Safihre commented on #1506
It seems all functions are available, except `Py_GetArgcArgv`.
I manually ran the other functions and they returned fine.

[2016-09-26 09:05] webknjaz commented on #1506
https://stem.torproject.org/_modules/stem/util/system.html
(And `Py_GetArgcArgv` seems to not be available under PyPy)

[2016-09-26 09:05] webknjaz commented on #1506
@Safihre does something like `dir(ctypes.pythonapi)` return anything?

[2016-09-26 09:09] Safihre commented on #1506
[code]

[2016-09-26 09:23] webknjaz commented on #1506
It doesn't look like a full list. There's no `]` in output. Did you cut anything?

[2016-09-26 09:23] Safihre commented on #1506
Oh yeah, just 1: 🐹

[code]

[2016-09-27 08:34] Safihre commented on #1506
Think it will need that try/except!

[2016-09-27 14:45] #1506 closed, assigned to webknjaz

[2016-09-27 15:08] webknjaz commented on #1506
Done. I've extended suggested workaround to guess interpreter args from `sys.flags` and `sys.warningoptions`. Feel free to test fixes :)

[2016-09-27 16:18] dmlb2000 opened #1507 "Swagger 2.0 aka OpenAPI Spec"
Seems like CherryPy already has a lot of the logic built into it to be able to automatically generate OpenAPI (aka Swagger) specifications for consumers of REST services. I think it would be good to build in some sort of Swagger/OpenAPI support into CherryPy.

https://github.com/OAI/OpenAPI-Specification

[2016-09-27 19:09] Giancarlos commented on #1507
I think maybe a built-in tool that allows for this would be great, I see the possibility of CherryPy supporting this, all CherryPy has to do is push out a YAML file that can be digested by swagger and it should be fine. If one could go through the whole url trunk of CherryPy internally and map it all to YAML including requests it would be a great start. With Python 3's annotation system for type h

[2016-09-28 02:49] marunguy opened #1508 "CherryPy 8.1.1 install error on Windows using pip"
When install CherryPy 8.1.1. on Windows, a error occurred.

[code]

The installer of ["pywin32"](https://pypi.python.org/pypi/pywin32/) module is not available in pip.
But, the installer of ["pypiwin32"](https://pypi.python.org/pypi/pypiwin32) module is available in pip.

I think that "pywin32" module is changed to "pypiwin32" in setup.py for convenience.

[2016-09-28 06:24] webknjaz commented on #1508
It seems you are right. I'll change that

[2016-09-28 06:27] #1508 closed, assigned to nobody

[2016-09-28 08:53] webknjaz commented on #1507
It's not clear why you want this to be part of CherryPy. It's just a HTTP microframework.
It doesn't expose any default REST HTTP API schemas and there are a variety of built-in dispatchers changing the way of url matching along with possibility of creating custom ones. This allows building unpredictably complex URL trees with that said, it's impossible to build such thing automatically.

A couple

[2016-09-28 15:41] dmlb2000 commented on #1507
The CherryPy interface would be an extension to each object that would say whether it can export a swagger endpoint or not. Then where the object sits in the tree of objects that defines the URL is something CherryPy knows and can populate the right JSON/YAML entries to appropriately place the swagger endpoint at the URL the developer wants.

I would imagine that developers of a Swagger CherryPy o

[2016-09-28 16:19] jaraco commented on #1507
I like this idea, although it doesn't seem necessarily intrinsic to CherryPy. It might be better prototyped as a separate repository or package, which would also serve as a good place to consider the implementation for inclusion in this package. @dmlb2000, I suggest starting in a new repository with some user docs and example usage explaining how to use this proposed functionality, which would hel

[2016-09-28 17:23] webknjaz commented on #1505
@jaraco?

[2016-09-28 17:30] webknjaz commented on #1507
Sounds like a plan. Let's see what you'll end up with :)

[2016-09-28 19:10] dmlb2000 commented on #1507
Okay I'll start one and see what I come up with...

https://github.com/dmlb2000/cherrypy-swagger

Hopefully it will be a separate package on top of CherryPy, If I run into a blocker about the exposed object hierarchy then I'll chime in here again.

[2016-09-28 21:55] stenci commented on #1502
A little update: last Friday I had to use a virtual Ubuntu machine to track the streaming of the page, today it works as expected on Chrome on Windows 10!  YAY

The output of curl and the behavior of Chrome and Firefox have changed: now I see the content as it is streamed by the server. Edge and IE still buffer the whole content before showing it.

A few Windows updates were pushed. I don't know w

[2016-09-29 20:18] webknjaz commented on #1507
@dmlb2000 good luck :)

[2016-09-29 21:23] webknjaz commented on #1486
This looks related to #1131

[2016-10-01 15:25] Safihre commented on #1506
👍 Confirmed it's working now!

[2016-10-01 15:34] Safihre opened #1509 ""tlsv1 alert unknown ca" for builtin SSL"
As described in #1497, there is still 1 bug left when using `server.ssl_module: 'builtin'`.

When Firefox connects for the **first time** to a server that has a self-signed certificate, FF will show the unsafe-server page, but on the server this happens (using unmodified CherryPy 8.1.0):

[code]

This happens on both Python 2.7 and 3.5 on Win10 and Ubuntu.
I created a patch ([link](https://github.

[2016-10-01 19:20] webknjaz commented on #1509
It looks `SSLError` should've been trapped somewhere inside [HTTPConnection.communicate()](https://github.com/Safihre/sabnzbd/commit/b7088d23d4e952a8cceffe9631ccf62cebfce41e#diff-c93ce94e61ff166711e8b913b7b20b72R1414). There's try/except inside of it. I think the exception should be caught there.

@jaraco what's your opinion?

[2016-10-02 00:47] ghost commented on #1509
I'm not sure when I'll get the time to look at this. Feel free to devise a solution and we can evaluate it or roll it out for comment.

[2016-10-02 09:24] webknjaz commented on #1446
@jeffsilverm JFYI not it works this way as well

[2016-10-02 09:36] webknjaz opened #1510 "Add type hints"
Hi,

I think for such project as a framework it's a must to incorporate all available tools helping to keep the codebase healthy.
Today I'm thinking about using type hinting natively available in Python 3.5/3.6 (PEP-3107/PEP-526/PEP-484) and available for old Python versions via various backports/mypy etc.

@jaraco do you think we could do this?

[2016-10-02 10:30] webknjaz commented on #1429
@davgibbs Why not use [DropPrivileges plugin](https://github.com/cherrypy/cherrypy/blob/dc574c422886d192b33a48b036d0e9839c3cc6e0/cherrypy/process/plugins.py#L222) like [blueberrypy does](https://github.com/open-craft-guild/blueberrypy/blob/08f07684939661815ac3140a168dd0337a569c65/src/blueberrypy/command.py#L295-L303)?

[2016-10-02 11:06] webknjaz commented on #1509
Similar/duplicate: #1155

[2016-10-02 11:15] Safihre commented on #1509
@webknjaz indeed, seems the problem is deeper..

[2016-10-02 12:59] jaraco commented on #1510
Seems reasonable, though Python 2 compatibility might be tough. I haven't used tools that leverage type annotations myself, so I'm not quite sure what to expect. As long as the implementation doesn't raise the bar too much for new contributors, it should be worthwhile.

[2016-10-02 16:14] webknjaz commented on #1510
Well, current Python 2 implementations use either decorators, or comments for annotations.

[2016-10-13 13:44] immoads-gerold-penz opened #1512 "Google App Engine - Last running version 8.1.0"
Hello!

Version 8.1.2 doesn't run on Google App Engine. Last functional version is 8.1.0.

[code]

Traceback from the Google App Engine:
`Traceback (most recent call last): File "/base/data/home/runtimes/python27/python27_lib/versions/1/google/appengine/runtime/wsgi.py", line 240, in Handle handler = _config_handle.add_wsgi_middleware(self._LoadHandler()) File "/base/data/home/runtimes/python27/py

[2016-10-13 14:08] jaraco commented on #1512
According to [this answer](http://stackoverflow.com/a/6523777/70170), GAE doesn't supply the standard ctypes module. It wasn't intentional to drop support for GAE, but we have inadvertently.

[2016-10-13 14:09] jaraco commented on #1512
That behavior was added here - 2c00069684e, which was included in 8.1.1, confirming your findings.

[2016-10-13 14:13] jaraco commented on #1512
@webknjaz Can you envision an implementation of the autoreloader that is disabled (or doesn't honor interpreter flags) on platforms where ctypes isn't available?

I wonder alternatively if the recently-released GAE for Python 3 supports ctypes. If so, I'd be inclined to say we won't fix this and will expect GAE users to migrate to Python 3 or use older CherryPy versions.

[2016-10-13 21:16] webknjaz commented on #1512
@jaraco I think it's enough to trap `ImportError` and fallback it to `None`.
This will cause `AttributeError` in `_get_true_argv()`, which is already being processed for win32: https://github.com/cherrypy/cherrypy/blob/427261aa1748657f149f62da90a09938856cf327/cherrypy/process/wspbus.py#L423

[2016-10-13 21:25] #1512 closed, assigned to nobody

[2016-10-13 21:29] webknjaz commented on #1512
@immoads-gerold-penz thanks for your report, the next version of cherrypy should have this fixed now :)

[2016-10-14 08:13] immoads-gerold-penz commented on #1512
Thank you @jaraco and @webknjaz!
I have tried it. CherryPy is running again on Google App Engine. :-)
Regards, Gerold

[2016-10-30 18:50] webknjaz opened #1514 "Add workaround for running tests in pypy env under TravisCI"
Since pypy/pypy3 tests are now not passing on TravisCI, I suggest doing following:
- [x] upgrade pypy and pypy3 versions as in dmlb2000/cherrypy-swagger#7 (see devsnd/cherrymusic#555 as well)
- [ ] remove `pypy` and `pypy3` from `allowed_failures` in `.travis.yml`

[2016-11-02 15:05] dattto opened #1515 "CherryPy uploads only part of file"
I have a file upload HTML form that sends a POST to a local cherrypy server. The server just prints the file contents back to the browser screen. However, the server only reads about 2/3 of the file for some reason.

HTML:

[code]

Server:
[code]

[2016-11-02 15:57] webknjaz commented on #1515
You should probably learn more about reading files chunk by chunk. It's not a cherrypy issue. And this place is not a Stack Overflow.

[2016-11-02 15:57] #1515 closed, assigned to nobody

[2016-11-02 16:07] dattto commented on #1515
I appreciate the arrogant tone. I don't need programming lessons from you, I wanted to load the file to memory at once like I can in python, very weird that this is not supported by cherrypy.

[2016-11-03 17:41] webknjaz commented on #1515
CherryPy is an HTTP framework. It provides you a file handler, which you can use in any way you want to. It does not have and must not to be a default behavior (as it would be an issue with memory being leaked if stored in memory). Still, you are free to write custom tool introducing file saving logic on its own.

[2016-11-14 16:40] gitKearney opened #1516 "error reading HTTP PATCH request's body"
When trying to process an HTTP PATCH request, the line

`cherrypy.request.json`

fails with an error: `AttributeError: 'Request' object has no attribute 'json' `

The cause of the error is in line 315 of _cherrypy_/__cprequest.py_

The line needs to be changed from

`methods_with_bodies = ('POST', 'PUT')`  **wrong**
to
`methods_with_bodies = ('POST', 'PUT', 'PATCH')` **correct**

[// Related SO qu

[2016-11-14 16:45] webknjaz commented on #1516
@gitKearney could you please send us a pull request with tests accompanying it?

[2016-11-14 20:55] gitKearney commented on #1516
@webknjaz I created a branch and am committing to it. I'm super new to Git, and contributing, so, I probably did everything wrong :'-( I'm sorry!

I created a new directory called "tests" which contains a simple server and a controller. I also created a simple script to send a PATCH request using _requests_

[2016-11-14 21:45] gitKearney commented on #1516
Hey, I think I did that properly, I forked the cherryPy branch, then
created a test directory with the serve, controller, and a caller.

If I did that improperly, I'm sorry. Just let me know what I need to do to
fix it

Kearney J. Taaffe

On Mon, Nov 14, 2016 at 10:45 AM, Sviatoslav Sydorenko <
notifications@github.com> wrote:

[2016-11-15 10:28] ghost opened #1518 "Cherrypy freezes on many parallel requets"
Dear cherrypy team,
Dear community,

I've observed that cherrypy freezes when many requests are sent in parallel, causing a denial of service situation. One can always overflow systems with too many requests, but in this case the system remains dead afterwards. The socket is still open and I can connect to it via Telnet, but requests are not handled anymore.

You can evaluate by launching BurpSuit

[2016-11-15 12:45] webknjaz commented on #1516
@gitKearney I've commented on your PR. Let's keep further communication there.

[2016-11-15 13:31] webknjaz commented on #1518
Could you please provide us with any logs/tracebacks cherrypy generates?
P.S. Normally you would limit requests with nginx or similar proxy, wouldn't you?

[2016-11-15 13:46] ghost commented on #1518
Hi,

there are no error logs (they are empty), it just stops working.

I'm using cherrypy as the web server of my application which is written in Flask. I love to have a web server native in python as it doesn't require any installation or configuration after deployment.

This is the code I launch with:

[code]

regarding your "P.S.": Why would I use cherrypy as the web server, when I need to put

[2016-11-17 18:09] webknjaz commented on #1518
Then I don't understand for what do you need cherrypy? You could use flask's server as well.
I cannot investigate anything with no info. The only thing I can suggest is to check for `MemoryError` exception in logs. I recall some issue with it, which seem to be still open.

[2016-11-20 14:35] matt-paul opened #1520 "Tutorials - @cherrypy.expose on class"
In tutorials 7 and 8, we are told to expose the class ie

[code]

This however does not seem to work, but adding @cherrypy.expose on to the individual methods does.

[2016-11-20 14:40] matt-paul opened #1521 "Tutorial 8 - 404 not found - /generator"
When running this code, and clicking on 'Give it now' button, it returns a 404 not found error for the path /generator

[2016-11-20 16:35] jaraco commented on #1520
Not in my experience. I copied tutorial 7 to a file, ran it with a late version of CherryPy, and it was working for me (at least responding to GET and POST requests).

Aha. I suspect the issue is that you're using an old version of Python (Python 2.7 or earlier). According to [the PEP](https://www.python.org/dev/peps/pep-3129/), support for class decorators was not added until Python 3. I suggest

[2016-11-22 02:40] WXITWangPeng opened #1523 "[enhancement]Request to add attribute "ssl_ciphers" to "cherrypy._cpserver.Server" as "ssl_certificate"."
Hi Team,
    Our security team got a request recently, need to dynamicly set cipher suites of https connections.
   Since Python(version >= 2.7.9) already supports API

"context.set_ciphers()", then we can add attribute "ssl_ciphers", and transfer it to "ssl_builtin.py". Thus, if cherrypy use builtin ssl lib, it can dynamicly configure the cipher suites.

   I have a solution to add the attribute

[2016-11-22 10:39] webknjaz commented on #1523
Please create a Pull Request for this. It's not 90-s: we don't exchange emails with patches nowadays.

[2016-11-22 10:42] webknjaz commented on #1523
Okay, you've sent PR #1524. Closing the issue as a duplicate. Let's move discussion to that PR.

[2016-11-22 10:42] #1523 closed, assigned to nobody

[2016-11-22 12:11] webknjaz commented on #1518
I'm going to close this issue, unless you've got anything to add. Anyway, feel free to re-opening it once you provide more relevant info

[2016-11-22 12:13] #1518 closed, assigned to nobody

[2016-11-22 12:13] webknjaz commented on #1507
@dmlb2000 any updates? how's the progress?

[2016-11-22 18:12] Giancarlos commented on #1521
Do you mind posting your code you're running?

[2016-11-25 08:46] #1516 closed, assigned to nobody

[2016-11-29 21:16] Safihre commented on #1506
@webknjaz new problem with this:
When we freeze the app to an .exe (using py2exe), restart is not working because it's passing the wrong arguments.
Somehow it comes up with this:

```2016-11-29 22:08:08,905::INFO::[_cplogging:219] [29/Nov/2016:22:08:08] ENGINE Re-spawning C:\Users\xxx\Documents\GitHub\SABnzbd-1.2.x2-win32-bin\SABnzbd-1.2.x2\SABnzbd-console.exe -E -OO -S C:\Users\xxx\Documents\GitH

[2016-11-29 21:55] webknjaz commented on #1506
@Safihre
1) please file a new issue for that
2) please state whether it worked with some of earlier versions of CherryPy there
3) AFAIK these tools like py2exe never worked really well

[2016-11-30 08:59] Safihre opened #1526 "Re-spawning with frozen applications"
The changes to the re-spawning code work great for calling scripts, but have some side-effects when CherryPy get's frozen into an ```.exe``` where it calls the ```.exe``` as if it's the python interpreter using the parameters it was frozen with.
For example:
```2016-11-29 22:08:08,905::INFO::[_cplogging:219] [29/Nov/2016:22:08:08] ENGINE Re-spawning C:\Users\xxx\Documents\GitHub\SABnzbd-1.2.x2-win

[2016-11-30 14:44] jaraco commented on #1526
I believe this behavior is a regression stemming from #1504. @webknjaz should be able to implement a fix.

[2016-11-30 14:49] webknjaz commented on #1506
Ref: #1526

[2016-11-30 18:20] webknjaz commented on #1526
@Safihre thanks for the investigation and the link you provided. I'll look into this later, meanwhile feel free to submit a PR.
If this fix is all we need I'd move it to the beginning of `_args_from_interpreter_flags()`:
[code]

On the other hand, we need to check whether there's an option/need of surviving command line args.
Also I'll need your help with testing this against other OSes. TIA.

[2016-12-01 07:20] Safihre commented on #1526
Our OSX guy will test it soon, I only do the Windows stuff. Will let you know!

[2016-12-01 10:14] webknjaz commented on #1526
@Safihre What is the full command for running your executable? What is in `sys.executable` and `sys.argv` when running in frozen mode?

[2016-12-01 10:15] webknjaz commented on #1526
P.S. AFAIK `self._get_true_argv()` is available only under GNU/Linux.

[2016-12-01 10:32] Safihre commented on #1526
```sys.executable = C:\Users\xxx\Documents\GitHub\SABnzbd-1.2.x2-win32-bin\SABnzbd-1.2.x2\SABnzbd-console.exe```
```sys.args = C:\Users\xxx\Documents\GitHub\SABnzbd-1.2.x2-win32-bin\SABnzbd-1.2.x2\SABnzbd-console.exe <whatever the user put when starting the exe>```

Also on macOS, just tested it by modifying the code:
[code]
I see, however, that for the macOS frozen app we have our own restart cod

[2016-12-01 12:27] Safihre opened #1527 "Force-shutdown"
More of a question than an issue:
Is there a faster way to shutdown and restart when there was a recent connection to the port?
For example I just visited this server on it's port, but now it will take 6 seconds to shutdown:
[code]
But if I just start the server, not visit it, and shutdown it's instant:
[code]

I tried to deduct myself where the slowdown is originating, but I got a bit lost in the

[2016-12-01 12:43] webknjaz commented on #1527
OS? env? Python version?

[2016-12-01 12:44] Safihre commented on #1527
Windows 10 and Ubuntu 16.04, both on 2.7.12 and CherryPy 8.1.2.

[2016-12-01 12:45] webknjaz commented on #1527
Same machine? Could you please try Python 3.5? Just for statistics?

[2016-12-01 12:52] Safihre commented on #1527
Python 3.5 on Ubuntu (indeed same machine):
[code]
Seems to be about 5 seconds, some timeout somewhere?

If the server was not contacted, the shutdown is instant
[code]

[2016-12-01 12:52] webknjaz commented on #1526
That sounds interesting. So with the patch it would be restarted with
[code]
Weird ;)

Could you please check for CherryPy v6.0.2 whether the `os.execv()` arguments built are the same?

[2016-12-01 13:10] webknjaz commented on #1526
@Safihre do you have any ideas of how can we implement automatic testing of re-spawning in frozen mode? What it takes to compile an app with py2exe tool?

[2016-12-01 13:15] webknjaz commented on #1527
Perhaps it's waiting for the thread, which was responsible for processing the request, to be stopped. I cannot state this for sure. Maybe I'll be able to dig into code later.

[2016-12-01 13:15] webknjaz commented on #1527
@jaraco any ideas?

[2016-12-01 13:22] Safihre commented on #1526
Indeed you are right, I just recompiled with a print-statement for and for ```sys.executable``` and ```args``` given to ```os.execv()``` are:

8.1.2 (unpatched)
[code]
6.0.2
[code]

[2016-12-01 13:25] webknjaz commented on #1527
@Safihre There's a function `wait_for_free_port()`, which is waiting for the port to be really free on after stopping. It keeps polling the port information every 0.1 sec until it's free.
https://github.com/cherrypy/cherrypy/blob/2c00069684e3973a79ae6c2ed0433dae8e813602/cherrypy/process/servers.py#L243-L248

[2016-12-01 15:10] Safihre commented on #1527
That's not it, I put a timer and that functions returns in ~100ms right before the shutdown is done.
So it's something before that..

[2016-12-01 15:12] Safihre commented on #1526
Compiling with py2exe is not too fast and does lots of side-tasks to make a working EXE. Might be a bit overkill.

[2016-12-01 15:19] webknjaz commented on #1526
@Safihre could you please re-test your app with current master (and commit I pushed).
P.S. Why don't you add cherrypy as a submodule to your project instead of copy-pasting it every time?

[2016-12-01 15:49] webknjaz commented on #1527
Okay, I'll try to find time for this later :)

[2016-12-01 16:04] Safihre commented on #1526
You made small error, ```hasattr``` takes only 2 arguments and can't do ```+``` on a list and a tuple.

Since a frozen app doesn't need the extra ```sys.executable``` how about something like this? (snipped)
Tested and works for Python and frozen :blush:

[code]

We didn't do submodule so we can quickly make alterations for bugs our users were experiencing.
For 6.0.2 there were quite a few, but wi

[2016-12-01 16:26] webknjaz commented on #1526
I don't agree with moving `sys.executable` part to `_get_interpreter_argv()` method, since it isn't related to the function purpose. Go ahead and test it fixed :)

[2016-12-01 16:27] webknjaz commented on #1509
@Safihre so did you find a cure?

[2016-12-01 16:34] Safihre commented on #1509
And probably doesn't fix the problem in #1155.

[2016-12-01 22:58] webknjaz commented on #1526
@Safihre I'm marking this as closed, feel free to re-open this issue or file a new one if needed.

[2016-12-01 22:58] #1526 closed, assigned to nobody

[2016-12-01 23:00] webknjaz commented on #1521
@matt-paul Please show us your code.

[2016-12-05 08:45] Safihre commented on #1527
Solved it!
The slowdown is in the wsgiserver, which has a timeout of 5 seconds:
https://github.com/cherrypy/cherrypy/blob/master/cherrypy/wsgiserver/__init__.py#L1690-L1726

It's simply overwritten by setting:
[code]

In case someone else wants to know 👍

[2016-12-05 08:45] #1527 closed, assigned to nobody

[2016-12-05 08:48] webknjaz commented on #1527
Feel free to contribute to official documentation or the StackOverflow Docs :)

[2016-12-05 08:51] Safihre commented on #1527
@webknjaz Did find a tiny bug:
https://github.com/cherrypy/cherrypy/blob/master/cherrypy/wsgiserver/__init__.py#L1698-L1699
If you set ```'server.shutdown_timeout': 0``` then ```endtime``` is not defined and it will error-out.

Fixed by changing
[code]
to
[code]
In line:
https://github.com/cherrypy/cherrypy/blob/master/cherrypy/wsgiserver/__init__.py#L1704

[2016-12-05 08:55] webknjaz commented on #1527
@Safihre please file another issue on this

[2016-12-14 07:41] kienerj opened #1529 "Web Service running behind apache2 mod_wsgi"
I'm new to cherrypy and choose it to create web services for use in other web applications. I want to run it using apache2 and mod_wsgi. I tried [Tutorial 7](http://docs.cherrypy.org/en/latest/tutorials.html#tutorial-7-give-us-a-rest) with some adaptions according on how to run cherrypy with [mod_wsgi](http://tools.cherrypy.org/wiki/ModWSGI).

The error I get from Apache log is:

    TypeError: ex

[2016-12-14 13:23] jaraco commented on #1529
The expose decorator for classes only works on newer versions of Python. I don't recall at the moment precisely which. Either upgrade your Python or replace `@expose` with `exposed=True` in the class body itself.

[2016-12-15 07:27] kienerj commented on #1529
There are/were several issues at play.  I'm running anaconda python. I just realized the cherrypy version that installs from default channel is outdated (3.8.0). So installing newest version with pip solved the @expose problem.

 However I now get an 404 Error from cherrypy.

    404 Not Found

    Nothing matches the given URI

    Powered by CherryPy 8.1.2

So that looks like a routing problem.

[2016-12-15 07:35] webknjaz commented on #1529
@kienerj it will work the same way as if you were running cherrypy's built-in web-server.
It cannot look up `/cherrypy-test/rest-test.py`, because there's no handler for his path. You've binded your `StringGeneratorWebService` to `/`. So you should configure your Apache to route everything relative to this endpoint.
I suppose just navigating `/` URI would work fine if you configured Apache correct

[2016-12-15 08:28] Safihre commented on #1509
Turns out Safari on macOS also throws this error, but during the handshake when self-signed certificates are used:
[code]

Requires another catch of the exception:
https://github.com/sabnzbd/sabnzbd/commit/84de0faff80bdbde2c1c1adcf5e4e7dbf7a9ac0a

[2016-12-15 12:22] kienerj commented on #1529
OK. If I set `script_name=None` I can call it directly with `/cherrypy-test/rest-test.py`.

The issue I face now is that POST, PUT and DELETE work except GET which gives me a 500 error (even after POST or PUT) from cherrypy.  I assume this is because the sessions is not kept over requests.  I get 0 as response if I adjust the service to `return str(len(cherrypy.session))`.

I'm using the exact cod

[2016-12-16 16:11] lbolla opened #1530 "TypeError swallowed in decorated handlers"
If a `TypeError` is raised within a handler, which has been decorated by a "wrapper" function whose first argument is not called `self`, the `TypeError` is swallowed and a 404 HTTP Error is returned instead.

    from functools import wraps
    import cherrypy

    def dec(f):
        @wraps(f)
        def wrapper(handler, *args, **kwargs):
            return f(handler, *args, **kwargs)
        re

[2016-12-16 16:15] lbolla commented on #1530
This is the full stacktrace returned in the response body.

    <body>
        <h2>404 Not Found</h2>
        <p>Missing parameters: handler</p>
        <pre id="traceback">Traceback (most recent call last):
            File "/home/lbolla/.virtualenvs/exp/lib/python2.7/site-packages/cherrypy/_cprequest.py", line 670, in respond
                response.body = self.handler()
            File "/home

[2016-12-16 16:37] lbolla commented on #1530
One option, that would only work on Python3, though, is to check if the "callable" has a `__wrapped__` attribute when checking if it's been wrapped or not and call `getargspec` on `__wrapped__` if so:

   `>>> getargspec(callable.__wrapped__)`
   `(['self'], 'args', 'kwargs', None)`

See https://docs.python.org/3/library/functools.html#functools.update_wrapper

For Python2, at leasts the docs shou

[2016-12-16 17:08] bdeeney commented on #1530
An option that would work for both Python 2/3 would be to use `wrapt` to create a decorator that preserves the wrapped method's signature.

[code]

[code]

[2016-12-16 19:34] lbolla commented on #1530
@bdeeney Sure, applications aware of this issue could write their decorators using `wrapt` and get the correct behavior. But unaware applications won't know that they have to use `wrapt`... So I still think that CherryPy should try a bit harder to return the correct error.
Probably, rather than the argument _name_, CherryPy should check the actual first argument _value_ and try to deduct if it's `

[2016-12-16 19:41] jaraco commented on #1520
I've reverted the change as apparently the @expose decorator should work on Python 2.6+, which is what CherryPy supports. Re-reading the report, the issue seems to be not that the expose decorator is on the class but that the methods themselves need to be exposed.

[2016-12-16 19:49] bdeeney commented on #1530
@lbolla Agreed.  A more accurate check might focus on, e.g.:
[code]
ref: https://docs.python.org/3/library/inspect.html#inspect.ismethod

[2016-12-16 19:54] jaraco commented on #1520
Using Python 2.6, I ran the tutorial and it does seem to be handling the request:

[code]

[code]

Which suggests to me that the `expose` decorator is not only valid syntax but is being honored by cherrypy. I'm using Python 2.6.9.

If you still think this is an issue, feel free to dig deeper and provide more detail on what is not working an why. If it's due to older versions of Python 2.6, I'd say

[2016-12-16 19:54] #1520 closed, assigned to nobody

[2016-12-16 22:06] lbolla commented on #1530
@bdeeney Thanks for the suggestion, it's a great idea. I just tested it and it does indeed solves the issue elegantly. I will submit a PR soon.

[2016-12-16 23:11] lbolla commented on #1530
PR available here: https://github.com/cherrypy/cherrypy/pull/1531

[2016-12-17 17:10] #1530 closed, assigned to nobody

[2016-12-23 10:28] ghost opened #1532 "How can I install cherrypy offline ???"
I want to install cherrypy offline ,but pip install --find-links= . did not work....

[2016-12-23 20:52] jaraco commented on #1463
For some stupid reason, Travis is putting the 3.5 test in the allowed failures: https://travis-ci.org/cherrypy/cherrypy/builds/186426365

But it's not doing that on master. What's weird is there's [no difference in the matrix definition between the pytest branch and the master branch](https://github.com/cherrypy/cherrypy/compare/0a9ee7bc80c4c630d6b16463af833babb208a753...a7ce6324f4a0272e10fba37a4d

[2016-12-23 20:55] jaraco commented on #1463
Well, 96d9db98 seemed to fix that.

[2016-12-23 21:06] jaraco commented on #1463
After restarting a couple of the jobs showing spurious failures, I have a [clean build of CherryPy on pytest](https://travis-ci.org/cherrypy/cherrypy/builds/186428583).

I'm going to merge this into master now, and file tickets for the individual test failures as needed.

[2016-12-23 21:07] #1463 closed, assigned to nobody

[2016-12-23 22:07] jaraco commented on #1532
Works for me:

[code]

Voila! Enjoy.

[2016-12-23 22:14] jaraco opened #1534 "test_0_Session fails intermittently"
In [this Travis run](https://travis-ci.org/cherrypy/cherrypy/jobs/186441006), one can see an instance where the test failing. This issue looks suspiciously like #765.

[2016-12-23 22:27] jaraco opened #1535 "test_queue_full fails intermittently"
See [this run where test_queue_full fails](https://travis-ci.org/cherrypy/cherrypy/jobs/186442965) with a socket.timeout.

[code]

[2016-12-23 22:30] jaraco opened #1536 "test_antistampede fails intermittently"
See [this test failure](https://travis-ci.org/cherrypy/cherrypy/jobs/186442967) where test_antistampede fails with an AssertionError:

[code]

[2016-12-24 08:03] webknjaz commented on #1463
@jaraco You removed Python 3.2 from Travis CI config.
It seems we should completely wipe 3.1/3.2 from classifiers in `setup.py` as well as from officially supported versions everywhere.
Do you mind?

[2016-12-24 21:37] jaraco commented on #1463
The latest release officially supports Python 3.2, even though the tests don't run properly, due primarily to the issue with tox. I plan to drop support for Python 3.2, but I'll wait to see what happens with tox-dev/tox#428 first. If tox is willing to support Python 3.2, CherryPy can too.

[2016-12-25 08:49] webknjaz commented on #1475
This is not OS X specific. Here's what I see on my Gentoo Linux laptop:
[code]

[2016-12-25 15:01] jmzoda opened #1537 "Cannot install cherypy on Python 3.6 + Windows 10, Error : Missing parentheses in call to 'print'"
Cli text is just below.
Thank you

C:\Program Files\Python36\Scripts
λ pip3.6 install cherrypy==8.3
Collecting cherrypy==8.3
  Using cached CherryPy-8.3.0-py3-none-any.whl
Collecting six (from cherrypy==8.3)
  Using cached six-1.10.0-py2.py3-none-any.whl
Collecting pypiwin32; sys_platform == "win32" (from cherrypy==8.3)
  Using cached pypiwin32-219.zip
    Complete output from command python setup

[2016-12-25 18:40] jaraco commented on #1477
It's also possible now to run `tox -e linter` to run the linters.

[2016-12-25 18:46] jaraco commented on #1537
Looks like pypiwin32 doesn't support Python 3. :(

[2016-12-25 18:50] jaraco commented on #1537
Looks like it's a [bug that pypiwin32 doesn't want to fix](https://sourceforge.net/p/pywin32/bugs/522/).

[2016-12-25 18:52] jaraco commented on #1537
The issue is that pypiwin32 doesn't support source builds on Python 3 and doesn't have binary builds for Python 3.6.

[2016-12-25 18:55] jaraco commented on #1537
I've filed [a ticket upstream](https://sourceforge.net/p/pywin32/bugs/734/).

[2016-12-25 21:20] jmzoda commented on #1537
Thank you for the investigation

[2016-12-25 23:59] jaraco commented on #1537
I tried working out a workaround by making a build on Python 3.6, but it turns out pywin32 doesn't build on Python 3.6 yet. I run into errors relating to build environments. I think we'll have to temporarily drop support for this package on Python 3.6 to avoid the errors.

[2016-12-26 00:02] jaraco commented on #1537
v8.3.1 releasing now should probably work by bypassing that requirement.

[2016-12-26 01:40] ghost commented on #1532
This is for Python 3 operation, what about python 2 ?? Python 2 cherry is not whl file, it's a zip file .
For python 2 this operation should blocked in step Collecting cherrypy and show some connection error. it must be need connect internet..

[2016-12-26 01:47] ghost commented on #1532
Can I copy cherrypy directory in site-packages for other non-internet computer...

[2016-12-26 04:57] jaraco commented on #1532
Hmm. you're right. There are a couple of issues here. First, the wheel cannot be universal. Now that we have releases, we should be able to cut python 2 wheels. The second issue is that the use of Setuptools_scm means a source distro will require setuptools_scm installed in advance to succeed. I think I have some suggestions for you that I'll explore tomorrow.

[2016-12-26 14:17] #1532 closed, assigned to nobody

[2016-12-26 14:19] jaraco commented on #1532
@ccyg: Can you try with CherryPy 8.4.0 (releasing imminently)? It includes wheels for Python 2 so should be suitable for you to replicate the recipe above.

[2016-12-26 20:09] jaraco opened #1538 "Data files get installed incorrectly"
When installing the package under tox (with `usedevelop=False`), the data files get installed in the wrong location. For example, I've created such a tox environment and here's what you find for tutorial.conf:

[code]

I would have expected the file to get installed at `.tox/dist-check/lib/python3.6/site-packages/cherrypy/tutorial/tutorial.conf`. I suspect there's some interaction between tox and

[2016-12-27 05:29] jmzoda commented on #1537
I tried the latest version 8.5.0 and it works fine. Great job!
Thank you so much :)

[2016-12-27 19:50] #1538 closed, assigned to nobody

[2016-12-27 20:08] jaraco opened #1540 "test_4_File_deletion fails intermittently"
As observed in [this job](https://travis-ci.org/cherrypy/cherrypy/jobs/187052318), the sessions test_4_File_deletion fails intermittently with this error:

[code]

[2016-12-29 16:03] ghost commented on #1532
yes!!! I try to install and succeed.  can you put those operation in cherry document for other guys has seem problems like me, cause I find this solution for several days and much suffered.

# pip download -d .  cherrypy

then download cherrypy  and  pypiwin32  and six

# pip install --find-links=.  cherrypy

[2016-12-29 16:48] jaraco commented on #1532
@ccyg: Sounds like it would be an excellent addition to the [StackOverflow wiki](http://stackoverflow.com/documentation/cherrypy/topics). Please consider adding it there (that way you also get the credit).

[2016-12-29 17:24] jaraco opened #1541 "Tests hang, process fails to die, leaves network stack hosed"
I've twice now run into this rare condition on macOS 10.12. I'm running CherryPy tests and at some point during the tests, they stall indefinitely. A Ctrl+C indicates a keyboard interrupt, but the process fails to exit. I'm furthermore unable to kill the host process even with a SIGKILL.

If I fight with the OS for a while, I can usually get the process to die, but the network stack remains hosed.

[2016-12-29 17:24] jaraco commented on #1541
I don't see that there's anything CherryPy can or should do about this issue, but I wanted to register it here in case I find anything new in the future.

[2016-12-29 17:24] #1541 closed, assigned to nobody

[2016-12-29 17:34] webknjaz commented on #1541
I've had similar issue under GNU/Linux in case of using `nose` as a testrunner (tests got stuck, only `kill -9` helps), changing to `pytest` fixed the issue.

[2017-01-01 18:27] jaraco commented on #1518
I agree it would be preferable for the web server to be robust under extreme load. What we would need to solve this is an analysis of the code to determine where the issue lies. That is, first demonstrate that the issue doesn't occur when creating a simple multi-threaded HTTP server on Python under the same load, then to add in the behaviors that CherryPy's wsgiserver does until the undesirable be

[2017-01-01 20:03] ghost commented on #1518
To answer the previous post, I chose Cherrypy because it states about itself to be production-ready.

Furthermore, it can do multi-threading, while the flask web server is just a single-threaded development server. So in my opinion it was the perfect solution: simple, no installation, reliability but without setting up a high-available infrastructure with multiple hosts/software.

I repeat myself

[2017-01-02 02:43] ghost commented on #1537
In case anyone is curious, I have set up an organization to attempt to get pywin32 to work on Python 3.6. It looks like it may be a significant amount of work. See pywin32/pypiwin32#2

[2017-01-03 10:48] webknjaz commented on #1518
@aosdf6dd wow, that is awkward. This is probably related to GIL. If you were using cherrypy's infrastructure I would suggest you doing such connectivity check inside of CherryPy Plugin.

Thank you for documenting your case :)

[2017-01-06 09:10] Safihre opened #1543 "Cannot run tests on Python 2.7 due to missing mock"
Latest cherrypy `master` branch I cannot run the tests on my Python 2.7.13 installation.
[code]
As you can see, the `mock` module is installed but in Py2 it's not part of the `unittest` module.

[2017-01-06 09:55] webknjaz commented on #1543
It looks windows-specific, since it works under Travis CI. `backports.unittest_mock` is meant to monkey-patch `unittest`, so that `mock` would become importable in old Python versions.

// cc: @jaraco

[2017-01-06 10:37] jaraco commented on #1543
Tox isn't reporting that backports.unittest_mock is installed, so it's no surprise that pytest doesn't see the plugin. I don't have any reason to think this shouldn't run in Windows.

[2017-01-06 10:39] Safihre commented on #1543
@jaraco It's installed though:
[code]

[2017-01-06 10:57] jaraco commented on #1543
The way tox works, it isolates your tests from your normal environment in a virtual environment (in `.tox/python`, so it's that environment where `backports.unittest_mock` must be installed.

I've gone ahead and wired up Appveyor. In the [latest build](https://ci.appveyor.com/project/jaraco/cherrypy), you can see that backports.unittest_mock is installed and triggers the plugin to be recognized by

[2017-01-06 11:08] Safihre commented on #1543
I'm sorry, it was my fault. After deleting the tox directory and probably some cache files it's working!
But indeed with other errors.. That's for the next issue.

[2017-01-06 11:08] #1543 closed, assigned to nobody

[2017-01-06 11:16] jaraco commented on #1475
Indeed, I see the test failing on Windows also.

[2017-01-06 11:24] jaraco opened #1544 "test_static fails on Windows in Python 2.7"
In [this build on Appveyor](https://ci.appveyor.com/project/jaraco/cherrypy/build/1.0.5), one can see this error reliably occurs:

[code]

[2017-01-07 22:38] jaraco commented on #1481
I discovered that the /cherrypy/cheroot project, although it's based on the same cherrypy history, due to the transition from Mercurial to Git, no longer is considered related to the cherrypy history as found here on Github. Therefore, what I've done is rebase the cheroot 4.0.0b2 changes onto a checkout of cherrypy (still against 3.2.2 as before), and pushed those changes up to the cheroot origin

[2017-01-07 22:41] jaraco commented on #1481
I've also tagged the old master as archive/old-cheroot-master, in case anybody ever wants to go find that history.

[2017-01-07 23:00] jaraco commented on #1481
Now in the cheroot master, which is up-to-date with the cherrypy master, I'll review the refactor that [happened here](https://github.com/cherrypy/cheroot/commit/577b83acef2281d11537fb7974c913b4f7a5bd3c) and try to re-apply it to the current CherryPy project tree.

[2017-01-08 04:06] jaraco commented on #1481
So the tests are substantially passing against the new cheroot (currently just linked to the github repo). For some reason, the Python 2 tests are exiting promptly. I see the same when I test locally, so it shouldn't be too difficult to track down. In the meantime, the functionality remains in the [cheroot branch](/cherrypy/cherrypy/tree/cheroot).

[2017-01-08 18:13] jaraco commented on #1481
After restoring a missing `__init__.py` in cheroot, the CherryPy tests now pass against the master of cheroot. The CherryPy tests are still relying on `cherrypy.test.helper` and `cherrypy.test.webtest`. I believe more refactoring will need to happen in those modules before they can start to rely on the cheroot versions.

[2017-01-08 20:52] webknjaz opened #1545 "Improve -m autoreload"
// I need to document this, not just commit silently

While trying to remove `cherrypy/cherryd` script being installed along with package in flavour of modern way, which is console_script entrypoint (beec545) I've faced the following issue.

There's a test (`test_states`) checking autoreload, which just runs `cherryd`, touches config and checks whether it's restarted. There's no obvious way to loc

[2017-01-09 11:36] webknjaz commented on #1545
Resolved by 003aa4e

[2017-01-09 11:36] #1545 closed, assigned to webknjaz

[2017-01-09 13:45] webknjaz opened #1546 "Fix imports in module mode"
While removing `cherryd` script (003aa4ec) I've found out that doing imports in daemon mode fail for Python <= 3.3:
https://travis-ci.org/cherrypy/cherrypy/jobs/190220415
[code]

[2017-01-10 14:32] jaraco commented on #1546
One question that comes to mind - why is it that the cwd is relevant to the imports? It shouldn't be, as the environment (`.tox/py33` in your example) should have had cherrypy installed in editable mode (tox.ini `usedevelop = True`), so the cherrypy package and its sub packages should all be present in the environment regardless of the cwd.

[2017-01-10 15:03] webknjaz commented on #1546
I want to highlight several things discovered using [remote_pdb](https://github.com/ionelmc/python-remote-pdb):
* altering `PYTHONPATH` and/or `PATH` or `sys.path` in runtime doesn't help
* `chdir()` to the cherrypy's package dir helps
* reproducible with `-m`
* `import cherrypy` works
* neither of `from cherrypy import _cpwsgi_server` / `from . import _cpwsgi_server` work

Ideas:
* probably old p

[2017-01-10 16:41] webknjaz commented on #1546
TODO:
* [x] check `cherrypy.__path__` and `cherrpy.__file__`

[2017-01-11 01:33] jaraco commented on #1546
`cherrypy.__path__` is `['cherrypy']`
`cherrypy.__file__` is `'cherrypy/__init__.pyc'` (Python 2.7).

Now I know what's going on. I've seen this before. On Python prior to 3.4, when you import a package that's resolved from a `sys.path` entry of `''` or any relative path, the package gets a `__file__` that's relative. See [this answer](http://stackoverflow.com/a/7116925/70170) for some insight.

S

[2017-01-11 01:44] jaraco commented on #1546
Looking at the blame history, it seems that `chdir` originated in 130818aa8b6 as part of a wholesale commit, so that doesn't provide any insight.

At this point, I'm leaning toward two possible options:

1. Just accept the PR as is, omitting that line until someone complains.
2. Add something to the test setup to replace the relative sys.path with an absolute one (Python 3.3 and earlier only).

[2017-01-11 09:56] webknjaz commented on #1546
3.3:
[code]

[2017-01-11 10:01] webknjaz commented on #1546
@jaraco there's a variable in that module called `_module__file__base`, we could alternatively `chdir()` there.

In fact while using daemon mode I've been facing an issue for a while: I couldn't use relative path to the app's configs because of chdir (but I never thought it's done explicitly, I was sure CWD is reset during double fork). Removing it obviously fixes this problem as well :)

[2017-01-11 13:52] #1546 closed, assigned to jaraco, webknjaz

[2017-01-11 16:29] webknjaz commented on #1505
@jaraco what is our strategy regarding `MemoryError`?

[2017-01-13 18:26] jaraco commented on #1505
First things first, I want to apologize for the Unix shaming. Python and CherryPy embrace non-Unix systems, especially Windows. So unless there's specifically a reason why the code could not run on Windows systems (e.g. requires fork or fnctl), CherryPy will try to support it.

As for the MemoryError, I'm not sure CherryPy could even do anything about it.

The problem is that if you're a process t

[2017-01-14 12:23] webknjaz commented on #1505
@jaraco thanks for great suggestions! I'll try investigating the possibility of memory pre-allocation :)

[2017-01-17 01:30] ghost commented on #1537
@jaraco The binaries for py3.6 have been uploaded.

[2017-01-17 02:01] #1537 closed, assigned to nobody

[2017-01-17 13:40] jmzoda commented on #1537
Great job. Thank you

[2017-01-19 03:41] chaiminghui opened #1549 "How to disable pipelining"
Greetings,

I have one question, I am not sure if pipelining is enabled in default for cherrypy, if yes then how to disable it? Thanks in advance.

[2017-01-19 08:18] webknjaz commented on #1549
Hi @chaiminghui,
I am not sure what you mean, could you please be more specific about what you mean by saying 'pipeline'?
P.S. Best place to ask this kind questions is StackOverflow :)

[2017-01-19 08:24] webknjaz opened #1550 "[TODO] Fix support link in README"

[2017-01-19 08:29] webknjaz commented on #1521
I assume you have fixed your issue. If not, feel free to drop some detail here :)

[2017-01-19 08:29] #1521 closed, assigned to nobody

[2017-01-19 08:45] #1550 closed, assigned to webknjaz

[2017-01-19 10:42] Red-M opened #1551 "ignore"
deleted.

[2017-01-19 14:33] Safihre opened #1552 "Built-in SSL INAPPROPRIATE_FALLBACK not caught"
* **I'm submitting a ...**
[x] bug report

* **Do you want to request a *feature* or report a *bug*?**
When using the built-in SSL, it will use `ssl.create_default_context()` which will disable the use of SSLv2 and SSLv3.
However, when a client does connect with one of these protocols, it will throw an error.

[code]

* **What is the expected behavior?**
Show an error to the client.
We are aware t

[2017-01-19 15:42] Red-M commented on #1552
That error is raised to the client in the TLS/SSL handshake as its trying to fallback to what I can only guess is a bad protocol, to try and get your server to talk to it so it can do not so nice things.

[2017-01-19 15:53] jaraco opened #1553 "When tests fail to start the server, they fail hard and silently"
* **What is the current behavior?**

Consider [this test job run](https://travis-ci.org/cherrypy/cherrypy/jobs/193422900). There's something wrong with the code, probably a Python 2.6 incompatibility in portend, but you wouldn't know it from the output of the tests, which just exit with an error code. I similarly encountered this issue when I was working on the cheroot port. Even a typo in the ser

[2017-01-20 15:29] Safihre commented on #1552
Indeed the reason it should be caught by CherryPy :)

[2017-01-20 15:40] #1551 closed, assigned to nobody

[2017-01-20 15:49] Red-M commented on #1552
You can't show this to the client, the TLS/SSL connection is aborted because the server literally cannot start the connection to show the web page or the error to the user. A modern web browser will show a message to said user.

[2017-01-20 15:51] webknjaz commented on #1552
@Red-M you are right. I think @Safihre asks for nicer logging instead of trace.

[2017-01-20 15:52] Safihre commented on #1552
Exactly!
I didn't think about it, but indeed the client won't get the message.

[2017-01-23 03:42] Safihre commented on #1481
Do we need to refill issues regarding the `wsgiserver` on the new repo?
In my case it's #1509 and #1552. But surely there are more in the Issues list here at cherrypy.

[2017-01-23 09:27] webknjaz commented on #1481
I think you meant #1523

[2017-01-23 09:28] webknjaz commented on #1481
@Safihre PRs which are merged are already there. Others may need to be cherry-picked to `cheroot` if they affect `wsgiserver`

[2017-01-23 09:28] Safihre commented on #1481
Actually I meant #1552, typo!

[2017-01-23 12:58] jaraco commented on #1481
Yes, if you would please re-file that PR with cherrypy/cheroot.

[2017-01-23 13:02] jaraco commented on #1481
This work is essentially done. What remains is cherrypy/cheroot#3.

[2017-01-23 13:02] #1481 closed, assigned to jaraco

[2017-01-23 13:11] Safihre commented on #1481
@jaraco I was actually asking about [all the open issues about the `wsgiserver` listed here on CherryPy-repo](https://github.com/cherrypy/cherrypy/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20wsgiserver), if they won't be forgotten.

[2017-01-23 13:12] jaraco commented on #1481
Well, they won't be forgotten - they just need to be addressed in cheroot. I'm not going to migrate those issues. They can continue to have a home here until such a time as they're fixed in the upstream cheroot or migrated there manually.

[2017-02-07 21:48] wolph opened #1556 "Make documentation available for multiple versions"
* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

It would be great if a few extra versions (say... the last 10 major versions) would be available on readthedocs. I'm currently working on a project which is running an older version and I can't easily upgrade so it would

[2017-02-08 03:31] jaraco commented on #1556
I'm not interested in supporting this. It may be the case that simply checking the boxes will render the docs, but there could be bugs and other follow up work (like cleaning out these builds). If someone would like to take this role, I can grant access to the project in RTD.

[2017-02-08 20:28] jaraco opened #1557 "SessionTest.test_5_Error_paths fails intermittently"
As seen in [this build](https://travis-ci.org/cherrypy/cherrypy/jobs/199740603), the test might fail in teardown due to a race condition on the file.

[2017-02-10 07:20] darander opened #1558 "Wrong 'Content-Type' when retrieving gzip:ed js"
While running CherryPy 10.0, I encounted an issue while trying to retrieve some gzipped javascript.
In order to save space on an embedded device, I'm only installing the `*.js.gz` files, not the unpacked `*.js`. After changing our html to directly request the `*.js.gz` files, the webapp stopped working.

CherryPy is configured to server those files by enabling `tools.staticdir.on`
The reason is th

[2017-02-10 08:32] webknjaz commented on #1558
Well, I think you might have called them `*.min.js` like everyone does

[2017-02-10 09:02] darander commented on #1558
Well, in my world, a *.min.js is a minified js-file, not a gzipped one...
Thus, they're not really the same. Our files are obviously also minified.

They're generated by `ng build --prod --aot` which gives as the *.js and *.js.gz files.

So no, just using *.min.js isn't a solution for us.
At the same time, setting the correct Content-Type and Content-Encoding for all other file types  should be th

[2017-02-10 09:22] webknjaz commented on #1558
Oh.. I see.
Your solution isn't really obvious, so I cannot accept it right away. Anyway, let's move our discussion into PR.

[2017-02-10 14:51] jaraco commented on #1558
I'd feel better if I had more than one user's expectation that the headers should be as you propose, either a reference to a standard or documentation showing these headers are what a browser would expect or simply existing behavior in another more popular web server (like nginx).

Looking at the [docs for Content-Encoding](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding

[2017-02-10 15:36] darander commented on #1558
Yeah, there's is likely a better way to solve this.

[2017-02-10 21:01] darander commented on #1558
I'm reopening this issue, this time I've modified my problem description to:

Let the device have both *.js and *.js.gz files. However, to save space, make all *.js be empty. This should work, as long as the browser accepts gzip-ed files.

[2017-02-13 06:05] meyt opened #1561 "cherrypy logo redesigned"
a new logo for cherrypy i suggested, how it's look?

![cherrpy-logo-redesign svg](https://cloud.githubusercontent.com/assets/10482278/22872575/7e9da562-f1cf-11e6-8721-f09b9ca5b47c.png)

[cherrpy-logo-redesign.svg.zip](https://github.com/cherrypy/cherrypy/files/770218/cherrpy-logo-redesign.svg.zip)

[2017-02-13 09:34] Threadmonkey opened #1562 "rypy"
* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current behavior?**

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the problem**.

* **What is the expected behavior?**

* **What is

[2017-02-13 09:36] Threadmonkey commented on #1562
Sorry for typing carelessly in the wrong window and hitting enter.

[2017-02-13 09:36] #1562 closed, assigned to nobody

[2017-02-13 12:27] wolph commented on #1556
I have no problem taking care of this. Provided I can merge back changes similar to #1555 for the other branches so I can get it to work again.

[2017-02-13 15:23] alecz20 commented on #1561
Which is this one supposed to replace? The Logo, the favicon.ico, both?
I'm not much for changing what is not broken but I am not against change; what is the reason for the new logo?

[2017-02-13 20:18] jaraco commented on #1561
It's cute, and clever. It feels a little flat, which could be a good thing. I like how it incorporates Python, whereas the current icon is just a cherry. I'm +0, but happy with it.

[2017-02-13 20:34] meyt commented on #1561
@alecz20 it's just an idea about new logo for future usage, if main contributors decide for improve the website visual looks or somethings like that. i think cherrypy really deserve to have larger community than now, and i hope it will helpful for that reason :)

[2017-02-13 20:49] meyt commented on #1561
@jaraco Thanks, this drawing in first step, i will improve it for look better if can be acceptable idea.

[2017-02-14 10:25] Safihre commented on #1552
Fix in https://github.com/cherrypy/cheroot/pull/4

[2017-02-14 16:55] jaraco commented on #1556
Seems you've already identified one problem. I'm not sure what you're thinking when you say merge back changes. The docs for older versions are already tagged. Are you proposing making changes to the docs and replacing the tags to the edited versions? I feel a little uneasy about that, though not strictly opposed.

I just don't see the value of going to all this effort (and potentially making a me

[2017-02-14 17:01] wolph commented on #1556
Yes, exactly. Without the changes in the `conf.py` the docs won't properly render as you can see here: http://cherrypy-wolph.readthedocs.io/en/v9.0.0/pkg/cherrypy.test.html

It shouldn't be all that much work to be honest. Otherwise I wouldn't be offering since I'm pretty busy as it is. Besides enabling the checkboxes and adding the `conf.py` changes I don't think anything needs to happen.

As for

[2017-02-14 17:05] jaraco commented on #1556
@WoLpH Since I'm uneasy about the effect this will have no the repo, can you for just one version demonstrate what you have in mind in your fork of the repo? If it's not too ugly, I'll authorize you to do the same here.

[2017-02-15 11:25] wolph commented on #1556
Effectively it would come down to 2 changes:

1. Changing the `conf.py` to mock correctly: https://github.com/cherrypy/cherrypy/commit/d1213de11ef71ced252faef9140ed64855b93105
2. Regenerating the files in `docs/pkg`: https://github.com/cherrypy/cherrypy/commit/84aa2aba399ea764a2a081f80fbc8d0e488963be

The full diff: https://github.com/cherrypy/cherrypy/compare/v9.0.0...WoLpH:v9.0.0

[2017-02-15 14:27] nickgermaine opened #1563 "Can't use server with SSL"
Arch Linux, Python3.6, Webpy0.40, cherrypy/tree/remove-wsgiserver2

I'm writing a webpy application that is essentially an API/web scraper.  It is connected to from a chrome extension on an https site, so I need to run webpy with an SSL.  So I generated my own using openssl, and added this code:

    from web.wsgiserver import CherryPyWSGIServer
    from web.wsgiserver.ssl_builtin import BuiltinSS

[2017-02-15 15:40] alecz20 commented on #1563
Does it work if you use something like this?
[code]

where `ssl_cert` is a PEM certificate file (includes the key)

[2017-02-15 16:54] nickgermaine commented on #1563
OK. The cert I was using was a CRT. I will try with this and let you know.

On Wed, Feb 15, 2017, 11:40 AM alecz20 <notifications@github.com> wrote:

[2017-02-15 17:03] webknjaz commented on #1563
AFAICS web.py uses copy-pasted wsgiserver, which has been moved into a separate package called [`cheroot`](https://github.com/cherrypy/cheroot). I'd suggest using it instead as it may have recent bugfixes merged in. I think it's now much more convenient to open such issues there.

[2017-02-16 13:07] jaraco commented on #1556
When I clone that repo, here's what I see in a SourceTree graph:

![image](https://cloud.githubusercontent.com/assets/308610/23022007/b9131bf6-f41c-11e6-8db8-67e027725548.png)

This change will mean that:
 - For every release 10.0.0 and earlier, there will be a new head not in any branch with the same two commits.
 - For these releases, the code in the repo won't match the code in the sdist (thoug

[2017-02-16 13:56] wolph commented on #1556
Hmmm.. that's a bit annoying indeed.
There might be another solution though... rewriting the history so it replaces the commit. I fear that adding them temporarily will cause the docs to break eventually.

I'll see if I can make it work somehow...

[2017-02-16 15:28] webknjaz commented on #1556
Rewriting `master`? This is definitely not a good idea.

[2017-02-16 17:14] webknjaz commented on #1563
Also you may wait until web.py adopts cheroot.
Ref: webpy/webpy#401

[2017-02-16 18:30] jaraco commented on #1556
Unless you restore the tags to the original commits, you'll never solve the second issue (code in the sdist is a mismatch for code in the repo at the tag). I don't think re-writing will be acceptable here. The two options I see are building the docs against transient tags or just accepting the past for what it was (broken) and moving forward with future releases only.

[2017-02-16 19:32] wolph commented on #1556
Hmm... you're probably right. Breaking the repository is definitely not worth it so I guess we should just leave it as is.

Thanks for the help :)

[2017-02-16 19:32] #1556 closed, assigned to jaraco

[2017-02-17 14:16] #1561 closed, assigned to nobody

[2017-02-19 09:10] heppg opened #1565 "ws4py 0.3.5 incompatible with cherrypy 10.1.1"
[X ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

When using cherrypy 10.1.1 with ws4py 0.3.5, I get following error message:
pi@raspberrypi:~/scratchClient $ python src/scratchClient.py -c ./config/config_arduino_uno.xml
Traceback (most recent call last):
  File "src/scratchClient.py", line 151, in <module>
    import server.scratchClientServer
  File "/

[2017-02-19 20:18] webknjaz commented on #1565
Hello @heppg,

This module `cherrypy.wsgiserver` was factored out into a separate package `cheroot`, it's not an issue of CherryPy. This should be fixed inside of `ws4py` itself.

The issue for this already exists in the appropriate repo: https://github.com/Lawouach/WebSocket-for-Python/issues/205.
And there's also a PR fixing this: https://github.com/Lawouach/WebSocket-for-Python/pull/206.

So pl

[2017-02-19 20:18] #1565 closed, assigned to nobody

[2017-02-20 20:38] ramonmedeiros opened #1566 "Log is redirecting to console even when cherrypy.log.screen is False"
Running cherrypy server on Kimchi-Project, i got a stranger behaviour while changing logging options.

* **I'm submitting a ...**
[x] bug report

* **What is the current behavior?**
When running cherrypy, even setting cherrpy.log.screen = False, or updating cherrypy.config for it, the server still sends log to console

* **If the current behavior is a bug, please provide the steps to reproduce and

[2017-02-21 13:17] webknjaz commented on #1566
Hi @ramonmedeiros,

Are you running the app in daemon mode?

Could you please provide the smallest reproducible example of an app?

[2017-02-21 16:26] ramonmedeiros commented on #1566
Yep. I will put some references from the code

https://github.com/kimchi-project/wok/blob/master/src/wok/server.py

[2017-02-25 07:22] AlexHoff1 opened #1567 "StaticTest.test_unicode fails on codeanywhere"
[code]

Running tox on codeanywhere causes this test to fail.
* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

[2017-02-25 07:22] webknjaz commented on #1563
Feel free to reopen this issue in cheroot repo once web.py absorbs it :)

[2017-02-25 07:22] #1563 closed, assigned to nobody

[2017-02-25 07:25] webknjaz commented on #1567
You probably need to set smth like `LANG`/`LC_LANG` to `en_US.UTF-8` or any other unicode-aware locale. Technically it's not a bug of cherrypy, but misconfiguration of your environment :)

[2017-02-26 16:46] jaraco commented on #1567
In setuptools, we [skip/xfail tests when the environment can't run the test](https://github.com/pypa/setuptools/blob/master/setuptools/tests/__init__.py#L19-L21).

[2017-02-26 16:59] jaraco commented on #1567
I tried applying that same technique to this failing test, but the test still fails.

[code]

[2017-02-26 17:03] jaraco commented on #1567
Setting `LC_LANG` or `LANG` has no effect either.

[2017-02-26 17:05] jaraco commented on #1567
Here's the FS encoding on the system:

[code]

[2017-02-26 17:30] webknjaz commented on #1567
What about `LC_CTYPE` or `LC_ALL` vars?

[2017-02-26 17:34] jaraco commented on #1567
I can readily replicate the failure with Python simply:

[code]

[2017-02-26 17:36] jaraco commented on #1567
I seem to be unable to set LC_CTYPE.

[code]

[2017-02-26 17:41] webknjaz commented on #1567
That's weird. I guess you cannot set custom locale if locale files for that locale aren't generated inside of the Linux box.

[2017-02-26 17:41] webknjaz commented on #1567
What's your output for `locale -a`? Mine is:
[code]

[2017-02-26 17:52] webknjaz commented on #1567
this check might be `'utf-8' not in c_type.lower()`

[2017-02-26 20:00] jaraco commented on #1567
[code]

Following that lead, setting the environment LC_CTYPE to C.UTF-8 does allow the test to pass.

[code]

[2017-02-26 20:21] jaraco commented on #1567
Non-support of fixtures is a [known limitation](http://doc.pytest.org/en/latest/unittest.html) of the unittest compatibility.

[2017-02-28 18:36] ramonmedeiros commented on #1566
HI @webknjaz, the server is described in the above file and run from this script
https://github.com/kimchi-project/wok/blob/master/src/wokd.in

[2017-03-01 10:31] webknjaz commented on #1566
There's too many lines in it. I guess the minimum reproducible code snippet could be just a few lines. Now as it looks too puzzling/time consuming for me to dig into project this big.

[2017-03-02 15:44] ramonmedeiros commented on #1566
I will try to highlight some parts:

src/wok/server.py
[code]

Start server
[code]

[2017-03-02 18:18] webknjaz commented on #1566
Could you please remove **all** unrelated parts from your snippets?

[2017-03-03 13:23] ramonmedeiros commented on #1566
I will try. Not sure which part is relevant for your debug:

src/wok/server.py
[code]

Start server
[code]

[2017-03-03 17:13] webknjaz commented on #1566
There's no tools like nocache or wokauth in cherrypy as well as no WokRoot, nor dev_env.
I won't be able to run this by copy-pasting that into an empty module.

[2017-03-03 20:36] ramonmedeiros commented on #1566
Hi @webknjaz, i'm not a expert with cherrypy. What you me to show about this?

[2017-03-04 09:07] meyt opened #1570 "Detecting type of last handler in tools"
[*] feature request
There is handler tools like this:
- cherrypy.json_out ( priority=30 )
- mytool1 ( priority=35 )
- mytool2 ( priority=40 )

i need to prepare some data in `mytool1` for `mytool2` due to last handler,
currently i using:
[code]
because it's look bad, if using a protected member like this:
[code]
you can consider this situation for being better.

[2017-03-04 19:40] webknjaz commented on #1570
Sorry, I didn't really get what you're asking for.
Could you be more verbose, please? Describe your use case in more detail.

[2017-03-05 06:05] meyt commented on #1570
[code]

[2017-03-05 06:14] meyt commented on #1570
Actually this is for detecting which handler i used in my controllers. for example when i using `@cherrypy.tools.json_out()`, `mytool1` do something different.

[2017-03-06 22:47] stenci opened #1571 "Searches in the documentation don't work"
Clicking on any result of any search on the documentation returns a 404 error.

For example click on any result of the following search:

http://docs.cherrypy.org/en/latest/search.html?q=something&check_keywords=yes&area=default#

[2017-03-07 06:10] webknjaz commented on #1571
@jaraco is in charge of docs hosting, let's see if he'll be able to track down the issue there

[2017-03-09 00:50] jaraco commented on #1571
I won't have time to track this down.

[2017-03-09 07:42] gabriel-yahav opened #1573 "CherryPy WebFramework - security concerns"
Hi ,

I'm not sure if that's the right place to ask such a question, but I'll try .

I'm considering the possibility of using CherryPy on an embedded systems (as a web mgmt tool

running on a network appliance), and I wonder about how the framework deals with significant security

issues , such as : XSS, CSRF, DoS attacks, Directory Traversing, session hijacking, etc...

I have not found yet any p

[2017-03-09 08:50] webknjaz commented on #1570
@meyt I don't have any suggestions for you at this point. Perhaps doing some PR or a package implementing such feature would be a good start.

[2017-03-09 09:19] webknjaz commented on #1566
@ramonmedeiros I just need a simple app, which doesn't include anything from your project (which I won't be running) and includes a config and demo of what you are referring to w/ logging.

[2017-03-09 09:55] webknjaz commented on #1571
Oh.. I see what's happening.
Here's an example URL: `http://docs.cherrypy.org/en/latest/advanced.rst.html?highlight=something`

Note `.rst` in the filename, it's used to be just `advanced.rst.html`

[2017-03-09 10:01] webknjaz commented on #1573
Hello Gabriel,

CherryPy is just an **HTTP** microframework, so it's up to user to care about everything else. So if you'll decide to use it, be ready to do some more coding.

Warm regards,
Sviatoslav.

[2017-03-09 10:01] #1573 closed, assigned to nobody

[2017-03-09 12:07] gabriel-yahav opened #1574 "Web Application on embedded system"
HI ,

I'm planning to develop a web application that can manage a limited resource embedded system

(CPU speed ~ 500 MHz, vmlinux (at most 25-40 MB), RAM ~ 500MB) and I considered using

CherryPy infrastructure as the backend HTTP server running on the device .

The application won't include any DB, the backend should be able to run system command

and probably user-logins (that are defined locall

[2017-03-09 12:59] jaraco commented on #1574
I would expect the footprint of CherryPy to be not significantly larger than a Python HTTPServer, so should fit comfortably in your specs.

CherryPy does include some SSL support, using pyopenssl and also Python builtin SSL implementations. If there's no documentation about it, you may need to dig into the code (also see [cheroot](https://github.com/cherrypy/cheroot)) or [ask questions on StackOve

[2017-03-09 12:59] #1574 closed, assigned to nobody

[2017-03-09 13:19] jaraco commented on #1573
There are some tools to help, like the cherrypy_cors project, which seeks to facilitate the CORS standards for protecting against XSS. Also, because CherryPy handles URL parsing and payload decoding, such as with the JSON tool, that limits the places that user input needs to be handled by the developer, which helps security.

But on the whole, @webknjaz is right. Most of the issues you raise occur

[2017-03-10 10:29] #1570 closed, assigned to nobody

[2017-03-10 19:09] aniljava opened #1575 "socket.timeout: The write operation timed out"
* **I'm submitting a ...**
[ x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
bug

* **What is the current behavior?**
Several socket.timeout stack traces on error logs. No documentation to address this issue.

* **If the current behavior is a bug, please provide the steps to reproduce and if pos

[2017-03-10 20:57] webknjaz commented on #1575
This should probably be opened in cheroot repo

[2017-03-11 14:31] mar10 opened #1577 "Encode URLs in redirect responses"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
The standard response page for 30x errors contains the target URL as `href` as well as clear text.

* **What is the expected behavior?**
Even though browsers *mostly* will not display the result, but redirect instead, you never know:
Any input f

[2017-03-11 16:44] mar10 opened #1579 "Version number should mention CherryPy and Cheroot"
* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
Currently the server version is reported like 'CherryPy/10.1'
The version number was taken from the Server object, which has moved to the Cheroot project recently (which has its own version numbers).
cherrypy/cheroot#5 changed this, so the Chero

[2017-03-12 08:19] webknjaz commented on #1579
Thank you for your contribution!

[2017-03-12 08:19] #1579 closed, assigned to nobody

[2017-03-12 09:14] #1567 closed, assigned to jaraco

[2017-03-12 09:48] jaraco commented on #1577
It's not clear to me what this report is trying to say until I look at the PR. Can you elaborate on what is unexpected by the current behavior, maybe by giving an example of how it could be problemmatic?

[2017-03-12 10:02] webknjaz commented on #1477
UPD: So for now all pre-commit hooks except for PEP257 are removed from `allow_failures` and affect the Travis build status as normal tests.

[2017-03-12 10:11] webknjaz commented on #1577
@jaraco if one uses `raise HTTPRedirect(..)` it produces HTTP response with an HTML page in body. That page lists urls `<a href={{attr}}>{{text}}</a>` and it looks like `{{text}}` is empty there.

[2017-03-12 10:30] webknjaz commented on #1549
I assume you've already found answer to your question. If not, please feel free to post additional details :)

[2017-03-12 10:30] #1549 closed, assigned to nobody

[2017-03-12 10:31] webknjaz commented on #1507
@dmlb2000 how is it going? any success?

[2017-03-12 12:23] mar10 commented on #1577
This issue was initially triggered by a customer that runs SonarQube against a our CherryPy based app.
One of the security findings was a potential XSS vulnerability related to this.

I think they tried to send a GET request with some script code embedded in the URL args.
Since the sender is not authenticated, our redirects to a login page.
The redirect URL has the original URL added as parameter.

[2017-03-15 08:43] Dobatymo commented on #1452
#1160 same issue

[2017-03-15 09:27] webknjaz commented on #1452
// this may need to be solved in cheroot

[2017-03-16 01:37] meyt opened #1581 "Cannot use Unicode on vpath"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
Cannot handle URL contains Unicode characters. and automatically 301 redirect to encoded URL.

* **What is the expected behavior?**
Set what exactly in URL to _cp_dispatch as vpath for handle it.

* **Please tell us about your environment:**

-

[2017-03-16 08:10] Dobatymo opened #1583 "Password support for SSL certificates"
* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] question about the decisions made in the repository

`SSLContext.load_cert_chain(certfile, keyfile=None, password=None) supports a password argument` (new in python 3.3) to use for encrypted private keys. Please make this available in `CherryPyWSGIServer`.

#1165 related but not relevant anymore (i think)

[2017-03-16 10:20] kienerj opened #1584 "Correct content-type leads to ValueError (unicode)"
* **I'm submitting a bug report.**

* **What is the current behavior?**

My application returns data that is ASCII Text however this text has a special meaning and custom mime type. (It's chemical data:  https://en.wikipedia.org/wiki/Chemical_file_format#The_Chemical_MIME_Project)

If I don't set a content-type (defaults to html)  or set it to `text/plain` but works but is semantically incorrect.

[2017-03-16 16:58] webknjaz commented on #1581
Is it browser doing encoding of unicode? If yes, shouldn't it use urlencode?

Did you trace HTTP request/response sequence?

[2017-03-16 17:26] meyt commented on #1581
It's not related to browser.
on cherrypy access logs:
[code]
Before request processing to my application automatically redirected to encoded URL.

And on unit testing:
[code]

Returns this:
[code]

[2017-03-16 17:51] webknjaz commented on #1581
Integration test proves that there is an issue with test helper, it should be also fixed.
Regarding server error, I need more investigation now

[2017-03-17 18:34] VJalili opened #1585 "from cherrypy import wsgiserver -> ImportError: cannot import name wsgiserver"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
[code]

* **What is the expected behavior?**
Using the latest version of `cherrypy` I'm expecting to be able to perform this import. I could temporarily resolve the issue going back to version `8.9.0`. But I'm wondering if there any better solut

[2017-03-17 20:48] webknjaz opened #1586 "Broken issue/PR references in changelog @ docs"
http://docs.cherrypy.org/en/latest/history.html

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Issue/PR links at http://docs.cherrypy.org/en/latest/history.html are broken

* **What is the current behavior?**
`#1481` refers to `http://cherrypy.org/issues/1481`

* **I

[2017-03-17 20:49] webknjaz commented on #1585
@VJalili It's been moved to [`cheroot`](https://github.com/cherrypy/cheroot): see the [changelog](http://docs.cherrypy.org/en/latest/history.html#v9-0-0).

Ref #1481

[2017-03-17 20:49] #1585 closed, assigned to nobody

[2017-03-17 21:33] webknjaz commented on #1583
This is similar to to recent changes (0aa622f8ec930c95e45455acae810e23f3c47105, ref cherrypy/cheroot#22).
I'm not sure about having time for this, but a PR from you would be a good start :)

[2017-03-17 21:39] webknjaz commented on #1584
@kienerj the traceback you submitted looks incomplete, could you please post it all?
Also please mind posting minimum reproducible hello-world style code snippet demonstrating the issue.

[2017-03-19 15:56] jaraco commented on #1584
I presume you're using the encoding tool. That's good. The encoding tool has an option `text_only`, which defaults to True. My guess is that because your content-type doesn't begin with `text/`, then it's not considered as text and is thus not encoded by the encoding tool.

`chemical` isn't a [registered media type](http://www.iana.org/assignments/media-types/media-types.xhtml), so that's probably

[2017-03-20 12:24] kienerj commented on #1584
@webknjaz

Adding that to the default helloworld tutorial causes the issue:

    import os.path
    import cherrypy

    class HelloWorld:

        @cherrypy.expose
        def index(self):
            cherrypy.response.headers['Content-Type'] = 'chemical/x-mdl-molfile'
            return 'Hello world!'

    tutconf = os.path.join(os.path.dirname(__file__), 'tutorial.conf')
    if __name__ == '__m

[2017-03-20 13:03] #1586 closed, assigned to webknjaz

[2017-03-20 13:58] webknjaz commented on #1584
It looks you are right. Seems it's exactly the same issue.
@jaraco should we catch this somewhere and put more explicit error message to log?

[2017-03-20 22:58] #1577 closed, assigned to nobody

[2017-03-22 19:55] Giancarlos commented on #1507
If I had to guess, this might be dead on his part. Looks like OpenAPI 3.0 has been released too.

Edit:

Swagger is now called OpenAPI.

[2017-03-22 20:43] dmlb2000 commented on #1507
@webknjaz @Giancarlos I've just not had the time recently to mess with this...

I know that OpenAPI 3.0 is released, just haven't had the priority to make this happen yet.

[2017-03-25 19:56] #1584 closed, assigned to nobody

[2017-04-04 16:55] 1kastner opened #1587 "Read The Docs has several dead links"
* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
I would like to have a working documentation with living links. Many links I click makes me end up in the labyrinth.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the probl

[2017-04-04 19:35] webknjaz commented on #1587
Hello,

As for [0]/[1] it's a duplicate of #1571. So I'm going to close this one.

Also, cherrypy.org/wiki [2] is no longer supported. There was some deprecated information about outdated versions of CherryPy.

Regarding [3] I have no idea how that got into google.. Anyway RTD isn't configured to support such scheme anymore.

[2017-04-04 19:35] #1587 closed, assigned to nobody

[2017-04-09 06:52] gabriel-yahav opened #1588 "CherryPy heavy memory consumption"
Hi,

I'm interested in developing a web-mgmt application (lightweight backend without any DB) running on an embedded device, therefore I've cross-compiled python2.7 and CherryPy 10.3.1 (including necessary depended modules : portend-1.8, cheroot-5.3.0, pytz-2016.10, six-1.10.0, tempora-1.6.1) for a Freescale PowerPc CPU (~500Mhz, ~1GB RAM). When I invoked a simple Cherrypy HTTP-server (just return

[2017-04-09 10:08] webknjaz commented on #1588
Hello, have you tried profiling the app? Your claim doesn't look realistic to me currently.
https://docs.python.org/3/library/profile.html

[2017-04-09 12:29] jaraco commented on #1588
Honestly, I don't know how much memory usage to expect. I'd be interested to know what the memory usage is at various points:

- with just a bare interpreter running
- with the modules imported but before the server runs
- with the server running but before serving any requests

Hopefully, those numbers will help identify the causes of consumption.

If you find a lot is consumed by imports, you ma

[2017-04-09 13:55] gabriel-yahav commented on #1588
Hi ,

First of all, thanks for your quick reply !
Jaraco - I've performed what you've suggested and here are the results of measurements :

1) bare interpreter running(via interactive mode without and command typed) =>
    python's process VSZ :  8.32 MB

2) modules imported but server not running(loading python's modules via interactive mode) =>
    python's process VSZ : 15.79 MB

3) server runn

[2017-04-09 14:27] webknjaz commented on #1588
@gabriel-yahav please post your code snippet plz

[2017-04-09 15:26] jaraco commented on #1588
That's interesting. When I create a simple hello-world app on CherryPy 10.2.1 and Python 2.7.13, I see memory consumption at about 17MB with the server running and also after serving requests. This suggests to me that there's something unique to your environment that's causing the extra memory consumption.

I think the next step should be to test the same script on more typical hardware and compar

[2017-04-12 17:52] webknjaz commented on #1588
Ref: [stackoverflow.com/q/43226909/595220](http://stackoverflow.com/q/43226909/595220)

[2017-04-12 18:10] webknjaz commented on #1552
cherrypy/cheroot#4 is merged, so I'm assuming this is fixed.

[2017-04-12 18:10] #1552 closed, assigned to nobody

[2017-04-13 08:32] gabriel-yahav commented on #1588
@webknjaz  Here is the python script which I was running :

[code]

And my configuration file is :

[code]

[2017-04-13 10:13] webknjaz commented on #1588
@gabriel-yahav I'd say try [checking the memory allocation](https://benbernardblog.com/tracking-down-a-freaky-python-memory-leak/). If you were to use Python 3, I'd point you out new https://docs.python.org/3/library/tracemalloc.html module form stdlib.

Also, does the situation change if you remove `cli` method?

[2017-04-17 14:02] stenci opened #1590 "tools.cherrypy.org doesn't work anymore"
I keep finding broken links to tools.cherrypy.org and other cherrypy related domains on Google and Stackoverflow search results. [This](https://groups.google.com/forum/#!searchin/cherrypy-users/AuthenticationAndAccessRestrictions%7Csort:relevance/cherrypy-users/htrsx0bvpOA/VYfUfY0CRVMJ) and [this](http://stackoverflow.com/questions/12361137/cherrypy-session-authentication) are just the last two qu

[2017-04-17 20:22] webknjaz commented on #1590
I think yes, let's ask @jaraco and @Lawouach

[2017-04-17 22:13] webknjaz commented on #1588
Hey @gabriel-yahav, did you find anything useful? Does this issue still need to be kept open?

[2017-04-18 09:37] gabriel-yahav commented on #1588
Hi @webknjaz ,

Thanks for your reply. I've not done the profiling yet and problem is still relevant.

Is it possible meanwhile to keep the issue opened ? or should I open a new one when I

perform the profiling ?

[2017-04-18 09:39] webknjaz commented on #1588
It's okay to keep this one, just wanted to ensure that it's still relevant.
If you are planning to postpone it for a long time, please consider closing it and then reopenning once valid again.

[2017-04-20 20:20] webknjaz commented on #1590
@stenci I think, you might be interested in looking historical snapshot of the resource: https://web-beta.archive.org/web/20160723085955/http://tools.cherrypy.org:80/wiki/TitleIndex
and Google cache: http://webcache.googleusercontent.com/search?q=cache%3A%2F%2Ftools.cherrypy.org%2Fwiki%2FTitleIndex&oq=cache%3A%2F%2Ftools.cherrypy.org%2Fwiki%2FTitleIndex&aqs=chrome..69i57j69i58.14654j0j4&sourceid=c

[2017-04-20 20:29] stenci commented on #1590
The links I provided are just an example. I hoped that there would be an easy fix like for my previous [issue](https://github.com/cherrypy/cherrypy/issues/1571).

I started using CheryPy two years ago and I was able to find documentation, material, posts and examples. I tried again now, and it's impossible.

I decided to give up. I am switching to Pyramid for my next project because searching for

[2017-04-20 20:29] #1590 closed, assigned to nobody

[2017-04-20 20:42] webknjaz commented on #1590
Sorry to hear. Anyway I've pinged guys who might be having backup, so we could move that articles to more reliable place.

[2017-04-25 10:36] sandipb commented on #1566
@webknjaz how about this?

[code]

On executing:

[code]
What I have noticed is if in the main app, we configure the root logger in some way, this behavior of logging to screen happens. If I don't do `logging.basicConfig` then the log is not shown on screen.

[2017-04-25 10:52] sandipb commented on #1566
There seems to be an easy solution to this. Just set `logging.getLogger("cherrypy").propagate = False` at the top of the file to never see cherrypy logs on screen.

[code]
Output.
[code]

[2017-04-25 13:02] webknjaz commented on #1566
Good catch @sandipb :)
It's expected that if you actually affect cherrypy's logger its behavior may change.

I'm going to close current issue. But should you have any questions — feel free to ask.

[2017-04-25 19:33] sandipb commented on #1566
Actually in this case, cherrypy's logger is not changed by the user - the root logger is.

The problem that is happening is that while cherrypy has its own handlers, it propagates its log messages to the root logger. And anyone who attaches a handler to the root logger is going to see this problem.

While I suggested a workaround (disabling upward propagation of the cherrypy logger), could it be s

[2017-04-25 20:31] webknjaz commented on #1566
@sandipb sounds reasonable. I think there's no use case for such leaking. Feel free to craft a PR to change this. I'm okay with merging such change.

[2017-04-27 19:28] webknjaz commented on #1588
Hey @gabriel-yahav, any updates or estimations?

[2017-05-04 23:10] dwilches commented on #1585
So the solution is to not use:
[code]
But instead:
[code]

[2017-05-05 07:58] webknjaz commented on #1585
No @DWilches, the generic solution is:
[code]

[2017-05-11 13:48] webknjaz opened #1594 "[TODO] Change Travis CI config to use newly presented build stages feature"
Refs:
* https://blog.travis-ci.com/2017-05-11-introducing-build-stages
* https://docs.travis-ci.com/user/build-stages#Examples

*Note: I'm going to move PYPI deployment to separate stage, so it would wait for tests in all envs to complete.*

[2017-05-16 14:46] lbolla opened #1595 "`cherrypy.url` fails to normalize path"
This call to `cherrypy.url` fails with `IndexError`:
[code]
The culprit seems in this logic, which strips `newurl` of as many `atoms` as there are `..`:
https://github.com/cherrypy/cherrypy/blob/master/cherrypy/_helper.py#L261,L271

There are various problems.

- That logic should only applied to the "path" part of `newurl`, not to the full url.

- As a consequence of the point above, `..` in the

[2017-05-17 12:40] #1595 closed, assigned to nobody

[2017-05-17 18:51] clayote opened #1597 "[docs] Apache setup?"
The old wiki had a page with instructions for setting up Apache for use with cherrypy, but that's gone now. There's [a header for reverse proxying](http://docs.cherrypy.org/en/latest/deploy.html#id19) with Apache, but it's empty.

I'm pretty sure you can use CherryPy as WSGI middleware, too, since that's in the examples, but this doesn't seem to show up in the docs at all...

[2017-05-17 22:28] webknjaz commented on #1597
There probably were some docs for outdated CherryPy versions, but they are gone now.

You may try checking this old docs at https://github.com/cherrypy/tools/blob/master/ModWSGI, but bear in mind that [WSGI](https://github.com/cherrypy/cheroot/blob/master/cheroot/wsgi.py) has been moved into a separate project `cheroot`.

[2017-05-18 01:49] jaraco commented on #1597
Also maybe https://github.com/cherrypy/tools/blob/master/BehindApache

[2017-05-19 09:59] webknjaz commented on #1597
Also looks at this piece of old benchmark code, which might provide you with more insights https://github.com/cherrypy/cherrypy/blob/master/cherrypy/test/benchmark.py#L306-L354

[2017-05-19 10:28] webknjaz commented on #1597
Ref: #1529

[2017-05-22 04:29] webknjaz commented on #1594
[postponed]

I'll close this once @travis-ci fixes their visual representation (and probably logical/priority) bug.

Ref: travis-ci/travis-ci#7789

[2017-06-01 13:40] webknjaz opened #1598 "[docs] Craft ready-to-go app examples in containers"
* **I'm submitting an ...**
- [X] idea

Currently, I'm seeing a certain amount of doc misunderstanding when newcomers try to put up their first CherryPy apps and face some undocumented issues or unexpected behavior because of outdated code in examples. They cannot even run tutorial modules shipped with the package.

**I suggest** putting all the examples into standalone pre-configured containers.

[2017-06-04 20:32] maxinfernito opened #1600 "[Security, minor] Full Path Disclosure on non compliant request"
* **I'm submitting a ...**
* [X] bug report

* **Do you want to request a *feature* or report a *bug*?**
BUG

* **What is the current behavior?**
CherryPy will disclose full path for cherrypy installation folder if you send 'malicious' requests to it. This is considered to be a security flaw as it's disclosing the precise path in which software is installed and may leak additional information abou

[2017-06-04 21:22] webknjaz commented on #1594
[the draft is ready]

[2017-06-04 21:41] webknjaz commented on #1600
Hello, what you describe is expected behavior for development mode. This may be disabled by setting  [`cherrypy.serving.request.show_tracebacks`](https://github.com/cherrypy/cherrypy/blob/b8a7556/cherrypy/_cperror.py#L399-L404) to `False`, but normally user should set up their error page whatever they want.

@jaraco I'd set this to `wontfix`, what do you think?

[2017-06-04 21:43] webknjaz commented on #1597
@LogicalDash was this helpful to you? If yes, please share your findings, we could probably document those somewhere

[2017-06-04 22:45] maxinfernito commented on #1600
Uh, I think I've tried to enable the production mode and were still seeing same behavior(+across ~30k hosts on the web). Thanks for info, will try this out!

[2017-06-05 02:07] jaraco commented on #1600
My instinct is the same. If David is right and there are some 30k hosts running in Dev mode, perhaps there's something more that CherryPy should do to warn about the condition or perhaps use production mode by default and opt in to Dev mode.

[2017-06-05 05:45] webknjaz commented on #1600
Alright, so we at least need a docs improvement.

[2017-06-05 06:21] fullstackpancham opened #1601 "Unable to get session object durring get."
Hi ,
I am new to python and working on a project in cherrypy 3 and python 3.6.it uses module controller to call a API .eg. localhost/Login the module controller will find the method named as Login in main file and call it get data from it generate response from it.every method is called from main file from callModule method in which it pass session to each method as parameter but the passed sessio

[2017-06-05 06:45] webknjaz commented on #1601
You've already posted question to [SO](https://stackoverflow.com/q/44307194/595220),
it's not an issue for github. Please stick there or ask at gitter as per README. But anyway you'll be asked to post your code snippet. Nobody is going to write code for you.

[2017-06-05 06:45] #1601 closed, assigned to nobody

[2017-06-05 13:01] clayote commented on #1597
What eventually helped was to look at the [mod_wsgi docs](https://modwsgi.readthedocs.io/en/develop/user-guides/quick-configuration-guide.html), configure Apache as described there, then writing a wsgi.py similar to [this tiny example](http://docs.cherrypy.org/en/latest/advanced.html?highlight=wsgi#make-your-cherrypy-application-a-wsgi-application) in the cherrypy docs.

I ended up not bothering t

[2017-06-05 20:44] webknjaz commented on #1597
@LogicalDash any chance to get your config snippets? Just for history, so others who may google this issue could find it here.

[2017-06-06 04:01] mewalig opened #1602 "rfile.read(0) creates infinite loop + memory hog that crashes server if not killed fast enough"
I'm submitting a bug report

When processing a POST with chunked encoding, read(0) on rfile will go into an infinite loop that hogs memory until the process is killed or the server crashes (I'm not sure whether this issue also exists with non-chunked encoding). I am using Django and sample code to reproduce is:

        if request.method == 'POST':
            f = request.META.get('wsgi.input')

[2017-06-06 16:10] dennylab commented on #1537
I have this problem with v10.2.2 and py361 win32.
Changed my version now to 8.9.0.

EDIT: Strange because it worked while using pip install but not while using pip install -r requirements.txt. Maybe because of my other dependencies?

[code]

[2017-06-06 16:28] jaraco commented on #1537
@labsolution: I don't think you have this problem exactly. CherryPy 10.2.2 installs fine for me on a Windows machine.

[code]

Note, I'm using [rwt](/jaraco/rwt) to install using pip without having to set up a virtualenv, but you'd get the same behavior from pip in a virtualenv.

That you're apparently getting the error above must be implicated by something in your environment or usage, so if ther

[2017-06-06 20:47] webknjaz commented on #1602
Ref: #1486

[2017-06-06 20:48] webknjaz commented on #1602
@mewalig could you please create a PR with a change you propose?

[2017-06-07 06:30] dennylab commented on #1537
He was using the whl of pypiwin32-220 while installing cherrypy-10.2.2 with pip install,. But he was using pypiwin32-119 zip!? while installing cherrypy-10.2. using my requirements.txt file...

[2017-06-07 18:23] ghost commented on #1537
pypiwin32 may have different version numbers for different python versions.

[2017-06-07 21:04] #1558 closed, assigned to nobody

[2017-06-07 21:05] webknjaz commented on #1529
Ref: #1597

[2017-06-07 21:51] jaraco commented on #1537
I did notice there's no source dist for 220, so any attempt to install source only or using an installer other than pip will be unlikely to work.

[2017-06-12 06:25] mewalig commented on #1602
done
https://github.com/cherrypy/cheroot/pull/30

[2017-06-15 04:08] EternityForest commented on #1498
So I was doing some testing with an unrelated bug in some other code and noticed that uploading files causes a file like /tmp/#4460225 to be created and immediately deleted, so something does appear to be written to disk.

Also, documentation says "When a client uploads a file to a CherryPy application, it's placed
on disk immediately."

Is the documentation out of date?  Do I have a config option

[2017-06-16 20:13] webknjaz commented on #1498
Could you please provide a source code snippet with an app example?

[2017-06-16 20:45] EternityForest commented on #1498
Allright here's a minimal example for linux, I don't have a windows machine handy.

[code]

Then in bash(I don't know how to test this on windows):
`sudo fatrace|grep python`

Every time a large file is uploaded, I get something like this which appears to be coming from the cherrypy process:

[code]

[2017-06-17 04:03] webknjaz commented on #1498
I guess you are right: https://github.com/cherrypy/cherrypy/blob/master/cherrypy/_cpreqbody.py#L500-L515
It looks like temporary file is being created.

Also, [CherryPy raises HTTP 413 error](https://github.com/cherrypy/cherrypy/blob/master/cherrypy/_cpreqbody.py#L805) in case if the file len exceeds `maxbytes` value. [Here's an example of setting it 100 bytes limit for a file upload](http://docs.

[2017-06-20 06:58] webknjaz commented on #1498
I'm assuming that there's no concerns left here.

[2017-06-20 09:21] #1602 closed, assigned to nobody

[2017-06-20 09:36] #1486 closed, assigned to nobody

[2017-06-23 01:20] EternityForest commented on #1498
I think we're good. I was able to use maxbytes to limit uploads, and I've created a patch with unit tests and documentation that allows you to set up a callback to have a dynamic maxbytes based on ip address or auth tokens.

It also makes maxrambytes configurable, as the default 1000 bytes is less than ideal for some uses.

I don't know if there's interest in this upstream, but it's useful for cer

[2017-06-23 06:36] webknjaz commented on #1498
@EternityForest well, this looks interesting.

Could you please create a PR to upstream, so we'd review it and probably merge?
It will be required that you fix some style issues, which currently break the build on linters stage and I also noticed some unintentional bugs in docs.

It would be easier for @jaraco and me to decide in which way/form this could affect upstream if we see it in PR, we mus

[2017-06-23 06:39] webknjaz commented on #1571
This has been fixed at some point and now it's working fine.

[2017-06-23 06:39] #1571 closed, assigned to nobody

[2017-06-23 06:56] EternityForest commented on #1498
Allright, here's the PR. I would have done it sooner, but I've heard some projects have rules about not accepting unannounced PRs, and I wasn't sure.

[2017-06-23 07:04] webknjaz commented on #1498
@EternityForest no worries. The worst thing that could happen: (1) someone suggests better solution or/and (2) you are asked to improve certain things to be compliant with "rules".

P.S. If you want to know more about open source, check out this website https://opensource.guide/. It's a good collection of guides

[2017-06-23 11:11] webknjaz commented on #1498
Here's another way for you to change request max size on fly with current upstream. You may create a [hook, which would run just before the body processing](http://docs.cherrypy.org/en/latest/extend.html#per-request-functions) logic called, which would amend the required property:
[code]

[2017-06-23 13:06] EternityForest commented on #1498
Hmmm. Maybe it would be better to implement this as just an included tool?

[2017-06-23 14:19] webknjaz commented on #1498
Please post your suggestion as code snippet, I'm not sure I totally get your idea. I'll keep the ticket open for discussion.

[2017-06-24 02:40] EternityForest commented on #1498
You could create a built-in tool that would let you validate uploads something like this, for a similar
easy to use API, and without having to modify the core if you decide that the feature doesn't belong directly in the request handling code.
[code]

You could even add a method like this, that would automatically set up a function to allow long verified uploads with a callback.
[code]

[2017-06-24 16:36] webknjaz commented on #1498
Here's a way to achieve your goal with custom body processor:

[code]

[2017-06-24 16:41] webknjaz commented on #1498
Regarding build-in tool/decorator, I still don't know whether users need yet another method of limiting request payload.
[Zen of Python](https://www.python.org/dev/peps/pep-0020/) has this nice principle: *There should be one-- and preferably only one --obvious way to do it.*
And I've shown you 3 ways already.

[2017-06-28 21:20] webknjaz commented on #1498
@EternityForest did any of my code examples satisfy your needs?

[2017-06-28 21:35] webknjaz commented on #1575
Closing in flavour of cherrypy/cheroot#20

[2017-06-28 21:35] #1575 closed, assigned to nobody

[2017-06-28 21:58] webknjaz commented on #1514
pypy envs are now up-to-date, but some tests are still failing.

[2017-06-28 21:58] #1514 closed, assigned to webknjaz

[2017-06-29 00:33] EternityForest commented on #1498
The tool looks like a perfectly good solution for my use case(when combined with increasing maxrambytes), thanks!

I still think maxrambytes should be configurable though.

[2017-06-29 00:33] #1498 closed, assigned to webknjaz

[2017-06-29 03:14] webknjaz commented on #1498
Alright, let's follow the review process in PR then. I've posted my thoughts there.

[2017-07-06 11:34] jrivera294 opened #1606 "Portend(2.1.2)/Tempora(1.8) missing dependency"
* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**

Install Cherrypy via pip install (https://pypi.python.org/pypi/CherryPy) fails.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the problem**.

Just run a pip install cherry

[2017-07-06 16:43] webknjaz commented on #1606
Ref jaraco/tempora#4

[2017-07-06 17:17] jaraco commented on #1606
Umm. I'm unable to replicate your report.

[code]

I'm not sure why your pip isn't discovering tempora. It may be due to the fact that PyPI is currently hiding 1.8 in favor of 1.7.1... but that doesn't explain why it's also finding 1.7.

I suspect you're not actually doing `pip install cherrypy` but you're installing from a non-canonical repository (http://pypiserver.taric.local)... and that repo

[2017-07-06 17:20] jaraco commented on #1606
Moreover, CherryPy has continuous integration tests that would fail if these dependencies couldn't be met, but [do not fail](https://travis-ci.org/cherrypy/cherrypy/jobs/250833336). The issue is almost surely local to your environment.

[2017-07-06 17:20] #1606 closed, assigned to nobody

[2017-07-06 17:43] jrivera294 commented on #1606
@jaraco You are right, I forgot to disable my pypi server to test.

If you do a pip search tempora you can see that it's exposing this:
[code]

I did a pip install and it downloaded the 1.8, but the latest still show 1.7.1 lol

Anyway, it seems to be a problem between my pypi server and https://pypi.python.org/

Thanks!

[2017-07-06 17:57] jaraco commented on #1606
Cool. I'll update PyPI to show 1.8 as the latest. I wanted to refrain from making any changes while you were investigating.

[2017-07-07 07:00] jrivera294 commented on #1606
Perfect. Tempora 1.8 is available on my server now.

Thanks again =)

[2017-07-08 18:11] jaraco opened #1607 "Drop support for Python 2.6"
Beginning with 705eea14, the tests started failing... because the updated version of portend dropped support for Python 2.6.

Additionally, packaging tools and other foundational packages will be dropping support for Python 2.6 soon too.

It's time for CherryPy to do the same.

[2017-07-08 18:17] #1607 closed, assigned to jaraco

[2017-07-08 18:21] webknjaz commented on #1607
There's a lot more legacy hacks yet to clean up. Shall we keep this issue open or create a new one for this?

[2017-07-08 19:25] webknjaz commented on #1607
Should we do the same to cheroot?

[2017-07-08 19:42] jaraco commented on #1607
I figure the legacy cleanup can happen at leisure. There are still pre-2.6 cruft in there that can go too. I don't think it needs to be ticketed.

We can do the same for cheroot soonish. No rush.

[2017-07-09 03:51] josejulio opened #1608 "cherrypy.config.update does not allow mixing 'global' header with others"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Report a bug

* **What is the current behavior?**
Calling `cherrypy.config.update('config/global.conf')`
with file:
[code]
ignores `jwt` header

* **If the current behavior is a bug, please provide the steps to reproduce

[2017-07-09 11:17] webknjaz commented on #1607
Alright, what about 3.2? It's also problematic. Are we going to drop it as well?

[2017-07-09 11:20] webknjaz commented on #1607
Oh.. And in `setup.py` we even claim support for 3.1, which I doubt anyone uses now as well.

[2017-07-09 11:24] jaraco commented on #1607
I'm not sure how Python 3.2 is problemmatic. If someone makes the case for dropping support, I imagine we could consider it. One area where there's still high demand for Python 3.2 support is in PyPy versions, though later versions have more modern interpreter support, so that's probably a non-issue.

[2017-07-17 20:10] Safihre commented on #1600
Production mode default seems like a better solution for the future.

[2017-07-20 08:23] kienerj commented on #1597
I was also struggling with deploying Cherrypy with Apache and ultimately decided to use it via mod_proxy on Ubuntu. Apache config:

	<Location /cherrypy-app>
		Order allow,deny
		allow from all
		ProxyPass http://127.0.0.1:8080
		ProxyPassReverse http://127.0.0.1:8080
	</Location>

obviously adjust location to correct path for your cherrypy app.

My cherrypy app:

	cherrypy.config.update({'tools.p

[2017-07-21 22:14] webknjaz commented on #1597
@kienerj please note:
1. Setting `#!/path/to/virtualenv/bin/python` is considered evil. It is better to invoke the appropriate interpreter explicitly in systemd unit, like: `ExecStart=/path/to/virtualenv/bin/python cp_app.py`. Best practice is to always have `#! /usr/bin/env python` in your shebang.
2. Please also note that both CherryPy and systemd support `socket activation` technique: this way

[2017-07-23 22:23] cincodenada commented on #1443
This seems to be because of a change in Py3's urllib, which used to deal well with non-ASCII components in a URL, but doesn't any longer. See discussion on Python issue [here](https://bugs.python.org/issue3991), and conclusion (notably, the comment in the source) on a similar downstream issue [here](https://github.com/kevin1024/vcrpy/issues/185#issuecomment-304304652).

So I'm not sure the best wa

[2017-07-26 00:23] webknjaz commented on #1443
@cincodenada I think it's okay to urlencode unicode query param in test, because anyway it should land in HTTP request as ASCII. Regarding server part, it must decode the symbol when passing it into HTTP handler. I guess, changing the test this way will fix the test, otherwise we could add urlencode to `openURL()` method in `test.webtest` module to make this behavior global.

[2017-07-26 00:36] #1594 closed, assigned to webknjaz

[2017-08-05 02:42] leggewie opened #1617 "man page for cherryd should explain what the program does"
The man page should mention what the program actually does beyond what is already obvious.  I came across the program via bash-completion since apparently it's been installed as a dependency to calibre.  In other words, I had no idea what it's for (I still don't really know).  I did "man cherryTAB" and then saw that cherryd is available on my system.  Obviously, it's a daemon.  And knowing it star

[2017-08-05 06:40] webknjaz commented on #1617
[cherryd](http://docs.cherrypy.org/en/latest/install.html#cherryd) is just a script for running apps written with CherryPy HTTP microframework.

[2017-08-05 12:32] leggewie commented on #1617
OK.  So what is your argument?  That cherryd should not have a man page?  Well, I disagree.  And well, it does.  Or that it doesn't matter what's written in there?  I'd disagree again.  Or that it's not the biggest fish to fry?  I guess we can agree on that.  It's a low-hanging, low-priority fruit.

[2017-08-05 16:29] webknjaz commented on #1617
I just explained to you what `cherryd` is. I didn't have time to write better response to you.

Regarding your concerns:
1) That manpage has been generated a long time ago
2) Current build process does not contain any steps to generate manpages
3) I agree that this may (and should) be improved
4) I'll investigate the possibility of keeping that manpage up-to-date, once I have time
5) Given the lac

[2017-08-11 12:44] webknjaz commented on #1443
It looks that this test case is invalid ([RFC 7230](http://httpwg.org/specs/rfc7230.html#uri) requires that the request line contains only ASCII). Browsers send percent-encoded URIs for unicode symbols and we handle this case.

I'm going to remove it, given that we've recently adjusted [`cheroot.server.HTTPRequest.read_request_line`](https://github.com/cherrypy/cheroot/blob/v5.8.3/cheroot/server.p

[2017-08-11 13:21] #1443 closed, assigned to nobody

[2017-08-11 13:29] Safihre opened #1618 "error: [Errno 0] Error"
On Debian 9, with OpenSSL `1.1.0f  25 May 2017` CherryPy will thrown this (non-fatal) error on startup when using the `'server.ssl_module': 'builtin'`. It does **not** happen when using `'server.ssl_module': 'pyopenssl'`.

This is not just on our older CherryPy, but also on the latest CherryPy version 11 and both on Python 2.7 _and_ Python 3.5.

We have been chasing this [error for a while](https:

[2017-08-11 13:37] webknjaz commented on #1618
// offtopic comment

I'd recommend adding your user to `docker` group instead, using root is considered harmful.

[2017-08-11 13:44] webknjaz commented on #1618
@Safihre thanks for your report and reproducible example. I'm not an expert in SSL and haven't had time to sort out related issues.

I know that some issues with SSL exist and here's another one: cherrypy/cheroot#6. Also, since SSL has moved to `cheroot.ssl` it sounds reasonable to try reproducing it with just pure `cheroot`.

Any ideas?

[2017-08-13 08:18] Safihre commented on #1618
@webknjaz Sure I can try with just `cheroot`, but how?
There is no documentation of just using `cheroot` that I can find and the example doesn't say how to include ssl:
[code]

[2017-08-15 11:51] pyup-bot opened #1619 "Initial Update"
Hi 👊

This is my first visit to this fine repo, but it seems you have been working hard to keep all dependencies updated so far.

Once you have closed this issue, I'll create separate pull requests for every update as soon as I find one.

That's it for now!

Happy merging! 🤖

[2017-08-15 11:56] webknjaz commented on #1619
@jaraco I've configured pyup.io for this repo. JFYI.

[2017-08-15 11:56] #1619 closed, assigned to nobody

[2017-08-15 21:26] digitalresistor opened #1621 "webtest.openURL sends an absolute URI when passed as "url""
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

Currently `openURL` will pass the provided URL directly to the remote server, without parsing it. This no longer works due to changes made in cherrypy/cheroot#39 that disallows absolute URI's unless the server is configu

[2017-08-17 05:12] time-river opened #1622 "Bug: TypeError: __init__() got an unexpected keyword argument 'proxy_mode'"
* **I'm submitting a ...**
bug report， and solution

* **What is the current behavior?**
[code]

* **What is the motivation / use case for changing the behavior?**

Deps:
[code]
cheroot version should >= 5.8.0

* **Please tell us about your environment:**
[code]

[2017-08-17 10:32] time-river opened #1623 "Error: TypeError: staticfile() got multiple values for keyword argument 'filename'"
* **I'm submitting a ...**
bug report

* **What is the current behavior?**
[code]

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the problem**.

I debug it, modify the code:
[code]
print it:
[code]

and found the `staticfile`:
[code]

Here:
Because of `args` is not `None` and `self._merged_args(kwargs)` has the key `filename`,

[2017-08-17 14:09] jaraco opened #1624 "url() strips trailing slash, doesn't match docstring"
* **I'm submitting a ...**
[X ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**

cherrypy.url() will strip a [trailing slash from path_info](https://github.com/cherrypy/cherrypy/blob/1b979c3e6f51dbb80de4165b2d4e1fd67b476d0c/cherrypy/_helper.py#L227-L237) if request.is_index is False and the passed path doesn't start with a

[2017-08-17 14:13] jaraco commented on #1624
I should note there's also a subtle secondary bug where HTTPRedirect docs say that the redirect is relative to `path_info` when the redirect is done relative to the `cherrypy.url()`.

[2017-08-17 14:17] jaraco commented on #1624
I note also that I would not have encountered this secondary issue (or discovered the primary issue) if #1355 had been completed, as the relative redirect would have been handled by the browser and wouldn't have been manipulated by cherrypy.

[2017-08-17 21:30] webknjaz commented on #1623
Hello @time-river! Thank you for filing this issue.

Could you please describe sufficient steps to reproduce? I'm not really getting what app you are running and how.

Also, I'd recommend you sending us patches in a for of Pull Request, which would ease the review process dramatically. Thanks in advance :)

[2017-08-17 21:33] webknjaz commented on #1622
Thanks for report @time-river! I'll think of a better way to handle this dependencies diversity.

@jaraco do you think it's okay to change requirements to `>= 5.8.1` or pass missing args conditionally, depending on Cheroot version available?

[2017-08-17 21:58] webknjaz commented on #1624
@jaraco I already raised the question of incomplete URL resolution design somewhere on gitter. IMHO it is important to design some URL resolution protocol, which would allow referencing other handlers/routes via smth like function `url_for()` in other frameworks.

[2017-08-18 04:58] time-river commented on #1623
setps:
1. `wokd --environment=dev`
2. click view console
3. find `TypeError: staticfile() got multiple values for keyword argument 'filename'` in output

attention:
`/usr/lib/python2.7/site-packages/CherryPy-11.0.1.dev70+g1b979c3e-py2.7.egg/cherrypyfavicon.ico`
`/usr/share/wok/ui/images/logo.ico`
Two pictures must exist.

Err, My patch has already pasted. The key is simultaneously with two identic

[2017-08-18 11:54] webknjaz commented on #1622
@time-river I'd like to keep this open until it's fixed.

[2017-08-18 16:58] webknjaz commented on #1623
What is wokd? Please provide us pure CherryPy example? If you are going to demonstrate some problem, please don't include third-party dependencies. If you are having issues with third party apps, please seek support from their authors.

`staticfiles()` worked well for ages, so if there is some specific corner case, please demonstrate it with a minimum reproducible example.

[2017-08-18 17:37] jaraco opened #1625 "Response timeout is harmful - remove it"
* **I'm submitting a ...**
[X ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**

As described in [this answer](https://stackoverflow.com/a/26304235/70170), when CherryPy raises a TimeoutError, it's doing so because the request took longer than the timeout to complete, but it was still allowed to complete.

The [docs say](h

[2017-08-18 17:48] jaraco commented on #1625
Hmm. I now see the docs also say:

Perhaps it could say "you must" instead of "you are free". But still, I'm struggling to think of a use-case where this timeout functionality is generally useful. Perhaps it would make sense for CherryPy to provide the timeout functionality, but it seems like it shouldn't throw away a response after it's been completed, even it exceeded the timeout to produce it.

[2017-08-19 18:53] jaraco opened #1626 "proxy tool doesn't work with Azure headers"
* **I'm submitting a ...**
[X ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

Yes

* **What is the current behavior?**

When behind an SSL reverse proxy in Azure, it supplies a header like this one:

`"X-Arr-Ssl": "2048|256|C=US, S=Washington, L=Redmond, O=Microsoft Corporation, OU=Microsoft IT,

[2017-08-19 18:58] webknjaz commented on #1626
Same for Heroku and probably many others. Currently I solve this by providing additional environment variable with the base URL, but of course this has to be redesigned.

[2017-08-19 19:01] webknjaz commented on #1623
Currently this looks like a bug within software you are using, so I'm closing this issue. But if you'd come up with the evidence of bug in CherryPy, feel free to post it here and reopen this case.

[2017-08-19 19:01] #1623 closed, assigned to nobody

[2017-08-19 19:09] jaraco commented on #1626
Do you mean something like `HTTP_X_FORWARDED_PROTO=https`?

[2017-08-19 19:15] jaraco commented on #1626
As a workaround, I ended up creating this tool:

[code]

and enabling it thus:

[code]

[2017-08-19 19:17] jaraco commented on #1622
@webknjaz I'm perfectly fine with CherryPy being as strict as necessary about the minimum cheroot required.

[2017-08-19 19:22] webknjaz commented on #1566
It turned out that logging propagation is covered in docs:
* http://docs.cherrypy.org/en/latest/basics.html#play-along-with-your-other-loggers
* http://docs.cherrypy.org/en/latest/deploy.html#tornado

I don't think we should change defaults, since is is better to have default logging to dev mode.

@jaraco what do you think about this?

P.S. Closing for now.

[2017-08-19 19:22] #1566 closed, assigned to nobody

[2017-08-19 19:32] webknjaz commented on #1622
@jaraco great, I'll apply the restriction then.

P.S. Given that [the situation with nginx reverse proxy has been solved on Gitter](https://gitter.im/cherrypy/cherrypy?at=599428c0614889d47553541b) I'm going to remove [this compatibility layer](https://github.com/cherrypy/cherrypy/commit/c87bc9f73740dfe35e4d2ca9082dccb6278bdc53#diff-374eff2e4f53210da8f97f72e832e5d5R27) along with invalid tests, whi

[2017-08-19 19:44] #1622 closed, assigned to nobody

[2017-08-19 20:00] webknjaz commented on #1626
No, actually I just supply it via cherrypy config and then I've got lots of crutches around the app for url generation.

[2017-08-21 08:24] webknjaz commented on #1625
Ref: cherrypy/cheroot#43

[2017-08-26 16:36] Safihre commented on #1624
I really wanted to implement this (and we did for SABnzbd), but nobody responded to my questions in that thread. With my limited use case I could never have thought of the way other people use CherryPy, or other CherryPy-tools (like the proxy usage that was mentioned).

[2017-08-29 00:12] jaraco opened #1627 "Proxy tools causes double port, creating broken links"
Consider this script:

[code]

Run it and request `/` and you'll get:

[code]

[2017-08-29 01:07] #1627 closed, assigned to nobody

[2017-08-31 09:19] Safihre commented on #1625
Agreed to all of it!

[2017-09-02 06:20] webknjaz commented on #1625
Yes, docs need to be more clear and probably include more references. Also this feature needs to be better advertised on the Internet.

[2017-09-11 23:01] hungapl opened #1629 "Error executing py code in 'Give us a rest' tutorial"
#
* **I'm submitting a ...**
bug report

* **Do you want to request a *feature* or report a *bug*?**
bug

* **What is the current behavior?**
Error during execution

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the problem**.
Created py file following tutorial 'http://docs.cherrypy.org/en/latest/tutorials.html#tutorial-7-give

[2017-09-11 23:21] hungapl commented on #1629
I just checked the Cherrypy I have locally is pretty dated (the latest version is 11.0), it seems the Anaconda 4 channel is only providing version 3.8.0.  After updating to the latest cherrypy, the python code runs fine.
 Apologies for this, I will close this issue.

[2017-09-11 23:21] #1629 closed, assigned to nobody

[2017-09-12 05:33] webknjaz commented on #1629
No worries, have fun exploring CherryPy :)

[2017-09-14 04:04] hungapl commented on #1629
It is working really well.  This is just what I needed and with very little coding required as well, many thanks!

[2017-09-29 13:12] webknjaz commented on #1469
@kisna72 Is this still the case? Any code examples? CherryPy (in fact, cheroot) has a thread pull and it delegates each request processing to one of threads in pool.

[2017-09-29 14:06] webknjaz commented on #1597
Ref #1072

[2017-09-29 14:06] webknjaz commented on #1529
Ref #1072

[2017-10-04 22:16] jtoops009 opened #1630 "Virtual Host Dispatcher doesn't work when HTTP Server is running on port other than 80"
* **I'm submitting a ...**
[X ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
I am reporting a bug.

* **What is the current behavior?**
I've set up CherryPy to have multiple vhosts. The HTTP server is running on 8085. I have NOT included or expected to need to include the port for the vhost mappe

[2017-10-04 23:14] kisna72 commented on #1469
I added some other checks in my code to make sure that  only one job runs at a time, and I haven't had to look at my logs. If I see same behaviour again, I can post it again. If it does the thread pool, thats probably why there are more than one threads running the job.

I am using django-cherrypy https://github.com/lincolnloop/django-cpserver , using all the default options to run my django code.

[2017-10-05 10:59] webknjaz commented on #1469
Let's close this issue then. Feel free to reopen it if needed.

[2017-10-05 10:59] #1469 closed, assigned to nobody

[2017-10-05 11:03] webknjaz commented on #1469
P.S. The package you pointed is quite old and uses [`cherrypy.wsgiserver`](https://github.com/lincolnloop/django-cpserver/blob/master/django_cpserver/management/commands/runcpserver.py#L154), which has been factored out into a separate distribution [`cheroot`](https://github.com/cherrypy/cheroot) some time ago.

You might want to fork that project and do some compat updates to get newest fixes fro

[2017-10-05 15:27] danlamanna opened #1631 "cherrypy.engine doesn't remove subscribed events on shutdown/exit"
* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
When shutting down CherryPy and restarting it, the listeners in `cherrypy.engine` persist.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and logs of the problem**.
Run the following sn

[2017-10-05 21:23] jtoops009 commented on #1630
I re-read the documentation. It works as defined. I'm closing the ticket.

[2017-10-05 21:23] #1630 closed, assigned to nobody

[2017-10-06 11:10] jaraco opened #1632 "proxy tool binds too late to handle redirects in dispatching"
* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**

When using the proxy tool, using `cherrypy.url()` or raising an HTTPRedirect during dispatching will not honor the proxy settings.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots and lo

[2017-10-06 11:47] jaraco commented on #1632
Looking at the code, it seems there is [no currently-defined hook point](https://github.com/cherrypy/cherrypy/blob/44617d8/cherrypy/_cprequest.py#L636-L649) where the proxy tool could run prior to running dispatch but after processing headers.

[2017-10-06 12:05] webknjaz commented on #1631
The behavior is not a bug, if you subscribed *before* bus `start()`, why do you think `stop()` should do cleanup?

Feel free to unsubscribe manually:
[code]

PR implementing cleanup is welcome, it shouldn't be hard to iterate through listeners and unsubscribe them: https://github.com/cherrypy/cherrypy/blob/master/cherrypy/process/wspbus.py#L194

I'm going to guess that it would be enough to reset

[2017-10-07 08:16] jaraco commented on #1632
After further investigation, I've decided that it may be difficult to address this issue due to the intrinsic architecture that CherryPy presents.

I first considered simply adding a new hook point, something like `after_headers` to allow something like the proxy tool to run before dispatching. However, due to the fact that tools are enabled on a per-path basis (i.e. `'/this-path/': {'tools.proxy.

[2017-10-08 10:11] jaraco commented on #1632
I figured out one possible workaround, by calling the proxy tool explicitly during the redirect operation:

[code]

I also had another idea - perhaps one shouldn't be doing HTTPRedirects in custom dispatch handlers, but instead always return a handler which will then do the redirect, but after the tools have been applied.

[2017-10-08 10:22] jaraco commented on #1632
Yes, that also works, and feels less hacky.

[code]

Now I wonder if during such an HTTPRedirect during a custom dispatching operation if CherryPy shouldn't process the tools for the path_info as consumed, or if HTTPRedirects should be disallowed during custom dispatching.

The fact that the tools aren't processed means there's a security risk here - as 'auth' tools are also bypassed. It becomes p

[2017-10-09 15:06] ecelis commented on #1598
Hello, I added here 6d6be95c10a50f994324d06bd1e54a87dc8ab2a3 a `Dockerfile` and modified the `tutorial.conf` so tutorials can be run by doing something like `docker run -p8080:8080 ecelis/cherrypy python tut01_helloworld.py`.

Of course several containers could be launched at once one per tutorial in different ports, that will require docker-compose which is a python module. But maybe that would b

[2017-10-09 15:14] webknjaz commented on #1598
Hi @ecelis,
Thanks for your effort!

- Could you plz submit a PR? It's okay to have in in work-in-progress stage. It's easier to do review this way
- Regarding compose, it's okay to add it
- I'd prefer docker-related stuff in tutorial folder rather than in project root
- What about Python 3.6 instead of 2.7?
- Will you be able to also alter docs accordingly?
- What about adding container build tes

[2017-10-18 02:17] coady opened #1646 "HTTPError doesn't support http.client constants."
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
*bug*

* **What is the current behavior?**
`http.client` constants aren't accepted as valid input to `HTTPError`.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a screenshots

[2017-10-18 08:17] webknjaz commented on #1646
Hi @coady,

Thanks for letting us know. While I cannot promise you an instant fix, I'll gladly accept any contributions (e.g. tests, patch, docs) helping to improve this behavior.

[2017-10-20 09:14] #1646 closed, assigned to nobody

[2017-10-28 04:01] jaraco opened #1652 "Non-standard line-length limit causes problems in editors"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

yes

* **What is the current behavior?**

The pre-commit test is both too lenient and too strict.

Because it's lenient about the line length, one can commit a line that's 80-120 characters long without failing the pre-c

[2017-10-28 13:40] jaraco commented on #1652
I also note this comment in the config yaml:

[code]

But in my use cases, 79 characters is a good standard.

Although it's true that an ultrawide monitor with 3440 pixels across is readily available and can display many characters, there are many cases where I'm using a terminal that's still set to the default of 80 characters. On all systems I've used lately an Windows, Mac, and Linux, the defau

[2017-10-28 14:37] #1652 closed, assigned to nobody

[2017-10-28 14:44] jaraco commented on #1557
Seems [test_3 and test_6 are also implicated](https://ci.appveyor.com/project/jaraco/cherrypy/build/1.0.153/job/m5vwm0elq79oa2kj). Probably anything affected by the teardown will be affected.

[2017-10-28 15:02] jaraco commented on #1557
This is essentially a duplicate of #1540.

[2017-10-28 15:02] #1557 closed, assigned to jaraco

[2017-10-28 15:16] #1540 closed, assigned to nobody

[2017-10-29 15:15] jaraco opened #1655 "macOS job failing"
With the tag of CherryPy 11.1, the macOS tests ran, but the [Python 3.6 cheroot master test failed](https://travis-ci.org/cherrypy/cherrypy/jobs/294318580), and it's not clear to me why.

[2017-10-29 15:18] webknjaz commented on #1655
@jaraco this test was failing earlier as well (see cron runs @ Travis CI)

[2017-11-01 23:05] rmb938 opened #1657 "Content-Type header present when responding with 204"
* **I'm submitting a ...**
[ X ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

Bug

* **What is the current behavior?**

When setting the response status via `cherrypy.response.status` to `204` the Content-Type header is still present.

* **What is the expected behavior?**

No Content-Type header

[2017-11-09 08:50] webknjaz commented on #1588
@gabriel-yahav any news?

[2017-11-09 17:29] ERaunig commented on #1537
Still a problem

`C:\Users\e.raunig>pip install --no-cache-dir cherrypy
Collecting cherrypy
  Downloading CherryPy-11.1.0-py2.py3-none-any.whl (439kB)
    100% |████████████████████████████████| 440kB 6.0MB/s
Collecting jaraco.classes (from cherrypy)
  Downloading jaraco.classes-1.4.1-py2.py3-none-any.whl
Collecting portend>=2.1.1 (from cherrypy)
  Downloading portend-2.2-py2.py3-none-any.whl
Coll

[2017-11-09 17:39] webknjaz commented on #1537
@ERaunig you need to install `pypiwin32-220` version. It looks like your `pip` didn't catch up with it preferring sdist (zip), which is not available for `v220`. But there's wheels you could use. So please use them.
I'm going to guess that you use outdated `pip`/`setuptools`, or use Python version, which is different from `3.6`, since there's only two wheels available (https://pypi.python.org/pypi

[2017-11-10 07:14] hyp3rv1p3r opened #1659 "Python 3.6.3 crashes if -d flag is set with cherryd"
* [x] bug report

I am developing a web hook for FB messenger using cherrypy and cherryd. Everything works well if I don't use the -d flag launching cherryd. If the -d flag is set python crashes.

- CherryPy version: 11.1.0
- Python version: 3.6.3
- OS: Mac OS Sierra 10.12.6

[code]

[2017-11-10 07:49] webknjaz commented on #1659
@hyp3rv1p3r did it work with older OS X? older Python (3.6.2)? older cherrypy version? I don't use Mac, so I won't be able to reliably test this.

[2017-11-10 07:54] hyp3rv1p3r commented on #1659
At the moment I can test with python 3.5.2 and cherrypy 10.2.2 and cherryd crashes in the same way.

[2017-11-10 08:14] hyp3rv1p3r commented on #1659
OK, after inserting a lot of cherrypy.log I can conclude that in daemon mode the offending command is the requests.post call:
r = requests.post("https://graph.facebook.com/v2.10/me/messages", params=params, headers=headers, data=data)
The strange thing is that it works nice without -d

[2017-11-10 08:15] hyp3rv1p3r commented on #1659
Also, in daemon mode works nice on Ubuntu.

[2017-11-10 09:09] webknjaz commented on #1659
@hyp3rv1p3r I'm going to guess that OS X is blocking unattended network connections (from daemons)

[2017-11-10 09:11] webknjaz commented on #1659
@hyp3rv1p3r I suggest you to try doing the same network request with a simple script using another (as simple as possible) daemon creation library.

[2017-11-10 09:11] webknjaz commented on #1659
@jaraco do you have other OS X version? Could you test this on your machine, please?

[2017-11-10 18:26] jaraco commented on #1659
I'm unable to replicate the failure. HTTPS requests complete fine even after daemonization:

[code]

No crash occurs when I do that. I'm using Python 3.6.3 as downloaded from python.org on macOS 10.13.1.

If I'm going to do more troubleshooting, I suggest you create a repository with a minimal project that when invoked causes the crash.

[2017-11-10 18:28] jaraco commented on #1659
Here's a bit more information:

[code]

[2017-11-10 18:30] jaraco commented on #1659
And showing that a 200 response is being received:

[code]

[2017-11-10 18:51] webknjaz commented on #1659
@jaraco what if you use `cherryd` executable?

[2017-11-10 21:25] ERaunig commented on #1537
Thanks,

I had IT revert to 3.6 and now pip runs fine.

Sorry for the mixup.

On Thu, Nov 9, 2017 at 12:39 PM, Sviatoslav Sydorenko <
notifications@github.com> wrote:

[2017-11-11 05:30] jaraco commented on #1659
To do that, I'd need more than I can do on a command-line, so if someone would draft the script in a repository or pasted in here, something that causes the failure in your environment, then I'll happily run it.

[2017-11-11 09:29] hyp3rv1p3r commented on #1659
Python crashes also using a requests.get. Note that, as expected, if I run my script inside pycharm it works well.

[2017-11-11 09:40] webknjaz commented on #1659
@hyp3rv1p3r we got it that interpreter crashes in daemon mode and does not if it's tty-bound.

Still, we'll have to close the issue as not reproducible unless you send us code snippet, which would let us experience the same issue.
From my perspective it currently looks like there's something strictly specific to your environment, which causes such issues.

So would you please send us a snippets an

[2017-11-11 12:30] hyp3rv1p3r commented on #1659
So, after a lot of tests I solved the problem that is subtly related to an import of my specific code.
In order to solve I have had to disable everything not strictly necessarily for a simple echo bot that works well if I disable these import. It seems that there is an oddly relation between auth_digest and my code. Thanks so much for your support :-)

[2017-11-11 12:30] #1659 closed, assigned to nobody

[2017-11-18 02:57] #1625 closed, assigned to nobody

[2017-11-21 23:05] rmb938 commented on #1657
@webknjaz or @jaraco Any input on getting this fixed?

[2017-11-22 09:38] romme opened #1663 "Can't set request.dispatch in _cp_config"
Using cherrypy version 12.0.1, getting an exception which shows that MethodDispatches is not being used with this code.

[code]

[2017-11-28 15:55] percious commented on #1621
+1

[2017-11-28 17:46] davidism opened #1664 "Support wsgi.input_terminated flag"
(Assuming CherryPy supports chunked transfer encoding, I'm not directly familiar with this WSGI server / client.) Unfortunately the WSGI spec has no support for it. A standard was proposed by @mitsuhiko here: https://gist.github.com/mitsuhiko/5721547. If the WSGI server supports streams without a content length, it should set `environ['wsgi.input_terminated'] = True`. If a WSGI client sees this fl

[2017-11-28 18:05] webknjaz commented on #1621
Yes, sounds reasonable. It would be awesome to see this in the form of PR from the start, so that it's already actionable and would require less time for maintainers to decide and hit merge :)

[2017-11-28 18:28] webknjaz commented on #1621
@bertjwregeer so now `openURL` moved to cheroot completely along with other stuff from `cherrypy.test.webtest`:
https://github.com/cherrypy/cherrypy/blob/311c215/cherrypy/test/webtest.py#L6

As you can see, `cheroot.test.webtest.openURL` accepts separate host and port arguments
https://github.com/cherrypy/cheroot/blob/6ff899d/cheroot/test/webtest.py#L533

On the other hand I can understand why you

[2017-11-28 19:23] webknjaz commented on #1621
I've added `cheroot.test.webtest.openAbsoluteURI`. Hopefully it will satisfy your needs.

[2017-11-28 19:55] digitalresistor commented on #1621
No, this doesn't satisfy my needs. All of our testing uses `webtest.openURL` which does the wrong thing, it sends the full URL as part of the request:

`GET http://fullurl.com:port/is/here/ HTTP/1.1`

The above is an `absoluteURI` request. The new `openAbsoluteURI` you just created actually turns the request into an `abs_path` request, which is the only thing that is valid to send to a non-proxy s

[2017-11-29 12:42] webknjaz commented on #1621
Sorry, I can't catch what is the difference, but I definitely don't want to change existing function behavior (because it would break someone else's flow).

You could use `openURL('/is/here/', host='fullurl.com', port=port)`, what's wrong with it?

[2017-11-29 22:57] jaraco commented on #1621
I was a little confused by this openURL thing until I realized that the `url` parameter is mis-named. It really should be `request_uri`... and it's the identifier as passed to the server.

In the systems where we use webtest, we pass only the uri portion of the request and not an absolute URL.

I think the user shouldn't pass a full URL as the URL parameter to openURL. openURL is not trying to mim

[2017-11-29 23:09] digitalresistor commented on #1621
@jaraco all of our API's currently return full URL's in JSON responses (using a standard known as Shoji) which would just be used directly in `openURL`, until the change was made in cheroot, this worked without issues because CherryPy (cheroot specifically) would happily accept the `absoluteURI` even though it is not a proxy server, and thus sending the full URL to the remote server was not an iss

[2017-12-02 17:04] webknjaz commented on #1664
@davidism CherryPy already ignores Content-Length in case of chunked transfer encoding: https://github.com/cherrypy/cherrypy/blob/9d95d40/cherrypy/_cpreqbody.py#L449

Also, the whole WSGI/HTTP layer has been moved to separate repo Cheroot a while ago. So the issue looks related to that project, not CherryPy itself.

@jaraco do you have any insights on this?

[2017-12-02 18:04] webknjaz commented on #1664
Ref Pylons/webob#278
Ref unbit/uwsgi#1428

[2017-12-02 18:22] davidism commented on #1664
The idea is for the server to be able to communicate to the client that the input is already terminated. So if someone wants to use the CherryPy WSGI server for their Flask app (an example I come across occasionally), Flask (Werkzeug) knows it can safely read the stream even though there's no content length.

It looks like CherryPy assumes the WSGI server will terminate input correctly, but this i

[2017-12-02 18:47] webknjaz commented on #1664
@davidism Does cherrypy/cheroot#66 look okay to you?

[2017-12-03 14:07] jaraco opened #1665 "Cookie handling masks errors"
While reviewing #931, and a request in gitter, we get reports that CherryPy is returning HTTPError 400 'Illegal cookie naem x-ms-cpim-trans'. But that cookie name loads fine.

CherryPy shouldn't be masking the error message of the cookie processing, but should include it in the error message.

[2017-12-03 14:13] #1665 closed, assigned to nobody

[2017-12-04 17:54] jaraco opened #1666 "Drop support for Python 3.3"
The [tests on failing on Python 3.3](https://travis-ci.org/cherrypy/cherrypy/jobs/310860577) due to pytest-dev/pytest#2966, blocking releases.

[2017-12-04 17:55] jaraco commented on #1666
I've force-built [this job](https://travis-ci.org/cherrypy/cherrypy/jobs/310860601) to cut the release of 12.0.2.

[2017-12-04 18:02] webknjaz commented on #1666
I'm sure it's safe to just drop 3.3

[2017-12-04 18:03] jaraco opened #1667 "Migrate from IRC to Gitter"
Historically, CherryPy has used IRC hosted on OFTC for a real-time forum. When Gitter emerged, it offered similar features with a lower barrier to entry and consolidated access control.

At one point, CherryPy considered moving from OFTC to Freenode, but then moved back (#1287).

Now that CherryPy maintainers have been primarily interacting on Gitter, we should formalize that channel and update th

[2017-12-04 18:05] #1667 closed, assigned to nobody

[2017-12-04 18:07] jaraco commented on #1666
Good point. Rather than waiting for upstream pytest to fix their distribution, let's just drop support.

[2017-12-04 18:13] webknjaz commented on #1666
There's nothing to fix in pytest upstream: they've officially dropped support for 2.6 and 3.3 in their latest release. We can only pin version of this dependency.

[2017-12-04 18:15] jaraco commented on #1666
There is an upstream bug - the 3.3 release doesn't effectively declare dropped support for 3.3 but its dependency (py) does... so pip attempts to install it and then fails.

[2017-12-04 18:17] webknjaz commented on #1666
Oh, I see. But it doesn't change the fact that 3.3 isn't supported anymore :)

[2017-12-04 18:28] jaraco commented on #1667
IRC channel updated. Thanks @Lawouach!

![image](https://user-images.githubusercontent.com/308610/33569230-fde3b578-d8f6-11e7-9581-c1e298596f22.png)

[2017-12-04 18:54] #1666 closed, assigned to nobody

[2017-12-04 20:34] jaraco commented on #1621
I think now I understand why openAbsoluteURI isn't any help. The typical use of webtest is to invoke [WebCase.getPage](https://github.com/cherrypy/cheroot/blob/2fd065f9b6ed5ed234a382c24bed26d7edc14bdb/cheroot/test/webtest.py#L259-L290), which hard-codes the call to openURL. Thus, the addition of openAbsoluteURI provides little value for that use case. Moreover, it seems we've made a backward-incom

[2017-12-04 21:01] jaraco commented on #1621
CI tests caught an error in the commit above. Check out cherrypy/cheroot@31f97a35 instead.

[2017-12-04 21:19] digitalresistor commented on #1621
This looks good. I can work with that.

[2017-12-05 03:28] #1621 closed, assigned to nobody

[2017-12-05 03:31] jaraco commented on #1621
Great, I'm [releasing the changes as cheroot 5.11](https://travis-ci.org/cherrypy/cheroot/builds/311659179) now.

[2017-12-11 11:12] jdetaeye opened #1669 "Mimetypes package isn't initialized correctly"
CherryPy isn't not initializing the mimetypes python package correctly.
When multiple python packages need to manipulate the mimetype map things go wrong.  CherryPy can't nicely coexist with such packages.

Openpyxl is an example of such a conflicting package.

Incorrect:
[code]

Correct usage:
[code]

The Python documentation states that init() can be multiple times, but this is only correct if p

[2017-12-12 10:05] #1669 closed, assigned to nobody

[2017-12-17 16:09] jaraco opened #1673 "Allow namespace packages in dependencies"
* **I'm submitting a ...**
[ ] bug report
[X] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**

In #1671, we learned that there are users of CherryPy installing the package to environments that do not support namespace packages. As a result, we've removed those offending dependencies and are explicitly supporting those environments, meani

[2017-12-17 16:12] webknjaz commented on #1673
Could you please explicitly specify what are these environments and what is the underlying reason for them to not support such packages?

[2017-12-17 16:18] jaraco commented on #1673
The environments thusfar implicated are Pex, Celery, and py2exe. I do strongly encourage CherryPy users in those environments to file tickets with those projects upstream to add support for namespace packages to their product in order to avoid blocking the use of CherryPy when this change lands.

[2017-12-17 16:22] webknjaz commented on #1673
Well, I was talking about what prevents them from supporting namespaced packages.

[2017-12-17 16:28] webknjaz commented on #1673
@Safihre I think your project might be affected

[2017-12-17 18:07] jaraco commented on #1485
I've moved the branch to the [archive/1485-stricter-url-handling tag](/cherrypy/cherrypy/releases/tag/archive/1485-stricter-url-handling).

[2017-12-17 18:09] jaraco opened #1674 "Tests take too long to run"
![image](https://user-images.githubusercontent.com/308610/34082396-75076fda-e32b-11e7-9696-0cdbae5562da.png)

In my opinion, CI tests for releasing a pure-Python app like CherryPy should take less than 5 minutes, and definitely not more than 30.